openapi: 3.2.0
info:
  description: RadarScope Radar Data API
  version: 3.0.0
  title: RadarScope Radar Data Atmospheric Soundings API
servers:
- url: https://radarscope-feeds.wdtinc.com
schemes:
- https
tags:
- name: Atmospheric Soundings
  description: Atmospheric Soundings
paths:
  /feeds/v3/sounding:
    get:
      tags:
      - Atmospheric Soundings
      summary: List stations with current Soundings
      description: List stations with current Soundings
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/sounding_list'
  /feeds/v3/sounding/archive/{year}/{month}/{day}:
    get:
      tags:
      - Atmospheric Soundings
      summary: List stations with historic Soundings on a given day
      description: List stations with historic Soundings on a given day
      produces:
      - application/json
      parameters:
      - $ref: '#/components/parameters/year'
      - $ref: '#/components/parameters/month'
      - $ref: '#/components/parameters/day'
      responses:
        '200':
          $ref: '#/components/responses/sounding_list'
  /feeds/v3/sounding/{sounding_event_time}/{sounding_station_id}:
    get:
      tags:
      - Atmospheric Soundings
      summary: Retrieve Sounding for given time and station
      description: Retrieve Sounding for given time and station
      produces:
      - application/json
      parameters:
      - $ref: '#/components/parameters/sounding_event_time'
      - $ref: '#/components/parameters/sounding_station_id'
      responses:
        '200':
          description: Sounding Data
          content:
            application/json:
              example: "{\n\t\"station_archive_id\": \"RQM00078526\",\n\t\"event_time\": \"2026-01-12 00:00:00\",\n\t\"is_archive\": false,\n\t\"archive_import_date\": \"None\",\n\t\"parsed_data\": \"#RQM00078526 2026 01 12 00 0000\t247 ncdc-nws ncdc-nws\t184317\t-659919\n21\t\t 0 101400\t\t 4\t 254\t 748\t\t48\t\t25\t\t26 \n10\t\t25 100000\t 129\t 248\t 738\t\t50\t\t75\t\t62 \n20 -9999\t99300 -9999\t 248\t 738\t\t50 -9999 -9999 \n20 -9999\t95600 -9999 -9999 -9999 -9999\t\t80\t\t77 \n20 -9999\t94200 -9999\t 204\t 900\t\t17 -9999 -9999 \n20 -9999\t92600 -9999 -9999 -9999 -9999\t\t95\t\t51 \n20\t 239\t92500\t 809\t 194\t 839\t\t28\t\t95\t\t51 \n20 -9999\t91600 -9999\t 192\t 757\t\t44 -9999 -9999 \n20 -9999\t87500 -9999\t 162\t 926\t\t12 -9999 -9999 \n20 -9999\t87300 -9999\t 160\t 885\t\t19 -9999 -9999 \n20 -9999\t86800 -9999\t 164\t 803\t\t34 -9999 -9999 \n20 -9999\t85600 -9999\t 158\t 751\t\t44 -9999 -9999 \n20 -9999\t85300 -9999\t 156\t 756\t\t43 -9999 -9999 \n20\t 502\t85000\t1534\t 158\t 631\t\t70\t\t85\t\t31 \n20 -9999\t84900 -9999\t 160\t 632\t\t70 -9999 -9999 \n20 -9999\t84500 -9999\t 156\t 675\t\t60 -9999 -9999 \n20 -9999\t84300 -9999\t 152\t 781\t\t38 -9999 -9999 \n20 -9999\t83600 -9999\t 152\t 674\t\t60 -9999 -9999 \n20 -9999\t83000 -9999\t 146\t 720\t\t50\t\t50\t\t15 \n20 -9999\t82400 -9999\t 144\t 547\t\t90 -9999 -9999 \n20 -9999\t82200 -9999\t 144\t 586\t\t80 -9999 -9999 \n20 -9999\t82000 -9999\t 144\t 547\t\t90 -9999 -9999 \n20 -9999\t81400 -9999\t 150\t 288\t 180 -9999 -9999 \n20 -9999\t81200 -9999\t 152\t 289\t 180 -9999 -9999 \n20 -9999\t80900 -9999\t 150\t 359\t 150 -9999 -9999 \n20 -9999\t80500 -9999 -9999 -9999 -9999\t\t50\t\t51 \n20 -9999\t79200 -9999 -9999 -9999 -9999\t\t70\t\t67 \n20 -9999\t78600 -9999\t 140\t 180\t 240 -9999 -9999 \n20 -9999\t77700 -9999\t 136\t 263\t 190 -9999 -9999 \n20 -9999\t77300 -9999\t 132\t 328\t 160 -9999 -9999 \n20 -9999\t76900 -9999\t 130\t 304\t 170 -9999 -9999 \n20 -9999\t76100 -9999 -9999 -9999 -9999\t\t50\t\t57 \n20 -9999\t75200 -9999\t 116\t 468\t 110 -9999 -9999 \n20 -9999\t74600 -9999\t 112\t 434\t 120 -9999 -9999 \n20 -9999\t73800 -9999\t 104\t 537\t\t90 -9999 -9999 \n20 -9999\t72800 -9999\t\t98\t 430\t 120 -9999 -9999 \n20 -9999\t72000 -9999\t\t90\t 573\t\t80 -9999 -9999 \n20 -9999\t71500 -9999\t\t88\t 495\t 100 -9999 -9999 \n10\t1022\t70000\t3162\t\t74\t 529\t\t90\t\t40\t\t31 \n20 -9999\t69800 -9999\t\t72\t 568\t\t80 -9999 -9999 \n20 -9999\t69100 -9999\t\t66\t 526\t\t90 -9999 -9999 \n20 -9999\t67800 -9999\t\t58\t 358\t 140 -9999 -9999 \n20 -9999\t67700 -9999 -9999 -9999 -9999\t\t50\t\t51 \n20 -9999\t67600 -9999\t\t56\t 417\t 120 -9999 -9999 \n20 -9999\t67200 -9999\t\t54\t 330\t 150 -9999 -9999 \n20 -9999\t66700 -9999\t\t50\t 449\t 110\t\t65\t\t62 \n20 -9999\t66100 -9999\t\t50\t 259\t 180 -9999 -9999 \n20 -9999\t65700 -9999\t\t46\t 384\t 130 -9999 -9999 \n20 -9999\t65400 -9999 -9999 -9999 -9999\t\t55\t\t72 \n20 -9999\t65100 -9999\t\t46\t 258\t 180 -9999 -9999 \n20 -9999\t64500 -9999\t\t44\t 156\t 240 -9999 -9999 \n20 -9999\t64100 -9999\t\t40\t 236\t 190 -9999 -9999 \n20 -9999\t63900 -9999\t\t38\t 352\t 140 -9999 -9999 \n20 -9999\t63700 -9999 -9999 -9999 -9999\t\t75\t\t62 \n20 -9999\t63400 -9999\t\t34\t 276\t 170 -9999 -9999 \n20 -9999\t63200 -9999\t\t36\t 108\t 280 -9999 -9999 \n20 -9999\t63100 -9999\t\t36\t 118\t 270 -9999 -9999 \n20 -9999\t62500 -9999\t\t28\t 232\t 190 -9999 -9999 \n20 -9999\t62200 -9999\t\t24\t 179\t 220 -9999 -9999 \n20 -9999\t61100 -9999\t\t10\t 437\t 110 -9999 -9999 \n20 -9999\t60800 -9999\t\t 8\t 403\t 120 -9999 -9999 \n20 -9999\t60600 -9999\t\t10\t 192\t 210 -9999 -9999 \n20 -9999\t60300 -9999\t\t 8\t 134\t 250 -9999 -9999 \n20 -9999\t60100 -9999\t\t10\t\t26\t 420 -9999 -9999 \n20 -9999\t59800 -9999\t\t 6\t\t85\t 300 -9999 -9999 \n20 -9999\t59600 -9999\t\t 6\t\t21\t 440 -9999 -9999 \n20 -9999\t59000 -9999\t\t 2\t 122\t 260 -9999 -9999 \n20 -9999\t58800 -9999 -9999 -9999 -9999\t\t80\t\t77 \n20 -9999\t58700 -9999\t\t 0\t\t47\t 360 -9999 -9999 \n20 -9999\t58300 -9999\t\t-6\t 171\t 220 -9999 -9999 \n20 -9999\t58200 -9999\t\t-6\t 120\t 260 -9999 -9999 \n20 -9999\t57700 -9999\t -12\t 155\t 230 -9999 -9999 \n20 -9999\t57500 -9999\t -14\t 285\t 160 -9999 -9999 \n20 -9999\t56600 -9999\t -28\t 361\t 130 -9999 -9999 \n20 -9999\t56400 -9999\t -30\t 360\t 130\t\t70\t\t72 \n20 -9999\t53300 -9999\t -54\t\t44\t 350 -9999 -9999 \n20 -9999\t52900 -9999\t -58\t\t73\t 300 -9999 -9999 \n20 -9999\t52800 -9999\t -54\t\t74\t 300 -9999 -9999 \n20 -9999\t51700 -9999\t -68\t 117\t 250 -9999 -9999 \n10\t1912\t50000\t5850\t -88\t\t92\t 270\t\t55\t 118 \n20 -9999\t49900 -9999\t -88\t\t92\t 270 -9999 -9999 \n20 -9999\t49600 -9999\t -88\t\t29\t 380 -9999 -9999 \n20 -9999\t46900 -9999 -9999 -9999 -9999\t\t35\t 185 \n20 -9999\t45900 -9999\t-108\t\t15\t 430 -9999 -9999 \n20 -9999\t43600 -9999\t-136\t\t22\t 390 -9999 -9999 \n20 -9999\t43100 -9999\t-136\t\t22\t 390 -9999 -9999 \n20 -9999\t42900 -9999 -9999 -9999 -9999\t\t25\t 242 \n20\t2448\t40000\t7560\t-180\t\t18\t 390\t\t25\t 185 \n20 -9999\t39500 -9999 -9999 -9999 -9999\t\t25\t 185 \n20 -9999\t37900 -9999\t-210\t\t24\t 360 -9999 -9999 \n20 -9999\t37600 -9999\t-208\t\t21\t 370 -9999 -9999 \n20 -9999\t37300 -9999 -9999 -9999 -9999\t\t50\t 190 \n20 -9999\t33400 -9999 -9999 -9999 -9999\t\t35\t 149 \n20 -9999\t32100 -9999\t-290\t\t23\t 340 -9999 -9999 \n20 -9999\t30600 -9999 -9999 -9999 -9999\t 355\t\t87 \n10\t3138\t30000\t9640\t-332\t\t33\t 300\t 340\t\t98 \n20 -9999\t28800 -9999 -9999 -9999 -9999\t 315\t 118 \n20 -9999\t26000 -9999 -9999 -9999 -9999\t 300\t 154 \n20\t3546\t25000 10900\t-440\t\t52\t 240\t 310\t 149 \n20 -9999\t24000 -9999\t-464\t\t56\t 230\t 315\t 139 \n20 -9999\t22900 -9999 -9999 -9999 -9999\t 295\t 154 \n20 -9999\t21300 -9999\t-522\t\t72\t 200 -9999 -9999 \n20 -9999\t20100 -9999 -9999 -9999 -9999\t 290\t 129 \n10\t4033\t20000 12360\t-554\t\t89\t 180\t 290\t 129 \n20 -9999\t18700 -9999\t-594\t 146\t 140 -9999 -9999 \n20 -9999\t18000 -9999 -9999 -9999 -9999\t 290\t 211 \n20 -9999\t17400 -9999\t-620\t 138\t 140 -9999 -9999 \n20 -9999\t17000 -9999 -9999 -9999 -9999\t 285\t 144 \n20 -9999\t16900 -9999\t-620\t\t86\t 170 -9999 -9999 \n20 -9999\t15900 -9999\t-648\t 110\t 150 -9999 -9999 \n20 -9999\t15700 -9999 -9999 -9999 -9999\t 290\t 211 \n20 -9999\t15400 -9999\t-638\t\t69\t 180 -9999 -9999 \n20\t4623\t15000 14140\t-650\t\t67\t 180\t 310\t 195 \n20 -9999\t13800 -9999\t-674\t\t73\t 170 -9999 -9999 \n20 -9999\t13200 -9999\t-696\t\t96\t 150 -9999 -9999 \n20 -9999\t12600 -9999 -9999 -9999 -9999\t 330\t 154 \n20 -9999\t12300 -9999\t-710\t\t78\t 160 -9999 -9999 \n20 -9999\t12000 -9999\t-702\t\t56\t 180 -9999 -9999 \n20 -9999\t11700 -9999 -9999 -9999 -9999\t 315\t 211 \n20 -9999\t11300 -9999\t-706\t\t55\t 180 -9999 -9999 \n10\t5418\t10000 16550\t-744\t\t70\t 160\t 340\t 123 \n20 -9999\t 9490 -9999\t-766\t\t94\t 140 -9999 -9999 \n20 -9999\t 9100 -9999 -9999 -9999 -9999\t\t10\t\t93 \n20 -9999\t 8610 -9999\t-786\t 107\t 130 -9999 -9999 \n20 -9999\t 8270 -9999 -9999 -9999 -9999\t 360\t 103 \n20 -9999\t 8040 -9999\t-780\t 109\t 130 -9999 -9999 \n20 -9999\t 7570 -9999 -9999 -9999 -9999\t\t35\t\t51 \n22 -9999\t 7300 -9999\t-818\t 173\t 100\t\t30\t\t82 \n20 -9999\t 7210 -9999\t-804\t 148\t 110 -9999 -9999 \n20\t6059\t 7000 18590\t-800\t 149\t 110\t\t25\t 118 \n20 -9999\t 6640 -9999\t-802\t 149\t 110 -9999 -9999 \n20 -9999\t 6550 -9999 -9999 -9999 -9999\t\t25\t 134 \n20 -9999\t 6360 -9999\t-782\t 130\t 120 -9999 -9999 \n20 -9999\t 6220 -9999\t-788\t 128\t 120 -9999 -9999 \n20 -9999\t 5920 -9999 -9999 -9999 -9999\t\t50\t 159 \n20 -9999\t 5790 -9999\t-712\t\t45\t 190 -9999 -9999 \n20 -9999\t 5660 -9999\t-706\t\t38\t 200 -9999 -9999 \n20 -9999\t 5570 -9999 -9999 -9999 -9999\t\t95\t\t51 \n20 -9999\t 5490 -9999\t-716\t\t44\t 190 -9999 -9999 \n20 -9999\t 5320 -9999 -9999 -9999 -9999\t 115\t\t15 \n20 -9999\t 5060 -9999\t-664\t\t22\t 240 -9999 -9999 \n20\t6725\t 5000 20550\t-666\t\t22\t 240\t 145\t\t46 \n20 -9999\t 4980 -9999 -9999 -9999 -9999\t 155\t\t51 \n20 -9999\t 4700 -9999 -9999 -9999 -9999\t 230\t\t72 \n20 -9999\t 4680 -9999\t-690\t\t28\t 220 -9999 -9999 \n20 -9999\t 4640 -9999 -9999 -9999 -9999\t 235\t\t57 \n20 -9999\t 4430 -9999 -9999 -9999 -9999\t 110\t\t51 \n20 -9999\t 3900 -9999 -9999 -9999 -9999\t 100\t\t10 \n20 -9999\t 3700 -9999 -9999 -9999 -9999\t 110\t\t51 \n20 -9999\t 3670 -9999\t-642\t\t17\t 260 -9999 -9999 \n20 -9999\t 3610 -9999\t-646\t\t17\t 260 -9999 -9999 \n20 -9999\t 3530 -9999 -9999 -9999 -9999\t 160\t\t72 \n20 -9999\t 3440 -9999\t-614\t\t14\t 280 -9999 -9999 \n20 -9999\t 3210 -9999\t-634\t\t15\t 270 -9999 -9999 \n20 -9999\t 3080 -9999\t-598\t\t10\t 300 -9999 -9999 \n20\t7737\t 3000 23660\t-594\t\t13\t 290\t\t45\t\t31 \n20 -9999\t 2930 -9999\t-608\t\t14\t 280 -9999 -9999 \n20 -9999\t 2780 -9999\t-592\t\t13\t 290 -9999 -9999 \n20 -9999\t 2630 -9999\t-602\t\t14\t 280 -9999 -9999 \n20 -9999\t 2530 -9999 -9999 -9999 -9999\t 105\t\t51 \n20 -9999\t 2420 -9999 -9999 -9999 -9999\t 110\t\t51 \n20 -9999\t 2320 -9999 -9999 -9999 -9999\t 145\t\t93 \n20 -9999\t 2270 -9999\t-584\t\t11\t 300 -9999 -9999 \n20 -9999\t 2210 -9999 -9999 -9999 -9999\t 160\t 108 \n20 -9999\t 2130 -9999\t-604\t\t14\t 280\t 170\t\t87 \n20 -9999\t 2010 -9999\t-584\t\t11\t 300 -9999 -9999 \n20\t8557\t 2000 26200\t-586\t\t13\t 290\t 280\t\t26 \n20 -9999\t 1920 -9999\t-594\t\t13\t 290 -9999 -9999 \n20 -9999\t 1870 -9999 -9999 -9999 -9999\t 310\t\t 5 \n20 -9999\t 1780 -9999\t-534\t\t 9\t 330 -9999 -9999 \n20 -9999\t 1740 -9999\t-536\t\t10\t 320 -9999 -9999 \n20 -9999\t 1730 -9999 -9999 -9999 -9999\t 315\t\t51 \n20 -9999\t 1640 -9999 -9999 -9999 -9999\t 335\t\t51 \n20 -9999\t 1590 -9999\t-486\t\t 8\t 350 -9999 -9999 \n20 -9999\t 1550 -9999 -9999 -9999 -9999\t 345\t\t41 \n20 -9999\t 1460 -9999 -9999 -9999 -9999\t 330\t 118 \n20 -9999\t 1420 -9999 -9999 -9999 -9999\t 330\t 113 \n20 -9999\t 1380 -9999\t-508\t\t10\t 330 -9999 -9999 \n20 -9999\t 1340 -9999\t-488\t\t 8\t 350\t\t10\t\t51 \n20 -9999\t 1280 -9999 -9999 -9999 -9999\t 315\t\t 5 \n20 -9999\t 1210 -9999\t-472\t\t 7\t 360\t 345\t\t51 \n20 -9999\t 1190 -9999 -9999 -9999 -9999\t\t15\t\t67 \n20 -9999\t 1180 -9999\t-470\t\t 9\t 350\t\t20\t\t67 \n20 -9999\t\t600 -9999 -9999 -9999 -9999\t\t80\t\t51 \n30 -9999\t-9999\t 305 -9999 -9999 -9999\t\t80\t\t67 \n30 -9999\t-9999\t 610 -9999 -9999 -9999\t\t80\t\t72 \n30 -9999\t-9999\t 914 -9999 -9999 -9999\t 100\t\t41 \n30 -9999\t-9999\t1219 -9999 -9999 -9999\t 110\t\t46 \n30 -9999\t-9999\t1829 -9999 -9999 -9999\t\t50\t\t21 \n30 -9999\t-9999\t2134 -9999 -9999 -9999\t\t65\t\t67 \n30 -9999\t-9999\t2438 -9999 -9999 -9999\t\t55\t\t57 \n30 -9999\t-9999\t2743 -9999 -9999 -9999\t\t50\t\t51 \n30 -9999\t-9999\t3353 -9999 -9999 -9999\t\t50\t\t51 \n30 -9999\t-9999\t3658 -9999 -9999 -9999\t\t60\t\t67 \n30 -9999\t-9999\t3962 -9999 -9999 -9999\t\t75\t\t62 \n30 -9999\t-9999\t4267 -9999 -9999 -9999\t\t75\t\t77 \n30 -9999\t-9999\t4572 -9999 -9999 -9999\t\t80\t\t77 \n30 -9999\t-9999\t4877 -9999 -9999 -9999\t\t75\t\t77 \n30 -9999\t-9999\t6096 -9999 -9999 -9999\t\t50\t 154 \n30 -9999\t-9999\t6401 -9999 -9999 -9999\t\t35\t 185 \n30 -9999\t-9999\t7010 -9999 -9999 -9999\t\t25\t 242 \n30 -9999\t-9999\t7620 -9999 -9999 -9999\t\t25\t 190 \n30 -9999\t-9999\t7925 -9999 -9999 -9999\t\t25\t 185 \n30 -9999\t-9999\t8230 -9999 -9999 -9999\t\t50\t 190 \n30 -9999\t-9999\t9144 -9999 -9999 -9999\t\t30\t 134 \n30 -9999\t-9999\t9754 -9999 -9999 -9999\t 355\t\t87 \n30 -9999\t-9999 10058 -9999 -9999 -9999\t 315\t 118 \n30 -9999\t-9999 10668 -9999 -9999 -9999\t 300\t 154 \n30 -9999\t-9999 11278 -9999 -9999 -9999\t 315\t 139 \n30 -9999\t-9999 11582 -9999 -9999 -9999\t 295\t 154 \n30 -9999\t-9999 12497 -9999 -9999 -9999\t 290\t 129 \n30 -9999\t-9999 13106 -9999 -9999 -9999\t 290\t 211 \n30 -9999\t-9999 13716 -9999 -9999 -9999\t 285\t 144 \n30 -9999\t-9999 14021 -9999 -9999 -9999\t 290\t 211 \n30 -9999\t-9999 15240 -9999 -9999 -9999\t 325\t 165 \n30 -9999\t-9999 15545 -9999 -9999 -9999\t 330\t 154 \n30 -9999\t-9999 15850 -9999 -9999 -9999\t 315\t 211 \n30 -9999\t-9999 16764 -9999 -9999 -9999\t 340\t 123 \n30 -9999\t-9999 17374 -9999 -9999 -9999\t\t10\t\t93 \n30 -9999\t-9999 17983 -9999 -9999 -9999\t 360\t 103 \n30 -9999\t-9999 18288 -9999 -9999 -9999\t\t20\t\t72 \n30 -9999\t-9999 19202 -9999 -9999 -9999\t\t25\t 134 \n30 -9999\t-9999 19812 -9999 -9999 -9999\t\t50\t 159 \n30 -9999\t-9999 20117 -9999 -9999 -9999\t\t95\t\t51 \n30 -9999\t-9999 20422 -9999 -9999 -9999\t 115\t\t15 \n30 -9999\t-9999 21031 -9999 -9999 -9999\t 155\t\t51 \n30 -9999\t-9999 21336 -9999 -9999 -9999\t 235\t\t57 \n30 -9999\t-9999 21641 -9999 -9999 -9999\t 110\t\t51 \n30 -9999\t-9999 22250 -9999 -9999 -9999\t 100\t\t10 \n30 -9999\t-9999 22860 -9999 -9999 -9999\t 110\t\t51 \n30 -9999\t-9999 23165 -9999 -9999 -9999\t 160\t\t72 \n30 -9999\t-9999 24384 -9999 -9999 -9999\t\t65\t\t36 \n30 -9999\t-9999 24994 -9999 -9999 -9999\t 105\t\t51 \n30 -9999\t-9999 25298 -9999 -9999 -9999\t 110\t\t51 \n30 -9999\t-9999 25603 -9999 -9999 -9999\t 145\t\t93 \n30 -9999\t-9999 25908 -9999 -9999 -9999\t 160\t 108 \n30 -9999\t-9999 26213 -9999 -9999 -9999\t 170\t\t87 \n30 -9999\t-9999 27127 -9999 -9999 -9999\t 310\t\t 5 \n30 -9999\t-9999 27432 -9999 -9999 -9999\t 300\t\t31 \n30 -9999\t-9999 28042 -9999 -9999 -9999\t 335\t\t51 \n30 -9999\t-9999 28346 -9999 -9999 -9999\t 345\t\t41 \n30 -9999\t-9999 28651 -9999 -9999 -9999\t 330\t 118 \n30 -9999\t-9999 28956 -9999 -9999 -9999\t 330\t 113 \n30 -9999\t-9999 29261 -9999 -9999 -9999\t\t10\t\t51 \n30 -9999\t-9999 29566 -9999 -9999 -9999\t 315\t\t 5 \n30 -9999\t-9999 29870 -9999 -9999 -9999\t 345\t\t51 \n30 -9999\t-9999 30175 -9999 -9999 -9999\t\t15\t\t67 \",\n\t\"products\": \"ABV,MAN,SGL\"\n}"
  /feeds/v3/sounding/raw/{sounding_event_time}/{sounding_station_id}/{sounding_product_id}:
    get:
      tags:
      - Atmospheric Soundings
      summary: Retrieve specific Sounding product in raw form for given time and station
      description: Retrieve specific Sounding product in raw form for given time and station
      produces:
      - text/plain
      parameters:
      - $ref: '#/components/parameters/sounding_event_time'
      - $ref: '#/components/parameters/sounding_station_id'
      - $ref: '#/components/parameters/sounding_product_id'
      responses:
        '200':
          description: Raw Sounding Data
          content:
            application/json:
              example: "\n147 \nUSUS42 TJSJ 120000\nMANSJU\n78526 TTAA  62001 78526\n99014 25448 02505 00129 24850 07512 92809 19428 09510\n85534 15857 08506 70162 07459 04006 50585 08777 05523\n40756 17989 02536 30964 33180 34019 25090 43974 31029\n20236 55368 29025 15414 64968 31038 10655 74366 34024\n88999\n77999\n31313 44108 82302=\n\n\n"
components:
  parameters:
    sounding_event_time:
      name: sounding_event_time
      in: path
      description: event time, as returned from current or historical station listing
      required: true
      schema:
        type: string
    sounding_station_id:
      name: sounding_station_id
      in: path
      description: id of station reporting the sounding
      required: true
      schema:
        type: string
    month:
      name: month
      in: path
      description: 2 digit month, 01-12
      required: true
      schema:
        type: string
    day:
      name: day
      in: path
      description: 2 digit day, 01-31
      required: true
      schema:
        type: string
    sounding_product_id:
      name: sounding_product_id
      in: path
      description: 'sounding product; one of: ABV, MAN, SGL'
      required: true
      schema:
        type: string
    year:
      name: year
      in: path
      description: 4 digit year, e.g. 2026
      required: true
      schema:
        type: string
  headers:
    content-type:
      description: MIME-type of returned data
      schema:
        type: string
  responses:
    sounding_list:
      description: Sounding List
      headers:
        Content-Type:
          $ref: '#/components/headers/content-type'
      content:
        application/json:
          example: "[\n\t{\n\t\t\"station_archive_id\": \"RQM00078526\",\n\t\t\"lat\": \"18.4317\",\n\t\t\"lon\": \"-65.9919\",\n\t\t\"elevation\": \"4.0\",\n\t\t\"us_state\": \"PR\",\n\t\t\"station_name\": \"San Juan/International\",\n\t\t\"first_year\": 1946,\n\t\t\"last_year\": 2022,\n\t\t\"archive_entries\": 54593,\n\t\t\"oldest_event\": \"1990-01-01 00:00:00\",\n\t\t\"latest_event\": \"2026-01-12 12:00:00\",\n\t\t\"event_time\": \"2026-01-12 00:00:00\",\n\t\t\"localized_name\": \"San Juan/International\",\n\t\t\"iata\": \"SJU\",\n\t\t\"icao\": \"TJSJ\",\n\t\t\"events\": [\n\t\t\t\"2026-01-12 00:00:00\",\n\t\t\t\"2026-01-12 12:00:00\"\n\t\t]\n\t},\n\t{\n\t\t\"station_archive_id\": \"USI0000KRPD\",\n\t\t\"lat\": \"45.4170\",\n\t\t\"lon\": \"-91.7670\",\n\t\t\"elevation\": \"337.0\",\n\t\t\"us_state\": \"WI\",\n\t\t\"station_name\": \"Rice Lake Regional Carls Field\",\n\t\t\"first_year\": 2003,\n\t\t\"last_year\": 2006,\n\t\t\"archive_entries\": 581,\n\t\t\"oldest_event\": \"2003-08-09 04:00:00\",\n\t\t\"latest_event\": \"2006-04-16 11:00:00\",\n\t\t\"event_time\": \"None\",\n\t\t\"localized_name\": \"Rice Lake Regional Carls Field\",\n\t\t\"iata\": null,\n\t\t\"icao\": null,\n\t\t\"events\": []\n\t},\n\t{\n\t\t\"station_archive_id\": \"USM00070026\",\n\t\t\"lat\": \"71.2889\",\n\t\t\"lon\": \"-156.7833\",\n\t\t\"elevation\": \"11.9\",\n\t\t\"us_state\": \"AK\",\n\t\t\"station_name\": \"Barrow/Wiley Post-Will Rogers\",\n\t\t\"first_year\": 1932,\n\t\t\"last_year\": 2022,\n\t\t\"archive_entries\": 61071,\n\t\t\"oldest_event\": \"1990-01-01 00:00:00\",\n\t\t\"latest_event\": \"2026-01-12 12:00:00\",\n\t\t\"event_time\": \"2026-01-12 00:00:00\",\n\t\t\"localized_name\": \"Barrow/Wiley Post-Will Rogers\",\n\t\t\"iata\": \"BRW\",\n\t\t\"icao\": \"PABR\",\n\t\t\"events\": [\n\t\t\t\"2026-01-12 00:00:00\",\n\t\t\t\"2026-01-12 06:00:00\",\n\t\t\t\"2026-01-12 12:00:00\"\n\t\t]\n\t}\n]"
  securitySchemes:
    clientCredentials:
      type: oauth2
      x-receive-token-in: request-body
      flows:
        clientCredentials:
          tokenUrl: https://api.auth.dtn.com/v1/tokens/authorize
      description: "# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the RadarScope API, you need to use the following audience: https://radarscope-feeds.wdtinc.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "
