openapi: 3.2.0
info:
  description: RadarScope Radar Data API
  version: 3.0.0
  title: RadarScope Radar Data Watches API
servers:
- url: https://radarscope-feeds.wdtinc.com
schemes:
- https
tags:
- name: Watches
  description: Watches
paths:
  /feeds/v3/watch:
    get:
      tags:
      - Watches
      summary: List current watches from the Storm Prediction Center
      description: List current watches from the Storm Prediction Center
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/watch_list'
  /feeds/v3/watch/archive/{year}/{month}/{day}:
    get:
      tags:
      - Watches
      summary: List historical watches for given date
      description: List historical watches for given date
      produces:
      - application/json
      parameters:
      - $ref: '#/components/parameters/year'
      - $ref: '#/components/parameters/month'
      - $ref: '#/components/parameters/day'
      responses:
        '200':
          $ref: '#/components/responses/watch_list'
  /feeds/v3/watch/archive/{year}/{month}/{day}/{hour}/{minute}:
    get:
      tags:
      - Watches
      summary: List historical watches for given timestamp
      description: List historical watches for given timestamp
      produces:
      - application/json
      parameters:
      - $ref: '#/components/parameters/year'
      - $ref: '#/components/parameters/month'
      - $ref: '#/components/parameters/day'
      - $ref: '#/components/parameters/hour'
      - $ref: '#/components/parameters/minute'
      responses:
        '200':
          $ref: '#/components/responses/watch_list'
  /feeds/v3/watch/{path}:
    get:
      tags:
      - Watches
      summary: Get raw text of watch
      description: Get raw text of watch
      produces:
      - text/plain
      parameters:
      - $ref: '#/components/parameters/path'
      responses:
        '200':
          description: Watch Text
          content:
            text/plain:
              example: "\n661 \nWWUS30 KWNS 081426\nSAW1  \nSPC AWW 081426\nWW 1 TORNADO AR MO OK 081425Z - 081800Z\nAXIS..55 STATUTE MILES EAST AND WEST OF LINE..\n35NNW GMJ/GROVE OK/ - 35SSE MKO/MUSKOGEE OK/\n..AVIATION COORDS.. 50NM E/W /11ESE OSW - 38NE MLC/\nHAIL SURFACE AND ALOFT..1 INCH. WIND GUSTS..55 KNOTS.\nMAX TOPS TO 350. MEAN STORM MOTION VECTOR 23060.\n\nLAT...LON 37079399 35209416 35209611 37079598\n\nTHIS IS AN APPROXIMATION TO THE WATCH AREA.  FOR A\nCOMPLETE DEPICTION OF THE WATCH SEE WOUS64 KWNS\nFOR WOU1.\n\n\n"
components:
  parameters:
    month:
      name: month
      in: path
      description: 2 digit month, 01-12
      required: true
      schema:
        type: string
    minute:
      name: minute
      in: path
      description: 2 digit minute, 00-59
      required: true
      schema:
        type: string
    day:
      name: day
      in: path
      description: 2 digit day, 01-31
      required: true
      schema:
        type: string
    path:
      name: path
      in: path
      description: pathlike filename identifying text to retrieve, e.g. tcv/WTUS82_KILM_TCVILM_20250704_2132_873.txt
      required: true
      schema:
        type: string
    year:
      name: year
      in: path
      description: 4 digit year, e.g. 2026
      required: true
      schema:
        type: string
    hour:
      name: hour
      in: path
      description: 2 digit hour, 00-23
      required: true
      schema:
        type: string
  headers:
    content-type:
      description: MIME-type of returned data
      schema:
        type: string
  responses:
    watch_list:
      description: Watch List
      headers:
        Content-Type:
          $ref: '#/components/headers/content-type'
      content:
        application/json:
          example: "{\n\t\"2026.KWNS.0001\": [\n\t\t{\n\t\t\t\"a\": \"saw/WWUS30_KWNS_SAW1_20260108_1426_57396661.txt\",\n\t\t\t\"c\": \"SAW1\",\n\t\t\t\"p\": [\n\t\t\t\t[\n\t\t\t\t\t3707,\n\t\t\t\t\t-9399\n\t\t\t\t],\n\t\t\t\t[\n\t\t\t\t\t3520,\n\t\t\t\t\t-9416\n\t\t\t\t],\n\t\t\t\t[\n\t\t\t\t\t3520,\n\t\t\t\t\t-9611\n\t\t\t\t],\n\t\t\t\t[\n\t\t\t\t\t3707,\n\t\t\t\t\t-9598\n\t\t\t\t]\n\t\t\t],\n\t\t\t\"t\": \"TO.A\",\n\t\t\t\"n\": \"1\",\n\t\t\t\"u\": \"2026.KWNS.0001\",\n\t\t\t\"b\": 1767882300,\n\t\t\t\"e\": 1767895200\n\t\t},\n\t\t{\n\t\t\t\"t\": \"WATCH\",\n\t\t\t\"o\": \"KWNS\",\n\t\t\t\"a\": \"wwp/WWUS40_KWNS_WWP1_20260108_1426_57396640.txt\",\n\t\t\t\"b\": 1767882120,\n\t\t\t\"e\": 1767882120,\n\t\t\t\"i\": {\n\t\t\t\t\"po2t\": \"30%\",\n\t\t\t\t\"pot\": \"10%\",\n\t\t\t\t\"posw\": \"40%\",\n\t\t\t\t\"pow\": \"20%\",\n\t\t\t\t\"posh\": \"20%\",\n\t\t\t\t\"poh2\": \"20%\",\n\t\t\t\t\"po6hw\": \"60%\",\n\t\t\t\t\"mhi\": \"1.0\",\n\t\t\t\t\"mwg\": \"55\",\n\t\t\t\t\"mtf\": \"350\",\n\t\t\t\t\"msmv\": \"23060\",\n\t\t\t\t\"pds\": \"NO\"\n\t\t\t},\n\t\t\t\"n\": \"1\",\n\t\t\t\"u\": \"2026.KWNS.0001\"\n\t\t},\n\t\t{\n\t\t\t\"t\": \"TO.A\",\n\t\t\t\"o\": \"KWNS\",\n\t\t\t\"a\": \"sel/WWUS20_KWNS_SEL1_20260108_1426_57396808.txt\",\n\t\t\t\"b\": 1767882300,\n\t\t\t\"e\": 1767895200,\n\t\t\t\"i\": {\n\t\t\t\t\"po2t\": \"30%\",\n\t\t\t\t\"pot\": \"10%\",\n\t\t\t\t\"posw\": \"40%\",\n\t\t\t\t\"pow\": \"20%\",\n\t\t\t\t\"posh\": \"20%\",\n\t\t\t\t\"poh2\": \"20%\",\n\t\t\t\t\"po6hw\": \"60%\",\n\t\t\t\t\"mhi\": \"1.0\",\n\t\t\t\t\"mwg\": \"55\",\n\t\t\t\t\"mtf\": \"350\",\n\t\t\t\t\"msmv\": \"23060\",\n\t\t\t\t\"pds\": \"NO\"\n\t\t\t},\n\t\t\t\"n\": \"1\",\n\t\t\t\"u\": \"2026.KWNS.0001\",\n\t\t\t\"c\": \"SAW1\",\n\t\t\t\"p\": [\n\t\t\t\t[\n\t\t\t\t\t3707,\n\t\t\t\t\t-9399\n\t\t\t\t],\n\t\t\t\t[\n\t\t\t\t\t3520,\n\t\t\t\t\t-9416\n\t\t\t\t],\n\t\t\t\t[\n\t\t\t\t\t3520,\n\t\t\t\t\t-9611\n\t\t\t\t],\n\t\t\t\t[\n\t\t\t\t\t3707,\n\t\t\t\t\t-9598\n\t\t\t\t]\n\t\t\t]\n\t\t}\n\t]\n}"
  securitySchemes:
    clientCredentials:
      type: oauth2
      x-receive-token-in: request-body
      flows:
        clientCredentials:
          tokenUrl: https://api.auth.dtn.com/v1/tokens/authorize
      description: "# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the RadarScope API, you need to use the following audience: https://radarscope-feeds.wdtinc.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "
