openapi: 3.2.0
info:
  title: DTN Observation API Endpoints API
  description: '# Introduction


    Welcome to the DTN Observations API - your gateway to access live and historical measured weather station data for over 70,000 devices globally from public and private station networks.'
  version: 2.0.0
servers:
- url: https://obs.api.dtn.com
tags:
- name: API Endpoints
paths:
  /v2/observations:
    get:
      tags:
      - API Endpoints
      summary: Observations
      description: Use this endpoint to get near-real time or historic observations for one or more stations (up to 100 stations per request).
      operationId: get_observations_v2_observations_get
      parameters:
      - description: Comma-separated list of parameters, e.g. `airTemp,precipAcc60Min,windSpeed`. A full list of supported parameters and definitions is available through the parameters endpoint.
        required: true
        schema:
          title: Parameters
          type: string
          description: Comma-separated list of parameters, e.g. `airTemp,precipAcc60Min,windSpeed`. A full list of supported parameters and definitions is available through the parameters endpoint.
        name: parameters
        in: query
      - description: Start of the time range, in the format `2023-04-30T19:00:00Z`
        required: true
        schema:
          title: Starttime
          type: string
          description: Start of the time range, in the format `2023-04-30T19:00:00Z`
          format: date-time
        name: startTime
        in: query
      - description: End of the time range, in the format `2023-04-30T19:00:00Z`. Limited to 1 month per query.
        required: true
        schema:
          title: Endtime
          type: string
          description: End of the time range, in the format `2023-04-30T19:00:00Z`. Limited to 1 month per query.
          format: date-time
        name: endTime
        in: query
      - description: Comma-separated list of up to 100 DTN station codes, e.g. `YNQXX,CPTR3,KNYC1`. You can request observations for multiple stations at once (maximum 100).
        required: true
        schema:
          title: Stationcode
          type: string
          description: Comma-separated list of up to 100 DTN station codes, e.g. `YNQXX,CPTR3,KNYC1`. You can request observations for multiple stations at once (maximum 100).
        name: stationCode
        in: query
      - description: Comma-separated list of obsTypes, e.g. `METAR,SYNOP,RWIS,AG` If unspecified, all types are shown.
        required: false
        schema:
          title: Obstypes
          type: string
          description: Comma-separated list of obsTypes, e.g. `METAR,SYNOP,RWIS,AG` If unspecified, all types are shown.
        name: obsTypes
        in: query
      - description: Set to `True` to hide observations that have failed QC. QC flags may not be available for historic data.
        required: false
        schema:
          title: Onlygood
          type: boolean
          description: Set to `True` to hide observations that have failed QC.
          default: false
        name: onlyGood
        in: query
      - description: 'Set to `True` to view properties such as `qc` flag (result of checks: pass, suspicious or fail), `obsType` (see parameters endpoint documentation) and `isDerived` (True if the value is calculated by us from other parameters e.g. relativeHumidity from dewPoint and airTemp). Properties may not be available for historic data.'
        required: false
        schema:
          title: Obsproperties
          type: boolean
          description: 'Set to `True` to view properties such as `qc` flag (result of checks: pass, suspicious or fail), `obsType` (see parameters endpoint documentation) and `isDerived` (True if the value is calculated by us from other parameters e.g. relativeHumidity from dewPoint and airTemp). Properties may not be available for historic data.'
        name: obsProperties
        in: query
      - description: Set to `True` to include station tags (such as name and management ID) in the response. When set to `True`, each feature in the response will include a `tags` object containing station metadata. Default is `False` to maintain backward compatibility.
        required: false
        schema:
          title: ShowTags
          type: boolean
          description: Set to `True` to include station tags (such as name and management ID) in the response. When set to `True`, each feature in the response will include a `tags` object containing station metadata. Default is `False` to maintain backward compatibility.
          default: false
        name: showTags
        in: query
      - description: Set to `15m` for 15-minute intervals, `1h` for hourly, `24h` for daily, or exclude for all observations received from the station. 15-minute interval data will be calculated on the fly and can only be used with parameters that end in the `15Min` suffix. Daily aggregated data will be calculated on the fly and the definition of 1 day is determined by the startTime. To get data aggregated from midnight to midnight, set the start time to your local midnight (expressed in UTC). Can only be used with parameters that end in the `24Hour` suffix. Data is representative of the 24 hours before the given timestamp. E.g. airTempMax24Hour at 2024-09-10T00:00 is the maximum temperature for the 9th September UTC day.
        required: false
        schema:
          type: string
          pattern: (^15m$|^1h$|^24h$)
          title: Interval
          description: Set to `15m` for 15-minute intervals, `1h` for hourly, `24h` for daily, or exclude for all observations received from the station. 15-minute interval data will be calculated on the fly and can only be used with parameters that end in the `15Min` suffix. Daily aggregated data will be calculated on the fly and the definition of 1 day is determined by the startTime. To get data aggregated from midnight to midnight, set the start time to your local midnight (expressed in UTC). Can only be used with parameters that end in the `24Hour` suffix. Data is representative of the 24 hours before the given timestamp. E.g. airTempMax24Hour at 2024-09-10T00:00 is the maximum temperature for the 9th September UTC day.
        name: interval
        in: query
      - description: Set to `True` to fill gaps in hourly time-series with values from our gridded weather model. Hourly model data is available up to 10 years in the past for all locations and selected parameters. Requires gap-filling scope.
        required: false
        schema:
          type: boolean
          title: Gapfill
          description: Set to `True` to fill gaps in hourly time-series with values from our gridded weather model. Hourly model data is available from 1st January 2013 for all locations and selected parameters. Requires gap-filling scope.
          default: false
        name: gapFill
        in: query
      - description: Set to `us-std` to change units from `si-std` to Imperial Units. Default value is `si-std`
        required: false
        schema:
          title: Units
          pattern: (^si-std$|^us-std$)
          type: string
          description: Set to `us-std` to change units from `si-std` to Imperial Units. Default value is `si-std`
          default: si-std
        name: units
        in: query
      - description: 'Specifies how the timestamp is labeled in the response when using time-aggregated data (e.g., `interval=24h`).


          This parameter controls whether the timestamp returned for each data point reflects the start or end of the aggregation window.


          Supported values:


          `end` (default) - The timestamp represents the end of the aggregation period.


          `start` - The timestamp represents the start of the aggregation period.

          Note: This parameter is only applicable when interval=24h.'
        required: false
        schema:
          title: aggregationTimeLabel
          pattern: (^start$|^end$)
          type: string
          description: 'Specifies how the timestamp is labeled in the response when using time-aggregated data (e.g., `interval=24h`).


            This parameter controls whether the timestamp returned for each data point reflects the start or end of the aggregation window.


            Supported values:


            `end` (default) - The timestamp represents the end of the aggregation period.


            `start` - The timestamp represents the start of the aggregation period.

            Note: This parameter is only applicable when interval=24h.'
          default: end
        name: aggregationTimeLabel
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Observations V2 Observations Get
                type: array
                items:
                  $ref: '#/components/schemas/ObsDataRespModel'
              examples:
                Observations Endpoint Core Scope:
                  $ref: '#/components/examples/Observations_Endpoint_Core_Scope'
                Observations Endpoint Plus Scope:
                  $ref: '#/components/examples/Observations_Endpoint_Plus_Scope'
                Observations with showTags=true:
                  $ref: '#/components/examples/Observations_with_showTags_true'
                Observations with showTags=false:
                  $ref: '#/components/examples/Observations_with_showTags_false'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutError'
      security:
      - clientCredentials: []
      x-codeSamples:
      - lang: C + Libcurl
        source: "#include <stdio.h>\n#include <curl/curl.h>\n\nint main(void) {\n    CURL *curl;\n    CURLcode res;\n    \n    curl = curl_easy_init();\n    if(curl) {\n        struct curl_slist *headers = NULL;\n        headers = curl_slist_append(headers, \"Authorization: Bearer YOUR_ACCESS_TOKEN\");\n        \n        curl_easy_setopt(curl, CURLOPT_URL, \n            \"https://obs.api.dtn.com/v2/observations?\"\n            \"stationCode=CPTR3&\"\n            \"parameters=airTemp,windSpeed&\"\n            \"startTime=2025-01-22T00:00:00Z&\"\n            \"endTime=2025-01-22T12:00:00Z\");\n        curl_easy_setopt(curl, CURLOPT_HTTPHEADER, headers);\n        \n        res = curl_easy_perform(curl);\n        \n        curl_slist_free_all(headers);\n        curl_easy_cleanup(curl);\n    }\n    return 0;\n}"
      - lang: Csharp + Restsharp
        source: "using RestSharp;\nusing System;\n\nclass Program\n{\n    static void Main()\n    {\n        var client = new RestClient(\"https://obs.api.dtn.com\");\n        var request = new RestRequest(\"/v2/observations\", Method.Get);\n        \n        request.AddHeader(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\");\n        request.AddParameter(\"stationCode\", \"CPTR3\");\n        request.AddParameter(\"parameters\", \"airTemp,windSpeed\");\n        request.AddParameter(\"startTime\", \"2025-01-22T00:00:00Z\");\n        request.AddParameter(\"endTime\", \"2025-01-22T12:00:00Z\");\n        \n        var response = client.Execute(request);\n        Console.WriteLine(response.Content);\n    }\n}"
      - lang: Go + Native
        source: "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n    \"net/url\"\n)\n\nfunc main() {\n    baseURL := \"https://obs.api.dtn.com/v2/observations\"\n    \n    params := url.Values{}\n    params.Add(\"stationCode\", \"CPTR3\")\n    params.Add(\"parameters\", \"airTemp,windSpeed\")\n    params.Add(\"startTime\", \"2025-01-22T00:00:00Z\")\n    params.Add(\"endTime\", \"2025-01-22T12:00:00Z\")\n    \n    req, _ := http.NewRequest(\"GET\", baseURL+\"?\"+params.Encode(), nil)\n    req.Header.Add(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\")\n    \n    client := &http.Client{}\n    resp, _ := client.Do(req)\n    defer resp.Body.Close()\n    \n    body, _ := io.ReadAll(resp.Body)\n    fmt.Println(string(body))\n}"
      - lang: Java + Okhttp
        source: "import okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class ObservationsExample {\n    public static void main(String[] args) throws Exception {\n        OkHttpClient client = new OkHttpClient();\n        \n        String url = \"https://obs.api.dtn.com/v2/observations?\" +\n                     \"stationCode=CPTR3&\" +\n                     \"parameters=airTemp,windSpeed&\" +\n                     \"startTime=2025-01-22T00:00:00Z&\" +\n                     \"endTime=2025-01-22T12:00:00Z\";\n        \n        Request request = new Request.Builder()\n            .url(url)\n            .addHeader(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\")\n            .build();\n        \n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n}"
      - lang: Java + Unirest
        source: "import kong.unirest.Unirest;\nimport kong.unirest.HttpResponse;\n\npublic class ObservationsExample {\n    public static void main(String[] args) {\n        HttpResponse<String> response = Unirest.get(\"https://obs.api.dtn.com/v2/observations\")\n            .header(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\")\n            .queryString(\"stationCode\", \"CPTR3\")\n            .queryString(\"parameters\", \"airTemp,windSpeed\")\n            .queryString(\"startTime\", \"2025-01-22T00:00:00Z\")\n            .queryString(\"endTime\", \"2025-01-22T12:00:00Z\")\n            .asString();\n        \n        System.out.println(response.getBody());\n    }\n}"
      - lang: Javascript + Jquery
        source: "$.ajax({\n    url: 'https://obs.api.dtn.com/v2/observations',\n    method: 'GET',\n    headers: {\n        'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n    },\n    data: {\n        stationCode: 'CPTR3',\n        parameters: 'airTemp,windSpeed',\n        startTime: '2025-01-22T00:00:00Z',\n        endTime: '2025-01-22T12:00:00Z'\n    },\n    success: function(data) {\n        console.log(data);\n    },\n    error: function(error) {\n        console.error(error);\n    }\n});"
      - lang: Javascript + Xhr
        source: "const xhr = new XMLHttpRequest();\nconst params = new URLSearchParams({\n    stationCode: 'CPTR3',\n    parameters: 'airTemp,windSpeed',\n    startTime: '2025-01-22T00:00:00Z',\n    endTime: '2025-01-22T12:00:00Z'\n});\n\nxhr.open('GET', `https://obs.api.dtn.com/v2/observations?${params}`);\nxhr.setRequestHeader('Authorization', 'Bearer YOUR_ACCESS_TOKEN');\n\nxhr.onload = function() {\n    if (xhr.status === 200) {\n        console.log(JSON.parse(xhr.responseText));\n    }\n};\n\nxhr.send();"
      - lang: Node + Native
        source: "const https = require('https');\nconst querystring = require('querystring');\n\nconst params = querystring.stringify({\n    stationCode: 'CPTR3',\n    parameters: 'airTemp,windSpeed',\n    startTime: '2025-01-22T00:00:00Z',\n    endTime: '2025-01-22T12:00:00Z'\n});\n\nconst options = {\n    hostname: 'obs.api.dtn.com',\n    path: `/v2/observations?${params}`,\n    method: 'GET',\n    headers: {\n        'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n    }\n};\n\nconst req = https.request(options, (res) => {\n    let data = '';\n    res.on('data', (chunk) => data += chunk);\n    res.on('end', () => console.log(JSON.parse(data)));\n});\n\nreq.end();"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n    url: 'https://obs.api.dtn.com/v2/observations',\n    headers: {\n        'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n    },\n    qs: {\n        stationCode: 'CPTR3',\n        parameters: 'airTemp,windSpeed',\n        startTime: '2025-01-22T00:00:00Z',\n        endTime: '2025-01-22T12:00:00Z'\n    },\n    json: true\n};\n\nrequest.get(options, (error, response, body) => {\n    if (!error && response.statusCode === 200) {\n        console.log(body);\n    }\n});"
      - lang: Objc + Nsurlsession
        source: "#import <Foundation/Foundation.h>\n\nNSString *urlString = @\"https://obs.api.dtn.com/v2/observations?stationCode=CPTR3&parameters=airTemp,windSpeed&startTime=2025-01-22T00:00:00Z&endTime=2025-01-22T12:00:00Z\";\nNSURL *url = [NSURL URLWithString:urlString];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:url];\n[request setHTTPMethod:@\"GET\"];\n[request setValue:@\"Bearer YOUR_ACCESS_TOKEN\" forHTTPHeaderField:@\"Authorization\"];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *task = [session dataTaskWithRequest:request\n    completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n        if (!error) {\n            NSString *result = [[NSString alloc] initWithData:data encoding:NSUTF8StringEncoding];\n            NSLog(@\"%@\", result);\n        }\n    }];\n[task resume];"
      - lang: Ocaml + Cohttp
        source: "open Lwt\nopen Cohttp\nopen Cohttp_lwt_unix\n\nlet uri = Uri.of_string \n  \"https://obs.api.dtn.com/v2/observations?stationCode=CPTR3&parameters=airTemp,windSpeed&startTime=2025-01-22T00:00:00Z&endTime=2025-01-22T12:00:00Z\"\n\nlet headers = Header.init ()\n  |> fun h -> Header.add h \"Authorization\" \"Bearer YOUR_ACCESS_TOKEN\"\n\nlet () =\n  let body = Client.get ~headers uri >>= fun (resp, body) ->\n    body |> Cohttp_lwt.Body.to_string >|= fun body ->\n    print_endline body\n  in\n  Lwt_main.run body"
      - lang: Php + Curl
        source: "<?php\n$ch = curl_init();\n\n$params = http_build_query([\n    'stationCode' => 'CPTR3',\n    'parameters' => 'airTemp,windSpeed',\n    'startTime' => '2025-01-22T00:00:00Z',\n    'endTime' => '2025-01-22T12:00:00Z'\n]);\n\ncurl_setopt($ch, CURLOPT_URL, \"https://obs.api.dtn.com/v2/observations?\" . $params);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\n$response = curl_exec($ch);\ncurl_close($ch);\n\necho $response;\n?>"
      - lang: Php + Http1
        source: '<?php

          require_once ''HTTP/Request.php'';


          $request = new HTTP_Request(''https://obs.api.dtn.com/v2/observations'');

          $request->setMethod(HTTP_REQUEST_METHOD_GET);

          $request->addHeader(''Authorization'', ''Bearer YOUR_ACCESS_TOKEN'');


          $url = $request->getUrl();

          $url->addQueryString(''stationCode'', ''CPTR3'');

          $url->addQueryString(''parameters'', ''airTemp,windSpeed'');

          $url->addQueryString(''startTime'', ''2025-01-22T00:00:00Z'');

          $url->addQueryString(''endTime'', ''2025-01-22T12:00:00Z'');


          $request->sendRequest();

          echo $request->getResponseBody();

          ?>'
      - lang: Php + Http2
        source: "<?php\nrequire_once 'HTTP/Request2.php';\n\n$request = new HTTP_Request2('https://obs.api.dtn.com/v2/observations');\n$request->setMethod(HTTP_Request2::METHOD_GET);\n$request->setHeader('Authorization', 'Bearer YOUR_ACCESS_TOKEN');\n\n$url = $request->getUrl();\n$url->setQueryVariables([\n    'stationCode' => 'CPTR3',\n    'parameters' => 'airTemp,windSpeed',\n    'startTime' => '2025-01-22T00:00:00Z',\n    'endTime' => '2025-01-22T12:00:00Z'\n]);\n\n$response = $request->send();\necho $response->getBody();\n?>"
      - lang: Python + Python3
        source: "import requests\n\nurl = 'https://obs.api.dtn.com/v2/observations'\n\nheaders = {\n    'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n}\n\nparams = {\n    'stationCode': 'CPTR3',\n    'parameters': 'airTemp,windSpeed',\n    'startTime': '2025-01-22T00:00:00Z',\n    'endTime': '2025-01-22T12:00:00Z'\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"
      - lang: Python + Requests
        source: "import requests\n\nurl = 'https://obs.api.dtn.com/v2/observations'\n\nheaders = {\n    'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n}\n\nparams = {\n    'stationCode': 'CPTR3',\n    'parameters': 'airTemp,windSpeed',\n    'startTime': '2025-01-22T00:00:00Z',\n    'endTime': '2025-01-22T12:00:00Z'\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"
      - lang: Ruby + Native
        source: "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\nuri = URI('https://obs.api.dtn.com/v2/observations')\nparams = {\n  stationCode: 'CPTR3',\n  parameters: 'airTemp,windSpeed',\n  startTime: '2025-01-22T00:00:00Z',\n  endTime: '2025-01-22T12:00:00Z'\n}\nuri.query = URI.encode_www_form(params)\n\nrequest = Net::HTTP::Get.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_ACCESS_TOKEN'\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n  http.request(request)\nend\n\nputs JSON.parse(response.body)"
      - lang: Shell + Curl
        source: "curl -X GET \"https://obs.api.dtn.com/v2/observations?stationCode=CPTR3&parameters=airTemp,windSpeed&startTime=2025-01-22T00:00:00Z&endTime=2025-01-22T12:00:00Z\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" "
      - lang: Shell + Httpie
        source: "http GET \"https://obs.api.dtn.com/v2/observations\" \\\n  \"Authorization:Bearer YOUR_ACCESS_TOKEN\" \\\n  stationCode==CPTR3 \\\n  parameters==airTemp,windSpeed \\\n  startTime==2025-01-22T00:00:00Z \\\n  endTime==2025-01-22T12:00:00Z"
      - lang: Shell + Wget
        source: "wget --header=\"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  \"https://obs.api.dtn.com/v2/observations?stationCode=CPTR3&parameters=airTemp,windSpeed&startTime=2025-01-22T00:00:00Z&endTime=2025-01-22T12:00:00Z\" \\\n  -O -"
      - lang: Swift + Nsurlsession
        source: "import Foundation\n\nlet urlString = \"https://obs.api.dtn.com/v2/observations?stationCode=CPTR3&parameters=airTemp,windSpeed&startTime=2025-01-22T00:00:00Z&endTime=2025-01-22T12:00:00Z\"\nlet url = URL(string: urlString)!\n\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"GET\"\nrequest.setValue(\"Bearer YOUR_ACCESS_TOKEN\", forHTTPHeaderField: \"Authorization\")\n\nlet task = URLSession.shared.dataTask(with: request) { data, response, error in\n    if let data = data {\n        let result = String(data: data, encoding: .utf8)\n        print(result ?? \"\")\n    }\n}\ntask.resume()"
  /v2/observations/stations:
    get:
      tags:
      - API Endpoints
      summary: Stations
      description: Use this endpoint to retrieve station metadata and details about available observation types.
      operationId: get_stations_v2_observations_stations_get
      parameters:
      - description: Get stations by `radius`|`boundingBox`|`stationCodes`|`tags`
        required: true
        schema:
          title: By
          pattern: (^radius$|^boundingBox$|^stationCodes$|^tags$)
          type: string
          description: Get stations by `radius`|`boundingBox`|`stationCodes`|`tags`
        name: by
        in: query
      - description: Comma-separated list of up to 100 DTN station codes, e.g. `YNQXX,CPTR3,KNYC1`. Supports retrieving metadata for multiple stations at once.
        required: false
        schema:
          title: Stationcodes
          type: string
          description: Comma-separated list of up to 100 DTN station codes, e.g. `YNQXX,CPTR3,KNYC1`. Supports retrieving metadata for multiple stations (maximum 100). **Quota Usage:** Quota is calculated per returned station, not per request.
        name: stationCodes
        in: query
      - description: 'Latitude for radial search in decimal degrees, e.g. `54.85`. Valid range: -90 to 90.'
        required: false
        schema:
          title: Lat
          type: number
          minimum: -90
          maximum: 90
          description: 'Latitude for radial search in decimal degrees, e.g. `54.85`. Valid range: -90 to 90.'
        name: lat
        in: query
      - description: 'Longitude for radial search in decimal degrees, e.g. `-0.50`. Valid range: -180 to 180.'
        required: false
        schema:
          title: Lon
          type: number
          minimum: -180
          maximum: 180
          description: 'Longitude for radial search in decimal degrees, e.g. `-0.50`. Valid range: -180 to 180.'
        name: lon
        in: query
      - description: Radius for radial search in kilometres. If not set, default is `25`.
        required: false
        schema:
          title: Radius
          maximum: 100
          minimum: 0
          type: number
          description: Radius for radial search in kilometres. If not set, default is `25`.
          default: 25
        name: radius
        in: query
      - description: 'Minimum latitude for boundingBox search in decimal degrees, e.g. `50.85`. Valid range: -90 to 90.'
        required: false
        schema:
          title: Minlat
          type: number
          minimum: -90
          maximum: 90
          description: 'Minimum latitude for boundingBox search in decimal degrees, e.g. `50.85`. Valid range: -90 to 90.'
        name: minLat
        in: query
      - description: Maximum latitude for boundingBox search in decimal degrees, e.g. `54.85`
        required: false
        schema:
          title: Maxlat
          type: number
          minimum: -90
          maximum: 90
          description: Maximum latitude for boundingBox search in decimal degrees, e.g. `54.85`
        name: maxLat
        in: query
      - description: Minimum longitude for boundingBox search in decimal degrees, e.g. `-1.85`
        required: false
        schema:
          title: Minlon
          type: number
          minimum: -180
          maximum: 180
          description: Minimum longitude for boundingBox search in decimal degrees, e.g. `-1.85`
        name: minLon
        in: query
      - description: Maximum longitude for boundingBox search in decimal degrees, e.g. `0.85`
        required: false
        schema:
          title: Maxlon
          type: number
          minimum: -180
          maximum: 180
          description: Maximum longitude for boundingBox search in decimal degrees, e.g. `0.85`
        name: maxLon
        in: query
      - description: Comma-separated list of obsTypes, e.g. `METAR,SYNOP,RWIS,AG`. If not set, default are `METAR,SYNOP`.
        required: false
        schema:
          title: Obstypes
          type: string
          description: Comma-separated list of obsTypes, e.g. `METAR,SYNOP,RWIS,AG`. If not set, default are `METAR,SYNOP`.
        name: obsTypes
        in: query
      - description: Set to `True` to include station tags (such as name and management ID) in the response. When set to `True`, each feature in the response will include a `tags` object containing station metadata. Default is `False` to maintain backward compatibility.
        required: false
        schema:
          title: ShowTags
          type: boolean
          description: Set to `True` to include station tags (such as name and management ID) in the response. When set to `True`, each feature in the response will include a `tags` object containing station metadata. Default is `False` to maintain backward compatibility.
          default: false
        name: showTags
        in: query
      - description: Set to `True` to rank stations by how representative they are of the entered location. This accounts for elevation differences (measured in meters) between stations.
        required: false
        schema:
          title: Showbest
          type: boolean
          description: Set to `True` to rank stations by how representative they are of the entered location. This accounts for elevation differences (measured in meters) between stations.
          default: false
        name: showBest
        in: query
      - description: 'URL encoded json string or a free hand string for wild card search. For multiple tags, they are filtered individually (OR), e.g. `{"icao": "KJFK", "wmo": "3240"}` means you''re searching for stations with the ICAO code KJFK **OR** WMO code 3240. For wild card search, results will show what matches your entry.'
        required: false
        schema:
          title: Tags
          type: string
          description: 'URL encoded json string or a free hand string for wild card search. For multiple tags, they are filtered individually (OR), e.g. `{"icao": "KJFK", "wmo": "3240"}` means you''re searching for stations with the ICAO code KJFK **OR** WMO code 3240. For wild card search, results will show what matches your entry.'
        name: tags
        in: query
      - description: Set to `True` to only return stations where data is available older than 1 month.
        required: false
        schema:
          title: Isarchived
          type: boolean
          description: Set to `True` to only return stations where data is available older than 1 month.
        name: isArchived
        in: query
      - description: Set to `True` to view how many historical observations are available per parameter, month, and year for a single stationCode. **Restriction:** When `archiveCounts=True`, you must provide only one stationCode. Multiple stations are not supported with this parameter.
        required: false
        schema:
          title: Archivecounts
          type: boolean
          description: Set to `True` to view how many historical observations are available per parameter, month, and year for a single stationCode. **Restriction:** When `archiveCounts=True`, you must provide only one stationCode.
          default: false
        name: archiveCounts
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StnDataRespModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutError'
      security:
      - clientCredentials: []
      x-codeSamples:
      - lang: C + Libcurl
        source: "#include <stdio.h>\n#include <curl/curl.h>\n\nint main(void) {\n    CURL *curl;\n    CURLcode res;\n    \n    curl = curl_easy_init();\n    if(curl) {\n        struct curl_slist *headers = NULL;\n        headers = curl_slist_append(headers, \"Authorization: Bearer YOUR_ACCESS_TOKEN\");\n        \n        curl_easy_setopt(curl, CURLOPT_URL, \n            \"https://obs.api.dtn.com/v2/observations/stations?\"\n            \"by=stationCodes&\"\n            \"stationCodes=CPTR3,KNYC\");\n        curl_easy_setopt(curl, CURLOPT_HTTPHEADER, headers);\n        \n        res = curl_easy_perform(curl);\n        \n        curl_slist_free_all(headers);\n        curl_easy_cleanup(curl);\n    }\n    return 0;\n}"
      - lang: Csharp + Restsharp
        source: "using RestSharp;\nusing System;\n\nclass Program\n{\n    static void Main()\n    {\n        var client = new RestClient(\"https://obs.api.dtn.com\");\n        var request = new RestRequest(\"/v2/observations/stations\", Method.Get);\n        \n        request.AddHeader(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\");\n        request.AddParameter(\"by\", \"stationCodes\");\n        request.AddParameter(\"stationCodes\", \"CPTR3,KNYC\");\n        \n        var response = client.Execute(request);\n        Console.WriteLine(response.Content);\n    }\n}"
      - lang: Go + Native
        source: "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n    \"net/url\"\n)\n\nfunc main() {\n    baseURL := \"https://obs.api.dtn.com/v2/observations/stations\"\n    \n    params := url.Values{}\n    params.Add(\"by\", \"stationCodes\")\n    params.Add(\"stationCodes\", \"CPTR3,KNYC\")\n    \n    req, _ := http.NewRequest(\"GET\", baseURL+\"?\"+params.Encode(), nil)\n    req.Header.Add(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\")\n    \n    client := &http.Client{}\n    resp, _ := client.Do(req)\n    defer resp.Body.Close()\n    \n    body, _ := io.ReadAll(resp.Body)\n    fmt.Println(string(body))\n}"
      - lang: Java + Okhttp
        source: "import okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class StationsExample {\n    public static void main(String[] args) throws Exception {\n        OkHttpClient client = new OkHttpClient();\n        \n        String url = \"https://obs.api.dtn.com/v2/observations/stations?\" +\n                     \"by=stationCodes&\" +\n                     \"stationCodes=CPTR3,KNYC\";\n        \n        Request request = new Request.Builder()\n            .url(url)\n            .addHeader(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\")\n            .build();\n        \n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n}"
      - lang: Java + Unirest
        source: "import kong.unirest.Unirest;\nimport kong.unirest.HttpResponse;\n\npublic class StationsExample {\n    public static void main(String[] args) {\n        HttpResponse<String> response = Unirest.get(\"https://obs.api.dtn.com/v2/observations/stations\")\n            .header(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\")\n            .queryString(\"by\", \"stationCodes\")\n            .queryString(\"stationCodes\", \"CPTR3,KNYC\")\n            .asString();\n        \n        System.out.println(response.getBody());\n    }\n}"
      - lang: Javascript + Jquery
        source: "$.ajax({\n    url: 'https://obs.api.dtn.com/v2/observations/stations',\n    method: 'GET',\n    headers: {\n        'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n    },\n    data: {\n        by: 'stationCodes',\n        stationCodes: 'CPTR3,KNYC'\n    },\n    success: function(data) {\n        console.log(data);\n    }\n});"
      - lang: Javascript + Xhr
        source: "const xhr = new XMLHttpRequest();\nxhr.open('GET', 'https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC');\nxhr.setRequestHeader('Authorization', 'Bearer YOUR_ACCESS_TOKEN');\n\nxhr.onload = function() {\n    if (xhr.status === 200) {\n        console.log(JSON.parse(xhr.responseText));\n    }\n};\n\nxhr.send();"
      - lang: Node + Native
        source: "const https = require('https');\n\nconst options = {\n    hostname: 'obs.api.dtn.com',\n    path: '/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC',\n    method: 'GET',\n    headers: {\n        'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n    }\n};\n\nconst req = https.request(options, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { console.log(JSON.parse(data)); });\n});\n\nreq.end();"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n    url: 'https://obs.api.dtn.com/v2/observations/stations',\n    qs: {\n        by: 'stationCodes',\n        stationCodes: 'CPTR3,KNYC'\n    },\n    headers: {\n        'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n    }\n};\n\nrequest.get(options, (error, response, body) => {\n    if (!error && response.statusCode === 200) {\n        console.log(JSON.parse(body));\n    }\n});"
      - lang: Objc + Nsurlsession
        source: "NSURL *url = [NSURL URLWithString:@\"https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC\"];\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:url];\n[request setHTTPMethod:@\"GET\"];\n[request setValue:@\"Bearer YOUR_ACCESS_TOKEN\" forHTTPHeaderField:@\"Authorization\"];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *task = [session dataTaskWithRequest:request\n    completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n        if (!error) {\n            NSLog(@\"%@\", [[NSString alloc] initWithData:data encoding:NSUTF8StringEncoding]);\n        }\n    }];\n[task resume];"
      - lang: Ocaml + Cohttp
        source: "open Lwt\nopen Cohttp\nopen Cohttp_lwt_unix\n\nlet uri = Uri.of_string \"https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC\" in\nlet headers = Header.init ()\n  |> fun h -> Header.add h \"Authorization\" \"Bearer YOUR_ACCESS_TOKEN\" in\n\nClient.get ~headers uri >>= fun (resp, body) ->\n  body |> Cohttp_lwt.Body.to_string >|= fun body ->\n  print_endline body"
      - lang: Php + Curl
        source: "<?php\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n    CURLOPT_URL => \"https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC\",\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        \"Authorization: Bearer YOUR_ACCESS_TOKEN\"\n    ],\n]);\n\n$response = curl_exec($curl);\ncurl_close($curl);\n\necho $response;\n?>"
      - lang: Php + Http1
        source: '<?php

          require_once ''HTTP/Request.php'';


          $request = new HTTP_Request(''https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC'');

          $request->setMethod(HTTP_REQUEST_METHOD_GET);

          $request->addHeader(''Authorization'', ''Bearer YOUR_ACCESS_TOKEN'');


          $request->sendRequest();

          echo $request->getResponseBody();

          ?>'
      - lang: Php + Http2
        source: '<?php

          require_once ''HTTP/Request2.php'';


          $request = new HTTP_Request2(''https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC'');

          $request->setMethod(HTTP_Request2::METHOD_GET);

          $request->setHeader(''Authorization'', ''Bearer YOUR_ACCESS_TOKEN'');


          $response = $request->send();

          echo $response->getBody();

          ?>'
      - lang: Python + Python3
        source: "import urllib.request\nimport json\n\nurl = 'https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC'\n\nreq = urllib.request.Request(url)\nreq.add_header('Authorization', 'Bearer YOUR_ACCESS_TOKEN')\n\nwith urllib.request.urlopen(req) as response:\n    data = json.loads(response.read().decode())\n    print(data)"
      - lang: Python + Requests
        source: "import requests\n\nurl = 'https://obs.api.dtn.com/v2/observations/stations'\n\nheaders = {\n    'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n}\n\nparams = {\n    'by': 'stationCodes',\n    'stationCodes': 'CPTR3,KNYC'\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"
      - lang: Ruby + Native
        source: "require 'net/http'\nrequire 'json'\n\nuri = URI('https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC')\n\nrequest = Net::HTTP::Get.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_ACCESS_TOKEN'\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n    http.request(request)\nend\n\nputs JSON.parse(response.body)"
      - lang: Shell + Curl
        source: "curl -X GET \"https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" "
      - lang: Shell + Httpie
        source: "http GET \"https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC\" \\\n  \"Authorization: Bearer YOUR_ACCESS_TOKEN\" "
      - lang: Shell + Wget
        source: "wget --header=\"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  \"https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC\" \\\n  -O -"
      - lang: Swift + Nsurlsession
        source: "let url = URL(string: \"https://obs.api.dtn.com/v2/observations/stations?by=stationCodes&stationCodes=CPTR3,KNYC\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"GET\"\nrequest.setValue(\"Bearer YOUR_ACCESS_TOKEN\", forHTTPHeaderField: \"Authorization\")\n\nlet task = URLSession.shared.dataTask(with: request) { data, response, error in\n    if let data = data {\n        print(String(data: data, encoding: .utf8) ?? \"\")\n    }\n}\ntask.resume()"
  /v2/observations/parameters:
    get:
      tags:
      - API Endpoints
      summary: Parameters
      description: Use this endpoint to retrieve a complete list of supported observation parameters, including their descriptions, units, and availability across networks.
      operationId: get_parameters_v2_observations_parameters_get
      parameters:
      - description: Comma-separated list of parameter names to include in the response, eg. `airTemp,precipAcc60Min,windSpeed`
        required: false
        schema:
          title: Names
          type: string
          description: Comma-separated list of parameter names to include in the response, eg. `airTemp,precipAcc60Min,windSpeed`
        name: names
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Parameters V2 Observations Parameters Get
                type: array
                items:
                  $ref: '#/components/schemas/ParametersListResp'
              examples:
                Parameter Endpoint Example:
                  $ref: '#/components/examples/Parameter_Endpoint_Example'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutError'
      security:
      - clientCredentials: []
      x-codeSamples:
      - lang: C + Libcurl
        source: "#include <stdio.h>\n#include <curl/curl.h>\n\nint main(void) {\n    CURL *curl;\n    CURLcode res;\n    \n    curl = curl_easy_init();\n    if(curl) {\n        struct curl_slist *headers = NULL;\n        headers = curl_slist_append(headers, \"Authorization: Bearer YOUR_ACCESS_TOKEN\");\n        \n        curl_easy_setopt(curl, CURLOPT_URL, \n            \"https://obs.api.dtn.com/v2/observations/parameters\");\n        curl_easy_setopt(curl, CURLOPT_HTTPHEADER, headers);\n        \n        res = curl_easy_perform(curl);\n        \n        curl_slist_free_all(headers);\n        curl_easy_cleanup(curl);\n    }\n    return 0;\n}"
      - lang: Csharp + Restsharp
        source: "using RestSharp;\nusing System;\n\nclass Program\n{\n    static void Main()\n    {\n        var client = new RestClient(\"https://obs.api.dtn.com\");\n        var request = new RestRequest(\"/v2/observations/parameters\", Method.Get);\n        \n        request.AddHeader(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\");\n        \n        var response = client.Execute(request);\n        Console.WriteLine(response.Content);\n    }\n}"
      - lang: Go + Native
        source: "package main\n\nimport (\n    \"fmt\"\n    \"io\"\n    \"net/http\"\n)\n\nfunc main() {\n    url := \"https://obs.api.dtn.com/v2/observations/parameters\"\n    \n    req, _ := http.NewRequest(\"GET\", url, nil)\n    req.Header.Add(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\")\n    \n    client := &http.Client{}\n    resp, _ := client.Do(req)\n    defer resp.Body.Close()\n    \n    body, _ := io.ReadAll(resp.Body)\n    fmt.Println(string(body))\n}"
      - lang: Java + Okhttp
        source: "import okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class ParametersExample {\n    public static void main(String[] args) throws Exception {\n        OkHttpClient client = new OkHttpClient();\n        \n        String url = \"https://obs.api.dtn.com/v2/observations/parameters\";\n        \n        Request request = new Request.Builder()\n            .url(url)\n            .addHeader(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\")\n            .build();\n        \n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n}"
      - lang: Java + Unirest
        source: "import kong.unirest.Unirest;\nimport kong.unirest.HttpResponse;\n\npublic class ParametersExample {\n    public static void main(String[] args) {\n        HttpResponse<String> response = Unirest.get(\"https://obs.api.dtn.com/v2/observations/parameters\")\n            .header(\"Authorization\", \"Bearer YOUR_ACCESS_TOKEN\")\n            .asString();\n        \n        System.out.println(response.getBody());\n    }\n}"
      - lang: Javascript + Jquery
        source: "$.ajax({\n    url: 'https://obs.api.dtn.com/v2/observations/parameters',\n    method: 'GET',\n    headers: {\n        'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n    },\n    success: function(data) {\n        console.log(data);\n    }\n});"
      - lang: Javascript + Xhr
        source: "const xhr = new XMLHttpRequest();\nxhr.open('GET', 'https://obs.api.dtn.com/v2/observations/parameters');\nxhr.setRequestHeader('Authorization', 'Bearer YOUR_ACCESS_TOKEN');\n\nxhr.onload = function() {\n    if (xhr.status === 200) {\n        console.log(JSON.parse(xhr.responseText));\n    }\n};\n\nxhr.send();"
      - lang: Node + Native
        source: "const https = require('https');\n\nconst options = {\n    hostname: 'obs.api.dtn.com',\n    path: '/v2/observations/parameters',\n    method: 'GET',\n    headers: {\n        'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n    }\n};\n\nconst req = https.request(options, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { console.log(JSON.parse(data)); });\n});\n\nreq.end();"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n    url: 'https://obs.api.dtn.com/v2/observations/parameters',\n    headers: {\n        'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n    }\n};\n\nrequest.get(options, (error, response, body) => {\n    if (!error && response.statusCode === 200) {\n        console.log(JSON.parse(body));\n    }\n});"
      - lang: Objc + Nsurlsession
        source: "NSURL *url = [NSURL URLWithString:@\"https://obs.api.dtn.com/v2/observations/parameters\"];\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:url];\n[request setHTTPMethod:@\"GET\"];\n[request setValue:@\"Bearer YOUR_ACCESS_TOKEN\" forHTTPHeaderField:@\"Authorization\"];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *task = [session dataTaskWithRequest:request\n    completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n        if (!error) {\n            NSLog(@\"%@\", [[NSString alloc] initWithData:data encoding:NSUTF8StringEncoding]);\n        }\n    }];\n[task resume];"
      - lang: Ocaml + Cohttp
        source: "open Lwt\nopen Cohttp\nopen Cohttp_lwt_unix\n\nlet uri = Uri.of_string \"https://obs.api.dtn.com/v2/observations/parameters\" in\nlet headers = Header.init ()\n  |> fun h -> Header.add h \"Authorization\" \"Bearer YOUR_ACCESS_TOKEN\" in\n\nClient.get ~headers uri >>= fun (resp, body) ->\n  body |> Cohttp_lwt.Body.to_string >|= fun body ->\n  print_endline body"
      - lang: Php + Curl
        source: "<?php\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n    CURLOPT_URL => \"https://obs.api.dtn.com/v2/observations/parameters\",\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_HTTPHEADER => [\n        \"Authorization: Bearer YOUR_ACCESS_TOKEN\"\n    ],\n]);\n\n$response = curl_exec($curl);\ncurl_close($curl);\n\necho $response;\n?>"
      - lang: Php + Http1
        source: '<?php

          require_once ''HTTP/Request.php'';


          $request = new HTTP_Request(''https://obs.api.dtn.com/v2/observations/parameters'');

          $request->setMethod(HTTP_REQUEST_METHOD_GET);

          $request->addHeader(''Authorization'', ''Bearer YOUR_ACCESS_TOKEN'');


          $request->sendRequest();

          echo $request->getResponseBody();

          ?>'
      - lang: Php + Http2
        source: '<?php

          require_once ''HTTP/Request2.php'';


          $request = new HTTP_Request2(''https://obs.api.dtn.com/v2/observations/parameters'');

          $request->setMethod(HTTP_Request2::METHOD_GET);

          $request->setHeader(''Authorization'', ''Bearer YOUR_ACCESS_TOKEN'');


          $response = $request->send();

          echo $response->getBody();

          ?>'
      - lang: Python + Python3
        source: "import urllib.request\nimport json\n\nurl = 'https://obs.api.dtn.com/v2/observations/parameters'\n\nreq = urllib.request.Request(url)\nreq.add_header('Authorization', 'Bearer YOUR_ACCESS_TOKEN')\n\nwith urllib.request.urlopen(req) as response:\n    data = json.loads(response.read().decode())\n    print(data)"
      - lang: Python + Requests
        source: "import requests\n\nurl = 'https://obs.api.dtn.com/v2/observations/parameters'\n\nheaders = {\n    'Authorization': 'Bearer YOUR_ACCESS_TOKEN'\n}\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
      - lang: Ruby + Native
        source: "require 'net/http'\nrequire 'json'\n\nuri = URI('https://obs.api.dtn.com/v2/observations/parameters')\n\nrequest = Net::HTTP::Get.new(uri)\nrequest['Authorization'] = 'Bearer YOUR_ACCESS_TOKEN'\n\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n    http.request(request)\nend\n\nputs JSON.parse(response.body)"
      - lang: Shell + Curl
        source: "curl -X GET \"https://obs.api.dtn.com/v2/observations/parameters\" \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" "
      - lang: Shell + Httpie
        source: "http GET \"https://obs.api.dtn.com/v2/observations/parameters\" \\\n  \"Authorization: Bearer YOUR_ACCESS_TOKEN\" "
      - lang: Shell + Wget
        source: "wget --header=\"Authorization: Bearer YOUR_ACCESS_TOKEN\" \\\n  \"https://obs.api.dtn.com/v2/observations/parameters\" \\\n  -O -"
      - lang: Swift + Nsurlsession
        source: "let url = URL(string: \"https://obs.api.dtn.com/v2/observations/parameters\")!\nvar request = URLRequest(url: url)\nrequest.httpMethod = \"GET\"\nrequest.setValue(\"Bearer YOUR_ACCESS_TOKEN\", forHTTPHeaderField: \"Authorization\")\n\nlet task = URLSession.shared.dataTask(with: request) { data, response, error in\n    if let data = data {\n        print(String(data: data, encoding: .utf8) ?? \"\")\n    }\n}\ntask.resume()"
components:
  schemas:
    UnauthorizedError:
      title: UnauthorizedError
      type: object
      properties:
        detail:
          title: Detail
          type: string
          description: Error message describing the authorization failure
      example:
        detail: JWT is expired
    ObsDataRespModel:
      title: ObsDataRespModel
      required:
      - url
      - type
      - features
      type: object
      properties:
        url:
          title: Url
          type: string
        type:
          type: string
        features:
          title: Features
          type: array
          items:
            $ref: '#/components/schemas/ObservationsFeature'
    ArchiveCounts:
      title: ArchiveCounts
      required:
      - yearMonth
      type: object
      properties:
        yearMonth:
          title: Yearmonth
          type: integer
    ObservationsProperties:
      title: Properties
      required:
      - timestamp
      type: object
      properties:
        timestamp:
          $ref: '#/components/schemas/Observation'
    ObservationProperties:
      title: ObservationProperties
      required:
      - obsType
      - isDerived
      - qc
      type: object
      properties:
        obsType:
          title: Obstype
          type: string
        isDerived:
          title: Isderived
          type: boolean
        qc:
          title: Qc
          type: string
    ArchiveParameter:
      title: ArchiveParameter
      required:
      - parameter
      type: object
      properties:
        parameter:
          $ref: '#/components/schemas/ArchiveCounts'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            type: string
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    ParametersListResp:
      title: ParametersListResp
      required:
      - name
      - unit
      - type
      type: object
      properties:
        name:
          type: string
          title: Name
        unit:
          type: string
          title: Unit
        imperial_unit:
          type: string
          title: Imperialunit
        type:
          type: string
          title: Type
        precision:
          type: integer
          title: Precision
        description:
          type: string
          title: Description
        notes:
          type: string
          title: Notes
        requiredScope:
          type: string
          title: Requiredscope
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          oneOf:
          - type: string
            description: Simple validation error message
          - type: array
            description: Detailed validation errors
            items:
              $ref: '#/components/schemas/ValidationError'
      examples:
        missing_field:
          summary: Missing required field
          value:
            detail: 'Validation error. Message: stationCode field is required.'
        time_range_exceeded:
          summary: Time range validation
          value:
            detail: 'Validation error. Message: Maximum hours for time range query is 45 days. You''ve provided: startTime = 2025-09-01 00:00:00, endTime = 2025-11-30 00:00:00.'
        invalid_format:
          summary: Invalid field format
          value:
            detail:
            - loc:
              - query
              - endTime
              msg: invalid datetime format
              type: value_error.datetime
    StationsGeometry:
      title: Geometry
      required:
      - type
      - coordinates
      type: object
      properties:
        type:
          title: Type
          type: string
        coordinates:
          title: Coordinates
          type: array
          items:
            type: number
    StationsProperties:
      title: Properties
      required:
      - parameters
      - elevation
      - isArchived
      - lastObsTimestamp
      - obsTypes
      type: object
      properties:
        tags:
          title: Tags
          type: object
        parameters:
          title: Parameters
          type: array
          items:
            type: string
        elevation:
          title: Elevation
          type: number
        isArchived:
          title: Isarchived
          type: boolean
        lastObsTimestamp:
          title: Lastobstimestamp
          type: string
        obsTypes:
          title: Obstypes
          type: array
          items:
            type: string
        archiveCounts:
          $ref: '#/components/schemas/ArchiveParameter'
    StnDataRespModel:
      title: StnDataRespModel
      required:
      - url
      - type
      - features
      type: object
      properties:
        url:
          title: Url
          type: string
        type:
          title: Type
          type: string
        features:
          title: Features
          type: array
          items:
            $ref: '#/components/schemas/StationsFeature'
      example:
        url: https://obs.api.dtn.com/v2/observations/stations?by=boundingBox&minLat=51&maxLat=51.5&minLon=0&maxLon=0.5&obsTypes=SYNOP
        type: FeatureCollection
        features:
        - stationCode: DNL35
          type: Feature
          geometry:
            type: Point
            coordinates:
            - 0.4595
            - 51.0772
          properties:
            tags:
              wmo: '99126'
              mgID: '99126'
              name: Goudhurst
            parameters:
            - airTemp
            - airTempMax12Hour
            - airTempMin12Hour
            - dewPoint
            - precipAcc12Hour
            - precipAcc24Hour
            - precipAcc60Min
            - precipAcc6Hour
            - relativeHumidity
            - sunrise
            - sunset
            - wmoWeatherCode
            elevation: 85
            isArchived: true
            lastObsTimestamp: '2024-03-22T16:00:00Z'
            obsTypes:
            - SYNOP
        - stationCode: K6C7N
          type: Feature
          geometry:
            type: Point
            coordinates:
            - 0.45
            - 51.283
          properties:
            tags:
              wmo: '99008'
              mgID: '99008'
              name: East malling
            parameters:
            - airTemp
            - airTempMax12Hour
            - airTempMin12Hour
            - dewPoint
            - globalRadiation24Hour
            - globalRadiation60Min
            - mslPressure
            - precipAcc12Hour
            - precipAcc24Hour
            - precipAcc60Min
            - precipAcc6Hour
            - relativeHumidity
            - stationPressure
            - sunrise
            - sunset
            - sunshine60Min
            - windDirection
            - windGust
            - windSpeed
            - wmoWeatherCode
            elevation: 50
            isArchived: true
            lastObsTimestamp: '2024-03-22T16:00:00Z'
            obsTypes:
            - SYNOP
    ObservationsGeometry:
      title: Geometry
      required:
      - type
      - coordinates
      type: object
      properties:
        type:
          title: Type
          type: string
        coordinates:
          title: Coordinates
          type: array
          items:
            type: number
    GatewayTimeoutError:
      title: GatewayTimeoutError
      type: object
      properties:
        detail:
          title: Detail
          type: string
          description: Error message describing the timeout
      example:
        detail: stream timeout
    StationsFeature:
      title: Feature
      required:
      - stationCode
      - type
      - geometry
      - properties
      type: object
      properties:
        stationCode:
          title: Stationcode
          type: string
        type:
          title: Type
          type: string
        geometry:
          $ref: '#/components/schemas/StationsGeometry'
        properties:
          $ref: '#/components/schemas/StationsProperties'
    Observation:
      title: Observation
      required:
      - parameter
      - parameterProperties
      type: object
      properties:
        parameter:
          title: Parameter
          type: number
        parameterProperties:
          $ref: '#/components/schemas/ObservationProperties'
    ObservationsFeature:
      title: Feature
      required:
      - type
      - geometry
      - properties
      type: object
      properties:
        type:
          title: Type
          type: string
        geometry:
          $ref: '#/components/schemas/ObservationsGeometry'
        properties:
          $ref: '#/components/schemas/ObservationsProperties'
  examples:
    Parameter_Endpoint_Example:
      summary: Example of Response for Parameter Endpoint
      value:
      - name: airTemp
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Instantaneous air temperature 2m above the surface.
        notes: Exact height of measurement is 2m for networks which conform to WMO standards (Metar and Synop). This cannot be guaranteed for all sources but deviations in air temperatures at most surface measurement heights will be trivial.
        requiredScope: read:one-observations-public, weather.observations.core:read
      - name: surfaceTemp
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: RWIS stations often have multiple sensors, where a station has more than 1 these are labelled as surfaceTemp2 to surfaceTemp6. surfaceTemp is not exclusive to networkType RWIS, other networkTypes may have this parameter.
        requiredScope: read:one-observations-public
      - name: windSpeed
        unit: m/s
        imperial_unit: mph
        type: float
        precision: 2
        description: Wind speed 10m above the surface averaged over 10 minutes.
        notes: Exact height of measurement is 10m for networks which conform to WMO standards (METAR and SYNOP).
        requiredScope: read:one-observations-public, weather.observations.core:read
      - name: bridgeTemp7
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the bridge surface, usually used for winter road maintenance.
        notes: null
        requiredScope: ''
      - name: bridgeTemp8
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the bridge surface, usually used for winter road maintenance.
        notes: null
        requiredScope: ''
      - name: bridgeTemp9
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the bridge surface, usually used for winter road maintenance.
        notes: null
        requiredScope: ''
      - name: bridgeTemp10
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the bridge surface, usually used for winter road maintenance.
        notes: null
        requiredScope: ''
      - name: feelsLikeTempAvg24Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Average feels like temperature over the 24 hours before the valid time.
        notes: Can be reported at source or aggregated by our API over any daily period by specifying interval=24h in observations endpoint.
        requiredScope: ''
      - name: feelsLikeTempMax1Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Maximum feels like temperature over the 1 hour before the valid time.
        notes: null
        requiredScope: ''
      - name: feelsLikeTempMax24Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Maximum feels like temperature over the 24 hours before the valid time.
        notes: Can be reported at source or aggregated by our API over any daily period by specifying interval=24h in observations endpoint.
        requiredScope: ''
      - name: feelsLikeTempMin1Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Minimum feels like temperature over the 1 hour before the valid time.
        notes: null
        requiredScope: ''
      - name: feelsLikeTempMin24Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Minimum feels like temperature over the 24 hours before the valid time.
        notes: null
        requiredScope: ''
      - name: freezingTemp2
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: A parameter that indicates the threshold air temperature at or below which water freezes. Typically used to detect freeze events that can affect agriculture, road safety, infrastructure, and ecosystems.
        notes: null
        requiredScope: ''
      - name: freezingTemp3
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: A parameter that indicates the threshold air temperature at or below which water freezes. Typically used to detect freeze events that can affect agriculture, road safety, infrastructure, and ecosystems.
        notes: null
        requiredScope: ''
      - name: freezingTemp4
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: A parameter that indicates the threshold air temperature at or below which water freezes. Typically used to detect freeze events that can affect agriculture, road safety, infrastructure, and ecosystems.
        notes: null
        requiredScope: ''
      - name: freezingTemp5
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: A parameter that indicates the threshold air temperature at or below which water freezes. Typically used to detect freeze events that can affect agriculture, road safety, infrastructure, and ecosystems.
        notes: null
        requiredScope: ''
      - name: heatIndexAvg24Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Average heat index over the 24 hours before the valid time.
        notes: Can be reported at source or aggregated by our API over any daily period by specifying interval=24h in observations endpoint.
        requiredScope: ''
      - name: heatIndexMax1Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Maximum heat index over the 1 hour before the valid time.
        notes: null
        requiredScope: ''
      - name: heatIndexMax24Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Maximum heat index over the 24 hours before the valid time.
        notes: Can be reported at source or aggregated by our API over any daily period by specifying interval=24h in observations endpoint.
        requiredScope: ''
      - name: heatIndexMin1Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Minimum heat index over the 1 hour before the valid time.
        notes: null
        requiredScope: ''
      - name: heatIndexMin24Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Minimum heat index over the 24 hours before the valid time.
        notes: null
        requiredScope: ''
      - name: precipDuration
        unit: minutes
        imperial_unit: minutes
        type: float
        precision: 0
        description: Total length of time during which measurable precipitation is expected or has occurred.
        notes: null
        requiredScope: ''
      - name: precipPresence
        unit: boolean
        imperial_unit: boolean
        type: boolean
        precision: 0
        description: Indicates whether precipitation is present.
        notes: null
        requiredScope: ''
      - name: pressureChange6Hour
        unit: hPA
        imperial_unit: mb
        type: float
        precision: 0
        description: The change in air pressure over a 6-hour period.
        notes: null
        requiredScope: ''
      - name: pressureChange12Hour
        unit: hPA
        imperial_unit: mb
        type: float
        precision: 0
        description: The change in air pressure over a 12-hour period.
        notes: null
        requiredScope: ''
      - name: pressureChange24Hour
        unit: hPA
        imperial_unit: mb
        type: float
        precision: 0
        description: The change in air pressure over a 24-hour period.
        notes: null
        requiredScope: ''
      - name: subsurfaceTemp3
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: The temperature measured below the surface, typically in soil, rock, or other underground materials.
        notes: null
        requiredScope: ''
      - name: subsurfaceTemp4
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: The temperature measured below the surface, typically in soil, rock, or other underground materials.
        notes: null
        requiredScope: ''
      - name: subsurfaceTemp6
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: The temperature measured below the surface, typically in soil, rock, or other underground materials.
        notes: null
        requiredScope: ''
      - name: subsurfaceTemp7
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: The temperature measured below the surface, typically in soil, rock, or other underground materials.
        notes: null
        requiredScope: ''
      - name: subsurfaceTemp8
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: The temperature measured below the surface, typically in soil, rock, or other underground materials.
        notes: null
        requiredScope: ''
      - name: subsurfaceTemp9
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: The temperature measured below the surface, typically in soil, rock, or other underground materials.
        notes: null
        requiredScope: ''
      - name: subsurfaceTemp11
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: The temperature measured below the surface, typically in soil, rock, or other underground materials.
        notes: null
        requiredScope: ''
      - name: subsurfaceTemp12
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: The temperature measured below the surface, typically in soil, rock, or other underground materials.
        notes: null
        requiredScope: ''
      - name: subsurfaceTemp13
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: The temperature measured below the surface, typically in soil, rock, or other underground materials.
        notes: null
        requiredScope: ''
      - name: subsurfaceTemp14
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: The temperature measured below the surface, typically in soil, rock, or other underground materials.
        notes: null
        requiredScope: ''
      - name: surfaceConductivity7
        unit: mhos/cm
        imperial_unit: mhos/cm
        type: float
        precision: 2
        description: An RWIS parameter. Indicates the ability of the road surface to conduct electrical current, which can be useful for assessing the presence of moisture, salts, or other substances that affect road conditions.
        notes: null
        requiredScope: ''
      - name: surfaceConductivity8
        unit: mhos/cm
        imperial_unit: mhos/cm
        type: float
        precision: 2
        description: An RWIS parameter. Indicates the ability of the road surface to conduct electrical current, which can be useful for assessing the presence of moisture, salts, or other substances that affect road conditions.
        notes: null
        requiredScope: ''
      - name: surfaceConductivity9
        unit: mhos/cm
        imperial_unit: mhos/cm
        type: float
        precision: 2
        description: An RWIS parameter. Indicates the ability of the road surface to conduct electrical current, which can be useful for assessing the presence of moisture, salts, or other substances that affect road conditions.
        notes: null
        requiredScope: ''
      - name: surfaceConductivity10
        unit: mhos/cm
        imperial_unit: mhos/cm
        type: float
        precision: 2
        description: An RWIS parameter. Indicates the ability of the road surface to conduct electrical current, which can be useful for assessing the presence of moisture, salts, or other substances that affect road conditions.
        notes: null
        requiredScope: ''
      - name: surfaceConductivity11
        unit: mhos/cm
        imperial_unit: mhos/cm
        type: float
        precision: 2
        description: An RWIS parameter. Indicates the ability of the road surface to conduct electrical current, which can be useful for assessing the presence of moisture, salts, or other substances that affect road conditions.
        notes: null
        requiredScope: ''
      - name: surfaceConductivity12
        unit: mhos/cm
        imperial_unit: mhos/cm
        type: float
        precision: 2
        description: An RWIS parameter. Indicates the ability of the road surface to conduct electrical current, which can be useful for assessing the presence of moisture, salts, or other substances that affect road conditions.
        notes: null
        requiredScope: ''
      - name: surfaceTemp7
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp8
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp9
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp11
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp12
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp13
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp14
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp16
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp17
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp18
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp19
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp21
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp22
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp23
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: surfaceTemp24
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 1
        description: Temperature of the road (pavement) surface, usually used for winter road maintenance.
        notes: ''
        requiredScope: ''
      - name: windChillAvg24Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 2
        description: Average wind chill over the 24 hours before the valid time.
        notes: Can be reported at source or aggregated by our API over any daily period by specifying interval=24h in observations endpoint.
        requiredScope: ''
      - name: windChillMax1Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 2
        description: Maximum wind chill over the 1 hour before the valid time.
        notes: null
        requiredScope: ''
      - name: windChillMax24Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 2
        description: Maximum wind chill over the 24 hours before the valid time.
        notes: Can be reported at source or aggregated by our API over any daily period by specifying interval=24h in observations endpoint.
        requiredScope: ''
      - name: windChillMin1Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 2
        description: Minimum wind chill over the 1 hour before the valid time.
        notes: null
        requiredScope: ''
      - name: windChillMin24Hour
        unit: Celsius
        imperial_unit: F
        type: float
        precision: 2
        description: Minimum wind chill over the 24 hours before the valid time.
        notes: Represents the lowest apparent temperature felt by exposed skin due to the combined effects of air temperature and wind speed during the 24-hour period. Can be reported at source or aggregated by our API over any daily period by specifying interval=24h in observations endpoint.
        requiredScope: ''
      - name: windSpeed2mMax60Min
        unit: m/s
        imperial_unit: mph
        type: float
        precision: 2
        description: Maximum wind speed at 2m above the surface over the 60 minutes before the valid timestamp.
        notes: This height is an approximation for data sources where we know or it is reasonable to assume that winds will be measured closer to 2m than 10m. As a general rule 10m wind speeds will be 30% higher than 2m.
        requiredScope: ''
    Observations_with_showTags_true:
      summary: Response with station tags included (showTags=true)
      value:
        url: https://obs.api.dtn.com/v2/observations?stationCode=CPTR3&parameters=airTemp,windSpeed&startTime=2025-01-22T00%3A00%3A00Z&endTime=2025-01-22T01%3A00%3A00Z&showTags=true
        type: FeatureCollection
        features:
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -0.45
            - 51.4833
          properties:
            tags:
              name: London Weather Station
              mgID: LDN001
            '2025-01-22T00:00:00Z':
              airTemp: 3
              windSpeed: 2.06
            '2025-01-22T00:20:00Z':
              airTemp: 3
              windSpeed: 1.54
            '2025-01-22T00:50:00Z':
              airTemp: 3
              windSpeed: 1.54
            '2025-01-22T01:00:00Z':
              airTemp: 2.9
              windSpeed: 1.54
    Observations_with_showTags_false:
      summary: Response without station tags (showTags=false or omitted)
      value:
        url: https://obs.api.dtn.com/v2/observations?stationCode=CPTR3&parameters=airTemp,windSpeed&startTime=2025-01-22T00%3A00%3A00Z&endTime=2025-01-22T01%3A00%3A00Z&showTags=false
        type: FeatureCollection
        features:
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -0.45
            - 51.4833
          properties:
            '2025-01-22T00:00:00Z':
              airTemp: 3
              windSpeed: 2.06
            '2025-01-22T00:20:00Z':
              airTemp: 3
              windSpeed: 1.54
            '2025-01-22T00:50:00Z':
              airTemp: 3
              windSpeed: 1.54
            '2025-01-22T01:00:00Z':
              airTemp: 2.9
              windSpeed: 1.54
    Observations_Endpoint_Core_Scope:
      summary: Response for the accounts with Core Scope
      value:
        url: https://obs.api.dtn.com/v2/observations?stationCode=CPTR3&parameters=airTemp,windSpeed,wbgt&startTime=2025-01-22T00%3A00%3A00Z&endTime=2025-01-22T01%3A00%3A00Z&obsProperties=True
        type: FeatureCollection
        features:
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -0.45
            - 51.4833
          properties:
            '2025-01-22T00:00:00Z':
              airTemp: 3
              airTempProperties:
                obsType: SYNOP
                isDerived: false
                qc: pass
              windSpeed: 2.06
              windSpeedProperties:
                obsType: SYNOP
                isDerived: false
                qc: pass
            '2025-01-22T00:20:00Z':
              airTemp: 3
              airTempProperties:
                obsType: METAR
                isDerived: false
                qc: pass
              windSpeed: 1.54
              windSpeedProperties:
                obsType: METAR
                isDerived: false
                qc: pass
            '2025-01-22T00:50:00Z':
              airTemp: 3
              airTempProperties:
                obsType: METAR
                isDerived: false
                qc: pass
              windSpeed: 1.54
              windSpeedProperties:
                obsType: METAR
                isDerived: false
                qc: pass
            '2025-01-22T01:00:00Z':
              airTemp: 2.9
              airTempProperties:
                obsType: SYNOP
                isDerived: false
                qc: pass
              windSpeed: 1.54
              windSpeedProperties:
                obsType: SYNOP
                isDerived: false
                qc: pass
    Observations_Endpoint_Plus_Scope:
      summary: Response for the accounts with Plus Scope
      value:
        url: https://obs.api.dtn.com/v2/observations?stationCode=CPTR3&parameters=airTemp,windSpeed,wbgt&startTime=2025-01-22T00%3A00%3A00Z&endTime=2025-01-22T01%3A00%3A00Z&obsProperties=True
        type: FeatureCollection
        features:
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -0.45
            - 51.4833
          properties:
            '2025-01-22T00:00:00Z':
              airTemp: 3
              airTempProperties:
                obsType: SYNOP
                isDerived: false
                qc: pass
              windSpeed: 2.06
              windSpeedProperties:
                obsType: SYNOP
                isDerived: false
                qc: pass
              wbgt: 2.4
              wbgtProperties:
                obsType: SYNOP
                isDerived: true
                qc: pass
            '2025-01-22T00:20:00Z':
              airTemp: 3
              airTempProperties:
                obsType: METAR
                isDerived: false
                qc: pass
              windSpeed: 1.54
              windSpeedProperties:
                obsType: METAR
                isDerived: false
                qc: pass
              wbgt: 2.2
              wbgtProperties:
                obsType: METAR
                isDerived: true
                qc: pass
            '2025-01-22T00:50:00Z':
              airTemp: 3
              airTempProperties:
                obsType: METAR
                isDerived: false
                qc: pass
              windSpeed: 1.54
              windSpeedProperties:
                obsType: METAR
                isDerived: false
                qc: pass
              wbgt: 2.2
              wbgtProperties:
                obsType: METAR
                isDerived: true
                qc: pass
            '2025-01-22T01:00:00Z':
              airTemp: 2.9
              airTempProperties:
                obsType: SYNOP
                isDerived: false
                qc: pass
              windSpeed: 1.54
              windSpeedProperties:
                obsType: SYNOP
                isDerived: false
                qc: pass
              wbgt: 2.4
              wbgtProperties:
                obsType: SYNOP
                isDerived: true
                qc: pass
  securitySchemes:
    clientCredentials:
      type: oauth2
      x-receive-token-in: request-body
      flows:
        clientCredentials:
          tokenUrl: https://api.auth.dtn.com/v1/tokens/authorize
      description: "# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the DTN Observation API, you need to use the following audience: https://weather.api.dtn.com/observations\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "
