openapi: 3.2.0
info:
  title: DTN Aviation Full PIREP API
  description: DTN Aviation Full API
  version: 1.1.0
servers:
- url: https://aviation.api.dtn.com
security:
- clientCredentials: []
tags:
- name: PIREP
  description: On demand PIREPS via API
paths:
  /v1/pireps/:
    get:
      tags:
      - PIREP
      summary: Get PIREPs for a Station
      description: Get all available PIREPs for a specific Station ID
      responses:
        '200':
          $ref: '#/components/responses/PirepSuccess'
        '400':
          $ref: '#/components/responses/PirepBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
      parameters:
      - $ref: '#/components/parameters/QueryStationId'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      security:
      - clientCredentials: []
      operationId: getV1Pireps
      x-operation-id-source: derived
components:
  schemas:
    Error:
      title: Error
      description: Error
      required:
      - type
      - title
      - status
      - detail
      - meta
      type: object
      properties:
        url:
          type: string
        type:
          enum:
          - internal-server-error
          - unauthorized
          - bad-request
          - service-unavailable
          - forbidden
          - not-found
          type: string
        title:
          type: string
        status:
          type: number
        detail:
          type: string
        instance:
          type: string
        errors:
          type: array
          items:
            type: object
        meta:
          $ref: '#/components/schemas/Meta'
    PirepFeatureCollection:
      description: GeoJSon 'FeatureCollection' object
      externalDocs:
        url: https://tools.ietf.org/html/rfc7946#section-3.3
      allOf:
      - $ref: '#/components/schemas/GeoJsonObject'
      - type: object
        required:
        - features
        properties:
          features:
            type: array
            items:
              $ref: '#/components/schemas/PirepFeature'
    PirepFeature:
      description: GeoJSon 'Feature' object
      externalDocs:
        url: https://tools.ietf.org/html/rfc7946#section-3.2
      allOf:
      - $ref: '#/components/schemas/GeoJsonObject'
      - type: object
        required:
        - geometry
        - properties
        properties:
          geometry:
            allOf:
            - {}
            - $ref: '#/components/schemas/Geometry'
          properties:
            $ref: '#/components/schemas/PirepItem'
          id:
            oneOf:
            - type: number
            - type: string
    GeoJsonObject:
      description: 'GeoJSon object The coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.

        '
      externalDocs:
        url: https://tools.ietf.org/html/rfc7946#section-3
      type: object
      properties:
        type:
          type: string
          enum:
          - Feature
          - FeatureCollection
          - Point
          - MultiPoint
          - LineString
          - MultiLineString
          - Polygon
          - MultiPolygon
          - GeometryCollection
        bbox:
          description: 'A GeoJSON object MAY have a member named "bbox" to include information on the coordinate range for its Geometries, Features, or FeatureCollections. The value of the bbox member MUST be an array of length 2*n where n is the number of dimensions represented in the contained geometries, with all axes of the most southwesterly point followed by all axes of the more northeasterly point. The axes order of a bbox follows the axes order of geometries.

            '
          type: array
          items:
            type: number
      required:
      - type
      discriminator:
        propertyName: type
    Meta:
      title: Meta
      description: Meta data attached to every response
      required:
      - name
      - request_id
      - start_timestamp
      - end_timestamp
      - execution_time
      type: object
      properties:
        name:
          type: string
        request_id:
          type: string
        start_timestamp:
          type: integer
        end_timestamp:
          type: integer
        execution_time:
          type: integer
    PirepItem:
      type: object
      required:
      - raw_text
      - typeOfAircraft
      - stationId
      - issueOffice
      - validDateTime
      - flightLevelLow
      - flightLevelHigh
      properties:
        raw_text:
          type: string
        typeOfAircraft:
          type: string
        stationId:
          type: string
        issueOffice:
          type: string
        validDateTime:
          type: string
          format: date-time
        flightLevelLow:
          type: number
        flightLevelHigh:
          type: number
    Geometry:
      type: object
      description: GeoJSon geometry
      discriminator:
        propertyName: type
      required:
      - type
      externalDocs:
        url: http://geojson.org/geojson-spec.html#geometry-objects
      properties:
        type:
          type: string
          enum:
          - Point
          - LineString
          - Polygon
          - MultiPoint
          - MultiLineString
          - MultiPolygon
          description: the geometry type
  parameters:
    QueryOffset:
      name: offset
      description: Skip over this many into the response set; used for paginated results.  Default = 0
      in: query
      required: false
      schema:
        type: integer
        default: 0
    QueryStationId:
      name: stationId
      description: Station identifier, e.g., `KIND`, `CYYC`
      in: query
      required: true
      schema:
        type: string
    QueryLimit:
      name: limit
      description: Provide no more than this many items in the response set.  Default = 1000
      in: query
      required: false
      schema:
        type: integer
        default: 1000
        minimum: 1
        maximum: 10000
  examples:
    PirepBadRequestResponse:
      value:
        url: https://aviation.api.dtn.comv1/pireps?stationId=IND&offset=-1
        type: bad-request
        title: Invalid Request
        status: 400
        detail: Validation failed.
        instance: urn:dtn:aviation-api:/v1/pireps:requestId:0a73a828-8415-4bb7-ac36-02322a3f0e19
        errors:
        - message: '`offset` query must be Integer zero or greater'
          parameter: offset
          value: -1
        meta:
          name: v1.pireps?stationId=IND&offset=-1
          uuid: e288fbbb-cd74-4c54-8c8e-78d0939fa309
          request_id: 0a73a828-8415-4bb7-ac36-02322a3f0e19
          start_timestamp: 1714683025786
          end_timestamp: 1714683026098
          execution_time: 312
    PirepSuccessResponse:
      value:
        url: https://aviation.api.dtn.com/v1/pireps/?stationId=IND&limit=2
        type: FeatureCollection
        features:
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -77.2
            - 39.933
          properties:
            raw_text: MDT UA /OV 10S HAR/TM 2355/FL070/TP SR22/SK OVC069/TA -9/IC -RIME
            typeOfAircraft: SR22
            stationId: HAR
            issueOffice: MDT
            validDateTime: '2024-04-24T23:55:00.000Z'
            flightLevelLow: 7000
            flightLevelHigh: 7000
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -71.437
            - 42.934
          properties:
            raw_text: MHT UUA /OV MHT/TM 2356/FL010/TP BE99/RM DURD RWY35 +-10KTS BLO010
            typeOfAircraft: BE99
            stationId: MHT
            issueOffice: MHT
            validDateTime: '2024-04-24T23:56:00.000Z'
            flightLevelLow: 1000
            flightLevelHigh: 1000
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - 0
            - 0
          properties:
            raw_text: SAT UA /OV 1TT8 /TM 2357 /FL008 /TP P28A /SK SKC
            typeOfAircraft: P28A
            stationId: 1TT8
            issueOffice: SAT
            validDateTime: '2024-04-24T23:57:00.000Z'
            flightLevelLow: 800
            flightLevelHigh: 800
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -82.61
            - 40.731
          properties:
            raw_text: CLE UA /OV 7 SW MFD/TM 2330/FLDURC/TP P28A/SK B043 T055/TA 4/IC TRACE   CLEAR
            typeOfAircraft: P28A
            stationId: MFD
            issueOffice: CLE
            validDateTime: '2024-04-24T23:30:00.000Z'
            flightLevelLow: 0
            flightLevelHigh: 0
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -79.105
            - 34.178
          properties:
            raw_text: FLO UA /OV FLO090030/TM 0000/FL150/TP A319/SK TOP150
            typeOfAircraft: A319
            stationId: FLO
            issueOffice: FLO
            validDateTime: '2024-04-25T00:00:00.000Z'
            flightLevelLow: 15000
            flightLevelHigh: 15000
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -85.302
            - 33.306
          properties:
            raw_text: LGC UA /OV LGC326022/TM 0001/FL290/TP B737/TB CONS LGT CHOP/RM   ZTLFD-03
            typeOfAircraft: B737
            stationId: LGC
            issueOffice: LGC
            validDateTime: '2024-04-25T00:01:00.000Z'
            flightLevelLow: 29000
            flightLevelHigh: 29000
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -77.2
            - 40.1
          properties:
            raw_text: MDT UA /OV HAR/TM 0003/FL070/TP C182/TB -6/IC -RIME
            typeOfAircraft: C182
            stationId: HAR
            issueOffice: MDT
            validDateTime: '2024-04-25T00:03:00.000Z'
            flightLevelLow: 7000
            flightLevelHigh: 7000
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - 0
            - 0
          properties:
            raw_text: PAE UA /OV PAET/TM 0000/FL025/TP B738/SK OVC015-TOP025/RM DURD
            typeOfAircraft: B738
            stationId: PAET
            issueOffice: PAE
            validDateTime: '2024-04-25T00:00:00.000Z'
            flightLevelLow: 2500
            flightLevelHigh: 2500
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -106.732
            - 35.038
          properties:
            raw_text: ABQ UA /OV ABQ272007/TM 2352/FL161/TP CRJ7/TB CONS/RM ZAB/FDCS
            typeOfAircraft: CRJ7
            stationId: ABQ
            issueOffice: ABQ
            validDateTime: '2024-04-24T23:52:00.000Z'
            flightLevelLow: 16100
            flightLevelHigh: 16100
        - type: Feature
          geometry:
            type: Point
            coordinates:
            - -102.812
            - 36.643
          properties:
            raw_text: AMA UA /OV DHT340040/TM 0006/FL330/TP A21N/TB MOD CHOP/RM ZAB/FDCS
            typeOfAircraft: A21N
            stationId: DHT
            issueOffice: AMA
            validDateTime: '2024-04-25T00:06:00.000Z'
            flightLevelLow: 33000
            flightLevelHigh: 33000
        meta:
          name: v1.pireps?stationId=IND&limit=10
          uuid: 88787e61-8907-41e1-9efa-4103af2108d3
          request_id: 091fee2b-b6cf-483e-b8db-ed38c0b131be
          start_timestamp: 1714681278028
          end_timestamp: 1714681279690
          execution_time: 1662
  responses:
    ErrorUnauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            type: unauthorized
            title: Error while authenticating the user
            status: 401
            detail: Missing Authorization token.
            instance: urn:dtn:aviation-api:/v1/notams/KIND:requestId:19e1b83a-cb2e-4460-b687-ce9d0c50b4b6
            meta:
              name: v1.notams.KIND
              uuid: d64fc634-9bee-430d-8ab1-200337e6e9b2
              request_id: 19e1b83a-cb2e-4460-b687-ce9d0c50b4b6
              start_timestamp: 1714019217213
              end_timestamp: 1714019217246
              execution_time: 33
    PirepSuccess:
      description: Successful
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PirepFeatureCollection'
          examples:
            Success:
              $ref: '#/components/examples/PirepSuccessResponse'
    PirepBadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            BadRequest:
              $ref: '#/components/examples/PirepBadRequestResponse'
  securitySchemes:
    clientCredentials:
      type: oauth2
      x-receive-token-in: request-body
      flows:
        clientCredentials:
          tokenUrl: https://api.auth.dtn.com/v1/tokens/authorize
      description: "# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the DTN Websocket API, you need to use the following audience: https://dev-portal.dev.coreservices.zones.dtn.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "
