{"openapi":"3.0.0","info":{"title":"DTN Marine Weather API","version":"1.0.0","x-logo":{"url":"https://www.dtn.com/wp-content/uploads/2019/03/dtn-logo-tag.png","altText":"https://www.dtn.com"},"description":"# Introduction\nWelcome to DTN’s Marine Weather API – the gateway to global forecast and historical marine weather conditions. This API caters to a wide range of users, including:\n  * Scientists engaged in climate research\n  * Shipping companies analyzing fleet performance\n  * Offshore platforms enhancing weather safety measures\n  * Software developers building maritime applications\n\n\n**Key features:** The Marine Weather API provides a time series of forecast and historical parameters, including wave heights, wind speed and direction, current direction, and more. It leverages state-of-the-art cloud technology and DTN's extensive global metocean forecast models. The data is continuously validated, calibrated, and enhanced with the latest satellite data, buoy measurements, and observation networks.\n\n**Conditions at a location:** For simplicity, the API provides a single endpoint for both historical and forecast data. Specify an ocean location, the marine parameters of interest, and a time range up to 10 days long, from 10 years in the past to 10 days in the future. The API responds with the requested time series in GeoJSON format for easy parsing.\n\n**Conditions along a route:** For users dealing with numerous waypoints and timestamps, the API provides a second endpoint tailored for bulk requests along a route. This feature provides marine conditions at each location and timestamp pair for applications that are more complex.\n\nThe interactive documentation that follows is a guide to setting up requests, understanding responses, and leveraging all the features of DTN’s Marine Weather API.\n# Getting Started\n## Obtaining credentials\nTo get started, all users need their own client ID and client secret. Please contact an account manager or the [DTN sales team](https://www.dtn.com/contact-us/) to obtain these. Then, review the `Authentication` section to learn how to request an API access token. Do not share or use others' API credentials, since doing so may compromise information security.\n\n## Making requests\nThere are multiple ways to make an initial API request:\n\n**1. Interactive documentation:** Navigate to the `Authentication` section on this page, insert credentials to obtain an access token, then explore the API endpoints described in the `Endpoints` section.\n\n**2. Postman collection:** For a hands-on approach, consider downloading the Postman collection and environment from the top of this page. Insert credentials and start testing the API in Postman's interactive application.\n\n**3. Writing code:** Ready to start coding? Try the Python example below, replacing `client_id` and `client_secret` with proper credentials.  This invokes the Marine Conditions endpoint with a GET request and prints the response.\n\n```python\n  import requests\n\n  #--- Obtain an API access token ---\n\n  auth_url = 'https://api.auth.dtn.com/v1/tokens/authorize'\n\n  body = {\n      'grant_type': 'client_credentials',\n      'client_id': '...insert your client id here...',\n      'client_secret': '...insert your client secret here...',\n      'audience': 'https://weather.api.dtn.com/conditions/marine'\n  }\n  response = requests.post(auth_url, json=body)\n  access_token = response.json()['data']['access_token']\n\n  #--- Invoke the API ---\n\n  api_base_url = 'https://weather.api.dtn.com/v1'\n  query_parameters = '&'.join([\n      'lat=55.81',\n      'lon=3.88',\n      'startTime=2023-07-11T00:06:10Z',\n      'endTime=2023-07-19T00:06:10Z',\n  ])\n  endpoint = '/conditions/marine?' + query_parameters\n\n  headers = {'Authorization': 'Bearer ' + access_token}\n  response = requests.get(api_base_url + endpoint, headers=headers)\n\n  #--- Print the response ---\n\n  print(response.json())\n```\n## Latitude and longitude in the response\nRequested latitudes and longitudes are rounded to three (3) decimal places when presented in `$.features.*.geometry.coordinates`. Floating point precision might affect the last digit.\n### Rounding examples\n* 1.5555 => 1.556\n* 1.5545 => 1.554\n* -1.5555 => -1.556"},"servers":[{"url":"https://weather.api.dtn.com"}],"tags":[{"name":"Endpoints","description":"The Marine Weather API has 3 endpoints that each cater to a specific need, such as the time series at a single location, conditions at multiple location and timestamp pairs along a route, or the associated metadata."},{"name":"Parameters","description":"The Marine Weather API offers two categories of marine weather parameters: forecast and historical. These provide detailed insights for planning future marine operations or analyzing past weather patterns during specific voyages and offshore operations.\n## Forecast Parameters\nForecast parameters provide predictive marine weather data for up to 10 days in the future. Expand the table below to view available parameters and each one's description, unit of measurement, and whether it is a default. The API returns only defaults unless specific parameters are requested.\n<details> <summary>Click to expand...</summary>\n\n| Parameter Name                                | Default           | Description                                                                                                                                                                                     | Units            |\n|-----------------------------------------------|-------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------|\n| airDensity                                    |                   | Air density at 10 metres above ground.                                                                                                                                                          | kilogram per cubic meter |       \n| airPressureMeanSeaLevel                       | Yes               | Air pressure at mean sea level                                                                                                                                                                  | hectoPascal      |\n| airTemp                                       | Yes               | Air temperature at 2m                                                                                                                                                                           | degree Celsius   |\n| airTemp10m                                    |                   | Air temperature at 10m                                                                                                                                                                          | degree Celsius   |\n| airTemp50m                                    |                   | Air temperature at 50m                                                                                                                                                                          | degree Celsius   |\n| airTemp100m                                   |                   | Air temperature at 100m                                                                                                                                                                         | degree Celsius   |\n| dewPoint                                      |                   | Dew point temperature at 2m                                                                                                                                                                     | degree Celsius   |\n| geopotentialHeight500hpa                      |                   | Indicates the altitude where atmospheric pressure is 500 hPa. It's a key metric for understanding mid-tropospheric conditions                                                                   | meter            |\n| firstSwellMeanPeriod                          |                   | Mean period of primary swell                                                                                                                                                                    | second           |\n| firstSwellPeakPeriod                          |                   | Smoothed inverse frequency of the group of waves with the highest energy in the first swell section of the spectrum                                                                             | second           |\n| firstSwellSignificantWaveHeight               |                   | Spectral approximation of the observed mean wave height of the largest 33% of the waves in the first swell section of the spectrum within a 20 minute window                                    | meter            |\n| firstSwellMeanWaveDirection                   |                   | Mean direction from which waves in the first swell section of the spectrum are arriving (meteorological convention: zero means coming from the north)                                           | degree           |\n| iceAccretionSeverity                          |                   | Risk of ice formation on vessel from freezing sea spray                                                                                                                                         | unitless         |\n| lightningProb                                 |                   | Specifies the probability of lightning occurring at a given latitude and longitude                                                                                                              | percentage       |\n| maximumWaveHeight                             |                   | Mean of 1% highest waves or 1.67 * Hm0 according to deep water Rayleigh distribution (total seastate only)                                                                                      | meter            |\n| meanWaveDirection                             | Yes               | Mean direction from which waves are arriving (meteorological convention: zero means coming from the north)                                                                                      | degree           |\n| meanWaveDirectionalSpreading                  |                   | Directional focus of waves                                                                                                                                                                      | degree           |\n| meanWavePeriodTm02                            |                   | Spectral approximation of the observed zero upcrossing wave period                                                                                                                              | second           |\n| meanWavePeriodTmm10                           |                   | Tmm10 is usually meant when Tm is not fully specified and is particularly sensitive to energy in the lower frequency range                                                                      | second           |\n| peakPeriod                                    |                   | Smoothed inverse frequency of the group of waves with the highest energy                                                                                                                        | second           |\n| precipAmount1h                                |                   | Amount of precipitation in the past hour                                                                                                                                                        | millimeter       |\n| precipProb                                    |                   | Probability of precipitation.                                                                                                                                                                   | percentage       |\n| relativeHumidity                              |                   | Relative humidity at 2m                                                                                                                                                                         | percentage       |\n| seaIceConcentration                           |                   | Percentage of the sea ice forecasted for the requested location.                                                                                                                                | percentage       |\n| seaSurfaceHeightAnomalyAstronomic             |                   | Deviations of the sea surface height from the mean sea surface level due to astronomical forcing (tidal elevation).                                                                             | meter            |\n| seaSurfaceHeightAnomalyResidual               |                   | Deviations of the sea surface height from the mean sea surface level due to storm surge and wave dynamics.                                                                                      | meter            |\n| seaSurfaceHeightAnomalyTotal                  |                   | Deviations of the sea surface height from the mean sea surface level due to astronomical forcing (tidal elevation), storm surge, and wave dynamics.                                             | meter            |\n| seaSurfaceSalinity                            |                   | Sea surface salinity is the salt content of sea water close to the sea surface given as parts per 1000                                                                                          | gram per kilogram|\n| seaSurfaceTemp                                | Yes               | Sea surface temperature                                                                                                                                                                         | degree Celsius   |\n| seaWaterChlorophyll                           |                   | Sea water mass concentration of chlorophyll at 0.49 meters                                                                                                                                      | milligram per cubic meter    |\n| seaWaterIron                                  |                   | Sea water mole concentration of dissolved iron at 0.49 meters                                                                                                                                   | millimole per cubic meter    |\n| seaWaterNitrate                               |                   | Sea water mole concentration of nitrate at 0.49 meters                                                                                                                                          | millimole per cubic meter    |\n| seaWaterPhosphate                             |                   | Sea water mole concentration of phosphate at 0.49 meters                                                                                                                                        | millimole per cubic meter    |\n| seaWaterSilicate                              |                   | Sea water mole concentration of silicate at 0.49 meters                                                                                                                                         | millimole per cubic meter     |\n| secondSwellMeanPeriod                         |                   | Mean period of secondary swell                                                                                                                                                                  | second           |\n| secondSwellPeakPeriod                         |                   | Smoothed inverse frequency of the group of waves with the highest energy in the second swell section of the spectrum                                                                            | second           |\n| secondSwellSignificantWaveHeight              |                   | Spectral approximation of the observed mean wave height of the largest 33% of the waves in the second swell section of the spectrum within a 20 minute window                                   | meter            |\n| secondSwellMeanWaveDirection                  |                   | Mean direction from which waves in the second swell section of the spectrum are arriving (meteorological convention: zero means coming from the north)                                          | degree           |\n| significantWaveHeight                         | Yes               | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window                                                                               | meter            |\n| significantWaveHeightRiskP90                  |                   | Significant wave height multiplied by 90-percentile of ratios computed by dividing forecasted significant wave heights by an observed value for a given time and location (total seastate only) | meter            |\n| statisticalMaximumWaveHeight                  |                   | Statistical maximum individual wave height, 99.9th percentile                                                                                                                                   | meter            |\n| totalCurrentDirection                         | Yes               | Total current direction (oceanographic convention) from tidal and general ocean circulation                                                                                                     | degree           |\n| totalCurrentVelocity                          | Yes               | Total current velocity from tidal and general ocean circulation                                                                                                                                 | meter per second |\n| totalSwellMeanWaveDirection                   | Yes               | Mean direction from which waves are arriving (meteorological convention: zero means coming from the north)                                                                                      | degree           |\n| totalSwellMeanWaveDirectionalSpreading        |                   | Swell 1 of 1 spectral directional focus of waves                                                                                                                                                | degree           |\n| totalSwellMeanWavePeriodTm02                  |                   | Swell 1 of 1 spectral approximation of the observed zero upcrossing wave period                                                                                                                 | second           |\n| totalSwellMeanWavePeriodTmm10                 |                   | Swell 1 of 1 Tmm10 is usually meant when Tm is not fully specified and is particularly sensitive to energy in the lower frequency range                                                         | second           |\n| totalSwellPeakPeriod                          |                   | Smoothed inverse frequency of the group of waves with the highest energy                                                                                                                        | second           |\n| totalSwellSignificantWaveHeight               | Yes               | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window                                                                               | meter            |\n| visibility                                    | Yes               | Distance at which something can be seen                                                                                                                                                         | kilometer        |\n| weatherCode                                   |                   | Numerical code summarizing the weather conditions. See `Weather Codes and Icons` section.                                                                                                       | unitless         |\n| windDirection10m                              | Yes               | Wind direction at 10m                                                                                                                                                                           | degree           |\n| windDirection50m                              |                   | Wind direction at 50m                                                                                                                                                                           | degree           |\n| windDirection100m                             |                   | Wind direction at 100m                                                                                                                                                                          | degree           |\n| windGust10m                                   |                   | Wind gust at 10m                                                                                                                                                                                | meter per second |\n| windGust50m                                   |                   | Wind gust at 50m                                                                                                                                                                                | meter per second |\n| windGust100m                                  |                   | Wind gust at 100m                                                                                                                                                                               | meter per second |\n| windSpeed10m                                  | Yes               | Wind speed at 10m                                                                                                                                                                               | meter per second |\n| windSpeed50m                                  |                   | Wind speed at 50m                                                                                                                                                                               | meter per second |\n| windSpeed100m                                 |                   | Wind speed at 100m                                                                                                                                                                              | meter per second |\n| windSpeed10mRiskP90                           |                   | Represents the 90th percentile risk value of wind speed at 10 meters above ground level                                                                                                         | meter per second |\n| windWaveMeanWaveDirection                     | Yes               | Mean direction from which waves are arriving (meteorological convention: zero means coming from the north considering the windwave part of the spectrum)                                        | degree           |\n| windWaveMeanWaveDirectionalSpreading          |                   | Directional focus of waves considering the windwave part of the spectrum                                                                                                                        | degree           |\n| windWaveMeanWavePeriodTm02                    |                   | Spectral approximation of the observed zero upcrossing wave period considering the windwave part of the spectrum                                                                                | second           |\n| windWaveMeanWavePeriodTmm10                   |                   | Tmm10 is usually meant when Tm is not fully specified and is particularly sensitive to energy in the lower frequency range considering the windwave part of the spectrum                        | second           |\n| windWavePeakPeriod                            |                   | Smoothed inverse frequency of the group of waves with the highest energy considering the windwave part of the spectrum                                                                          | second           |\n| windWaveSignificantWaveHeight                 | Yes               | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window considering the windwave part of the spectrum                                 | meter            |\n</details>\n\n## Historical Parameters\nHistorical parameters are available for up to 10 years in the past. Expand the table below to view available parameters and each one's description, unit of measurement, and whether it is a default. The API returns only defaults unless specific parameters are requested.\n<details> <summary>Click to expand...</summary>\n\n| Parameter Name                                | Default           | Description                                                                                                                                                                                     | Units            |\n|-----------------------------------------------|-------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------|\n| airDensity                                    |                   | Air density at 10 metres above ground.                                                                                                                                                          | kilogram per cubic meter |       \n| airPressureMeanSeaLevel                       | Yes               | Air pressure at mean sea level                                                                                                                                                                  | hectoPascal      |\n| airTemp                                       | Yes               | Air temperature at 2m                                                                                                                                                                           | degree Celsius   |\n| maximumWaveHeight                             |                   | Mean of 1% highest waves or 1.67 * Hm0 according to deep water Rayleigh distribution (total seastate only)                                                                                      | meter            |\n| meanWaveDirection                             | Yes               | Mean direction from which waves are arriving (meteorological convention: zero means coming from the north)                                                                                      | degree           |\n| meanWaveDirectionalSpreading                  |                   | Directional focus of waves                                                                                                                                                                      | degree           |\n| meanWavePeriodTm02                            |                   | Spectral approximation of the observed zero upcrossing wave period                                                                                                                              | second           |\n| meanWavePeriodTmm10                           |                   | Tmm10 is usually meant when Tm is not fully specified and is particularly sensitive to energy in the lower frequency range                                                                      | second           |\n| peakPeriod                                    |                   | Smoothed inverse frequency of the group of waves with the highest energy                                                                                                                        | second           |\n| precipAmount1h                                |                   | Amount of precipitation in the past hour                                                                                                                                                        | millimeter       |\n| seaSurfaceTemp                                | Yes               | Sea surface temperature                                                                                                                                                                         | degree Celsius   |\n| significantWaveHeight                         | Yes               | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window                                                                               | meter            |\n| totalCurrentDirection                         | Yes               | Total current direction (oceanographic convention) from tidal and general ocean circulation                                                                                                     | degree           |\n| totalCurrentVelocity                          | Yes               | Total current velocity from tidal and general ocean circulation                                                                                                                                 | meter per second |\n| totalSwellMeanWaveDirection                   | Yes               | Mean direction from which waves are arriving (meteorological convention: zero means coming from the north)                                                                                      | degree           |\n| totalSwellMeanWaveDirectionalSpreading        |                   | Swell 1 of 1 spectral directional focus of waves                                                                                                                                                | degree           |\n| totalSwellMeanWavePeriodTm02                  |                   | Swell 1 of 1 spectral approximation of the observed zero upcrossing wave period                                                                                                                 | second           |\n| totalSwellMeanWavePeriodTmm10                 |                   | Swell 1 of 1 Tmm10 is usually meant when Tm is not fully specified and is particularly sensitive to energy in the lower frequency range                                                         | second           |\n| totalSwellPeakPeriod                          |                   | Smoothed inverse frequency of the group of waves with the highest energy                                                                                                                        | second           |\n| totalSwellSignificantWaveHeight               | Yes               | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window                                                                               | meter            |\n| visibility                                    | Yes               | Distance at which something can be seen                                                                                                                                                         | kilometer        |\n| weatherCode                                   |                   | Numerical code summarizing the weather conditions. See `Weather Codes and Icons` section.                                                                                                       | unitless         |\n| windDirection10m                              | Yes               | Wind direction at 10m                                                                                                                                                                           | degree           |\n| windDirection50m                              |                   | Wind direction at 50m                                                                                                                                                                           | degree           |\n| windDirection100m                             |                   | Wind direction at 100m                                                                                                                                                                          | degree           |\n| windGust10m                                   |                   | Wind gust at 10m                                                                                                                                                                                | meter per second |\n| windGust50m                                   |                   | Wind gust at 50m                                                                                                                                                                                | meter per second |\n| windGust100m                                  |                   | Wind gust at 100m                                                                                                                                                                               | meter per second |\n| windSpeed10m                                  | Yes               | Wind speed at 10m                                                                                                                                                                               | meter per second |\n| windSpeed50m                                  |                   | Wind speed at 50m                                                                                                                                                                               | meter per second |\n| windSpeed100m                                 |                   | Wind speed at 100m                                                                                                                                                                              | meter per second |\n| windWaveMeanWaveDirection                     | Yes               | Mean direction from which waves are arriving (meteorological convention: zero means coming from the north considering the windwave part of the spectrum)                                        | degree           |\n| windWaveMeanWaveDirectionalSpreading          |                   | Directional focus of waves considering the windwave part of the spectrum                                                                                                                        | degree           |\n| windWaveMeanWavePeriodTm02                    |                   | Spectral approximation of the observed zero upcrossing wave period considering the windwave part of the spectrum                                                                                | second           |\n| windWaveMeanWavePeriodTmm10                   |                   | Tmm10 is usually meant when Tm is not fully specified and is particularly sensitive to energy in the lower frequency range considering the windwave part of the spectrum                        | second           |\n| windWavePeakPeriod                            |                   | Smoothed inverse frequency of the group of waves with the highest energy considering the windwave part of the spectrum                                                                          | second           |\n| windWaveSignificantWaveHeight                 | Yes               | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window considering the windwave part of the spectrum                                 | meter            |\n</details>\n\n## Wave Partitions Parameters\nThese parameters are available from the wave partitions endpoint. Expand the table below to view available parameters and each one's description, unit of measurement, and whether it is a default. The API returns only defaults unless specific parameters are requested.\n<details> <summary>Click to expand...</summary>\n\n| Parameter Name                       | Default           | Description                                                                                                                                                                                     | Units  |\n|--------------------------------------|-------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|--------|\n| meanWaveDirectionPart1Of6            |      Yes          | Mean direction from which waves are arriving (partition 1 of 6 within the windwave spectrum)                                                                                                    | degree   |\n| meanWaveDirectionPart2Of6            |                   | Mean direction from which waves are arriving (partition 2 of 6 within the windwave spectrum)                                                                                                    | degree   |\n| meanWaveDirectionPart3Of6            |                   | Mean direction from which waves are arriving (partition 3 of 6 within the windwave spectrum)                                                                                                    | degree   |\n| meanWaveDirectionPart4Of6            |                   | Mean direction from which waves are arriving (partition 4 of 6 within the windwave spectrum)                                                                                                    | degree   |\n| meanWaveDirectionPart5Of6            |                   | Mean direction from which waves are arriving (partition 5 of 6 within the windwave spectrum)                                                                                                    | degree   |\n| meanWaveDirectionPart6Of6            |                   | Mean direction from which waves are arriving (partition 6 of 6 within the windwave spectrum)                                                                                                    | degree   |\n| meanWaveDirectionalSpreadingPart1Of6 |      Yes          | Directional focus of waves (partition 1 of 6 within the windwave spectrum)                                                                                                                      | degree   |\n| meanWaveDirectionalSpreadingPart2Of6 |                   | Directional focus of waves (partition 2 of 6 within the windwave spectrum)                                                                                                                      | degree   |\n| meanWaveDirectionalSpreadingPart3Of6 |                   | Directional focus of waves (partition 3 of 6 within the windwave spectrum)                                                                                                                      | degree   |\n| meanWaveDirectionalSpreadingPart4Of6 |                   | Directional focus of waves (partition 4 of 6 within the windwave spectrum)                                                                                                                      | degree   |\n| meanWaveDirectionalSpreadingPart5Of6 |                   | Directional focus of waves (partition 5 of 6 within the windwave spectrum)                                                                                                                      | degree   |\n| meanWaveDirectionalSpreadingPart6Of6 |                   | Directional focus of waves (partition 6 of 6 within the windwave spectrum)                                                                                                                      | degree   |\n| peakPeriodPart1Of6                   |      Yes          | Discrete or smoothed inverse frequency of the group of waves with the highest energy (partition 1 of 6 within the windwave spectrum)                                                            | second     |\n| peakPeriodPart2Of6                   |                   | Discrete or smoothed inverse frequency of the group of waves with the highest energy (partition 2 of 6 within the windwave spectrum)                                                            | second     |\n| peakPeriodPart3Of6                   |                   | Discrete or smoothed inverse frequency of the group of waves with the highest energy (partition 3 of 6 within the windwave spectrum)                                                            | second     |\n| peakPeriodPart4Of6                   |                   | Discrete or smoothed inverse frequency of the group of waves with the highest energy (partition 4 of 6 within the windwave spectrum)                                                            | second     |\n| peakPeriodPart5Of6                   |                   | Discrete or smoothed inverse frequency of the group of waves with the highest energy (partition 5 of 6 within the windwave spectrum)                                                            | second     |\n| peakPeriodPart6Of6                   |                   | Discrete or smoothed inverse frequency of the group of waves with the highest energy (partition 6 of 6 within the windwave spectrum)                                                            | second     |\n| significantWaveHeightPart1Of6        |      Yes          | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window (partition 1 of 6 within the windwave spectrum)                               | meter     |\n| significantWaveHeightPart2Of6        |                   | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window (partition 2 of 6 within the windwave spectrum)                               | meter     |\n| significantWaveHeightPart3Of6        |                   | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window (partition 3 of 6 within the windwave spectrum)                               | meter     |\n| significantWaveHeightPart4Of6        |                   | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window (partition 4 of 6 within the windwave spectrum)                               | meter     |\n| significantWaveHeightPart5Of6        |                   | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window (partition 5 of 6 within the windwave spectrum)                               | meter     |\n| significantWaveHeightPart6Of6        |                   | Spectral approximation of the observed mean wave height of the largest 33% of the waves within a 20 minute window (partition 6 of 6 within the windwave spectrum)                               | meter     |\n</details>\n\n## Weather Codes and Icons\nExpand the table below to view available weather codes and each code's description.  If desired, obtain an icon for the weather code by substituing its filename into the following URL: https://static-assets.dtn.com/icons/weather-conditions/v1/{filename}.\n<details> <summary>Click to expand...</summary>\n\n| Weather code | Description           | Icon file names |\n|--------------|-----------------------|---------------- |\n| 1            | Clear skies           | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/clear skies.svg\"> clear skies.svg </a> <br> <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/clear_skies_night.svg\"> clear_skies_night.svg </a> |\n| 2            | Fair                  | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/fair.svg\"> fair.svg </a> <br> <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/fair_night.svg\"> fair_night.svg </a> |\n| 3            | Partly cloudy         | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/partly_cloudy.svg\"> partly_cloudy.svg </a> <br> <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/partly_cloudy_night.svg\"> partly_cloudy_night.svg </a>\t|\n| 4            | Mostly cloudy         | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/mostly_cloudy.svg\"> mostly_cloudy.svg </a> <br> <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/mostly_cloudy_night.svg\"> mostly_cloudy_night.svg </a>\t|\n| 5            | Cloudy                | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/cloudy.svg\"> cloudy.svg </a> |\n| 6            | Mist                  | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/mist.svg\"> mist.svg </a> |\n| 7            | Fog                   | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/fog.svg\"> fog.svg </a> |\n| 8            | Drizzle               | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/drizzle.svg\"> drizzle.svg </a>\t|\n| 9            | Rain                  | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/rain.svg\"> rain.svg </a> |\n| 10           | Heavy rain            | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/heavy_rain.svg\"> heavy_rain.svg </a> |\n| 11           | Freezing drizzle      | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/freezing_drizzle.svg\"> freezing_drizzle.svg </a>\t|\n| 12           | Freezing rain         | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/freezing_rain.svg\"> freezing_rain.svg </a>\t|\n| 13           | Freezing heavy rain   | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/freezing_heavy_rain.svg\"> freezing_heavy_rain.svg </a>\t|\n| 14           | Rain and snow         | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/rain_and_snow.svg\"> rain_and_snow.svg </a> |\n| 15           | Heavy rain and snow   | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/heavy_rain_and_snow.svg\"> heavy_rain_and_snow.svg </a>\t|\n| 16           | Snow                  | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/snow.svg\"> snow.svg </a>\t|\n| 17           | Heavy snow            | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/heavy_snow.svg\"> heavy_snow.svg </a>\t|\n| 18           | Blizzard              | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/blizzard.svg\"> blizzard.svg </a>\t|\n| 19           | Ice pellets           | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/ice_pellets.svg\"> ice_pellets.svg </a> |\n| 20           | Rain showers          | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/rain_showers.svg\"> rain_showers.svg </a> |\n| 21           | Heavy rain showers    | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/heavy_rain_showers.svg\"> heavy_rain_showers.svg </a>\t|\n| 22           | Freezing rain showers | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/freezing_rain_showers.svg\"> freezing_rain_showers.svg </a>\t|\n| 23           | Heavy freezing rain showers | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/heavy_freezing_rain_showers.svg\"> heavy_freezing_rain_showers.svg </a>\t|\n| 24           | Rain and snow showers | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/rain_and_snow_showers.svg\"> rain_and_snow_showers.svg </a> |\n| 25           | Heavy rain and snow showers | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/heavy_rain_and_snow_showers.svg\"> heavy_rain_and_snow_showers.svg </a>\t|\n| 26           | Snow showers          | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/snow_showers.svg\"> snow_showers.svg </a>\t|\n| 27           | Heavy snow showers    | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/heavy_snow_showers.svg\"> heavy_snow_showers.svg </a>\t|\n| 28           | Hail showers          | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/hail_showers.svg\"> hail_showers.svg </a> |\n| 29           | Heavy hail showers    | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/heavy_hail_showers.svg\"> heavy_hail_showers.svg </a>\t|\n| 30           | Thunderstorms         | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/thunderstorms.svg\"> thunderstorms.svg </a>\t|\n| 31           | Severe thunderstorms  | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/heavy_thunderstorms.svg\"> heavy_thunderstorms.svg </a> |\n| 32           | Windy                 | <a href=\"https://static-assets.dtn.com/icons/weather-conditions/v1/windy.svg\"> windy.svg </a>\t| </details>"}],"paths":{"/":{"get":{"tags":["Parameters"]}},"/v1/conditions/marine":{"get":{"tags":["Endpoints"],"summary":"Marine Conditions","description":"This endpoint provides forecast and historical conditions for any specific point in the ocean. Specify the location, the marine parameters of interest, and a time range up to 10 days long, from 10 years in the past to 10 days in the future. The API responds with the requested time series in GeoJSON format.\n\nCommon uses include weather monitoring, marine research, localized operations, and supply-chain management planning in ports and offshore platforms.\n\nUse query parameters to control the results in the response body:\n\n  * Specify a location as latitude (`lat`) and longitude (`lon`).\n\n  * Specify `parameters` to filter by specific marine weather parameters. Include multiple as comma-separated values. The API returns only defaults when no specific parameters are requested.\n\n  * Two important parameters are `startTime` and `endTime`:\n    + The API returns forecast data when `startTime` and `endTime` are in the future.\n    + The API returns historical data when `startTime` and `endTime` are in the past.\n    + The API returns only one exact timestamp when only `startTime` is specified.\n\n  * Complete example: `https://weather.api.dtn.com/v1/conditions/marine?lat={lat}&lon={lon}&startTime={start_time}&endTime={end_time}&parameters={param1,param2}`\n","operationId":"marineConditions","security":[{"clientCredentials":[]}],"parameters":[{"in":"header","name":"Accept-Encoding","schema":{"type":"string","description":"Use this request header to communicate which compression algorithms the client understands. The API supports gzip.","example":"gzip"}},{"in":"header","name":"Accept","schema":{"type":"string","description":"Use this request header to specify an acceptable response media type.","example":"application/json"}},{"name":"lat","in":"query","schema":{"type":"number","format":"float"},"example":55.81,"required":true},{"name":"lon","in":"query","schema":{"type":"number","format":"float"},"example":3.88,"required":true},{"name":"startTime","in":"query","schema":{"type":"string","format":"date-time"},"example":"2023-06-30T10:00:00Z","required":true},{"name":"endTime","in":"query","schema":{"type":"string","format":"date-time"},"example":"2023-07-07T10:00:00Z"},{"name":"parameters","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}},"example":"airTemp,seaSurfaceTemp,windSpeed10m"}],"responses":{"200":{"description":"A successful request.","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"url":{"type":"string"},"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number"}}}},"properties":{"type":"object","properties":{"2023-06-30T10:00:00Z":{"type":"object","properties":{"airPressureMeanSeaLevel":{"type":"number"},"airTemp":{"type":"number"},"airTemp10m":{"type":"number"},"dewPoint":{"type":"number"},"lightningProb":{"type":"number"},"maximumWaveHeight":{"type":"number"},"meanWaveDirection":{"type":"number"},"meanWaveDirectionalSpreading":{"type":"number"},"meanWavePeriodTm02":{"type":"number"},"meanWavePeriodTmm10":{"type":"number"},"peakPeriod":{"type":"number"},"precipAmount1h":{"type":"number"},"precipProb":{"type":"number"},"relativeHumidity":{"type":"number"},"seaIceConcentration":{"type":"number"},"seaSurfaceTemp":{"type":"number"},"significantWaveHeight":{"type":"number"},"significantWaveHeightRiskP90":{"type":"number"},"totalCurrentDirection":{"type":"number"},"totalCurrentVelocity":{"type":"number"},"totalSwellMeanWaveDirection":{"type":"number"},"totalSwellMeanWaveDirectionalSpreading":{"type":"number"},"totalSwellMeanWavePeriodTm02":{"type":"number"},"totalSwellMeanWavePeriodTmm10":{"type":"number"},"totalSwellPeakPeriod":{"type":"number"},"totalSwellSignificantWaveHeight":{"type":"number"},"visibility":{"type":"number"},"weatherCode":{"type":"number"},"windDirection100m":{"type":"number"},"windDirection10m":{"type":"number"},"windDirection50m":{"type":"number"},"windGust100m":{"type":"number"},"windGust10m":{"type":"number"},"windGust50m":{"type":"number"},"windSpeed100m":{"type":"number"},"windSpeed10m":{"type":"number"},"windSpeed50m":{"type":"number"},"windWaveMeanWaveDirection":{"type":"number"},"windWaveMeanWaveDirectionalSpreading":{"type":"number"},"windWaveMeanWavePeriodTm02":{"type":"number"},"windWaveMeanWavePeriodTmm10":{"type":"number"},"windWavePeakPeriod":{"type":"number"},"windWaveSignificantWaveHeight":{"type":"number"}}}}}}}}},"example":{"url":"https://weather.api.dtn.com/v1/conditions/marine?lat=55.81&lon=3.88&parameters=airPressureMeanSeaLevel,airTemp,airTemp10m,dewPoint,lightningProb,maximumWaveHeight,meanWaveDirection,meanWaveDirectionalSpreading,meanWavePeriodTm02,meanWavePeriodTmm10,peakPeriod,precipAmount1h,precipProb,relativeHumidity,seaIceConcentration,seaSurfaceTemp,significantWaveHeight,significantWaveHeightRiskP90,totalCurrentDirection,totalCurrentVelocity,totalSwellMeanWaveDirection,totalSwellMeanWaveDirectionalSpreading,totalSwellMeanWavePeriodTm02,totalSwellMeanWavePeriodTmm10,totalSwellPeakPeriod,totalSwellSignificantWaveHeight,visibility,weatherCode,windDirection100m,windDirection10m,windDirection50m,windGust100m,windGust10m,windGust50m,windSpeed100m,windSpeed10m,windSpeed50m,windWaveMeanWaveDirection,windWaveMeanWaveDirectionalSpreading,windWaveMeanWavePeriodTm02,windWaveMeanWavePeriodTmm10,windWavePeakPeriod,windWaveSignificantWaveHeight,seaSurfaceHeightAnomalyAstronomic,seaSurfaceHeightAnomalyResidual,seaSurfaceHeightAnomalyTotal&startTime=2023-08-11T16:13:53Z&endTime=2023-08-11T19:13:53Z","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[3.88,55.81]},"properties":{"2023-08-11T16:00:00Z":{"airPressureMeanSeaLevel":1014.4,"airTemp":16.7,"airTemp10m":16.65,"dewPoint":15.6,"lightningProb":0,"maximumWaveHeight":2.06,"meanWaveDirection":259.95,"meanWaveDirectionalSpreading":64.07,"meanWavePeriodTm02":4.4,"meanWavePeriodTmm10":5.9,"peakPeriod":9.15,"precipAmount1h":0,"precipProb":0,"relativeHumidity":93,"seaIceConcentration":0,"seaSurfaceTemp":15.15,"significantWaveHeight":1.24,"significantWaveHeightRiskP90":1.35,"totalCurrentDirection":96.25,"totalCurrentVelocity":0.29,"totalSwellMeanWaveDirection":343.95,"totalSwellMeanWaveDirectionalSpreading":20.99,"totalSwellMeanWavePeriodTm02":7.25,"totalSwellMeanWavePeriodTmm10":8.25,"totalSwellPeakPeriod":9.15,"totalSwellSignificantWaveHeight":0.78,"visibility":24.04,"weatherCode":1,"windDirection100m":229,"windDirection10m":223,"windDirection50m":226,"windGust100m":11.4,"windGust10m":8.7,"windGust50m":10.6,"windSpeed100m":9.4,"windSpeed10m":6.7,"windSpeed50m":8.6,"windWaveMeanWaveDirection":211.75,"windWaveMeanWaveDirectionalSpreading":31.86,"windWaveMeanWavePeriodTm02":3.65,"windWaveMeanWavePeriodTmm10":4.25,"windWavePeakPeriod":4.7,"windWaveSignificantWaveHeight":0.95,"seaSurfaceHeightAnomalyAstronomic":0.06,"seaSurfaceHeightAnomalyResidual":-0.01,"seaSurfaceHeightAnomalyTotal":0.04},"2023-08-11T17:00:00Z":{"airPressureMeanSeaLevel":1014.5,"airTemp":16.75,"airTemp10m":16.7,"dewPoint":15.6,"lightningProb":0,"maximumWaveHeight":2,"meanWaveDirection":257.85,"meanWaveDirectionalSpreading":63.72,"meanWavePeriodTm02":4.35,"meanWavePeriodTmm10":5.85,"peakPeriod":9.15,"precipAmount1h":0,"precipProb":0,"relativeHumidity":93,"seaIceConcentration":0,"seaSurfaceTemp":15.15,"significantWaveHeight":1.19,"significantWaveHeightRiskP90":1.31,"totalCurrentDirection":104.2,"totalCurrentVelocity":0.25,"totalSwellMeanWaveDirection":343.85,"totalSwellMeanWaveDirectionalSpreading":24.43,"totalSwellMeanWavePeriodTm02":7.2,"totalSwellMeanWavePeriodTmm10":8.2,"totalSwellPeakPeriod":9.15,"totalSwellSignificantWaveHeight":0.76,"visibility":24.43,"weatherCode":1,"windDirection100m":230,"windDirection10m":222,"windDirection50m":226,"windGust100m":11.05,"windGust10m":8.45,"windGust50m":10.25,"windSpeed100m":9.05,"windSpeed10m":6.45,"windSpeed50m":8.25,"windWaveMeanWaveDirection":212.4,"windWaveMeanWaveDirectionalSpreading":31.88,"windWaveMeanWavePeriodTm02":3.65,"windWaveMeanWavePeriodTmm10":4.25,"windWavePeakPeriod":4.7,"windWaveSignificantWaveHeight":0.93,"seaSurfaceHeightAnomalyAstronomic":0.15,"seaSurfaceHeightAnomalyResidual":-0.03,"seaSurfaceHeightAnomalyTotal":0.13},"2023-08-11T18:00:00Z":{"airPressureMeanSeaLevel":1014.4,"airTemp":16.75,"airTemp10m":16.7,"dewPoint":15.55,"lightningProb":0,"maximumWaveHeight":1.93,"meanWaveDirection":255.65,"meanWaveDirectionalSpreading":63.6,"meanWavePeriodTm02":4.35,"meanWavePeriodTmm10":5.8,"peakPeriod":9.15,"precipAmount1h":0,"precipProb":0,"relativeHumidity":92.5,"seaIceConcentration":0,"seaSurfaceTemp":15.15,"significantWaveHeight":1.16,"significantWaveHeightRiskP90":1.27,"totalCurrentDirection":115.55,"totalCurrentVelocity":0.2,"totalSwellMeanWaveDirection":343.65,"totalSwellMeanWaveDirectionalSpreading":28.13,"totalSwellMeanWavePeriodTm02":7.15,"totalSwellMeanWavePeriodTmm10":8.15,"totalSwellPeakPeriod":9.15,"totalSwellSignificantWaveHeight":0.73,"visibility":24.05,"weatherCode":1,"windDirection100m":228,"windDirection10m":224,"windDirection50m":226,"windGust100m":10.8,"windGust10m":8.45,"windGust50m":10.1,"windSpeed100m":8.7,"windSpeed10m":6.35,"windSpeed50m":8,"windWaveMeanWaveDirection":212.5,"windWaveMeanWaveDirectionalSpreading":31.97,"windWaveMeanWavePeriodTm02":3.65,"windWaveMeanWavePeriodTmm10":4.25,"windWavePeakPeriod":4.7,"windWaveSignificantWaveHeight":0.9,"seaSurfaceHeightAnomalyAstronomic":-0.04,"seaSurfaceHeightAnomalyResidual":-0.01,"seaSurfaceHeightAnomalyTotal":-0.06},"2023-08-11T19:00:00Z":{"airPressureMeanSeaLevel":1014.6,"airTemp":16.7,"airTemp10m":16.65,"dewPoint":15.5,"lightningProb":0,"maximumWaveHeight":1.87,"meanWaveDirection":254.4,"meanWaveDirectionalSpreading":63.82,"meanWavePeriodTm02":4.3,"meanWavePeriodTmm10":5.75,"peakPeriod":9.15,"precipAmount1h":0,"precipProb":0,"relativeHumidity":92.5,"seaIceConcentration":0,"seaSurfaceTemp":15.05,"significantWaveHeight":1.12,"significantWaveHeightRiskP90":1.23,"totalCurrentDirection":133.05,"totalCurrentVelocity":0.14,"totalSwellMeanWaveDirection":342.45,"totalSwellMeanWaveDirectionalSpreading":31.18,"totalSwellMeanWavePeriodTm02":7.05,"totalSwellMeanWavePeriodTmm10":8.1,"totalSwellPeakPeriod":9.15,"totalSwellSignificantWaveHeight":0.71,"visibility":24.06,"weatherCode":1,"windDirection100m":223,"windDirection10m":216,"windDirection50m":220,"windGust100m":10.05,"windGust10m":7.65,"windGust50m":9.35,"windSpeed100m":8.35,"windSpeed10m":5.95,"windSpeed50m":7.65,"windWaveMeanWaveDirection":211.35,"windWaveMeanWaveDirectionalSpreading":32,"windWaveMeanWavePeriodTm02":3.65,"windWaveMeanWavePeriodTmm10":4.2,"windWavePeakPeriod":4.7,"windWaveSignificantWaveHeight":0.86,"seaSurfaceHeightAnomalyAstronomic":-0.13,"seaSurfaceHeightAnomalyResidual":-0.04,"seaSurfaceHeightAnomalyTotal":-0.16}}}]}}]}}}},"400":{"description":"An invalid request.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"detail":{"type":"string","description":"A human-readable description of the specific error."},"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}},"additionalProperties":false},"example":{"type":"bad-request","title":"Invalid Request","detail":"Validation failed.","status":400,"instance":"urn:dtn:one-marine-weather-service:/v1/conditions/marine:requestId:123e4567-e89b-12d3-a458-426614176000"}}}},"401":{"description":"Unable to authenticate credentials.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"detail":{"type":"string","description":"A human-readable description of the specific error."},"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}},"additionalProperties":false},"example":{"type":"unauthorized","title":"Error while authenticating the user.","detail":"invalid token","status":401,"instance":"urn:dtn:one-marine-weather-service:/v1/conditions/marine:requestId:123e4567-e89b-12d3-a458-426614176000"}}}},"406":{"description":"Unable to produce a response matching the Accept request header.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"detail":{"type":"string","description":"A human-readable description of the specific error."},"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}},"additionalProperties":false},"example":{"type":"not-acceptable","title":"Not Acceptable","detail":"The Accept header value is invalid or unsupported.","status":406,"instance":"urn:dtn:one-marine-weather-service:/v1/conditions/marine:requestId:123e4567-e89b-12d3-a458-426614176000"}}}}},"x-codeSamples":[{"lang":"C + Libcurl","source":"CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept-Encoding: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Accept: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"},{"lang":"Csharp + Restsharp","source":"var client = new RestClient(\"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Accept\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Accept\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\")\n  .get()\n  .addHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Accept\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\")\n  .header(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .header(\"Accept\", \"SOME_STRING_VALUE\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"},{"lang":"Javascript + Jquery","source":"const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"},{"lang":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\");\nxhr.setRequestHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Accept\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"Javascript + Jquery","source":"const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"},{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"weather.api.dtn.com\",\n  \"port\": null,\n  \"path\": \"/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://weather.api.dtn.com/v1/conditions/marine',\n  qs: {\n    lat: 'SOME_NUMBER_VALUE',\n    lon: 'SOME_NUMBER_VALUE',\n    startTime: 'SOME_STRING_VALUE',\n    endTime: 'SOME_STRING_VALUE',\n    parameters: 'SOME_ARRAY_VALUE'\n  },\n  headers: {\n    'Accept-Encoding': 'SOME_STRING_VALUE',\n    Accept: 'SOME_STRING_VALUE',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Node + Unirest","source":"const unirest = require(\"unirest\");\n\nconst req = unirest(\"GET\", \"https://weather.api.dtn.com/v1/conditions/marine\");\n\nreq.query({\n  \"lat\": \"SOME_NUMBER_VALUE\",\n  \"lon\": \"SOME_NUMBER_VALUE\",\n  \"startTime\": \"SOME_STRING_VALUE\",\n  \"endTime\": \"SOME_STRING_VALUE\",\n  \"parameters\": \"SOME_ARRAY_VALUE\"\n});\n\nreq.headers({\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"},{"lang":"Objc + Nsurlsession","source":"#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept-Encoding\": @\"SOME_STRING_VALUE\",\n                           @\"Accept\": @\"SOME_STRING_VALUE\",\n                           @\"Authorization\": @\"Bearer REPLACE_BEARER_TOKEN\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"},{"lang":"Ocaml + Cohttp","source":"open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept-Encoding\", \"SOME_STRING_VALUE\");\n  (\"Accept\", \"SOME_STRING_VALUE\");\n  (\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n] in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: SOME_STRING_VALUE\",\n    \"Accept-Encoding: SOME_STRING_VALUE\",\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://weather.api.dtn.com/v1/conditions/marine');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData([\n  'lat' => 'SOME_NUMBER_VALUE',\n  'lon' => 'SOME_NUMBER_VALUE',\n  'startTime' => 'SOME_STRING_VALUE',\n  'endTime' => 'SOME_STRING_VALUE',\n  'parameters' => 'SOME_ARRAY_VALUE'\n]);\n\n$request->setHeaders([\n  'Accept-Encoding' => 'SOME_STRING_VALUE',\n  'Accept' => 'SOME_STRING_VALUE',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://weather.api.dtn.com/v1/conditions/marine');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'lat' => 'SOME_NUMBER_VALUE',\n  'lon' => 'SOME_NUMBER_VALUE',\n  'startTime' => 'SOME_STRING_VALUE',\n  'endTime' => 'SOME_STRING_VALUE',\n  'parameters' => 'SOME_ARRAY_VALUE'\n]));\n\n$request->setHeaders([\n  'Accept-Encoding' => 'SOME_STRING_VALUE',\n  'Accept' => 'SOME_STRING_VALUE',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"weather.api.dtn.com\")\n\nheaders = {\n    'Accept-Encoding': \"SOME_STRING_VALUE\",\n    'Accept': \"SOME_STRING_VALUE\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Python + Requests","source":"import requests\n\nurl = \"https://weather.api.dtn.com/v1/conditions/marine\"\n\nquerystring = {\"lat\":\"SOME_NUMBER_VALUE\",\"lon\":\"SOME_NUMBER_VALUE\",\"startTime\":\"SOME_STRING_VALUE\",\"endTime\":\"SOME_STRING_VALUE\",\"parameters\":\"SOME_ARRAY_VALUE\"}\n\nheaders = {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Accept-Encoding\"] = 'SOME_STRING_VALUE'\nrequest[\"Accept\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Bearer REPLACE_BEARER_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE' \\\n  --header 'Accept: SOME_STRING_VALUE' \\\n  --header 'Accept-Encoding: SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"},{"lang":"Shell + Httpie","source":"http GET 'https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE' \\\n  Accept:SOME_STRING_VALUE \\\n  Accept-Encoding:SOME_STRING_VALUE \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"},{"lang":"Shell + Wget","source":"wget --quiet \\\n  --method GET \\\n  --header 'Accept-Encoding: SOME_STRING_VALUE' \\\n  --header 'Accept: SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --output-document \\\n  - 'https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE'"},{"lang":"Swift + Nsurlsession","source":"import Foundation\n\nlet headers = [\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://weather.api.dtn.com/v1/conditions/marine?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"}]}},"/v1/conditions/marine/route":{"post":{"tags":["Endpoints"],"summary":"Marine Route","description":"This endpoint is designed for complex shipping applications, route planning, and back-track vessel analysis. Submit up to 1000 waypoints and timestamps in a single request body. The API responds with the marine weather conditions for each location and timestamp pair in GeoJSON format.\n\nQuota calculation: Please note that the quota charged is based on the number of locations or waypoints in your API requests, and not the number of requests. One request with 1000 locations uses the same API quota as 1000 requests with one location each.\n","operationId":"marineRoute","security":[{"clientCredentials":[]}],"parameters":[{"in":"header","name":"Accept-Encoding","schema":{"type":"string","description":"Use this request header to communicate which compression algorithms the client understands. The API supports gzip.","example":"gzip"}},{"in":"header","name":"Accept","schema":{"type":"string","description":"Use this request header to specify an acceptable response media type.","example":"application/json"}},{"name":"parameters","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}},"example":"airTemp,seaSurfaceTemp,windSpeed10m"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["timestamp","lat","lon"],"properties":{"timestamp":{"type":"string","format":"date-time"},"lat":{"type":"number","format":"float"},"lon":{"type":"number","format":"float"},"parameters":{"type":"array","items":{"type":"string"}}}},"example":[{"timestamp":"2023-08-10T16:00:00Z","lat":55.81,"lon":3.88,"parameters":["airPressureMeanSeaLevel","airTemp","airTemp10m","dewPoint","lightningProb","maximumWaveHeight","meanWaveDirection","meanWaveDirectionalSpreading","meanWavePeriodTm02","meanWavePeriodTmm10","peakPeriod","precipAmount1h","precipProb","relativeHumidity","seaIceConcentration","seaSurfaceTemp","significantWaveHeight","significantWaveHeightRiskP90","totalCurrentDirection","totalCurrentVelocity","totalSwellMeanWaveDirection","totalSwellMeanWaveDirectionalSpreading","totalSwellMeanWavePeriodTm02","totalSwellMeanWavePeriodTmm10","totalSwellPeakPeriod","totalSwellSignificantWaveHeight","visibility","weatherCode","windDirection100m","windDirection10m","windDirection50m","windGust100m","windGust10m","windGust50m","windSpeed100m","windSpeed10m","windSpeed50m","windWaveMeanWaveDirection","windWaveMeanWaveDirectionalSpreading","windWaveMeanWavePeriodTm02","windWaveMeanWavePeriodTmm10","windWavePeakPeriod","windWaveSignificantWaveHeight"]},{"timestamp":"2023-08-10T17:00:00Z","lat":57.48,"lon":2.49,"parameters":["airPressureMeanSeaLevel","airTemp","airTemp10m","dewPoint","lightningProb","maximumWaveHeight","meanWaveDirection","meanWaveDirectionalSpreading","meanWavePeriodTm02","meanWavePeriodTmm10","peakPeriod","precipAmount1h","precipProb","relativeHumidity","seaIceConcentration","seaSurfaceTemp","significantWaveHeight","significantWaveHeightRiskP90","totalCurrentDirection","totalCurrentVelocity","totalSwellMeanWaveDirection","totalSwellMeanWaveDirectionalSpreading","totalSwellMeanWavePeriodTm02","totalSwellMeanWavePeriodTmm10","totalSwellPeakPeriod","totalSwellSignificantWaveHeight","visibility","weatherCode","windDirection100m","windDirection10m","windDirection50m","windGust100m","windGust10m","windGust50m","windSpeed100m","windSpeed10m","windSpeed50m","windWaveMeanWaveDirection","windWaveMeanWaveDirectionalSpreading","windWaveMeanWavePeriodTm02","windWaveMeanWavePeriodTmm10","windWavePeakPeriod","windWaveSignificantWaveHeight"]}]}}}},"responses":{"200":{"description":"A successful request.","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"url":{"type":"string"},"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number"}}}},"properties":{"type":"object","properties":{"2023-06-30T10:00:00Z":{"type":"object","properties":{"airPressureMeanSeaLevel":{"type":"number"},"airTemp":{"type":"number"},"airTemp10m":{"type":"number"},"dewPoint":{"type":"number"},"lightningProb":{"type":"number"},"maximumWaveHeight":{"type":"number"},"meanWaveDirection":{"type":"number"},"meanWaveDirectionalSpreading":{"type":"number"},"meanWavePeriodTm02":{"type":"number"},"meanWavePeriodTmm10":{"type":"number"},"peakPeriod":{"type":"number"},"precipAmount1h":{"type":"number"},"precipProb":{"type":"number"},"relativeHumidity":{"type":"number"},"seaIceConcentration":{"type":"number"},"seaSurfaceTemp":{"type":"number"},"significantWaveHeight":{"type":"number"},"significantWaveHeightRiskP90":{"type":"number"},"totalCurrentDirection":{"type":"number"},"totalCurrentVelocity":{"type":"number"},"totalSwellMeanWaveDirection":{"type":"number"},"totalSwellMeanWaveDirectionalSpreading":{"type":"number"},"totalSwellMeanWavePeriodTm02":{"type":"number"},"totalSwellMeanWavePeriodTmm10":{"type":"number"},"totalSwellPeakPeriod":{"type":"number"},"totalSwellSignificantWaveHeight":{"type":"number"},"visibility":{"type":"number"},"weatherCode":{"type":"number"},"windDirection100m":{"type":"number"},"windDirection10m":{"type":"number"},"windDirection50m":{"type":"number"},"windGust100m":{"type":"number"},"windGust10m":{"type":"number"},"windGust50m":{"type":"number"},"windSpeed100m":{"type":"number"},"windSpeed10m":{"type":"number"},"windSpeed50m":{"type":"number"},"windWaveMeanWaveDirection":{"type":"number"},"windWaveMeanWaveDirectionalSpreading":{"type":"number"},"windWaveMeanWavePeriodTm02":{"type":"number"},"windWaveMeanWavePeriodTmm10":{"type":"number"},"windWavePeakPeriod":{"type":"number"},"windWaveSignificantWaveHeight":{"type":"number"}}}}}}}}},"example":{"url":"https://weather.api.dtn.com/v1/conditions/marine?lat=55.81&lon=3.88&parameters=airPressureMeanSeaLevel,airTemp,airTemp10m,dewPoint,lightningProb,maximumWaveHeight,meanWaveDirection,meanWaveDirectionalSpreading,meanWavePeriodTm02,meanWavePeriodTmm10,peakPeriod,precipAmount1h,precipProb,relativeHumidity,seaIceConcentration,seaSurfaceTemp,significantWaveHeight,significantWaveHeightRiskP90,totalCurrentDirection,totalCurrentVelocity,totalSwellMeanWaveDirection,totalSwellMeanWaveDirectionalSpreading,totalSwellMeanWavePeriodTm02,totalSwellMeanWavePeriodTmm10,totalSwellPeakPeriod,totalSwellSignificantWaveHeight,visibility,weatherCode,windDirection100m,windDirection10m,windDirection50m,windGust100m,windGust10m,windGust50m,windSpeed100m,windSpeed10m,windSpeed50m,windWaveMeanWaveDirection,windWaveMeanWaveDirectionalSpreading,windWaveMeanWavePeriodTm02,windWaveMeanWavePeriodTmm10,windWavePeakPeriod,windWaveSignificantWaveHeight,seaSurfaceHeightAnomalyAstronomic,seaSurfaceHeightAnomalyResidual,seaSurfaceHeightAnomalyTotal&startTime=2023-08-11T16:13:53Z&endTime=2023-08-11T19:13:53Z","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[3.88,55.81]},"properties":{"2023-08-11T16:00:00Z":{"airPressureMeanSeaLevel":1014.4,"airTemp":16.7,"airTemp10m":16.65,"dewPoint":15.6,"lightningProb":0,"maximumWaveHeight":2.06,"meanWaveDirection":259.95,"meanWaveDirectionalSpreading":64.07,"meanWavePeriodTm02":4.4,"meanWavePeriodTmm10":5.9,"peakPeriod":9.15,"precipAmount1h":0,"precipProb":0,"relativeHumidity":93,"seaIceConcentration":0,"seaSurfaceTemp":15.15,"significantWaveHeight":1.24,"significantWaveHeightRiskP90":1.35,"totalCurrentDirection":96.25,"totalCurrentVelocity":0.29,"totalSwellMeanWaveDirection":343.95,"totalSwellMeanWaveDirectionalSpreading":20.99,"totalSwellMeanWavePeriodTm02":7.25,"totalSwellMeanWavePeriodTmm10":8.25,"totalSwellPeakPeriod":9.15,"totalSwellSignificantWaveHeight":0.78,"visibility":24.04,"weatherCode":1,"windDirection100m":229,"windDirection10m":223,"windDirection50m":226,"windGust100m":11.4,"windGust10m":8.7,"windGust50m":10.6,"windSpeed100m":9.4,"windSpeed10m":6.7,"windSpeed50m":8.6,"windWaveMeanWaveDirection":211.75,"windWaveMeanWaveDirectionalSpreading":31.86,"windWaveMeanWavePeriodTm02":3.65,"windWaveMeanWavePeriodTmm10":4.25,"windWavePeakPeriod":4.7,"windWaveSignificantWaveHeight":0.95,"seaSurfaceHeightAnomalyAstronomic":0.06,"seaSurfaceHeightAnomalyResidual":-0.01,"seaSurfaceHeightAnomalyTotal":0.04},"2023-08-11T17:00:00Z":{"airPressureMeanSeaLevel":1014.5,"airTemp":16.75,"airTemp10m":16.7,"dewPoint":15.6,"lightningProb":0,"maximumWaveHeight":2,"meanWaveDirection":257.85,"meanWaveDirectionalSpreading":63.72,"meanWavePeriodTm02":4.35,"meanWavePeriodTmm10":5.85,"peakPeriod":9.15,"precipAmount1h":0,"precipProb":0,"relativeHumidity":93,"seaIceConcentration":0,"seaSurfaceTemp":15.15,"significantWaveHeight":1.19,"significantWaveHeightRiskP90":1.31,"totalCurrentDirection":104.2,"totalCurrentVelocity":0.25,"totalSwellMeanWaveDirection":343.85,"totalSwellMeanWaveDirectionalSpreading":24.43,"totalSwellMeanWavePeriodTm02":7.2,"totalSwellMeanWavePeriodTmm10":8.2,"totalSwellPeakPeriod":9.15,"totalSwellSignificantWaveHeight":0.76,"visibility":24.43,"weatherCode":1,"windDirection100m":230,"windDirection10m":222,"windDirection50m":226,"windGust100m":11.05,"windGust10m":8.45,"windGust50m":10.25,"windSpeed100m":9.05,"windSpeed10m":6.45,"windSpeed50m":8.25,"windWaveMeanWaveDirection":212.4,"windWaveMeanWaveDirectionalSpreading":31.88,"windWaveMeanWavePeriodTm02":3.65,"windWaveMeanWavePeriodTmm10":4.25,"windWavePeakPeriod":4.7,"windWaveSignificantWaveHeight":0.93,"seaSurfaceHeightAnomalyAstronomic":0.15,"seaSurfaceHeightAnomalyResidual":-0.03,"seaSurfaceHeightAnomalyTotal":0.13},"2023-08-11T18:00:00Z":{"airPressureMeanSeaLevel":1014.4,"airTemp":16.75,"airTemp10m":16.7,"dewPoint":15.55,"lightningProb":0,"maximumWaveHeight":1.93,"meanWaveDirection":255.65,"meanWaveDirectionalSpreading":63.6,"meanWavePeriodTm02":4.35,"meanWavePeriodTmm10":5.8,"peakPeriod":9.15,"precipAmount1h":0,"precipProb":0,"relativeHumidity":92.5,"seaIceConcentration":0,"seaSurfaceTemp":15.15,"significantWaveHeight":1.16,"significantWaveHeightRiskP90":1.27,"totalCurrentDirection":115.55,"totalCurrentVelocity":0.2,"totalSwellMeanWaveDirection":343.65,"totalSwellMeanWaveDirectionalSpreading":28.13,"totalSwellMeanWavePeriodTm02":7.15,"totalSwellMeanWavePeriodTmm10":8.15,"totalSwellPeakPeriod":9.15,"totalSwellSignificantWaveHeight":0.73,"visibility":24.05,"weatherCode":1,"windDirection100m":228,"windDirection10m":224,"windDirection50m":226,"windGust100m":10.8,"windGust10m":8.45,"windGust50m":10.1,"windSpeed100m":8.7,"windSpeed10m":6.35,"windSpeed50m":8,"windWaveMeanWaveDirection":212.5,"windWaveMeanWaveDirectionalSpreading":31.97,"windWaveMeanWavePeriodTm02":3.65,"windWaveMeanWavePeriodTmm10":4.25,"windWavePeakPeriod":4.7,"windWaveSignificantWaveHeight":0.9,"seaSurfaceHeightAnomalyAstronomic":-0.04,"seaSurfaceHeightAnomalyResidual":-0.01,"seaSurfaceHeightAnomalyTotal":-0.06},"2023-08-11T19:00:00Z":{"airPressureMeanSeaLevel":1014.6,"airTemp":16.7,"airTemp10m":16.65,"dewPoint":15.5,"lightningProb":0,"maximumWaveHeight":1.87,"meanWaveDirection":254.4,"meanWaveDirectionalSpreading":63.82,"meanWavePeriodTm02":4.3,"meanWavePeriodTmm10":5.75,"peakPeriod":9.15,"precipAmount1h":0,"precipProb":0,"relativeHumidity":92.5,"seaIceConcentration":0,"seaSurfaceTemp":15.05,"significantWaveHeight":1.12,"significantWaveHeightRiskP90":1.23,"totalCurrentDirection":133.05,"totalCurrentVelocity":0.14,"totalSwellMeanWaveDirection":342.45,"totalSwellMeanWaveDirectionalSpreading":31.18,"totalSwellMeanWavePeriodTm02":7.05,"totalSwellMeanWavePeriodTmm10":8.1,"totalSwellPeakPeriod":9.15,"totalSwellSignificantWaveHeight":0.71,"visibility":24.06,"weatherCode":1,"windDirection100m":223,"windDirection10m":216,"windDirection50m":220,"windGust100m":10.05,"windGust10m":7.65,"windGust50m":9.35,"windSpeed100m":8.35,"windSpeed10m":5.95,"windSpeed50m":7.65,"windWaveMeanWaveDirection":211.35,"windWaveMeanWaveDirectionalSpreading":32,"windWaveMeanWavePeriodTm02":3.65,"windWaveMeanWavePeriodTmm10":4.2,"windWavePeakPeriod":4.7,"windWaveSignificantWaveHeight":0.86,"seaSurfaceHeightAnomalyAstronomic":-0.13,"seaSurfaceHeightAnomalyResidual":-0.04,"seaSurfaceHeightAnomalyTotal":-0.16}}}]}}]}}}},"400":{"description":"An invalid request.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"detail":{"type":"string","description":"A human-readable description of the specific error."},"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}},"additionalProperties":false},"example":{"type":"bad-request","title":"Invalid Request","detail":"Validation failed.","status":400,"instance":"urn:dtn:one-marine-weather-service:/v1/conditions/marine:requestId:123e4567-e89b-12d3-a458-426614176000"}}}},"401":{"description":"Unable to authenticate credentials.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"detail":{"type":"string","description":"A human-readable description of the specific error."},"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}},"additionalProperties":false},"example":{"type":"unauthorized","title":"Error while authenticating the user.","detail":"invalid token","status":401,"instance":"urn:dtn:one-marine-weather-service:/v1/conditions/marine:requestId:123e4567-e89b-12d3-a458-426614176000"}}}},"406":{"description":"Unable to produce a response matching the Accept request header.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"detail":{"type":"string","description":"A human-readable description of the specific error."},"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}},"additionalProperties":false},"example":{"type":"not-acceptable","title":"Not Acceptable","detail":"The Accept header value is invalid or unsupported.","status":406,"instance":"urn:dtn:one-marine-weather-service:/v1/conditions/marine:requestId:123e4567-e89b-12d3-a458-426614176000"}}}}},"x-codeSamples":[{"lang":"C + Libcurl","source":"CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://weather.api.dtn.com/v1/conditions/marine/route?parameters=SOME_ARRAY_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"content-type: application/json\");\nheaders = curl_slist_append(headers, \"Accept-Encoding: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Accept: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"[{\\\"timestamp\\\":\\\"2023-08-10T16:00:00Z\\\",\\\"lat\\\":55.81,\\\"lon\\\":3.88,\\\"parameters\\\":[\\\"airPressureMeanSeaLevel\\\",\\\"airTemp\\\",\\\"airTemp10m\\\",\\\"dewPoint\\\",\\\"lightningProb\\\",\\\"maximumWaveHeight\\\",\\\"meanWaveDirection\\\",\\\"meanWaveDirectionalSpreading\\\",\\\"meanWavePeriodTm02\\\",\\\"meanWavePeriodTmm10\\\",\\\"peakPeriod\\\",\\\"precipAmount1h\\\",\\\"precipProb\\\",\\\"relativeHumidity\\\",\\\"seaIceConcentration\\\",\\\"seaSurfaceTemp\\\",\\\"significantWaveHeight\\\",\\\"significantWaveHeightRiskP90\\\",\\\"totalCurrentDirection\\\",\\\"totalCurrentVelocity\\\",\\\"totalSwellMeanWaveDirection\\\",\\\"totalSwellMeanWaveDirectionalSpreading\\\",\\\"totalSwellMeanWavePeriodTm02\\\",\\\"totalSwellMeanWavePeriodTmm10\\\",\\\"totalSwellPeakPeriod\\\",\\\"totalSwellSignificantWaveHeight\\\",\\\"visibility\\\",\\\"weatherCode\\\",\\\"windDirection100m\\\",\\\"windDirection10m\\\",\\\"windDirection50m\\\",\\\"windGust100m\\\",\\\"windGust10m\\\",\\\"windGust50m\\\",\\\"windSpeed100m\\\",\\\"windSpeed10m\\\",\\\"windSpeed50m\\\",\\\"windWaveMeanWaveDirection\\\",\\\"windWaveMeanWaveDirectionalSpreading\\\",\\\"windWaveMeanWavePeriodTm02\\\",\\\"windWaveMeanWavePeriodTmm10\\\",\\\"windWavePeakPeriod\\\",\\\"windWaveSignificantWaveHeight\\\"]},{\\\"timestamp\\\":\\\"2023-08-10T17:00:00Z\\\",\\\"lat\\\":57.48,\\\"lon\\\":2.49,\\\"parameters\\\":[\\\"airPressureMeanSeaLevel\\\",\\\"airTemp\\\",\\\"airTemp10m\\\",\\\"dewPoint\\\",\\\"lightningProb\\\",\\\"maximumWaveHeight\\\",\\\"meanWaveDirection\\\",\\\"meanWaveDirectionalSpreading\\\",\\\"meanWavePeriodTm02\\\",\\\"meanWavePeriodTmm10\\\",\\\"peakPeriod\\\",\\\"precipAmount1h\\\",\\\"precipProb\\\",\\\"relativeHumidity\\\",\\\"seaIceConcentration\\\",\\\"seaSurfaceTemp\\\",\\\"significantWaveHeight\\\",\\\"significantWaveHeightRiskP90\\\",\\\"totalCurrentDirection\\\",\\\"totalCurrentVelocity\\\",\\\"totalSwellMeanWaveDirection\\\",\\\"totalSwellMeanWaveDirectionalSpreading\\\",\\\"totalSwellMeanWavePeriodTm02\\\",\\\"totalSwellMeanWavePeriodTmm10\\\",\\\"totalSwellPeakPeriod\\\",\\\"totalSwellSignificantWaveHeight\\\",\\\"visibility\\\",\\\"weatherCode\\\",\\\"windDirection100m\\\",\\\"windDirection10m\\\",\\\"windDirection50m\\\",\\\"windGust100m\\\",\\\"windGust10m\\\",\\\"windGust50m\\\",\\\"windSpeed100m\\\",\\\"windSpeed10m\\\",\\\"windSpeed50m\\\",\\\"windWaveMeanWaveDirection\\\",\\\"windWaveMeanWaveDirectionalSpreading\\\",\\\"windWaveMeanWavePeriodTm02\\\",\\\"windWaveMeanWavePeriodTmm10\\\",\\\"windWavePeakPeriod\\\",\\\"windWaveSignificantWaveHeight\\\"]}]\");\n\nCURLcode ret = curl_easy_perform(hnd);"},{"lang":"Csharp + Restsharp","source":"var client = new RestClient(\"https://weather.api.dtn.com/v1/conditions/marine/route?parameters=SOME_ARRAY_VALUE\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Accept\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nrequest.AddParameter(\"application/json\", \"[{\\\"timestamp\\\":\\\"2023-08-10T16:00:00Z\\\",\\\"lat\\\":55.81,\\\"lon\\\":3.88,\\\"parameters\\\":[\\\"airPressureMeanSeaLevel\\\",\\\"airTemp\\\",\\\"airTemp10m\\\",\\\"dewPoint\\\",\\\"lightningProb\\\",\\\"maximumWaveHeight\\\",\\\"meanWaveDirection\\\",\\\"meanWaveDirectionalSpreading\\\",\\\"meanWavePeriodTm02\\\",\\\"meanWavePeriodTmm10\\\",\\\"peakPeriod\\\",\\\"precipAmount1h\\\",\\\"precipProb\\\",\\\"relativeHumidity\\\",\\\"seaIceConcentration\\\",\\\"seaSurfaceTemp\\\",\\\"significantWaveHeight\\\",\\\"significantWaveHeightRiskP90\\\",\\\"totalCurrentDirection\\\",\\\"totalCurrentVelocity\\\",\\\"totalSwellMeanWaveDirection\\\",\\\"totalSwellMeanWaveDirectionalSpreading\\\",\\\"totalSwellMeanWavePeriodTm02\\\",\\\"totalSwellMeanWavePeriodTmm10\\\",\\\"totalSwellPeakPeriod\\\",\\\"totalSwellSignificantWaveHeight\\\",\\\"visibility\\\",\\\"weatherCode\\\",\\\"windDirection100m\\\",\\\"windDirection10m\\\",\\\"windDirection50m\\\",\\\"windGust100m\\\",\\\"windGust10m\\\",\\\"windGust50m\\\",\\\"windSpeed100m\\\",\\\"windSpeed10m\\\",\\\"windSpeed50m\\\",\\\"windWaveMeanWaveDirection\\\",\\\"windWaveMeanWaveDirectionalSpreading\\\",\\\"windWaveMeanWavePeriodTm02\\\",\\\"windWaveMeanWavePeriodTmm10\\\",\\\"windWavePeakPeriod\\\",\\\"windWaveSignificantWaveHeight\\\"]},{\\\"timestamp\\\":\\\"2023-08-10T17:00:00Z\\\",\\\"lat\\\":57.48,\\\"lon\\\":2.49,\\\"parameters\\\":[\\\"airPressureMeanSeaLevel\\\",\\\"airTemp\\\",\\\"airTemp10m\\\",\\\"dewPoint\\\",\\\"lightningProb\\\",\\\"maximumWaveHeight\\\",\\\"meanWaveDirection\\\",\\\"meanWaveDirectionalSpreading\\\",\\\"meanWavePeriodTm02\\\",\\\"meanWavePeriodTmm10\\\",\\\"peakPeriod\\\",\\\"precipAmount1h\\\",\\\"precipProb\\\",\\\"relativeHumidity\\\",\\\"seaIceConcentration\\\",\\\"seaSurfaceTemp\\\",\\\"significantWaveHeight\\\",\\\"significantWaveHeightRiskP90\\\",\\\"totalCurrentDirection\\\",\\\"totalCurrentVelocity\\\",\\\"totalSwellMeanWaveDirection\\\",\\\"totalSwellMeanWaveDirectionalSpreading\\\",\\\"totalSwellMeanWavePeriodTm02\\\",\\\"totalSwellMeanWavePeriodTmm10\\\",\\\"totalSwellPeakPeriod\\\",\\\"totalSwellSignificantWaveHeight\\\",\\\"visibility\\\",\\\"weatherCode\\\",\\\"windDirection100m\\\",\\\"windDirection10m\\\",\\\"windDirection50m\\\",\\\"windGust100m\\\",\\\"windGust10m\\\",\\\"windGust50m\\\",\\\"windSpeed100m\\\",\\\"windSpeed10m\\\",\\\"windSpeed50m\\\",\\\"windWaveMeanWaveDirection\\\",\\\"windWaveMeanWaveDirectionalSpreading\\\",\\\"windWaveMeanWavePeriodTm02\\\",\\\"windW
[...]
