openapi: 3.2.0
info:
  title: DTN Tropical Cyclone API
  description: "# Summary\nDTN's Tropical Cyclone API provides geospatial data for active tropical cyclones,\nincluding past tracks, current positions, forecast tracks and error cones,\nforecast wind radii and swaths, and aircraft reconnaissance from DTN and\ngovernment agency sources.\n\n# Responses\n## TropicalResponse\nAll endpoints return data as a \"TropicalResponse\" model.\n\n```json\n{\n\t\"url\": \"/cyclones\", # URL requested\n\t\"cycloneCount\": 1, # Number of cyclones returned in the response\n\t\"data\": [TropicalFeatureCollection] # Array of TropicalFeatureCollection objects\n}\n```\n## TropicalFeatureCollection\nA TropicalFeatureCollection is a [rfc7946](https://datatracker.ietf.org/doc/html/rfc7946) compliant GeoJson Feature Collection. \nData for each active storm will be held in its own Feature Collection. The data is held inside the list of Features.\n```json\n{\n\t\"type\": \"FeatureCollection\",\n\t\"metadata\": {\n\t\t\"stormName\": \"Ryan\", # Name of the storm that this feature collection contains data for\n\t\t\"source\": \"DTN\", # Name of the organization that issued the advisory\n\t\t\"stormNum\": \"20S\",\n\t\t\"stormId\": \"101\", # Unique id of storm\n\t\t\"advisoryDateTime\": \"2020-08-01T00:00:00Z\", # Date and time of the advisory\n\t},\n\t\"features\": [TropicalFeature] # Array of GeoJson Feature objects\n}\n```\n## TropicalFeature\nA TropicalFeature is a [rfc7946](https://datatracker.ietf.org/doc/html/rfc7946) compliant GeoJson Feature. \n\nEach Feature contains a property \"stormElement\" which describes the type of data this feature represents.\n```json\n{\n\t\"type\": \"Feature\",\n\t\"properties\": {\n\t\t\"stormElement\": \"OBSERVED_POSITION\",\n\t\t...\n\t},\n\t\"geometry\": {\n\t\t\"type\": \"Point\",\n\t\t\"coordinates\": [1, 1]\n\t}\n}\n```\n\"stormElement\" is meant to be used as an enum, where the allowed values are:\n- \"ERROR_CONE\"\n\t- This is the probable path of a tropical cyclone’s center over a certain time period. The cone is based on the spread of the forecast models combined with meteorological expertise. It accounts for the uncertainty in the hurricane's future track.\n\t- geometry type Polygon\n- \"CURRENT_POSITION\"\n\t- Current position of the center (or eye) of the tropical cyclone.\n\t- geometry type Point\n- \"FORECAST_POSITION\"\n\t- Indicates the predicted locations of the tropical cyclone’s center at specific future times.\n\t- geometry type Point\n- \"OBSERVED_POSITION\"\n\t- Observed positions of the tropical cyclone including since inception.\n\t- geometry type Point\n- \"FORECAST_RADII\"\n\t- Radius of the wind field around the center of the tropical cyclone.\n\t- geometry type Polygon\n- \"CURRENT_RADII\"\n\t- Radius of the wind field around the center of the tropical cyclone. Current Radii represents the observed wind field at the tropical cyclones current position.\n\t- geometry type Polygon\n- \"FORECAST_TRACK\"\n\t- Predicted path that the tropical cyclone’s  center is expected to follow over a certain period. \n\t- geometry type LineString\n- \"OBSERVED_TRACK\"\n\t- The observed track of the tropical cyclone centers since inception.\n\t- geometry type LineString\n- \"SWATH\"\n\t- Refers to areas affected by the cyclone's winds, showing areas that experienced different wind speeds throughout the tropical cyclone’s future path.\n\t- geometry type Polygon\n- \"RECON_POINT\"\n\t- The current position of the reconnaissance aircraft that is conducting a mission to sample meteorological data from the tropical cyclone.\n\t- geometry type Point\n- \"RECON_TRACK\"\n\t- The observed track of the reconnaissance aircraft that is conducting a mission to sample meteorological data from the tropical cyclone.\n\t- geometry type LineString\n- \"MODEL_POINT\"\n\t- Specific locations along the predicted path of a tropical cyclone, as determined by various forecast models. These points represent the projected positions of the tropical cyclone’s center at different future times. \n\t- geometry type Point\n- \"MODEL_TRACK\"\n\t- The predicted path that a storm's center is expected to follow over a certain time period, as determined by various forecast models.\n\t- geometry type LineString\n- \"ERROR_CONE_BBOX\"\n\t- A rectangular bounding box calculated by the API that includes the extent of the error cone.\n\t- geometry type Polygon\n- \"ESTIMATED_POSITION\"\n\t- The position of an Invest as Identified by the National Hurricane Center (NHC) in the Automated Tropical Cyclone Forecasting System (ATCF). Since Invests do not have well defined centers, the NHC and other agencies provide the best estimate Invest position in its early development stages.\n\t- geometry type Polygon\n\n\n# Data Sources\n## DTN\nNon agency endpoints will return advisory data from DTN.\n## Agency\nAgency endpoints will return data from the following government agencies: \n### NHC\n[https://www.nhc.noaa.gov/](https://www.nhc.noaa.gov/)\n\nThe National Hurricane Center (NHC) is a division of the National Weather Service (NWS) under NOAA. It is responsible for tracking and forecasting tropical cyclones in the Atlantic Basin and eastern Pacific Ocean.\n\n###  JTWC\n[https://www.metoc.navy.mil/jtwc/jtwc.html](https://www.metoc.navy.mil/jtwc/jtwc.html)\n\nThe Joint Typhoon Warning Center (JTWC) is a joint United States Navy, Air Force, and National Oceanic and Atmospheric Administration (NOAA) organization that provides tropical cyclone warnings and advisories for the Western Pacific and Indian Ocean regions.\n\n### CPHC\n[https://www.weather.gov/cphc/](https://www.weather.gov/cphc/)\n\nThe Central Pacific Hurricane Center (CPHC) is a branch of the National Weather Service (NWS) that provides forecasts, warnings, and analyses of tropical cyclones in the Central Pacific Basin.\n\n### BOM\n[http://www.bom.gov.au/](http://www.bom.gov.au/)\n\nThe Bureau of Meteorology (BOM) is Australia's national weather, water, and climate agency. It provides weather forecasts, warnings, and analyses to support decision-making by the community, industry, and government."
  version: 1.0.6
servers:
- url: https://tropical.api.dtn.com
tags:
- name: DTN Tropical Cyclone API
paths:
  /:
    get:
      summary: Redirect Docs
      operationId: redirect_docs__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - DTN Tropical Cyclone API
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      x-receive-token-in: request-body
      flows:
        clientCredentials:
          tokenUrl: https://api.auth.dtn.com/v1/tokens/authorize
      description: "# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the DTN Tropical Cyclone API, you need to use the following audience: https://tropical.api.dtn.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "
