openapi: 3.2.0
info:
  title: Tropical Cyclone DTN API
  description: "# Summary\nDTN's Tropical Cyclone API provides geospatial data for active tropical cyclones,\nincluding past tracks, current positions, forecast tracks and error cones,\nforecast wind radii and swaths, and aircraft reconnaissance from DTN and\ngovernment agency sources.\n\n# Responses\n## TropicalResponse\nAll endpoints return data as a \"TropicalResponse\" model.\n\n```json\n{\n\t\"url\": \"/cyclones\", # URL requested\n\t\"cycloneCount\": 1, # Number of cyclones returned in the response\n\t\"data\": [TropicalFeatureCollection] # Array of TropicalFeatureCollection objects\n}\n```\n## TropicalFeatureCollection\nA TropicalFeatureCollection is a [rfc7946](https://datatracker.ietf.org/doc/html/rfc7946) compliant GeoJson Feature Collection. \nData for each active storm will be held in its own Feature Collection. The data is held inside the list of Features.\n```json\n{\n\t\"type\": \"FeatureCollection\",\n\t\"metadata\": {\n\t\t\"stormName\": \"Ryan\", # Name of the storm that this feature collection contains data for\n\t\t\"source\": \"DTN\", # Name of the organization that issued the advisory\n\t\t\"stormNum\": \"20S\",\n\t\t\"stormId\": \"101\", # Unique id of storm\n\t\t\"advisoryDateTime\": \"2020-08-01T00:00:00Z\", # Date and time of the advisory\n\t},\n\t\"features\": [TropicalFeature] # Array of GeoJson Feature objects\n}\n```\n## TropicalFeature\nA TropicalFeature is a [rfc7946](https://datatracker.ietf.org/doc/html/rfc7946) compliant GeoJson Feature. \n\nEach Feature contains a property \"stormElement\" which describes the type of data this feature represents.\n```json\n{\n\t\"type\": \"Feature\",\n\t\"properties\": {\n\t\t\"stormElement\": \"OBSERVED_POSITION\",\n\t\t...\n\t},\n\t\"geometry\": {\n\t\t\"type\": \"Point\",\n\t\t\"coordinates\": [1, 1]\n\t}\n}\n```\n\"stormElement\" is meant to be used as an enum, where the allowed values are:\n- \"ERROR_CONE\"\n\t- This is the probable path of a tropical cyclone’s center over a certain time period. The cone is based on the spread of the forecast models combined with meteorological expertise. It accounts for the uncertainty in the hurricane's future track.\n\t- geometry type Polygon\n- \"CURRENT_POSITION\"\n\t- Current position of the center (or eye) of the tropical cyclone.\n\t- geometry type Point\n- \"FORECAST_POSITION\"\n\t- Indicates the predicted locations of the tropical cyclone’s center at specific future times.\n\t- geometry type Point\n- \"OBSERVED_POSITION\"\n\t- Observed positions of the tropical cyclone including since inception.\n\t- geometry type Point\n- \"FORECAST_RADII\"\n\t- Radius of the wind field around the center of the tropical cyclone.\n\t- geometry type Polygon\n- \"CURRENT_RADII\"\n\t- Radius of the wind field around the center of the tropical cyclone. Current Radii represents the observed wind field at the tropical cyclones current position.\n\t- geometry type Polygon\n- \"FORECAST_TRACK\"\n\t- Predicted path that the tropical cyclone’s  center is expected to follow over a certain period. \n\t- geometry type LineString\n- \"OBSERVED_TRACK\"\n\t- The observed track of the tropical cyclone centers since inception.\n\t- geometry type LineString\n- \"SWATH\"\n\t- Refers to areas affected by the cyclone's winds, showing areas that experienced different wind speeds throughout the tropical cyclone’s future path.\n\t- geometry type Polygon\n- \"RECON_POINT\"\n\t- The current position of the reconnaissance aircraft that is conducting a mission to sample meteorological data from the tropical cyclone.\n\t- geometry type Point\n- \"RECON_TRACK\"\n\t- The observed track of the reconnaissance aircraft that is conducting a mission to sample meteorological data from the tropical cyclone.\n\t- geometry type LineString\n- \"MODEL_POINT\"\n\t- Specific locations along the predicted path of a tropical cyclone, as determined by various forecast models. These points represent the projected positions of the tropical cyclone’s center at different future times. \n\t- geometry type Point\n- \"MODEL_TRACK\"\n\t- The predicted path that a storm's center is expected to follow over a certain time period, as determined by various forecast models.\n\t- geometry type LineString\n- \"ERROR_CONE_BBOX\"\n\t- A rectangular bounding box calculated by the API that includes the extent of the error cone.\n\t- geometry type Polygon\n- \"ESTIMATED_POSITION\"\n\t- The position of an Invest as Identified by the National Hurricane Center (NHC) in the Automated Tropical Cyclone Forecasting System (ATCF). Since Invests do not have well defined centers, the NHC and other agencies provide the best estimate Invest position in its early development stages.\n\t- geometry type Polygon\n\n\n# Data Sources\n## DTN\nNon agency endpoints will return advisory data from DTN.\n## Agency\nAgency endpoints will return data from the following government agencies: \n### NHC\n[https://www.nhc.noaa.gov/](https://www.nhc.noaa.gov/)\n\nThe National Hurricane Center (NHC) is a division of the National Weather Service (NWS) under NOAA. It is responsible for tracking and forecasting tropical cyclones in the Atlantic Basin and eastern Pacific Ocean.\n\n###  JTWC\n[https://www.metoc.navy.mil/jtwc/jtwc.html](https://www.metoc.navy.mil/jtwc/jtwc.html)\n\nThe Joint Typhoon Warning Center (JTWC) is a joint United States Navy, Air Force, and National Oceanic and Atmospheric Administration (NOAA) organization that provides tropical cyclone warnings and advisories for the Western Pacific and Indian Ocean regions.\n\n### CPHC\n[https://www.weather.gov/cphc/](https://www.weather.gov/cphc/)\n\nThe Central Pacific Hurricane Center (CPHC) is a branch of the National Weather Service (NWS) that provides forecasts, warnings, and analyses of tropical cyclones in the Central Pacific Basin.\n\n### BOM\n[http://www.bom.gov.au/](http://www.bom.gov.au/)\n\nThe Bureau of Meteorology (BOM) is Australia's national weather, water, and climate agency. It provides weather forecasts, warnings, and analyses to support decision-making by the community, industry, and government."
  version: 1.0.6
servers:
- url: https://tropical.api.dtn.com
tags:
- name: DTN
paths:
  /v1/cyclones:
    get:
      tags:
      - DTN
      summary: Active Storms Tracks And Cones
      description: 'Array of FeatureCollection Objects, Contains Error Cone, Observed Positions, Forecast Positions.


        **Data returned from this endpoint contains data from DTN advisories ONLY**


        GeoJSON Properties:


        * **stormElement** ***(string)***: Type of storm element (e.g., FORECAST_POSITION, OBSERVED_POSITION).

        * **forecastHour** ***(integer)***: Forecast hour for the data (applicable for FORECAST_POSITION elements).

        * **windSpeedKnots** ***(float)***: Wind speed in knots.

        * **windGustKnots** ***(float)***: Wind gust in knots.

        * **movementSpeedKnots** ***(float)***: Movement speed of the storm in knots.

        * **movementHeadingDeg** ***(integer)***: Movement heading of the storm in degrees (clockwise from north).

        * **category** ***(integer)***: Storm category (Saffir-Simpson Hurricane Wind Scale).

        * **stage** ***(string)***: Storm stage (TF - Tropical Feature, TD - Tropical Depression, TS - Tropical Storm, and HU - Hurricane).

        * **minCentralPressureMb** ***(integer)***: Minimum central pressure of the storm in millibars.

        * **validDateTime** ***(string)***: Date and time when the data is valid in UTC format (YYYY-MM-DDTHH:MM:SSZ).

        """'
      operationId: active_storms_tracks_and_cones_v1_cyclones_get
      security:
      - clientCredentials: []
      parameters:
      - name: stormName
        in: query
        required: false
        schema:
          type: string
          description: 'Optional: Filter results by name of storm'
          title: Stormname
        description: 'Optional: Filter results by name of storm'
      - name: stormNum
        in: query
        required: false
        schema:
          type: string
          description: 'Optional: Filter results by number of storm'
          title: Stormnum
        description: 'Optional: Filter results by number of storm'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TropicalResponse'
              example: '{"url": "http:/tropical.api.dtn.com/v1/cyclones?stormName=Leepi", "cycloneCount": 1, "data": [{"type": "FeatureCollection", "features": [{"type": "Feature", "properties": {"stormElement": "FORECAST_POSITION", "forecastHour": 12, "windSpeedKnots": 30.0, "windGustKnots": 40.0, "movementSpeedKnots": 18.0, "movementHeadingDeg": 45, "category": 0, "stage": "TD", "minCentralPressureMb": null, "validDateTime": "2024-09-06T06:00:00Z"}, "geometry": {"type": "Point", "coordinates": [149.5, 37.2]}}, {"type": "Feature", "properties": {"stormElement": "FORECAST_POSITION", "forecastHour": 24, "windSpeedKnots": 30.0, "windGustKnots": 40.0, "movementSpeedKnots": 22.0, "movementHeadingDeg": 50, "category": 0, "stage": "TD", "minCentralPressureMb": null, "validDateTime": "2024-09-06T18:00:00Z"}, "geometry": {"type": "Point", "coordinates": [152.8, 39.6]}}, {"type": "Feature", "properties": {"stormElement": "FORECAST_POSITION", "forecastHour": 36, "windSpeedKnots": 30.0, "windGustKnots": 40.0, "movementSpeedKnots": null, "movementHeadingDeg": null, "category": 0, "stage": "TD", "minCentralPressureMb": null, "validDateTime": "2024-09-07T06:00:00Z"}, "geometry": {"type": "Point", "coordinates": [157.4, 42.4]}}, {"type": "Feature", "properties": {"stormElement": "OBSERVED_POSITION", "windSpeedKnots": 30.0, "windGustKnots": 40.0, "movementSpeedKnots": 12.0, "movementHeadingDeg": 350, "category": 0, "stage": "TD", "minCentralPressureMb": null, "validDateTime": "2024-09-04T12:00:00Z"}, "geometry": {"type": "Point", "coordinates": [146.7, 29.7]}}, {"type": "Feature", "properties": {"stormElement": "OBSERVED_POSITION", "windSpeedKnots": 25.0, "windGustKnots": 35.0, "movementSpeedKnots": 15.0, "movementHeadingDeg": 355, "category": 0, "stage": "TD", "minCentralPressureMb": null, "validDateTime": "2024-09-04T18:00:00Z"}, "geometry": {"type": "Point", "coordinates": [146.5, 31.2]}}, {"type": "Feature", "properties": {"stormElement": "OBSERVED_POSITION", "windSpeedKnots": 25.0, "windGustKnots": 35.0, "movementSpeedKnots": 12.0, "movementHeadingDeg": 350, "category": 0, "stage": "TD", "minCentralPressureMb": null, "validDateTime": "2024-09-05T00:00:00Z"}, "geometry": {"type": "Point", "coordinates": [146.0, 32.4]}}, {"type": "Feature", "properties": {"stormElement": "OBSERVED_POSITION", "windSpeedKnots": 30.0, "windGustKnots": 40.0, "movementSpeedKnots": 7.0, "movementHeadingDeg": 355, "category": 0, "stage": "TD", "minCentralPressureMb": null, "validDateTime": "2024-09-05T06:00:00Z"}, "geometry": {"type": "Point", "coordinates": [145.8, 33.1]}}, {"type": "Feature", "properties": {"stormElement": "OBSERVED_POSITION", "windSpeedKnots": 30.0, "windGustKnots": 40.0, "movementSpeedKnots": 8.0, "movementHeadingDeg": 10, "category": 0, "stage": "TD", "minCentralPressureMb": null, "validDateTime": "2024-09-05T12:00:00Z"}, "geometry": {"type": "Point", "coordinates": [146.0, 33.9]}}, {"type": "Feature", "properties": {"stormElement": "CURRENT_POSITION", "windSpeedKnots": 35.0, "windGustKnots": 45.0, "movementSpeedKnots": 13.0, "movementHeadingDeg": 35, "category": 0, "stage": "TS", "minCentralPressureMb": null, "validDateTime": "2024-09-05T18:00:00Z"}, "geometry": {"type": "Point", "coordinates": [146.9, 35.0]}}, {"type": "Feature", "properties": {"stormElement": "ERROR_CONE", "forecastHour": 24, "validDateTime": "2024-09-05T21:00:00Z"}, "geometry": {"type": "Polygon", "coordinates": [[[146.93943, 34.73553], [146.94869, 34.73877], [146.96102, 34.74251], [146.97495, 34.74688], [146.98968, 34.75195], [147.00471, 34.75775], [147.03171, 34.76825], [147.05962, 34.78034], [147.08869, 34.79376], [147.11876, 34.8087], [147.14998, 34.82498], [147.18248, 34.84248], [147.21373, 34.86123], [147.24398, 34.88098], [147.27373, 34.90123], [147.30323, 34.92173], [147.33273, 34.94223], [147.36223, 34.96273], [147.39173, 34.98323], [147.42098, 35.00398], [147.44998, 35.02498], [147.47898, 35.04598], [147.50823, 35.06673], [147.53773, 35.08723], [147.56698, 35.10798], [147.59598, 35.12898], [147.62497, 35.14998], [147.65397, 35.17098], [147.68297, 35.19198], [147.71222, 35.21273], [147.74172, 35.23323], [147.77097, 35.25398], [147.79997, 35.27498], [147.82897, 35.29598], [147.85822, 35.31673], [147.88772, 35.33723], [147.91697, 35.35798], [147.94597, 35.37898], [147.97497, 35.39998], [148.00397, 35.42098], [148.03297, 35.44198], [148.06222, 35.46273], [148.09172, 35.48323], [148.12122, 35.50373], [148.15072, 35.52423], [148.18022, 35.54473], [148.20997, 35.56498], [148.23997, 35.58498], [148.26972, 35.60523], [148.29922, 35.62573], [148.32872, 35.64623], [148.35822, 35.66673], [148.38772, 35.68723], [148.41697, 35.70798], [148.44597, 35.72897], [148.47497, 35.74997], [148.50397, 35.77097], [148.53297, 35.79197], [148.56222, 35.81272], [148.59172, 35.83322], [148.62122, 35.85372], [148.65072, 35.87422], [148.68022, 35.89472], [148.70997, 35.91497], [148.73997, 35.93497], [148.76997, 35.95497], [148.79997, 35.97497], [148.82997, 35.99497], [148.85997, 36.01497], [148.88997, 36.03497], [148.91997, 36.05497], [148.94997, 36.07497], [148.97997, 36.09497], [149.00997, 36.11497], [149.03997, 36.13497], [149.06997, 36.15497], [149.09997, 36.17497], [149.12997, 36.19497], [149.15997, 36.21497], [149.18997, 36.23497], [149.21997, 36.25497], [149.24997, 36.27497], [149.27997, 36.29497], [149.30997, 36.31497], [149.33997, 36.33497], [149.36997, 36.35497], [149.39997, 36.37497], [149.42997, 36.39497], [149.45997, 36.41497], [149.48997, 36.43497], [149.51996, 36.45497], [149.54996, 36.47497], [149.57996, 36.49497], [149.60996, 36.51497], [149.63996, 36.53497], [149.66996, 36.55497], [149.69996, 36.57497], [149.72996, 36.59497], [149.76021, 36.61472], [149.79071, 36.63422], [149.82121, 36.65372], [149.85171, 36.67322], [149.88221, 36.69272], [149.91296, 36.71197], [149.94396, 36.73097], [149.97496, 36.74997], [150.00596, 36.76897], [150.03696, 36.78797], [150.06771, 36.80722], [150.09821, 36.82672], [150.12871, 36.84622], [150.15921, 36.86572], [150.18971, 36.88522], [150.21996, 36.90497], [150.24996, 36.92497], [150.27996, 36.94497], [150.31021, 36.96472], [150.34071, 36.98422], [150.37121, 37.00372], [150.40171, 37.02322], [150.43221, 37.04272], [150.46296, 37.06197], [150.49396, 37.08097], [150.52496, 37.09997], [150.55596, 37.11897], [150.58696, 37.13797], [150.61771, 37.15722], [150.64821, 37.17672], [150.67871, 37.19622], [150.70946, 37.21547], [150.74046, 37.23447], [150.77121, 37.25372], [150.80171, 37.27322], [150.83221, 37.29272], [150.86296, 37.31197], [150.89396, 37.33097], [150.92496, 37.34997], [150.95621, 37.36872], [150.98771, 37.38722], [151.01896, 37.40597], [151.04996, 37.42497], [151.08096, 37.44397], [151.11221, 37.46272], [151.14371, 37.48122], [151.17496, 37.49997], [151.20621, 37.51872], [151.23771, 37.53722], [151.26896, 37.55597], [151.29996, 37.57497], [151.33096, 37.59397], [151.36221, 37.61271], [151.3937, 37.63121], [151.42495, 37.64996], [151.4562, 37.66871], [151.4877, 37.68721], [151.51895, 37.70596], [151.54995, 37.72496], [151.58095, 37.74396], [151.6122, 37.76271], [151.6437, 37.78121], [151.67495, 37.79996], [151.7062, 37.81871], [151.7377, 37.83721], [151.76895, 37.85596], [151.8002, 37.87471], [151.8317, 37.89321], [151.86345, 37.91146], [151.89545, 37.92946], [151.9272, 37.94771], [151.95895, 37.96596], [151.99095, 37.98396], [152.0227, 38.00221], [152.05445, 38.02046], [152.08645, 38.03846], [152.1182, 38.05671], [152.1497, 38.07521], [152.18095, 38.09396], [152.2122, 38.11271], [152.2437, 38.13121], [152.27495, 38.14996], [152.3062, 38.16871], [152.3377, 38.18721], [152.36895, 38.20596], [152.4002, 38.22471], [152.4317, 38.24321], [152.46345, 38.26146], [152.4957, 38.27921], [152.52795, 38.29696], [152.5602, 38.31471], [152.5927, 38.33221], [152.62495, 38.34996], [152.6572, 38.36771], [152.6897, 38.38521], [152.72195, 38.40296], [152.7542, 38.42071], [152.78645, 38.43846], [152.8182, 38.45671], [152.84995, 38.47496], [152.8817, 38.49321], [152.91345, 38.51146], [152.9457, 38.52921], [152.97795, 38.54696], [153.0102, 38.56471], [153.0427, 38.58221], [153.07495, 38.59996], [153.1072, 38.61771], [153.1397, 38.63521], [153.17195, 38.65296], [153.2042, 38.67071], [153.23645, 38.68846], [153.2682, 38.70671], [153.29994, 38.72496], [153.33169, 38.74321], [153.36344, 38.76146], [153.39569, 38.77921], [153.42794, 38.79696], [153.46019, 38.81471], [153.49294, 38.83196], [153.52569, 38.84921], [153.55844, 38.86646], [153.59144, 38.88346], [153.62419, 38.90071], [153.65694, 38.91796], [153.68969, 38.93521], [153.72194, 38.95296], [153.75419, 38.97071], [153.78644, 38.98846], [153.81819, 39.00671], [153.84994, 39.02496], [153.88169, 39.04321], [153.91344, 39.06146], [153.94569, 39.07921], [153.97794, 39.09696], [154.01019, 39.11471], [154.04294, 39.13196], [154.07569, 39.14921], [154.10844, 39.16646], [154.14169, 39.18321], [154.17494, 39.19996], [154.20819, 39.21671], [154.24169, 39.23321], [154.27494, 39.24996], [154.30819, 39.26671], [154.34144, 39.28346], [154.37419, 39.30071], [154.40694, 39.31796], [154.43969, 39.33521], [154.47194, 39.35296], [154.50419, 39.37071], [154.53644, 39.38846], [154.56819, 39.40671], [154.59994, 39.42496], [154.63169, 39.44321], [154.66344, 39.46146], [154.69569, 39.47921], [154.72794, 39.49695], [154.76019, 39.5147], [154.79294, 39.53195], [154.82569, 39.5492], [154.85844, 39.56645], [154.89169, 39.5832], [154.92494, 39.59995], [154.95819, 39.6167], [154.99169, 39.6332], [155.02494, 39.64995], [155.05819, 39.6667], [155.09169, 39.6832], [155.12494, 39.69995], [155.15819, 39.7167], [155.19168, 39.7332], [155.22493, 39.74995], [155.25818, 39.7667], [155.29168, 39.7832], [155.32493, 39.79995], [155.35818, 39.8167], [155.39168, 39.8332], [155.42493, 39.84995], [155.45818, 39.8667], [155.49168, 39.8832], [155.52493, 39.89995], [155.55818, 39.9167], [155.59168, 39.9332], [155.62493, 39.94995], [155.65818, 39.9667], [155.69168, 39.9832], [155.72493, 39.99995], [155.75818, 40.0167], [155.79168, 40.0332], [155.82493, 40.04995], [155.85818, 40.0667], [155.89168, 40.0832], [155.92493, 40.09995], [155.95818, 40.1167], [155.99168, 40.1332], [156.02493, 40.14995], [156.05818, 40.1667], [156.09168, 40.1832], [156.12493, 40.19995], [156.15818, 40.2167], [156.19168, 40.2332], [156.22493, 40.24995], [156.25818, 40.2667], [156.29168, 40.2832], [156.32493, 40.29995], [156.35818, 40.3167], [156.39168, 40.3332], [156.42493, 40.34995], [156.45818, 40.3667], [156.49168, 40.3832], [156.52493, 40.39995], [156.55818, 40.4167], [156.59168, 40.4332], [156.62493, 40.44995], [156.65818, 40.4667], [156.69168, 40.4832], [156.72493, 40.49995], [156.75818, 40.5167], [156.79168, 40.5332], [156.82493, 40.54995], [156.85818, 40.5667], [156.89168, 40.5832], [156.92493, 40.59995], [156.95818, 40.6167], [156.99168, 40.6332], [157.02493, 40.64995], [157.05817, 40.6667], [157.09167, 40.6832], [157.12492, 40.69995], [157.15817, 40.7167], [157.19167, 40.7332], [157.22517, 40.7497], [157.25892, 40.76595], [157.29292, 40.78195], [157.32692, 40.79795], [157.36117, 40.8137], [157.39567, 40.8292], [157.43017, 40.8447], [157.46492, 40.85995], [157.49992, 40.87495], [157.53492, 40.88995], [157.56967, 40.9052], [157.60417, 40.9207], [157.63867, 40.9362], [157.67292, 40.95195], [157.70692, 40.96795], [157.74092, 40.98395], [157.77467, 41.0002], [157.80817, 41.0167], [157.84167, 41.0332], [157.87492, 41.04995], [157.90817, 41.0667], [157.94167, 41.0832], [157.97492, 41.09995], [158.00817, 41.1167], [158.04167, 41.1332], [158.07492, 41.14995], [158.10817, 41.1667], [158.14167, 41.1832], [158.17492, 41.19995], [158.20817, 41.2167], [158.24167, 41.2332], [158.27492, 41.24995], [158.30817, 41.2667], [158.34142, 41.28345], [158.37417, 41.3007], [158.40692, 41.31795], [158.43967, 41.3352], [158.47192, 41.35295], [158.50392, 41.37095], [158.53567, 41.38919], [158.56667, 41.40819], [158.59717, 41.42769], [158.62717, 41.44769], [158.65667, 41.46819], [158.68592, 41.48894], [158.71442, 41.51044], [158.74217, 41.53269], [158.76917, 41.55569], [158.79542, 41.57944], [158.82092, 41.60394], [158.84592, 41.62894], [158.87042, 41.65444], [158.89417, 41.68069], [158.91717, 41.70769], [158.93941, 41.73544], [158.96091, 41.76394], [158.98141, 41.79344], [159.00141, 41.82344], [159.02091, 41.85394], [159.03966, 41.88519], [159.05741, 41.91744], [159.07391, 41.95094], [159.08941, 41.98544], [159.10366, 42.02119], [159.11641, 42.05844], [159.12791, 42.09694], [159.13841, 42.13644], [159.14741, 42.17744], [159.15466, 42.22019], [159.16016, 42.26419], [159.16391, 42.30894], [159.16616, 42.35419], [159.16691, 42.39994], [159.16616, 42.44569], [159.16391, 42.49094], [159.16016, 42.53569], [159.15466, 42.57969], [159.14741, 42.62244], [159.13866, 42.66369], [159.12866, 42.70369], [159.11766, 42.74269], [159.10541, 42.78044], [159.09166, 42.81669], [159.07666, 42.85169], [159.06066, 42.88569], [159.04341, 42.91844], [159.02516, 42.95019], [159.00616, 42.98119], [158.98616, 43.01119], [158.96516, 43.04019], [158.94316, 43.06819], [158.92042, 43.09544], [158.89717, 43.12219], [158.87342, 43.14844], [158.84892, 43.17394], [158.82392, 43.19894], [158.79842, 43.22344], [158.77242, 43.24744], [158.74617, 43.27118], [158.71942, 43.29443], [158.69217, 43.31718], [158.66442, 43.33943], [158.63592, 43.36093], [158.60667, 43.38168], [158.57717, 43.40218], [158.54717, 43.42218], [158.51642, 43.44143], [158.48492, 43.45993], [158.45267, 43.47768], [158.41992, 43.49493], [158.38642, 43.51143], [158.35217, 43.52718], [158.31767, 43.54268], [158.28267, 43.55768], [158.24667, 43.57168], [158.20992, 43.58493], [158.17267, 43.59768], [158.13492, 43.60993], [158.09667, 43.62168], [158.05792, 43.63293], [158.01892, 43.64393], [157.97942, 43.65443], [157.93892, 43.66393], [157.89767, 43.67268], [157.85592, 43.68093], [157.81367, 43.68868], [157.77092, 43.69593], [157.72742, 43.70243], [157.68292, 43.70793], [157.63742, 43.71243], [157.59092, 43.71593], [157.54367, 43.71868], [157.49592, 43.72093], [157.44792, 43.72243], [157.39992, 43.72293], [157.35192, 43.72243], [157.30392, 43.72093], [157.25617, 43.71868], [157.20892, 43.71593], [157.16242, 43.71243], [157.11692, 43.70793], [157.07242, 43.70243], [157.02893, 43.69593], [156.98618, 43.68868], [156.94393, 43.68093], [156.90218, 43.67268], [156.86093, 43.66393], [156.82043, 43.65443], [156.78093, 43.64393], [156.74193, 43.63293], [156.70318, 43.62168], [156.66493, 43.60993], [156.62718, 43.59768], [156.58993, 43.58493], [156.55318, 43.57168], [156.51718, 43.55768], [156.48218, 43.54268], [156.44768, 43.52718], [156.41343, 43.51143], [156.37993, 43.49493], [156.34718, 43.47768], [156.31493, 43.45993], [156.28318, 43.44168], [156.25193, 43.42293], [156.22118, 43.40368], [156.19068, 43.38418], [156.16018, 43.36468], [156.12993, 43.34493], [156.09993, 43.32493], [156.06993, 43.30493], [156.03993, 43.28493], [156.00993, 43.26493], [155.97993, 43.24494], [155.94993, 43.22494], [155.91993, 43.20494], [155.88993, 43.18494], [155.85993, 43.16494], [155.83018, 43.14469], [155.80068, 43.12419], [155.77118, 43.10369], [155.74168, 43.08319], [155.71218, 43.06269], [155.68293, 43.04194], [155.65393, 43.02094], [155.62493, 42.99994], [155.59593, 42.97894], [155.56693, 42.95794], [155.53768, 42.93719], [155.50818, 42.91669], [155.47868, 42.89619], [155.44918, 42.87569], [155.41968, 42.85519], [155.38993, 42.83494], [155.35993, 42.81494], [155.32993, 42.79494], [155.29993, 42.77494], [155.26993, 42.75494], [155.23993, 42.73494], [155.20993, 42.71494], [155.18018, 42.69469], [155.15069, 42.67419], [155.12119, 42.65369], [155.09169, 42.63319], [155.06219, 42.61269], [155.03294, 42.59194], [155.00394, 42.57094], [154.97494, 42.54994], [154.94594, 42.52894], [154.91694, 42.50794], [154.88769, 42.48719], [154.85819, 42.46669], [154.82894, 42.44594], [154.79994, 42.42494], [154.77094, 42.40394], [154.74169, 42.38319], [154.71219, 42.36269], [154.68294, 42.34194], [154.65394, 42.32094], [154.62494, 42.29994], [154.59594, 42.27894], [154.56694, 42.25794], [154.53769, 42.23719], [154.50819, 42.21669], [154.47894, 42.19594], [154.44994, 42.17494], [154.42094, 42.15394], [154.39169, 42.13319], [154.36219, 42.11269], [154.33294, 42.09194], [154.30394, 42.07094], [154.27494, 42.04994], [154.24594, 42.02894], [154.21694, 42.00794], [154.18769, 41.98719], [154.15819, 41.96669], [154.12894, 41.94594], [154.09994, 41.92494], [154.07094, 41.90394], [154.04169, 41.88319], [154.01219, 41.86269], [153.98294, 41.84194], [153.95394, 41.82094], [153.92519, 41.79969], [153.89669, 41.77819], [153.86819, 41.75669], [153.83944, 41.73544], [153.81044, 41.71444], [153.78169, 41.69319], [153.75319, 41.67169], [153.72494, 41.64994], [153.69669, 41.62819], [153.66819, 41.60669], [153.63944, 41.58544], [153.61044, 41.56444], [153.58169, 41.54319], [153.55319, 41.52169], [153.52494, 41.49994], [153.49669, 41.47819], [153.46819, 41.45669], [153.43944, 41.43544], [153.41044, 41.41444], [153.38169, 41.39319], [153.35319, 41.3717], [153.32494, 41.34995], [153.29669, 41.3282], [153.2682, 41.3067], [153.23945, 41.28545], [153.21045, 41.26445], [153.1817, 41.2432], [153.1532, 41.2217], [153.12495, 41.19995], [153.0967, 41.1782], [153.06845, 41.15645], [153.0402, 41.1347], [153.0117, 41.1132], [152.98345, 41.09145], [152.95545, 41.06945], [152.9277, 41.0472], [152.89995, 41.02495], [152.8722, 41.0027], [152.84445, 40.98045], [152.81645, 40.95845], [152.7882, 40.9367], [152.7597, 40.9152], [152.73145, 40.89345], [152.7032, 40.8717], [152.67495, 40.84995], [152.6467, 40.8282], [152.61845, 40.80645], [152.5902, 40.7847], [152.5617, 40.7632], [152.53345, 40.74145], [152.50545, 40.71945], [152.4777, 40.6972], [152.44995, 40.67495], [152.4222, 40.6527], [152.39445, 40.63045], [152.3667, 40.6082], [152.33895, 40.58595], [152.31095, 40.56395], [152.2832, 40.5417], [152.25545, 40.51945], [152.2277, 40.4972], [152.19995, 40.47495], [152.1722, 40.4527], [152.14445, 40.43045], [152.1167, 40.4082], [152.08895, 40.38595], [152.06095, 40.36395], [152.0332, 40.3417], [152.00545, 40.31945], [151.9777, 40.2972], [151.94995, 40.27495], [151.9222, 40.2527], [151.89445, 40.23045], [151.8667, 40.2082], [151.83895, 40.18595], [151.8112, 40.1637], [151.78395, 40.14095], [151.7567, 40.1182], [151.72945, 40.09545], [151.7022, 40.0727], [151.67495, 40.04995], [151.6477, 40.0272], [151.62045, 40.00445], [151.5932, 39.9817], [151.56595, 39.95895], [151.5387, 39.9362], [151.5112, 39.9137], [151.48395, 39.89095], [151.4567, 39.8682], [151.42945, 39.84545], [151.4022, 39.8227], [151.37496, 39.79995], [151.34771, 39.7772], [151.32046, 39.75445], [151.29321, 39.7317], [151.26596, 39.70895], [151.23871, 39.6862], [151.21121, 39.6637], [151.18396, 39.64095], [151.15696, 39.61795], [151.13021, 39.5947], [151.10371, 39.5712], [151.07746, 39.54745], [151.05121, 39.5237], [151.02496, 39.49995], [150.99871, 39.47621], [150.97246, 39.45246], [150.94621, 39.42871], [150.91971, 39.40521], [150.89296, 39.38196], [150.86596, 39.35896], [150.83871, 39.33621], [150.81121, 39.31371], [150.78396, 39.29096], [150.75696, 39.26796], [150.73021, 39.24471], [150.70371, 39.22121], [150.67746, 39.19746], [150.65121, 39.17371], [150.62496, 39.14996], [150.59871, 39.12621], [150.57246, 39.10246], [150.54621, 39.07871], [150.51971, 39.05521], [150.49296, 39.03196], [150.46596, 39.00896], [150.43871, 38.98621], [150.41121, 38.96371], [150.38396, 38.94096], [150.35696, 38.91796], [150.33021, 38.89471], [150.30371, 38.87121], [150.27746, 38.84746], [150.25146, 38.82346], [150.22571, 38.79921], [150.20021, 38.77471], [150.17496, 38.74996], [150.14996, 38.72496], [150.12496, 38.69996], [150.09971, 38.67521], [150.07421, 38.65071], [150.04846, 38.62646], [150.02246, 38.60246], [149.99621, 38.57871], [149.96971, 38.55521], [149.94296, 38.53196], [149.91596, 38.50896], [149.88871, 38.48621], [149.86121, 38.46371], [149.83396, 38.44096], [149.80696, 38.41796], [149.78021, 38.39471], [149.75371, 38.37121], [149.72746, 38.34746], [149.70146, 38.32346], [149.67571, 38.29921], [149.65021, 38.27471], [149.62496, 38.24996], [149.59996, 38.22496], [149.57496, 38.19996], [149.54996, 38.17496], [149.52496, 38.14996], [149.49997, 38.12496], [149.47497, 38.09996], [149.44997, 38.07496], [149.42497, 38.04996], [149.39997, 38.02496], [149.37497, 37.99996], [149.34997, 37.97496], [149.32497, 37.94996], [149.29997, 37.92496], [149.27497, 37.89996], [149.24997, 37.87496], [149.22497, 37.84996], [149.19997, 37.82496], [149.17497, 37.79996], [149.14997, 37.77496], [149.12497, 37.74996], [149.09997, 37.72496], [149.07497, 37.69996], [149.04997, 37.67496], [149.02497, 37.64996], [148.99997, 37.62496], [148.97497, 37.59997], [148.94997, 37.57497], [148.92497, 37.54997], [148.89997, 37.52497], [148.87497, 37.49997], [148.84997, 37.47497], [148.82497, 37.44997], [148.79997, 37.42497], [148.77497, 37.39997], [148.74997, 37.37497], [148.72497, 37.34997], [148.69997, 37.32497], [148.67497, 37.29997], [148.64997, 37.27497], [148.62497, 37.24997], [148.59997, 37.22497], [148.57497, 37.19997], [148.54997, 37.17497], [148.52497, 37.14997], [148.49997, 37.12497], [148.47497, 37.09997], [148.44997, 37.07497], [148.42497, 37.04997], [148.39997, 37.02497], [148.37497, 36.99997], [148.34997, 36.97497], [148.32497, 36.94997], [148.29997, 36.92497], [148.27497, 36.89997], [148.24997, 36.87497], [148.22497, 36.84997], [148.19997, 36.82497], [148.17497, 36.79997], [148.14997, 36.77497], [148.12497, 36.74997], [148.09997, 36.72497], [148.07497, 36.69997], [148.04997, 36.67497], [148.02497, 36.64997], [147.99997, 36.62497], [147.97497, 36.59997], [147.94997, 36.57497], [147.92497, 36.54997], [147.89997, 36.52497], [147.87497, 36.49997], [147.84997, 36.47497], [147.82497, 36.44997], [147.79997, 36.42497], [147.77497, 36.39997], [147.74997, 36.37497], [147.72497, 36.34997], [147.69997, 36.32497], [147.67497, 36.29997], [147.64997, 36.27497], [147.62522, 36.24972], [147.60073, 36.22422], [147.57648, 36.19847], [147.55248, 36.17247], [147.52873, 36.14622], [147.50523, 36.11972], [147.48198, 36.09297], [147.45898, 36.06597], [147.43623, 36.03872], [147.41373, 36.01122], [147.39098, 35.98397], [147.36798, 35.95697], [147.34473, 35.93022], [147.32123, 35.90372], [147.29748, 35.87747], [147.27348, 35.85147], [147.24923, 35.82572], [147.22473, 35.80022], [147.19998, 35.77497], [147.17498, 35.74997], [147.14998, 35.72497], [147.12498, 35.69998], [147.09998, 35.67498], [147.07498, 35.64998], [147.04998, 35.62498], [147.02498, 35.59998], [146.99998, 35.57498], [146.97523, 35.54973], [146.95073, 35.52423], [146.92648, 35.49848], [146.90248, 35.47248], [146.87873, 35.44623], [146.85523, 35.41973], [146.83198, 35.39298], [146.80898, 35.36598], [146.78623, 35.33873], [146.76398, 35.31098], [146.74198, 35.28298], [146.72048, 35.25448], [146.69973, 35.22523], [146.68023, 35.19523], [146.66248, 35.16448], [146.64698, 35.13298], [146.63423, 35.10073], [146.62473, 35.06773], [146.61923, 35.03423], [146.61773, 35.00073], [146.62048, 34.96748], [146.62606, 34.93606], [146.6345, 34.907], [146.64532, 34.88032], [146.65807, 34.85607], [146.6648, 34.84203], [146.6726, 34.82885], [146.68118, 34.8169], [146.68972, 34.80638], [146.93943, 34.73553]]]}}, {"type": "Feature", "properties": {"stormElement": "ERROR_CONE_BBOX", "forecastHour": 24, "validDateTime": "2024-09-05T21:00:00Z"}, "geometry": {"type": "Polygon", "coordinates": [[[146.61773, 34.73553], [159.16691, 34.73553], [159.16691, 43.72293], [146.61773, 43.72293], [146.61773, 34.73553]]]}}, {"type": "Feature", "properties": {"stormElement": "FORECAST_TRACK"}, "geometry": {"type": "LineString", "coordinates": [[147.6, 35.6], [147.81585, 35.78637], [148.02296, 35.96593], [148.22133, 36.13867], [148.41852, 36.30926], [148.62207, 36.48237], [148.832, 36.658], [149.0483, 36.83615], [149.27096, 37.01681], [149.5, 37.2], [149.73541, 37.3857], [149.97719, 37.57393], [150.22533, 37.76467], [150.47985, 37.95793], [150.74074, 38.1537], [151.008, 38.352], [151.28315, 38.55296], [151.5677, 38.75674], [151.86167, 38.96333], [152.16504, 39.17274], [152.47781, 39.38496], [152.8, 39.6], [153.13159, 39.81785], [153.47259, 40.03852], [153.823, 40.262], [154.18281, 40.4883], [154.55204, 40.71741], [154.93067, 40.94933], [155.3187, 41.18407], [155.71615, 41.42163], [156.123, 41.662], [156.53926, 41.90519], [156.96493, 42.15119], [157.4, 42.4]]}}, {"type": "Feature", "properties": {"stormElement": "OBSERVED_TRACK"}, "geometry": {"type": "LineString", "coordinates": [[146.7, 29.7], [146.67127, 29.79262], [146.63793, 29.95929], [146.6, 30.2], [146.55747, 30.51476], [146.51493, 30.88507], [146.5, 31.2], [146.51726, 31.44104], [146.55024, 31.61915], [146.5, 31.8], [146.35007, 31.99453], [146.1281, 32.20001], [146.0, 32.4], [145.99343, 32.59177], [146.08118, 32.76969], [146.1, 32.9], [146.02268, 32.97708], [145.87372, 33.01521], [145.8, 33.1], [145.82602, 33.24574], [145.93208, 33.43908], [146.0, 33.6], [146.0101, 33.71517], [145.97827, 33.79478], [146.0, 33.9], [146.09119, 34.04103], [146.24273, 34.21448], [146.4, 34.4], [146.55388, 34.5942], [146.70977, 34.79613], [146.9, 35.0], [147.12996, 35.20486], [147.37541, 35.40681], [147.6, 35.6]]}}], "metadata": {"stormName": "Leepi", "source": "DTN", "advisoryDateTime": "2024-09-05T21:00:00Z", "stormNum": "20S", "stormId": 101}}]}'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/cyclone-radii:
    get:
      tags:
      - DTN
      summary: Get Radii
      description: "Returns Array of FeatureCollection Objects, Contain wind radii features. \n\n**Data returned from this endpoint contains data from DTN advisories ONLY**\n\nGeoJSON Properties:\n\n* **stormElement** ***(string)***: Type of storm element (\"FORECAST_RADII\" in this case).\n* **radiiType** ***(string)***: Type of wind radii being provided (e.g., \"34kt\" for 34-knot winds).\n* **forecastHour** ***(integer)***: Forecast hour for which the wind radii are valid.\n* **ne** ***(integer)***: Radius of the wind field in the northeast quadrant (in nautical miles).\n* **se** ***(integer)***: Radius of the wind field in the southeast quadrant (in nautical miles).\n* **sw** ***(integer)***: Radius of the wind field in the southwest quadrant (in nautical miles).\n* **nw** ***(integer)***: Radius of the wind field in the northwest quadrant (in nautical miles).\n* **validDateTime** ***(string)***: Date and time when the forecast is valid in UTC format (YYYY-MM-DDTHH:MM:SSZ).\n* **category** ***(integer)***: Storm category (Saffir-Simpson Hurricane Wind Scale) based on the wind speed.\n* **windSpeedKnots** ***(float)***: Wind speed of the storm in knots."
      operationId: get_radii_v1_cyclone_radii_get
      security:
      - clientCredentials: []
      parameters:
      - name: stormName
        in: query
        required: false
        schema:
          type: string
          description: 'Optional: Filter results by name of storm'
          title: Stormname
        description: 'Optional: Filter results by name of storm'
      - name: stormNum
        in: query
        required: false
        schema:
          type: string
          description: 'Optional: Filter results by number of storm'
          title: Stormnum
        description: 'Optional: Filter results by number of storm'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TropicalResponse'
              example: '{"url": "http://tropical.api.dtn.com/v1/cyclone-radii", "cycloneCount": 2, "data": [{"type": "FeatureCollection", "features": [{"type": "Feature", "properties": {"stormElement": "FORECAST_RADII", "radiiType": "34kt", "ne": null, "se": null, "sw": null, "nw": null, "validDateTime": "2024-01-30T06:00:00Z", "category": 3, "windSpeedKnots": 65.0, "forecastHour": 120}, "geometry": {"type": "Polygon", "coordinates": [[[71.55999, -26.996157], [71.55999, -26.996157], [71.551872, -26.988434], [71.543724, -26.980829], [71.535553, -26.973339], [71.527344, -26.965967], [71.519104, -26.958712], [71.510834, -26.951571], [71.502541, -26.944546], [71.494209, -26.937635], [71.485847, -26.930838], [71.477463, -26.924154], [71.46904, -26.917585], [71.460587, -26.911129], [71.45211, -26.904783], [71.443596, -26.898552], [71.435051, -26.892431], [71.426483, -26.886421], [71.417877, -26.88052], [71.409248, -26.874731], [71.400581, -26.869051], [71.391884, -26.863482], [71.383163, -26.858019], [71.374405, -26.852665], [71.365616, -26.84742], [71.356804, -26.842281], [71.347954, -26.83725], [71.339073, -26.832325], [71.33017, -26.827507], [71.321228, -26.822794], [71.312256, -26.818186], [71.303261, -26.813681], [71.294228, -26.809282], [71.285164, -26.804987], [71.27607, -26.800795], [71.266953, -26.796705], [71.257797, -26.792719], [71.248611, -26.788834], [71.239395, -26.785049], [71.230148, -26.781368], [71.220871, -26.777786], [71.211563, -26.774303], [71.202225, -26.770922], [71.192856, -26.767639], [71.183456, -26.764456], [71.174026, -26.76137], [71.164566, -26.758381], [71.155075, -26.755491], [71.145554, -26.752699], [71.136002, -26.750002], [71.126419, -26.7474], [71.116798, -26.744896], [71.107155, -26.742485], [71.097481, -26.74017], [71.087769, -26.737949], [71.078033, -26.735821], [71.06826, -26.733788], [71.058464, -26.731846], [71.04863, -26.729998], [71.038773, -26.728241], [71.028877, -26.726576], [71.018951, -26.725002], [71.009003, -26.72352], [70.999016, -26.722126], [70.988998, -26.720823], [70.978951, -26.719608], [70.968872, -26.718483], [70.958763, -26.717447], [70.948624, -26.716497], [70.938454, -26.715635], [70.928253, -26.714861], [70.918015, -26.714174], [70.907753, -26.713572], [70.897461, -26.713055], [70.887131, -26.712624], [70.876778, -26.712278], [70.866386, -26.712017], [70.855965, -26.711838], [70.84552, -26.711742], [70.835037, -26.711731], [70.824524, -26.711802], [70.81398, -26.711954], [70.803406, -26.712189], [70.792801, -26.712505], [70.782166, -26.7129], [70.7715, -26.713377], [70.760796, -26.713932], [70.750069, -26.714569], [70.739304, -26.715282], [70.728516, -26.716076], [70.71769, -26.716946], [70.706833, -26.717894], [70.695946, -26.71892], [70.685028, -26.72002], [70.67408, -26.721199], [70.663101, -26.722452], [70.652092, -26.723782], [70.641052, -26.725185], [70.629974, -26.726662], [70.618874, -26.728214], [70.607841, -26.729866], [70.596924, -26.731653], [70.586128, -26.733572], [70.575455, -26.73562], [70.564896, -26.737799], [70.554451, -26.740107], [70.544113, -26.74254], [70.53389, -26.745102], [70.523781, -26.747786], [70.513771, -26.750593], [70.503868, -26.753523], [70.494064, -26.756571], [70.484367, -26.759739], [70.474762, -26.763025], [70.465256, -26.766428], [70.455849, -26.769947], [70.446533, -26.773577], [70.437309, -26.777321], [70.428169, -26.781176], [70.419128, -26.785141], [70.410164, -26.789215], [70.401283, -26.793394], [70.392487, -26.79768], [70.383774, -26.802071], [70.37513, -26.806564], [70.36657, -26.811161], [70.358086, -26.815857], [70.34967, -26.820652], [70.341324, -26.825544], [70.333046, -26.830534], [70.324837, -26.835619], [70.316689, -26.840797], [70.308609, -26.846069], [70.300591, -26.851431], [70.292625, -26.856884], [70.284721, -26.862425], [70.276871, -26.868053], [70.269073, -26.873766], [70.26133, -26.879566], [70.253632, -26.885447], [70.245987, -26.891411], [70.238388, -26.897455], [70.230827, -26.90358], [70.223312, -26.909782], [70.215836, -26.916059], [70.208405, -26.922415], [70.201004, -26.928843], [70.193634, -26.935343], [70.186302, -26.941914], [70.179001, -26.948557], [70.171722, -26.955267], [70.164474, -26.962046], [70.157257, -26.968889], [70.150055, -26.975798], [70.142876, -26.982771], [70.135719, -26.989805], [70.128578, -26.996899], [70.121452, -27.004053], [70.114342, -27.011267], [70.107239, -27.018536], [70.100151, -27.025862], [70.093071, -27.033239], [70.085991, -27.040672], [70.078918, -27.048155], [70.071846, -27.055689], [70.064781, -27.063271], [70.057709, -27.0709], [70.050636, -27.078577], [70.043556, -27.086298], [70.036469, -27.094063], [70.029373, -27.10187], [70.022263, -27.109716], [70.015144, -27.117603], [70.008011, -27.125528], [70.000854, -27.133492], [69.993683, -27.141489], [69.986496, -27.149521], [69.979279, -27.157587], [69.972046, -27.165684], [69.964783, -27.173809], [69.957489, -27.181965], [69.950165, -27.190149], [69.94281, -27.198359], [69.935425, -27.206594], [69.928001, -27.214853], [69.92054, -27.223133], [69.91304, -27.231436], [69.905556, -27.239712], [69.898102, -27.247952], [69.890694, -27.256153], [69.883324, -27.264322], [69.875999, -27.272459], [69.868713, -27.280565], [69.861465, -27.288643], [69.854271, -27.296692], [69.847122, -27.304718], [69.840012, -27.312721], [69.832954, -27.320704], [69.825951, -27.328667], [69.818993, -27.336613], [69.812088, -27.344542], [69.805237, -27.352457], [69.798439, -27.360361], [69.791687, -27.368256], [69.785004, -27.376143], [69.778374, -27.384022], [69.771797, -27.391897], [69.765282, -27.399769], [69.758827, -27.407642], [69.752434, -27.415514], [69.746109, -27.423389], [69.739838, -27.431271], [69.733635, -27.439157], [69.727501, -27.447054], [69.721436, -27.45496], [69.715431, -27.462877], [69.709503, -27.47081], [69.703644, -27.478758], [69.697853, -27.486725], [69.692131, -27.494709], [69.686493, -27.502716], [69.680923, -27.510746], [69.67543, -27.518801], [69.670013, -27.526884], [69.66468, -27.534994], [69.659424, -27.543137], [69.654243, -27.551311], [69.649147, -27.559519], [69.644135, -27.567764], [69.639206, -27.576048], [69.634361, -27.58437], [69.629601, -27.592733], [69.624931, -27.601143], [69.620346, -27.609596], [69.615852, -27.618097], [69.61145, -27.626646], [69.60714, -27.635248], [69.602921, -27.643902], [69.598793, -27.652611], [69.594765, -27.661375], [69.590828, -27.6702], [69.58699, -27.679083], [69.583252, -27.68803], [69.579613, -27.697039], [69.576073, -27.706116], [69.572632, -27.715258], [69.569298, -27.724472], [69.566063, -27.733755], [69.562935, -27.743113], [69.559914, -27.752546], [69.557007, -27.762054], [69.554199, -27.771643], [69.551506, -27.781311], [69.54892, -27.791063], [69.54644, -27.8009], [69.544083, -27.81082], [69.541832, -27.820829], [69.539703, -27.830929], [69.537689, -27.841122], [69.535789, -27.851406], [69.534004, -27.861786], [69.532349, -27.872263], [69.530807, -27.882839], [69.529388, -27.893517], [69.528091, -27.904297], [69.526917, -27.915182], [69.525871, -27.926174], [69.524948, -27.937273], [69.524124, -27.948423], [69.523384, -27.959526], [69.52272, -27.970579], [69.522133, -27.981586], [69.521629, -27.992544], [69.521202, -28.003456], [69.520859, -28.01432], [69.520592, -28.025139], [69.520409, -28.03591], [69.520309, -28.046637], [69.520287, -28.057318], [69.520348, -28.067953], [69.520493, -28.078543], [69.520721, -28.089088], [69.521042, -28.09959], [69.521439, -28.110048], [69.521919, -28.120462], [69.522491, -28.130833], [69.523148, -28.141161], [69.523888, -28.151447], [69.524719, -28.16169], [69.525635, -28.171892], [69.526634, -28.182051], [69.527725, -28.192169], [69.528908, -28.202248], [69.530182, -28.212284], [69.53154, -28.222281], [69.53299, -28.232237], [69.534531, -28.242155], [69.536163, -28.252031], [69.537888, -28.261871], [69.539703, -28.271671], [69.541618, -28.281433], [69.543617, -28.291157], [69.545715, -28.300842], [69.547905, -28.310492], [69.550186, -28.320103], [69.552567, -28.329678], [69.555038, -28.339216], [69.55761, -28.348719], [69.56028, -28.358187], [69.563042, -28.367619], [69.565903, -28.377014], [69.568863, -28.386375], [69.571922, -28.395704], [69.575081, -28.404997], [69.578331, -28.414257], [69.581688, -28.423483], [69.585144, -28.432676], [69.588699, -28.441837], [69.592361, -28.450964], [69.596123, -28.46006], [69.599983, -28.469126], [69.603943, -28.478157], [69.608009, -28.48716], [69.612183, -28.49613], [69.616455, -28.505072], [69.620834, -28.513981], [69.62532, -28.522861], [69.629906, -28.531713], [69.634605, -28.540535], [69.639404, -28.549328], [69.64431, -28.558092], [69.64933, -28.566828], [69.654449, -28.575537], [69.659683, -28.584219], [69.665024, -28.592873], [69.670471, -28.6015], [69.676033, -28.6101], [69.681702, -28.618675], [69.687485, -28.627222], [69.693375, -28.635746], [69.699379, -28.644243], [69.70549, -28.652716], [69.711716, -28.661165], [69.718063, -28.66959], [69.72451, -28.67799], [69.731079, -28.686365], [69.737762, -28.694719], [69.74456, -28.703051], [69.751472, -28.711357], [69.758499, -28.719645], [69.765648, -28.727907], [69.772903, -28.736149], [69.780281, -28.744371], [69.787781, -28.752571], [69.795395, -28.76075], [69.803032, -28.768816], [69.810699, -28.776775], [69.818382, -28.784626], [69.826096, -28.792372], [69.833832, -28.800009], [69.841599, -28.807541], [69.84938, -28.814966], [69.857201, -28.822287], [69.865036, -28.8295], [69.872902, -28.836611], [69.880798, -28.843616], [69.888718, -28.850519], [69.89666, -28.857319], [69.90464, -28.864014], [69.912643, -28.870607], [69.920677, -28.877098], [69.928734, -28.883488], [69.936829, -28.889774], [69.944946, -28.895962], [69.953094, -28.902046], [69.961273, -28.908033], [69.969482, -28.913919], [69.97773, -28.919704], [69.986, -28.925392], [69.994308, -28.930981], [70.002647, -28.936472], [70.011017, -28.941864], [70.019417, -28.947159], [70.027855, -28.952356], [70.036324, -28.957458], [70.044823, -28.962463], [70.05336, -28.967373], [70.061935, -28.972187], [70.070541, -28.976906], [70.079178, -28.981529], [70.08786, -28.986061], [70.096573, -28.990496], [70.105316, -28.994839], [70.114105, -28.999088], [70.122925, -29.003246], [70.13179, -29.007311], [70.140686, -29.011284], [70.14962, -29.015165], [70.158592, -29.018955], [70.16761, -29.022655], [70.176659, -29.026266], [70.185753, -29.029785], [70.194885, -29.033216], [70.204056, -29.036556], [70.213264, -29.03981], [70.222519, -29.042974], [70.231812, -29.046051], [70.241142, -29.04904], [70.250519, -29.051943], [70.259941, -29.054758], [70.269402, -29.057487], [70.278908, -29.060131], [70.288452, -29.062689], [70.298042, -29.065163], [70.307678, -29.067551], [70.31736, -29.069855], [70.32708, -29.072077], [70.336853, -29.074213], [70.346664, -29.076267], [70.356522, -29.078238], [70.366432, -29.080128], [70.376381, -29.081936], [70.386383, -29.08366], [70.396423, -29.085306], [70.406517, -29.08687], [70.416664, -29.088354], [70.426849, -29.089758], [70.437088, -29.091084], [70.447372, -29.092329], [70.45771, -29.093496], [70.468094, -29.094585], [70.478531, -29.095596], [70.489014, -29.096531], [70.49955, -29.097387], [70.510132, -29.098167], [70.520775, -29.098871], [70.531464, -29.099501], [70.542206, -29.100054], [70.552994, -29.100531], [70.563843, -29.100933], [70.574738, -29.101263], [70.585693, -29.101519], [70.596703, -29.1017], [70.607758, -29.101809], [70.618874, -29.101845], [70.629982, -29.101803], [70.641022, -29.101675], [70.652, -29.101465], [70.66291, -29.10117], [70.673759, -29.100788], [70.684547, -29.100325], [70.695267, -29.099775], [70.705933, -29.099142], [70.71653, -29.098423], [70.727066, -29.09762], [70.737549, -29.096733], [70.747971, -29.095762], [70.758339, -29.094707], [70.768639, -29.093567], [70.778893, -29.092342], [70.789085, -29.091034], [70.799225, -29.08964], [70.809311, -29.088163], [70.819344, -29.086601], [70.829323, -29.084955], [70.839256, -29.083225], [70.849129, -29.081409], [70.858955, -29.07951], [70.868736, -29.077526], [70.878464, -29.075459], [70.888145, -29.073307], [70.897781, -29.071072], [70.907364, -29.06875], [70.916908, -29.066345], [70.926399, -29.063856], [70.935852, -29.061283], [70.945259, -29.058626], [70.954628, -29.055885], [70.963951, -29.053059], [70.973236, -29.05015], [70.982475, -29.047155], [70.991676, -29.044077], [71.000839, -29.040915], [71.009964, -29.037668], [71.019051, -29.034338], [71.028099, -29.030922], [71.037117, -29.027424], [71.046097, -29.02384], [71.055038, -29.020174], [71.06395, -29.016422], [71.07283, -29.012587], [71.08168, -29.008667], [71.090492, -29.004663], [71.099274, -29.000576], [71.108032, -28.996405], [71.116753, -28.992149], [71.12545, -28.98781], [71.134125, -28.983387], [71.142761, -28.978878], [71.151382, -28.974287], [71.159973, -28.969612], [71.168533, -28.964853], [71.177078, -28.960009], [71.1856, -28.955082], [71.194092, -28.950071], [71.202568, -28.944975], [71.211021, -28.939796], [71.21946, -28.934532], [71.227875, -28.929186], [71.236267, -28.923756], [71.244644, -28.918242], [71.253006, -28.912642], [71.261353, -28.90696], [71.269684, -28.901194], [71.278, -28.895344], [71.286301, -28.88941], [71.294586, -28.883392], [71.302864, -28.877291], [71.311127, -28.871105], [71.319374, -28.864836], [71.327621, -28.858482], [71.335854, -28.852045], [71.344078, -28.845526], [71.352287, -28.838921], [71.360497, -28.832233], [71.368698, -28.82546], [71.3769, -28.818605], [71.385086, -28.811666], [71.393272, -28.804644], [71.401459, -28.797537], [71.409637, -28.790348], [71.417816, -28.783073], [71.425995, -28.775715], [71.434174, -28.768274], [71.442352, -28.76075], [71.4505, -28.75318], [71.45858, -28.745607], [71.466591, -28.738033], [71.474533, -28.730457], [71.482399, -28.722876], [71.490204, -28.715292], [71.49794, -28.707703], [71.5056, -28.700106], [71.513191, -28.692505], [71.520714, -28.684895], [71.528168, -28.677277], [71.535545, -28.669649], [71.542854, -28.66201], [71.550095, -28.654364], [71.557259, -28.646704], [71.564354, -28.63903], [71.571373, -28.631346], [71.578323, -28.623648], [71.585197, -28.615934], [71.592003, -28.608204], [71.598732, -28.600458], [71.605392, -28.592697], [71.611977, -28.584915], [71.618484, -28.577116], [71.624924, -28.569298], [71.631287, -28.561459], [71.637573, -28.553598], [71.643791, -28.545717], [71.649933, -28.537813], [71.655991, -28.529884], [71.66198, -28.521933], [71.667892, -28.513954], [71.673729, -28.505951], [71.679497, -28.497923], [71.685181, -28.489864], [71.690788, -28.481779], [71.69632, -28.473665], [71.701775, -28.465521], [71.707153, -28.457346], [71.712456, -28.449139], [71.717682, -28.440901], [71.722824, -28.432629], [71.72789, -28.424324], [71.73288, -28.415983], [71.737793, -28.407608], [71.742622, -28.399197], [71.747375, -28.390747], [71.752052, -28.382261], [71.756645, -28.373735], [71.761162, -28.365171], [71.765594, -28.356567], [71.769951, -28.347921], [71.774223, -28.339235], [71.778419, -28.330505], [71.782532, -28.321732], [71.786568, -28.312914], [71.79052, -28.304052], [71.794388, -28.295143], [71.79818, -28.28619], [71.801888, -28.277187], [71.805511, -28.268137], [71.809052, -28.259039], [71.812508, -28.249889], [71.815887, -28.24069], [71.819183, -28.23144], [71.822388, -28.222137], [71.825516, -28.212782], [71.82856, -28.203371], [71.83152, -28.193909], [71.834396, -28.184389], [71.837181, -28.174814], [71.83989, -28.165182], [71.842514, -28.155493], [71.845047, -28.145744], [71.847496, -28.135937], [71.849861, -28.126068], [71.852142, -28.11614], [71.85434, -28.10615], [71.856445, -28.096098], [71.858467, -28.085981], [71.860397, -28.075802], [71.862244, -28.065557], [71.864006, -28.055246], [71.865677, -28.04487], [71.867264, -28.034426], [71.868759, -28.023914], [71.870171, -28.013332], [71.87149, -28.002682], [71.872719, -27.991962], [71.873863, -27.981169], [71.874924, -27.970306], [71.875885, -27.959368], [71.876762, -27.948359], [71.877548, -27.937273], [71.878265, -27.926142], [71.878914, -27.915047], [71.879509, -27.903988], [71.880043, -27.892963], [71.880516, -27.881977], [71.88092, -27.871025], [71.881271, -27.860111], [71.881554, -27.849232], [71.881775, -27.838387], [71.881927, -27.827579], [71.882019, -27.816807], [71.88205, -27.80607], [71.882004, -27.79537], [71.881897, -27.784704], [71.881721, -27.774075], [71.881485, -27.763479], [71.881172, -27.75292], [71.880791, -27.742397], [71.880341, -27.731909], [71.879822, -27.721457], [71.879234, -27.711039], [71.878571, -27.700657], [71.877838, -27.69031], [71.877037, -27.679998], [71.87616, -27.669722], [71.875206, -27.659481], [71.874176, -27.649273], [71.873077, -27.639103], [71.871902, -27.628965], [71.870651, -27.618864], [71.869324, -27.608797], [71.86792, -27.598766], [71.866432, -27.58877], [71.864876, -27.578808], [71.863235, -27.56888], [71.861511, -27.558987], [71.859718, -27.549129], [71.857834, -27.539305], [71.855873, -27.529516], [71.853836, -27.519762], [71.851707, -27.510042], [71.849503, -27.500357], [71.847206, -27.490705], [71.844833, -27.481089], [71.842377, -27.471506], [71.839828, -27.461958], [71.837204, -27.452444], [71.834488, -27.442965], [71.83168, -27.433519], [71.828789, -27.424109], [71.825813, -27.414732], [71.822746, -27.405388], [71.819588, -27.39608], [71.816345, -27.386805], [71.813004, -27.377563], [71.809578, -27.368355], [71.806061, -27.359182], [71.802452, -27.350042], [71.798744, -27.340937], [71.794945, -27.331863], [71.791054, -27.322826], [71.787071, -27.31382], [71.78299, -27.30485], [71.778816, -27.295912], [71.774544, -27.287006], [71.77018, -27.278137], [71.765709, -27.269299], [71.761147, -27.260494], [71.756485, -27.251724], [71.751724, -27.242987], [71.746864, -27.234283], [71.741905, -27.225613], [71.736839, -27.216974], [71.731682, -27.20837], [71.726418, -27.199799], [71.721046, -27.191261], [71.715576, -27.182756], [71.710007, -27.174284], [71.704323, -27.165844], [71.69854, -27.157438], [71.692657, -27.149063], [71.686661, -27.140724], [71.680557, -27.132416], [71.674355, -27.12414], [71.668037, -27.115898], [71.661613, -27.107687], [71.655083, -27.09951], [71.648438, -27.091366], [71.641685, -27.083254], [71.634827, -27.075174], [71.627853, -27.067127], [71.620766, -27.059113], [71.613564, -27.05113], [71.606255, -27.04318], [71.598831, -27.035263], [71.591293, -27.027376], [71.583641, -27.019524], [71.575874, -27.011702], [71.567993, -27.003914], [71.55999, -26.996157]]]}}, {"type": "Feature", "properties": {"stormElement": "FORECAST_RADII", "radiiType": "50kt", "ne": 38, "se": 39, "sw": 39, "nw": 36, "validDateTime": "2024-01-30T06:00:00Z", "category": 3, "windSpeedKnots": 65.0, "forecastHour": 120}, "geometry": {"type": "Polygon", "coordinates": [[[71.089432, -27.466715], [71.089432, -27.466715], [71.081093, -27.45927], [71.072716, -27.452042], [71.064293, -27.445026], [71.055824, -27.438225], [71.04731, -27.431635], [71.038742, -27.425257], [71.030136, -27.419088], [71.021484, -27.413126], [71.012779, -27.407373], [71.004028, -27.401825], [70.995224, -27.396481], [70.986374, -27.39134], [70.977478, -27.386402], [70.968529, -27.381664], [70.959526, -27.377127], [70.95047, -27.372787], [70.94136, -27.368647], [70.932205, -27.364698], [70.922989, -27.360947], [70.913727, -27.357389], [70.904404, -27.354023], [70.895027, -27.350847], [70.88559, -27.347862], [70.876106, -27.345064], [70.866554, -27.342455], [70.856956, -27.340031], [70.84729, -27.337791], [70.83757, -27.335735], [70.827789, -27.33386], [70.817947, -27.332169], [70.808052, -27.330654], [70.798088, -27.329321], [70.788071, -27.328163], [70.777985, -27.327183], [70.767838, -27.326376], [70.757622, -27.325743], [70.747353, -27.325281], [70.737015, -27.324993], [70.726608, -27.324873], [70.716141, -27.324921], [70.705605, -27.325138], [70.695, -27.32552], [70.684334, -27.326067], [70.673599, -27.326778], [70.662788, -27.327652], [70.651917, -27.328686], [70.640968, -27.32988], [70.629959, -27.331232], [70.618874, -27.332743], [70.608032, -27.33445], [70.597443, -27.336432], [70.58709, -27.33868], [70.576981, -27.341194], [70.567085, -27.343962], [70.557419, -27.346979], [70.547951, -27.350241], [70.538689, -27.353739], [70.529617, -27.357468], [70.520729, -27.361422], [70.512009, -27.365593], [70.503464, -27.369976], [70.495064, -27.374563], [70.486824, -27.379353], [70.478714, -27.384333], [70.470741, -27.3895], [70.462891, -27.394848], [70.455154, -27.40037], [70.447525, -27.406059], [70.439987, -27.411909], [70.432541, -27.417915], [70.425171, -27.424068], [70.417877, -27.430367], [70.410645, -27.4368], [70.403465, -27.443363], [70.396332, -27.450048], [70.389236, -27.456854], [70.382172, -27.463768], [70.375122, -27.470787], [70.368088, -27.477905], [70.361053, -27.485115], [70.354012, -27.492411], [70.346954, -27.499786], [70.339882, -27.507235], [70.332771, -27.51475], [70.325623, -27.522326], [70.31842, -27.529955], [70.311165, -27.537634], [70.303848, -27.545353], [70.296448, -27.553108], [70.288971, -27.560892], [70.281403, -27.568699], [70.273735, -27.576521], [70.265953, -27.584354], [70.258118, -27.592133], [70.250298, -27.599804], [70.242493, -27.607374], [70.234703, -27.614853], [70.226952, -27.622248], [70.219231, -27.629568], [70.211555, -27.636824], [70.203926, -27.644022], [70.19635, -27.651171], [70.188835, -27.658279], [70.181389, -27.665358], [70.174011, -27.672411], [70.166718, -27.679451], [70.159508, -27.686485], [70.15239, -27.693521], [70.14537, -27.700571], [70.138451, -27.707638], [70.131645, -27.714735], [70.124962, -27.721867], [70.118401, -27.729046], [70.111969, -27.736279], [70.105667, -27.743574], [70.099518, -27.75094], [70.093506, -27.758387], [70.087662, -27.765923], [70.08197, -27.773554], [70.076447, -27.781292], [70.071098, -27.789143], [70.065933, -27.797117], [70.060951, -27.805222], [70.056168, -27.813467], [70.051575, -27.821861], [70.047195, -27.830412], [70.043022, -27.839127], [70.03907, -27.848017], [70.035339, -27.85709], [70.031837, -27.866354], [70.02858, -27.875816], [70.025558, -27.885489], [70.022797, -27.895378], [70.020279, -27.905491], [70.018028, -27.91584], [70.016052, -27.926432], [70.014343, -27.937273], [70.012833, -27.948357], [70.011482, -27.959372], [70.010284, -27.970316], [70.009254, -27.98119], [70.008377, -27.991995], [70.007668, -28.002731], [70.007118, -28.013401], [70.006737, -28.024004], [70.006523, -28.034538], [70.00647, -28.045008], [70.006592, -28.055412], [70.006882, -28.06575], [70.007347, -28.076025], [70.007973, -28.086235], [70.008781, -28.096382], [70.009766, -28.106466], [70.010918, -28.116489], [70.012253, -28.12645], [70.013771, -28.136351], [70.015465, -28.146191], [70.017334, -28.15597], [70.019394, -28.165691], [70.021629, -28.175352], [70.024055, -28.184956], [70.026665, -28.194502], [70.029465, -28.203991], [70.032448, -28.213425], [70.035622, -28.222801], [70.038986, -28.232122], [70.042549, -28.24139], [70.046303, -28.250603], [70.050247, -28.259762], [70.05439, -28.268869], [70.058731, -28.277924], [70.063263, -28.286924], [70.068001, -28.295876], [70.072945, -28.304777], [70.078079, -28.313627], [70.083427, -28.322428], [70.088974, -28.331179], [70.094727, -28.339882], [70.100685, -28.348537], [70.106857, -28.357145], [70.113235, -28.365705], [70.119827, -28.374222], [70.126625, -28.38269], [70.133644, -28.391115], [70.140869, -28.399494], [70.148315, -28.407831], [70.155899, -28.416046], [70.163528, -28.424061], [70.171219, -28.431875], [70.178963, -28.439491], [70.18676, -28.446911], [70.194611, -28.454136], [70.202522, -28.461168], [70.210495, -28.468008], [70.218521, -28.474659], [70.226608, -28.481119], [70.234756, -28.487394], [70.242966, -28.493483], [70.251236, -28.499388], [70.259567, -28.50511], [70.26796, -28.510651], [70.276421, -28.516012], [70.28495, -28.521196], [70.293533, -28.526205], [70.302193, -28.531038], [70.310913, -28.535698], [70.31971, -28.540186], [70.328568, -28.544504], [70.337502, -28.548655], [70.346497, -28.552637], [70.355568, -28.556456], [70.364708, -28.560108], [70.373924, -28.563601], [70.383217, -28.566931], [70.392578, -28.570103], [70.402016, -28.573116], [70.41153, -28.575974], [70.42112, -28.578678], [70.430786, -28.581228], [70.440529, -28.583628], [70.450356, -28.585876], [70.460258, -28.587976], [70.470238, -28.58993], [70.480301, -28.59174], [70.490448, -28.593405], [70.500679, -28.594927], [70.510994, -28.59631], [70.521385, -28.597553], [70.531868, -28.59866], [70.542435, -28.599628], [70.553093, -28.600464], [70.563828, -28.601168], [70.574661, -28.601738], [70.585579, -28.60218], [70.596588, -28.602493], [70.607681, -28.60268], [70.618874, -28.602743], [70.630058, -28.602674], [70.641129, -28.602467], [70.652107, -28.602119], [70.662971, -28.601631], [70.673744, -28.601004], [70.684418, -28.600233], [70.694984, -28.599321], [70.705467, -28.598265], [70.715851, -28.597067], [70.726143, -28.595724], [70.736343, -28.594236], [70.74646, -28.592602], [70.756485, -28.590822], [70.766418, -28.588894], [70.776276, -28.586819], [70.786049, -28.584597], [70.795746, -28.582224], [70.805359, -28.5797], [70.814896, -28.577026], [70.824364, -28.574203], [70.833748, -28.571226], [70.843063, -28.568098], [70.85231, -28.564816], [70.861488, -28.561378], [70.870598, -28.557787], [70.879646, -28.554041], [70.888626, -28.550138], [70.897545, -28.546078], [70.906403, -28.541861], [70.915207, -28.537485], [70.92395, -28.532951], [70.93264, -28.528257], [70.941269, -28.523403], [70.949852, -28.518389], [70.958389, -28.513212], [70.966873, -28.507874], [70.975304, -28.502371], [70.983696, -28.496706], [70.99205, -28.490875], [71.000351, -28.48488], [71.008621, -28.478718], [71.016846, -28.472391], [71.025032, -28.465895], [71.033188, -28.459232], [71.041313, -28.4524], [71.0494, -28.4454], [71.057465, -28.438229], [71.065491, -28.430887], [71.073494, -28.423374], [71.081474, -28.415689], [71.089432, -28.407831], [71.09729, -28.399876], [71.104973, -28.391897], [71.112488, -28.383892], [71.119827, -28.37586], [71.126999, -28.367802], [71.134003, -28.359713], [71.140831, -28.351589], [71.147491, -28.343435], [71.153992, -28.335245], [71.160316, -28.327017], [71.166481, -28.318752], [71.172478, -28.310446], [71.178307, -28.302097], [71.183968, -28.293707], [71.189476, -28.285269], [71.194809, -28.276787], [71.199989, -28.268253], [71.205002, -28.25967], [71.209854, -28.251036], [71.214554, -28.242348], [71.219086, -28.233604], [71.223457, -28.224804], [71.227676, -28.215946], [71.231735, -28.207026], [71.235641, -28.198044], [71.239388, -28.188999], [71.242973, -28.17989], [71.246414, -28.170712], [71.249695, -28.161465], [71.252823, -28.152149], [71.255798, -28.142759], [71.258621, -28.133297], [71.261299, -28.12376], [71.263817, -28.114145], [71.26619, -28.104452], [71.268417, -28.094677], [71.270493, -28.084822], [71.272415, -28.074881], [71.2742, -28.064856], [71.275833, -28.054743], [71.277321, -28.04454], [71.278664, -28.03425], [71.279861, -28.023865], [71.280914, -28.013388], [71.28183, -28.002813], [71.2826, -27.992144], [71.283226, -27.981373], [71.283714, -27.970503], [71.284065, -27.959532], [71.284271, -27.948454], [71.28434, -27.937273], [71.284279, -27.926085], [71.284088, -27.914986], [71.283775, -27.903978], [71.283333, -27.893061], [71.282761, -27.882231], [71.282059, -27.871489], [71.281227, -27.860836], [71.280258, -27.850267], [71.279152, -27.839787], [71.277908, -27.82939], [71.276527, -27.819078], [71.275002, -27.808849], [71.273338, -27.798702], [71.27153, -27.788637], [71.269577, -27.778654], [71.267471, -27.768751], [71.265221, -27.758928], [71.262825, -27.749184], [71.260277, -27.739517], [71.257576, -27.729927], [71.254715, -27.720413], [71.251701, -27.710978], [71.248528, -27.701614], [71.245201, -27.692326], [71.241707, -27.683111], [71.238052, -27.673967], [71.234238, -27.664898], [71.230255, -27.655897], [71.226105, -27.646969], [71.221786, -27.638107], [71.2173, -27.629316], [71.212639, -27.620592], [71.207802, -27.611937], [71.202797, -27.603346], [71.197609, -27.594822], [71.192253, -27.586363], [71.186707, -27.577967], [71.180984, -27.569633], [71.175079, -27.561365], [71.168991, -27.553156], [71.16272, -27.54501], [71.156258, -27.536922], [71.149612, -27.528894], [71.142769, -27.520924], [71.135735, -27.513014], [71.12851, -27.505159], [71.121094, -27.49736], [71.113472, -27.489618], [71.105659, -27.48193], [71.097649, -27.474297], [71.089432, -27.466715]]]}}, {"type": "Feature", "properties": {"stormElement": "FORECAST_RADII", "radiiType": "64kt", "ne": 19, "se": 19, "sw": 19, "nw": 19, "validDateTime": "2024-01-30T06:00:00Z", "category": 3, "windSpeedKnots": 65.0, "forecastHour": 120}, "geometry": {"type": "Polygon", "coordinates": [[[70.854149, -27.701994], [70.854149, -27.701994], [70.846336, -27.694368], [70.83847, -27.687075], [70.830559, -27.680109], [70.822578, -27.67347], [70.814537, -27.667152], [70.806419, -27.661158], [70.798218, -27.655479], [70.789932, -27.650116], [70.781555, -27.645067], [70.773087, -27.640327], [70.764503, -27.635895], [70.755814, -27.631767], [70.747002, -27.627943], [70.738068, -27.624418], [70.729004, -27.621189], [70.719803, -27.618256], [70.710457, -27.615614], [70.700966, -27.613262], [70.691315, -27.611197], [70.681503, -27.609413], [70.671524, -27.607912], [70.661369, -27.606691], [70.651031, -27.605745], [70.640511, -27.605072], [70.629791, -27.604671], [70.618874, -27.604538], [70.607956, -27.604671], [70.597237, -27.605072], [70.586716, -27.605745], [70.576378, -27.606691], [70.566223, -27.607912], [70.556244, -27.609413], [70.546432, -27.611197], [70.536781, -27.613262], [70.52729, -27.615614], [70.517944, -27.618256], [70.508743, -27.621189], [70.49968, -27.624418], [70.490746, -27.627943], [70.481934, -27.631767], [70.473244, -27.635895], [70.464661, -27.640327], [70.456192, -27.645067], [70.447815, -27.650116], [70.439529, -27.655479], [70.431328, -27.661158], [70.42321, -27.667152], [70.415169, -27.67347], [70.407188, -27.680109], [70.399277, -27.687075], [70.391411, -27.694368], [70.383598, -27.701994], [70.375977, -27.709808], [70.368675, -27.71767], [70.36171, -27.725586], [70.355072, -27.733564], [70.348755, -27.741608], [70.342758, -27.749727], [70.337082, -27.757925], [70.331718, -27.766209], [70.326668, -27.774586], [70.32193, -27.783062], [70.317497, -27.791641], [70.31337, -27.800335], [70.309547, -27.809145], [70.306023, -27.818079], [70.302795, -27.827143], [70.299858, -27.836344], [70.297218, -27.84569], [70.294861, -27.855183], [70.292801, -27.864832], [70.291016, -27.874645], [70.289513, -27.884624], [70.288292, -27.894779], [70.287346, -27.905115], [70.286674, -27.91564], [70.28627, -27.926355], [70.28614, -27.937273], [70.28627, -27.948191], [70.286674, -27.958906], [70.287346, -27.969431], [70.288292, -27.979767], [70.289513, -27.989922], [70.291016, -27.999901], [70.292801, -28.009714], [70.294861, -28.019363], [70.297218, -28.028856], [70.299858, -28.038202], [70.302795, -28.047403], [70.306023, -28.056467], [70.309547, -28.065401], [70.31337, -28.074211], [70.317497, -28.082905], [70.32193, -28.091484], [70.326668, -28.09996], [70.331718, -28.108337], [70.337082, -28.116621], [70.342758, -28.124819], [70.348755, -28.132938], [70.355072, -28.140982], [70.36171, -28.14896], [70.368675, -28.156876], [70.375977, -28.164738], [70.383598, -28.172552], [70.391411, -28.180178], [70.399277, -28.187471], [70.407188, -28.194437], [70.415169, -28.201077], [70.42321, -28.207394], [70.431328, -28.213388], [70.439529, -28.219067], [70.447815, -28.22443], [70.456192, -28.229479], [70.464661, -28.234219], [70.473244, -28.238651], [70.481934, -28.242779], [70.490746, -28.246603], [70.49968, -28.250128], [70.508743, -28.253357], [70.517944, -28.25629], [70.52729, -28.258932], [70.536781, -28.261284], [70.546432, -28.26335], [70.556244, -28.265133], [70.566223, -28.266634], [70.576378, -28.267855], [70.586716, -28.268801], [70.597237, -28.269474], [70.607956, -28.269875], [70.618874, -28.270008], [70.629791, -28.269875], [70.640511, -28.269474], [70.651031, -28.268801], [70.661369, -28.267855], [70.671524, -28.266634], [70.681503, -28.265133], [70.691315, -28.26335], [70.700966, -28.261284], [70.710457, -28.258932], [70.719803, -28.25629], [70.729004, -28.253357], [70.738068, -28.250128], [70.747002, -28.246603], [70.755814, -28.242779], [70.764503, -28.238651], [70.773087, -28.234219], [70.781555, -28.229479], [70.789932, -28.22443], [70.798218, -28.219067], [70.806419, -28.213388], [70.814537, -28.207394], [70.822578, -28.201077], [70.830559, -28.194437], [70.83847, -28.187471], [70.846336, -28.180178], [70.854149, -28.172552], [70.861771, -28.164738], [70.869072, -28.156876], [70.876038, -28.14896], [70.882675, -28.140982], [70.888992, -28.132938], [70.894989, -28.124819], [70.900665, -28.116621], [70.906029, -28.108337], [70.911079, -28.09996], [70.915817, -28.091484], [70.92025, -28.082905], [70.924377, -28.074211], [70.9282, -28.065401], [70.931725, -28.056467], [70.934952, -28.047403], [70.937889, -28.038202], [70.940529, -28.028856], [70.942886, -28.019363], [70.944946, -28.009714], [70.946732, -27.999901], [70.948235, -27.989922], [70.949455, -27.979767], [70.950401, -27.969431], [70.951073, -27.958906], [70.951477, -27.948191], [70.951607, -27.937273], [70.951477, -27.926355], [70.951073, -27.91564], [70.950401, -27.905115], [70.949455, -27.894779], [70.948235, -27.884624], [70.946732, -27.874645], [70.944946, -27.864832], [70.942886, -27.855183], [70.940529, -27.84569], [70.937889, -27.836344], [70.934952, -27.827143], [70.931725, -27.818079], [70.9282, -27.809145], [70.924377, -27.800335], [70.92025, -27.791641], [70.915817, -27.783062], [70.911079, -27.774586], [70.906029, -27.766209], [70.900665, -27.757925], [70.894989, -27.749727], [70.888992, -27.741608], [70.882675, -27.733564], [70.876038, -27.725586], [70.869072, -27.71767], [70.861771, -27.709808], [70.854149, -27.701994]]]}}, {"type": "Feature", "properties": {"stormElement": "FORECAST_RADII", "radiiType": "34kt", "ne": null, "se": null, "sw": null, "nw": null, "validDateTime": "2024-01-26T06:00:00Z", "category": 4, "windSpeedKnots": 95.0, "forecastHour": 24}, "geometry": {"type": "Polygon", "coordinates": [[[87.167961, -16.384733], [87.167961, -16.384733], [87.159363, -16.377663], [87.150787, -16.370667], [87.142235, -16.363747], [87.133698, -16.356899], [87.125175, -16.350126], [87.116676, -16.343431], [87.108185, -16.336811], [87.099709, -16.330269], [87.09124, -16.323803], [87.082779, -16.317415], [87.074333, -16.311106], [87.065895, -16.304874], [87.057457, -16.298723], [87.049026, -16.29265], [87.040596, -16.286659], [87.032166, -16.280748], [87.023735, -16.274918], [87.015305, -16.269171], [87.006866, -16.263504], [86.998428, -16.257921], [86.989983, -16.25242], [86.981529, -16.247004], [86.973068, -16.241673], [86.964592, -16.236423], [86.956108, -16.231262], [86.947609, -16.226185], [86.939095, -16.221193], [86.930565, -16.21629], [86.922012, -16.211472], [86.913445, -16.206743], [86.904854, -16.202101], [86.896248, -16.197548], [86.887611, -16.193085], [86.878952, -16.188711], [86.870262, -16.184427], [86.861549, -16.180233], [86.852806, -16.17613], [86.844032, -16.172119], [86.83522, -16.168201], [86.826385, -16.164375], [86.817505, -16.160641], [86.808594, -16.157001], [86.799637, -16.153456], [86.790649, -16.150005], [86.781616, -16.146648], [86.772537, -16.143389], [86.76342, -16.140223], [86.754257, -16.137156], [86.745041, -16.134184], [86.735786, -16.13131], [86.726471, -16.128534], [86.71711, -16.125856], [86.707695, -16.123278], [86.698227, -16.1208], [86.688705, -16.118422], [86.679123, -16.116142], [86.669479, -16.113964], [86.659782, -16.111889], [86.650017, -16.109915], [86.64019, -16.108042], [86.630302, -16.106274], [86.620346, -16.104607], [86.610329, -16.103046], [86.600235, -16.101587], [86.590073, -16.100235], [86.579842, -16.098988], [86.569534, -16.097847], [86.559151, -16.096813], [86.548698, -16.095884], [86.538162, -16.095064], [86.52755, -16.094351], [86.516853, -16.093746], [86.506081, -16.09325], [86.495216, -16.092863], [86.484276, -16.092587], [86.473244, -16.092421], [86.462128, -16.092365], [86.451012, -16.092421], [86.43998, -16.092587], [86.429039, -16.092863], [86.418175, -16.09325], [86.407402, -16.093746], [86.396706, -16.094351], [86.386093, -16.095064], [86.375557, -16.095884], [86.365105, -16.096813], [86.354721, -16.097847], [86.344414, -16.098988], [86.334183, -16.100235], [86.32402, -16.101587], [86.313927, -16.103046], [86.303909, -16.104607], [86.293953, -16.106274], [86.284058, -16.108042], [86.274239, -16.109915], [86.264473, -16.111889], [86.254776, -16.113964], [86.245132, -16.116142], [86.23555, -16.118422], [86.226028, -16.1208], [86.21656, -16.123278], [86.207146, -16.125856], [86.197784, -16.128534], [86.188469, -16.13131], [86.179214, -16.134184], [86.169998, -16.137156], [86.160835, -16.140223], [86.151718, -16.143389], [86.142639, -16.146648], [86.133606, -16.150005], [86.124619, -16.153456], [86.115662, -16.157001], [86.10675, -16.160641], [86.09787, -16.164375], [86.089035, -16.168201], [86.080223, -16.172119], [86.071449, -16.17613], [86.062706, -16.180233], [86.053993, -16.184427], [86.045303, -16.188711], [86.036644, -16.193085], [86.028008, -16.197548], [86.019402, -16.202101], [86.010811, -16.206743], [86.002243, -16.211472], [85.99369, -16.21629], [85.985161, -16.221193], [85.976646, -16.226185], [85.968147, -16.231262], [85.959663, -16.236423], [85.951187, -16.241673], [85.942726, -16.247004], [85.934273, -16.25242], [85.925827, -16.257921], [85.917389, -16.263504], [85.908951, -16.269171], [85.90052, -16.274918], [85.89209, -16.280748], [85.883659, -16.286659], [85.875229, -16.29265], [85.866798, -16.298723], [85.85836, -16.304874], [85.849922, -16.311106], [85.841476, -16.317415], [85.833015, -16.323803], [85.824547, -16.330269], [85.816071, -16.336811], [85.807579, -16.343431], [85.79908, -16.350126], [85.790558, -16.356899], [85.782021, -16.363747], [85.773468, -16.370667], [85.764893, -16.377663], [85.756294, -16.384733], [85.747665, -16.391859], [85.739075, -16.39896], [85.730522, -16.406044], [85.722008, -16.413107], [85.713531, -16.420153], [85.705101, -16.427183], [85.696701, -16.4342], [85.688354, -16.441204], [85.680046, -16.448196], [85.671776, -16.455179], [85.663559, -16.462154], [85.655388, -16.469124], [85.647263, -16.476089], [85.639191, -16.483051], [85.631165, -16.490011], [85.623192, -16.496971], [85.615265, -16.503935], [85.607399, -16.5109], [85.599579, -16.51787], [85.59182, -16.524847], [85.584114, -16.531832], [85.576469, -16.538828], [85.568878, -16.545834], [85.561348, -16.552853], [85.553879, -16.559887], [85.546478, -16.566936], [85.539131, -16.574003], [85.531845, -16.581091], [85.524635, -16.588198], [85.517479, -16.595327], [85.510399, -16.602482], [85.50338, -16.609661], [85.496437, -16.616869], [85.489555, -16.624105], [85.48275, -16.631371], [85.476013, -16.638668], [85.469353, -16.646], [85.462769, -16.653368], [85.456261, -16.66077], [85.449821, -16.668213], [85.443466, -16.675695], [85.437187, -16.683218], [85.430984, -16.690784], [85.424866, -16.698397], [85.418831, -16.706055], [85.412872, -16.71376], [85.407005, -16.721516], [85.401222, -16.729321], [85.395515, -16.737181], [85.389908, -16.745092], [85.384384, -16.753061], [85.378944, -16.761087], [85.373596, -16.769175], [85.368347, -16.777321], [85.363182, -16.785528], [85.358116, -16.7938], [85.353142, -16.802137], [85.348259, -16.810543], [85.343475, -16.819016], [85.338791, -16.827559], [85.334206, -16.836174], [85.32972, -16.844862], [85.325333, -16.853626], [85.321053, -16.862465], [85.316872, -16.871384], [85.31279, -16.880383], [85.308823, -16.889462], [85.304955, -16.898623], [85.301193, -16.907869], [85.297546, -16.917202], [85.294006, -16.926622], [85.290573, -16.936132], [85.287254, -16.945732], [85.284042, -16.955425], [85.280952, -16.965212], [85.277969, -16.975096], [85.275108, -16.985075], [85.272362, -16.995153], [85.26973, -17.005333], [85.26722, -17.015614], [85.264832, -17.025997], [85.262566, -17.036488], [85.260414, -17.047085], [85.258392, -17.057789], [85.256493, -17.068604], [85.254715, -17.079531], [85.253067, -17.09057], [85.251518, -17.101673], [85.250046, -17.11274], [85.248657, -17.123772], [85.247337, -17.134768], [85.246109, -17.145729], [85.244949, -17.156654], [85.243881, -17.167547], [85.242882, -17.178404], [85.241966, -17.189226], [85.241135, -17.200014], [85.240387, -17.210768], [85.239716, -17.221489], [85.239128, -17.232174], [85.238625, -17.242826], [85.238197, -17.253445], [85.237854, -17.26403], [85.237602, -17.274582], [85.237427, -17.285101], [85.237335, -17.295588], [85.237328, -17.30604], [85.237404, -17.31646], [85.237564, -17.326847], [85.237816, -17.337202], [85.238144, -17.347525], [85.238564, -17.357815], [85.239067, -17.368073], [85.239655, -17.3783], [85.240334, -17.388494], [85.241096, -17.398657], [85.241943, -17.408789], [85.242882, -17.41889], [85.243904, -17.428959], [85.245018, -17.438995], [85.246223, -17.449003], [85.247513, -17.458979], [85.248894, -17.468925], [85.250359, -17.47884], [85.251915, -17.488726], [85.253563, -17.498579], [85.255302, -17.508404], [85.257133, -17.5182], [85.259048, -17.527964], [85.261063, -17.537699], [85.263161, -17.547405], [85.265358, -17.557081], [85.267639, -17.566729], [85.27002, -17.576347], [85.272491, -17.585938], [85.275055, -17.595497], [85.27771, -17.60503], [85.280464, -17.614532], [85.283302, -17.624008], [85.28624, -17.633455], [85.289276, -17.642874], [85.292404, -17.652264], [85.295624, -17.661627], [85.298943, -17.670963], [85.302361, -17.680271], [85.30587, -17.689552], [85.309479, -17.698805], [85.313179, -17.708031], [85.316978, -17.717232], [85.320877, -17.726404], [85.324875, -17.73555], [85.328964, -17.744669], [85.33316, -17.753763], [85.337448, -17.762829], [85.341835, -17.77187], [85.346321, -17.780886], [85.350914, -17.789875], [85.355598, -17.798838], [85.36039, -17.807777], [85.365273, -17.816689], [85.370262, -17.825577], [85.375351, -17.83444], [85.380547, -17.843277], [85.385834, -17.852091], [85.391228, -17.860878], [85.396729, -17.869642], [85.402328, -17.878382], [85.408028, -17.887096], [85.413834, -17.895788], [85.419746, -17.904455], [85.425758, -17.913097], [85.431877, -17.921717], [85.438095, -17.930313], [85.44442, -17.938887], [85.450851, -17.947435], [85.45739, -17.955963], [85.464035, -17.964466], [85.470779, -17.972946], [85.477631, -17.981405], [85.484596, -17.989841], [85.491661, -17.998255], [85.49884, -18.006645], [85.506119, -18.015015], [85.513512, -18.023361], [85.521011, -18.031687], [85.52858, -18.039953], [85.536171, -18.048117], [85.543793, -18.056181], [85.551445, -18.064144], [85.559113, -18.072008], [85.566818, -18.079773], [85.574547, -18.08744], [85.582306, -18.095007], [85.590088, -18.102476], [85.5979, -18.109846], [85.605736, -18.117121], [85.613609, -18.124298], [85.621506, -18.131378], [85.629433, -18.138361], [85.637383, -18.145248], [85.64537, -18.152042], [85.653381, -18.158739], [85.661423, -18.16534], [85.669495, -18.17185], [85.677597, -18.178265], [85.68573, -18.184586], [85.693893, -18.190813], [85.702087, -18.196947], [85.710312, -18.20299], [85.718567, -18.208941], [85.726852, -18.214798], [85.735168, -18.220566], [85.743515, -18.226242], [85.751892, -18.231829], [85.760307, -18.237326], [85.768753, -18.242731], [85.777229, -18.248049], [85.785736, -18.253277], [85.794273, -18.258417], [85.802849, -18.26347], [85.811455, -18.268433], [85.820091, -18.27331], [85.828766, -18.278099], [85.837471, -18.282803], [85.846214, -18.28742], [85.854988, -18.29195], [85.8638, -18.296396], [85.872643, -18.300756], [85.881516, -18.305033], [85.890427, -18.309225], [85.899376, -18.313334], [85.908356, -18.317358], [85.917374, -18.321299], [85.92643, -18.325157], [85.935516, -18.328934], [85.944641, -18.332628], [85.953804, -18.336241], [85.962997, -18.339773], [85.972229, -18.343224], [85.981506, -18.346594], [85.990807, -18.349886], [86.000153, -18.353096], [86.009537, -18.356228], [86.018951, -18.359282], [86.028412, -18.362257], [86.037903, -18.365152], [86.047432, -18.367971], [86.057007, -18.370714], [86.066612, -18.373379], [86.076263, -18.375967], [86.085945, -18.378479], [86.095673, -18.380915], [86.105438, -18.383276], [86.115242, -18.385563], [86.125084, -18.387775], [86.134964, -18.389912], [86.14489, -18.391975], [86.154854, -18.393967], [86.164856, -18.395884], [86.174904, -18.397728], [86.18499, -18.399502], [86.195114, -18.401201], [86.205276, -18.402832], [86.215485, -18.40439], [86.225739, -18.405876], [86.236031, -18.407295], [86.246361, -18.408642], [86.256737, -18.40992], [86.267159, -18.411129], [86.277618, -18.412268], [86.288116, -18.41334], [86.29866, -18.414343], [86.30925, -18.415279], [86.319885, -18.416149], [86.330559, -18.41695], [86.341278, -18.417686], [86.352043, -18.418356], [86.362846, -18.418961], [86.373703, -18.4195], [86.384598, -18.419973], [86.395538, -18.420383], [86.406525, -18.420729], [86.417549, -18.421011], [86.428627, -18.421228], [86.439751, -18.421385], [86.450912, -18.421478], [86.462128, -18.421509], [86.473343, -18.421478], [86.484505, -18.421385], [86.495628, -18.421228], [86.506706, -18.421011], [86.517731, -18.420729], [86.528717, -18.420383], [86.539658, -18.419973], [86.550552, -18.4195], [86.561409, -18.418961], [86.572212, -18.418356], [86.582977, -18.417686], [86.593697, -18.41695], [86.60437, -18.416149], [86.615005, -18.415279], [86.625595, -18.414343], [86.636139, -18.41334], [86.646637, -18.412268], [86.657097, -18.411129], [86.667519, -18.40992], [86.677895, -18.408642], [86.688225, -18.407295], [86.698517, -18.405876], [86.708771, -18.40439], [86.718979, -18.402832], [86.729141, -18.401201], [86.739265, -18.399502], [86.749352, -18.397728], [86.759399, -18.395884], [86.769402, -18.393967], [86.779366, -18.391975], [86.789291, -18.389912], [86.799171, -18.387775], [86.809013, -18.385563], [86.818817, -18.383276], [86.828583, -18.380915], [86.83831, -18.378479], [86.847992, -18.375967], [86.857643, -18.373379], [86.867249, -18.370714], [86.876823, -18.367971], [86.886353, -18.365152], [86.895844, -18.362257], [86.905304, -18.359282], [86.914719, -18.356228], [86.924103, -18.353096], [86.933449, -18.349886], [86.942749, -18.346594], [86.952026, -18.343224], [86.961258, -18.339773], [86.970451, -18.336241], [86.979614, -18.332628], [86.988739, -18.328934], [86.997826, -18.325157], [87.006882, -18.321299], [87.0159, -18.317358], [87.024879, -18.313334], [87.033829, -18.309225], [87.04274, -18.305033], [87.051613, -18.300756], [87.060455, -18.296396], [87.069267, -18.29195], [87.078041, -18.28742], [87.086784, -18.282803], [87.09549, -18.278099], [87.104164, -18.27331], [87.112801, -18.268433], [87.121407, -18.26347], [87.129982, -18.258417], [87.138519, -18.253277], [87.147026, -18.248049], [87.155502, -18.242731], [87.163948, -18.237326], [87.172363, -18.231829], [87.18074, -18.226242], [87.189087, -18.220566], [87.197403, -18.214798], [87.205688, -18.208941], [87.213943, -18.20299], [87.222168, -18.196947], [87.230362, -18.190813], [87.238525, -18.184586], [87.246658, -18.178265], [87.254761, -18.17185], [87.262833, -18.16534], [87.270874, -18.158739], [87.278885, -18.152042], [87.286873, -18.145248], [87.294823, -18.138361], [87.30275, -18.131378], [87.310646, -18.124298], [87.31852, -18.117121], [87.326355, -18.109846], [87.334167, -18.102476], [87.341949, -18.095007], [87.349709, -18.08744], [87.357437, -18.079773], [87.365143, -18.072008], [87.37281, -18.064144], [87.380463, -18.056181], [87.388084, -18.048117], [87.395676, -18.039953], [87.403244, -18.031687], [87.410744, -18.023361], [87.418137, -18.015015], [87.425415, -18.006645], [87.432594, -17.998255], [87.439659, -17.989841], [87.446625, -17.981405], [87.453476, -17.972946], [87.46022, -17.964466], [87.466866, -17.955963], [87.473404, -17.947435], [87.479836, -17.938887], [87.48616, -17.930313], [87.492378, -17.921717], [87.498497, -17.913097], [87.504509, -17.904455], [87.510422, -17.895788], [87.516228, -17.887096], [87.521927, -17.878382], [87.527527, -17.869642], [87.533028, -17.860878], [87.538422, -17.852091], [87.543709, -17.843277], [87.548904, -17.83444], [87.553993, -17.825577], [87.558983, -17.816689], [87.563866, -17.807777], [87.568657, -17.798838], [87.573341, -17.789875], [87.577934, -17.780886], [87.58242, -17.77187], [87.586807, -17.762829], [87.591095, -17.753763], [87.595291, -17.744669], [87.59938, -17.73555], [87.603378, -17.726404], [87.607277, -17.717232], [87.611076, -17.708031], [87.614777, -17.698805], [87.618385, -17.689552], [87.621895, -17.680271], [87.625313, -17.670963], [87.628632, -17.661627], [87.631851, -17.652264], [87.634979, -17.642874], [87.638016, -17.633455], [87.640953, -17.624008], [87.643791, -17.614532], [87.646545, -17.60503], [87.6492, -17.595497], [87.651764, -17.585938], [87.654236, -17.576347], [87.656616, -17.566729], [87.658897, -17.557081], [87.661095, -17.547405], [87.663193, -17.537699], [87.665207, -17.527964], [87.667122, -17.5182], [87.668953, -17.508404], [87.670692, -17.498579], [87.67234, -17.488726], [87.673897, -17.47884], [87.675362, -17.468925], [87.676743, -17.458979], [87.678032, -17.449003], [87.679237, -17.438995], [87.680351, -17.428959], [87.681374, -17.41889], [87.682312, -17.408789], [87.683159, -17.398657], [87.683922, -17.388494], [87.684601, -17.3783], [87.685188, -17.368073], [87.685692, -17.357815], [87.686111, -17.347525], [87.68644, -17.337202], [87.686691, -17.326847], [87.686852, -17.31646], [87.686928, -17.30604], [87.68692, -17.295588], [87.686829, -17.285101], [87.686653, -17.274582], [87.686401, -17.26403], [87.686058, -17.253445], [87.685631, -17.242826], [87.685127, -17.232174], [87.68454, -17.221489], [87.683868, -17.210768], [87.683121, -17.200014], [87.682289, -17.189226], [87.681374, -17.178404], [87.680374, -17.167547], [87.679306, -17.156654], [87.678146, -17.145729], [87.676918, -17.134768], [87.675598, -17.123772], [87.67421, -17.11274], [87.672737, -17.101673], [87.671188, -17.09057], [87.66954, -17.079531], [87.667763, -17.068604], [87.665863, -17.057789], [87.663841, -17.047085], [87.66169, -17.036488], [87.659424, -17.025997], [87.657036, -17.015614], [87.654526, -17.005333], [87.651894, -16.995153], [87.649147, -16.985075], [87.646286, -16.975096], [87.643303, -16.965212], [87.640213, -16.955425], [87.637001, -16.945732], [87.633682, -16.936132], [87.630249, -16.926622], [87.626709, -16.917202], [87.623062, -16.907869], [87.619301, -16.898623], [87.615433, -16.889462], [87.611465, -16.880383], [87.607384, -16.871384], [87.603203, -16.862465], [87.598923, -16.853626], [87.594536, -16.844862], [87.59005, -16.836174], [87.585464, -16.827559], [87.58078, -16.819016], [87.575996, -16.810543], [87.571114, -16.802137], [87.566139, -16.7938], [87.561073, -16.785528], [87.555908, -16.777319], [87.550659, -16.769175], [87.545311, -16.761087], [87.539871, -16.753061], [87.534348, -16.745092], [87.52874, -16.737181], [87.523033, -16.729321], [87.51725, -16.721516], [87.511383, -16.71376], [87.505424, -16.706055], [87.49939, -16.698397], [87.493271, -16.690784], [87.487068, -16.683218], [87.480789, -16.675695], [87.474434, -16.668213], [87.467995, -16.66077], [87.461487, -16.653368], [87.454903, -16.646], [87.448242, -16.638668], [87.441505, -16.631371], [87.4347, -16.624105], [87.427818, -16.616869], [87.420876, -16.609661], [87.413857, -16.602482], [87.406776, -16.595327], [87.39962, -16.588198], [87.39241, -16.581091], [87.385124, -16.574003], [87.377777, -16.566936], [87.370377, -16.559887], [87.362907, -16.552853], [87.355377, -16.545834], [87.347786, -16.538828], [87.340141, -16.531832], [87.332436, -16.524847], [87.324677, -16.51787], [87.316856, -16.5109], [87.30899, -16.503935], [87.301064, -16.496971], [87.293091, -16.490011], [87.285065, -16.483051], [87.276993, -16.476089], [87.268867, -16.469124], [87.260696, -16.462154], [87.25248, -16.455179], [87.244209, -16.448196], [87.235901, -16.441204], [87.227554, -16.4342], [87.219154, -16.427183], [87.210724, -16.420153], [87.202248, -16.413107], [87.193733, -16.406044], [87.185181, -16.39896], [87.17659, -16.391859], [87.167961, -16.384733]]]}}, {"type": "Feature", "properties": {"stormElement": "FORECAST_RADII", "radiiType": "50kt", "ne": 34, "se": 39, "sw": 39, "nw": 34, "validDateTime": "2024-01-26T06:00:00Z", "category": 4, "windSpeedKnots": 95.0, "forecastHour": 24}, "geometry": {"type": "Polygon", "coordinates": [[[86.815048, -16.737652], [86.815048, -16.737652], [86.806572, -16.730709], [86.798134, -16.723909], [86.789734, -16.717257], [86.781357, -16.710752], [86.773003, -16.704399], [86.764664, -16.698198], [86.756332, -16.692152], [86.748016, -16.686262], [86.739693, -16.680531], [86.731361, -16.674957], [86.723022, -16.669546], [86.714668, -16.664299], [86.706291, -16.659218], [86.697884, -16.654305], [86.689438, -16.649561], [86.680954, -16.644989], [86.672432, -16.640589], [86.663857, -16.636364], [86.65522, -16.632317], [86.646523, -16.628448], [86.637764, -16.62476], [86.628929, -16.621256], [86.62001, -16.617935], [86.611015, -16.614801], [86.601929, -16.611856], [86.592743, -16.6091], [86.583458, -16.606539], [86.574066, -16.60417], [86.564568, -16.601997], [86.554947, -16.600023], [86.545197, -16.598248], [86.535324, -16.596674], [86.525314, -16.595304], [86.515167, -16.594141], [86.504875, -16.593184], [86.494431, -16.592436], [86.483826, -16.5919], [86.473061, -16.591578], [86.462128, -16.591469], [86.451195, -16.591578], [86.44043, -16.5919], [86.429825, -16.592436], [86.41938, -16.593184], [86.409088, -16.594141], [86.398941, -16.595304], [86.388931, -16.596674], [86.379059, -16.598248], [86.369308, -16.600023], [86.359688, -16.601997], [86.350189, -16.60417], [86.340797, -16.606539], [86.331512, -16.6091], [86.322327, -16.611856], [86.31324, -16.614801], [86.304245, -16.617935], [86.295326, -16.621256], [86.286491, -16.62476], [86.277733, -16.628448], [86.269035, -16.632317], [86.260399, -16.636364], [86.251823, -16.640589], [86.243301, -16.644989], [86.234818, -16.649561], [86.226372, -16.654305], [86.217964, -16.659218], [86.209587, -16.664299], [86.201233, -16.669546], [86.192894, -16.674957], [86.184563, -16.680531], [86.176239, -16.686262], [86.167923, -16.692152], [86.159592, -16.698198], [86.151253, -16.704399], [86.142899, -16.710752], [86.134521, -16.717257], [86.126122, -16.723909], [86.117683, -16.730709], [86.109207, -16.737652], [86.100693, -16.744684], [86.092255, -16.751678], [86.083893, -16.758636], [86.075615, -16.765568], [86.067421, -16.772478], [86.059311, -16.779371], [86.051292, -16.786257], [86.043381, -16.793139], [86.035561, -16.800022], [86.027847, -16.806915], [86.020248, -16.813824], [86.012756, -16.820753], [86.005386, -16.827711], [85.998138, -16.834702], [85.99102, -16.841732], [85.984024, -16.848808], [85.977165, -16.855938], [85.970444, -16.863125], [85.96386, -16.870377], [85.957428, -16.877699], [85.951149, -16.885096], [85.945023, -16.892578], [85.939049, -16.900148], [85.933243, -16.907814], [85.927605, -16.915581], [85.922134, -16.923454], [85.91684, -16.931442], [85.911728, -16.93955], [85.906792, -16.947783], [85.902054, -16.956148], [85.897499, -16.964653], [85.893143, -16.973299], [85.888985, -16.982098], [85.885025, -16.991053], [85.881279, -17.000172], [85.877747, -17.009459], [85.874428, -17.018919], [85.87133, -17.028563], [85.868462, -17.038393], [85.865814, -17.048416], [85.863403, -17.05864], [85.861221, -17.069069], [85.859291, -17.079712], [85.857597, -17.09057], [85.856087, -17.101654], [85.854736, -17.112669], [85.853539, -17.123613], [85.852509, -17.134487], [85.851631, -17.145292], [85.850922, -17.156029], [85.850372, -17.166698], [85.849991, -17.177301], [85.849777, -17.187836], [85.849724, -17.198305], [85.849846, -17.20871], [85.850136, -17.219048], [85.850601, -17.229322], [85.851227, -17.239532], [85.852036, -17.24968], [85.85302, -17.259764], [85.854172, -17.269787], [85.855507, -17.279747], [85.857025, -17.289648], [85.858719, -17.299488], [85.860588, -17.309267], [85.862648, -17.318989], [85.864883, -17.32865], [85.86731, -17.338253], [85.869919, -17.347799], [85.872719, -17.357288], [85.875702, -17.366722], [85.878876, -17.376099], [85.88224, -17.38542], [85.885803, -17.394688], [85.889557, -17.4039], [85.893501, -17.413059], [85.897644, -17.422167], [85.901985, -17.431221], [85.906517, -17.440222], [85.911255, -17.449173], [85.916199, -17.458075], [85.921333, -17.466925], [85.926682, -17.475725], [85.932228, -17.484476], [85.937981, -17.493179], [85.943939, -17.501835], [85.950111, -17.510443], [85.95649, -17.519003], [85.963081, -17.527519], [85.969879, -17.535988], [85.976898, -17.544413], [85.984123, -17.552792], [85.99157, -17.561129], [85.999153, -17.569344], [86.006783, -17.577358], [86.014473, -17.585173], [86.022217, -17.592789], [86.030014, -17.600208], [86.037865, -17.607433], [86.045776, -17.614466], [86.053749, -17.621305], [86.061775, -17.627956], [86.069862, -17.634417], [86.078011, -17.640692], [86.08622, -17.64678], [86.09449, -17.652685], [86.102821, -17.658407], [86.111214, -17.663948], [86.119675, -17.66931], [86.128204, -17.674494], [86.136787, -17.679502], [86.145447, -17.684336], [86.154167, -17.688995], [86.162964, -17.693483], [86.171822, -17.697802], [86.180756, -17.701952], [86.189751, -17.705935], [86.198822, -17.709753], [86.207962, -17.713406], [86.217178, -17.716898], [86.226471, -17.720228], [86.235832, -17.7234], [86.24527, -17.726414], [86.254784, -17.729271], [86.264374, -17.731976], [86.27404, -17.734526], [86.283783, -17.736925], [86.29361, -17.739174], [86.303513, -17.741274], [86.313492, -17.743227], [86.323555, -17.745037], [86.333702, -17.746702], [86.343933, -17.748224], [86.354248, -17.749607], [86.364639, -17.750851], [86.375122, -17.751957], [86.385689, -17.752926], [86.396347, -17.753761], [86.407082, -17.754465], [86.417915, -17.755035], [86.428833, -17.755478], [86.439842, -17.755791], [86.450935, -17.755978], [86.462128, -17.756041], [86.47332, -17.755978], [86.484413, -17.755791], [86.495422, -17.755478], [86.50634, -17.755035], [86.517174, -17.754465], [86.527908, -17.753761], [86.538567, -17.752926], [86.549133, -17.751957], [86.559616, -17.750851], [86.570007, -17.749607], [86.580322, -17.748224], [86.590553, -17.746702], [86.6007, -17.745037], [86.610764, -17.743227], [86.620743, -17.741274], [86.630646, -17.739174], [86.640472, -17.736925], [86.650215, -17.734526], [86.659882, -17.731976], [86.669472, -17.729271], [86.678986, -17.726414], [86.688423, -17.7234], [86.697784, -17.720228], [86.707077, -17.716898], [86.716293, -17.713406], [86.725433, -17.709753], [86.734505, -17.705935], [86.7435, -17.701952], [86.752434, -17.697802], [86.761292, -17.693483], [86.770088, -17.688995], [86.778809, -17.684336], [86.787468, -17.679502], [86.796051, -17.674494], [86.804581, -17.66931], [86.813042, -17.663948], [86.821434, -17.658407], [86.829765, -17.652685], [86.838036, -17.64678], [86.846245, -17.640692], [86.854393, -17.634417], [86.86248, -17.627956], [86.870506, -17.621305], [86.878479, -17.614466], [86.886391, -17.607433], [86.894241, -17.600208], [86.902039, -17.592789], [86.909782, -17.585173], [86.917473, -17.577358], [86.925102, -17.569344], [86.932686, -17.561129], [86.940132, -17.552792], [86.947357, -17.544413], [86.954376, -17.535988], [86.961174, -17.527519], [86.967766, -17.519003], [86.974144, -17.510443], [86.980316, -17.501835], [86.986275, -17.493179], [86.992027, -17.484476], [86.997574, -17.475725], [87.002922, -17.466925], [87.008057, -17.458075], [87.013, -17.449173], [87.017738, -17.440222], [87.02227, -17.431221], [87.026611, -17.422167], [87.030754, -17.413059], [87.034698, -17.4039], [87.038452, -17.394688], [87.042015, -17.38542], [87.04538, -17.376099], [87.048553, -17.366722], [87.051537, -17.357288], [87.054337, -17.347799], [87.056946, -17.338253], [87.059372, -17.32865], [87.061607, -17.318989], [87.063667, -17.309267], [87.065536, -17.299488], [87.06723, -17.289648], [87.068748, -17.279747], [87.070084, -17.269787], [87.071236, -17.259764], [87.07222, -17.24968], [87.073029, -17.239532], [87.073654, -17.229322], [87.07412, -17.219048], [87.074409, -17.20871], [87.074532, -17.198305], [87.074478, -17.187836], [87.074265, -17.177301], [87.073883, -17.166698], [87.073334, -17.156029], [87.072624, -17.145292], [87.071747, -17.134487], [87.070717, -17.123613], [87.069519, -17.112669], [87.068169, -17.101656], [87.066658, -17.09057], [87.064964, -17.079712], [87.063034, -17.069069], [87.060852, -17.05864], [87.058441, -17.048416], [87.055794, -17.038393], [87.052925, -17.028563], [87.049828, -17.018919], [87.046509, -17.009459], [87.042976, -17.000172], [87.03923, -16.991053], [87.035271, -16.982098], [87.031113, -16.973301], [87.026756, -16.964653], [87.022202, -16.956148], [87.017464, -16.947783], [87.012527, -16.93955], [87.007416, -16.931442], [87.002121, -16.923454], [86.996651, -16.915581], [86.991013, -16.907814], [86.985207, -16.900148], [86.979233, -16.892578], [86.973106, -16.885096], [86.966827, -16.877699], [86.960396, -16.870377], [86.953812, -16.863125], [86.94709, -16.855938], [86.940231, -16.848808], [86.933235, -16.841732], [86.926117, -16.834702], [86.918869, -16.827711], [86.911499, -16.820753], [86.904007, -16.813824], [86.896408, -16.806915], [86.888695, -16.800022], [86.880875, -16.793139], [86.872963, -16.786257], [86.864944, -16.779371], [86.856834, -16.772478], [86.84864, -16.765568], [86.840363, -16.758636], [86.832001, -16.751678], [86.823563, -16.744684], [86.815048, -16.737652]]]}}, {"type": "Feature", "properties": {"stormElement": "FORECAST_RADII", "radiiType": "64kt", "ne": 24, "se": 24, "sw": 24, "nw": 24, "validDateTime": "2024-01-26T06:00:00Z", "category": 4, "windSpeedKnots": 95.0, "forecastHour": 24}, "geometry": {"type": "Polygon", "coordinates": [[[86.756226, -16.796473], [86.756226, -16.796473], [86.748291, -16.788696], [86.740326, -16.781195], [86.732307, -16.773964], [86.724251, -16.767004], [86.716141, -16.760311], [86.70797, -16.753885], [86.699745, -16.747725], [86.691452, -16.741827], [86.68309, -16.736191], [86.674652, -16.730814], [86.666145, -16.725697], [86.657555, -16.720833], [86.648872, -16.716225], [86.640106, -16.71187], [86.631248, -16.707764], [86.622292, -16.703909], [86.613228, -16.7003], [86.604057, -16.696938], [86.59478, -16.693817], [86.585388, -16.690941], [86.575874, -16.688303], [86.566231, -16.685905], [86.556465, -16.683743], [86.54657, -16.681816], [86.536537, -16.680122], [86.52636, -16.678661], [86.516045, -16.677429], [86.505577, -16.676424], [86.494957, -16.675646], [86.484177, -16.675093], [86.473236, -16.674763], [86.462128, -16.674652], [86.451019, -16.674763], [86.440079, -16.675093], [86.429298, -16.675646], [86.418678, -16.676424], [86.408211, -16.677429], [86.397896, -16.678661], [86.387718, -16.680122], [86.377686, -16.681816], [86.36779, -16.683743], [86.358025, -16.685905], [86.348381, -16.688303], [86.338867, -16.690941], [86.329475, -16.693817], [86.320198, -16.696938], [86.311028, -16.7003], [86.301964, -16.703909], [86.293007, -16.707764], [86.284149, -16.71187], [86.275383, -16.716225], [86.266701, -16.720833], [86.25811, -16.725697], [86.249603, -16.730814], [86.241165, -16.736191], [86.232803, -16.741827], [86.22451, -16.747725], [86.216286, -16.753885], [86.208115, -16.760311], [86.200005, -16.767004], [86.191948, -16.773964], [86.183929, -16.781195], [86.175964, -16.788696], [86.16803, -16.796473], [86.160255, -16.804403], [86.152748, -16.812374], [86.145523, -16.820387], [86.138557, -16.828447], [86.131866, -16.836561], [86.125443, -16.844728], [86.119286, -16.852957], [86.113388, -16.861248], [86.10775, -16.86961], [86.102371, -16.878044], [86.097252, -16.886555], [86.092392, -16.895145], [86.087784, -16.90
[...]
