openapi: 3.2.0
info:
  title: Dtn Endpoints API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Endpoints across 10 of this provider''s published API definitions: dtn-agency-bulletin-api-openapi.json, dtn-agency-bulletin-websocket-api-openapi.json, dtn-astronomical-api-openapi.json, dtn-climatology-api-openapi.json, dtn-marine-weather-api-openapi.json, dtn-precipitation-api-openapi.json, dtn-probabilistic-api-openapi.json, dtn-renewables-api-openapi.json, dtn-soil-api-openapi.json, dtn-weather-conditions-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://wxbulletin.api.dtn.com
- url: http://wxbulletin-ws.api.dtn.com
- url: http://agency-bulletin-ws.prd.wx.zones.dtn.com
- url: https://astronomical.api.dtn.com
- url: https://climatology.api.dtn.com
- url: https://weather.api.dtn.com
- url: https://precipitation.api.dtn.com
- url: https://probabilistic.api.dtn.com
- url: https://renewables.api.dtn.com
- url: https://soil.api.dtn.com
tags:
- name: Endpoints
  description: The the Agency Bulletin API (ABA) is designed around two major endpoints, each offering unique functionalities tailored to your diverse weather bulletin data needs. Whether you require forecast and historical data for a single location, data for multiple location/timestamp pairs, or the associated metadata, our API has got you covered.
paths:
  /v2/bulletins:
    get:
      tags:
      - Endpoints
      summary: Bulletins
      description: "```shell \nGET https://wxbulletin.api.dtn.com/v2/bulletins\n```\n\nThis endpoint returns the latest active weather bulletins from the requested national meteorological agency. \nIt is the primary source of information for real-time weather alerts and updates.\n\nUnderstanding and Utilizing Key Query Parameters:\n- **Country:** \nUse this parameter to access all active weather bulletins within a specific country. \nThis parameter accepts ISO 3166-1 alpha-2 codes.\nExample: country=US\n\n- **startTime:**\nThis parameter allows you to filter alerts sent from a specific date and time onward, \nreturning all subsequent alerts. It requires timestamps in ISO 8601 date-time format as specified in RFC 3339.\nExample: startTime=2022-11-25T00:00:00\n\n- **endTime:**\nUse this parameter to receive alerts up to a specific timestamp, \nfiltering out any alerts sent after this date and time. The expected format is ISO 8601 date-time as per RFC 3339.\nExample: endTime=2022-11-26T00:00:00\n\n- **excludeGeometry:**\nThis parameter is crucial and is set to false by default, meaning the response will include detailed geometry of the \npolygons corresponding to each active warning. This can be particularly useful for understanding the exact impacted \nareas or for visualizing warnings in GIS applications. However, be mindful that including this detailed information \nmight substantially increase the payload size when dealing with numerous active bulletins. \nIf you prefer to exclude the detailed geometry and reduce payload size, set this parameter to true.\n\nQuery Example: `https://wxbulletin.api.dtn.com/v2/bulletins?country=US&showTotal=true&agency=NWS&startTime=2023-09-25T12:45:00&endTime=2023-09-25T12:47:00`"
      operationId: get_bulletins_v2_bulletins_get
      parameters:
      - description: 'Specify the country code of the alerts request. This is a required parameter. The reference for acceptable values is ISO 3166 two-letter codes (alpha-2). example: US'
        required: false
        schema:
          type: string
          title: Country
          description: 'Specify the country code of the alerts request. This is a required parameter. The reference for acceptable values is ISO 3166 two-letter codes (alpha-2). example: US'
        name: country
        in: query
      - description: 'Specify the language the language to use in the text values of the alert. Values should follow RFC 3066. example: en-US'
        required: false
        schema:
          type: string
          title: Language
          description: 'Specify the language the language to use in the text values of the alert. Values should follow RFC 3066. example: en-US'
        name: language
        in: query
      - description: 'Specify the agency of the alert request. example: NWS'
        required: false
        schema:
          type: string
          title: Agency
          description: 'Specify the agency of the alert request. example: NWS'
        name: agency
        in: query
      - description: 'Specify the sender of the alerts request. example: w-nws.webmaster@noaa.gov'
        required: false
        schema:
          type: string
          title: Sender
          description: 'Specify the sender of the alerts request. example: w-nws.webmaster@noaa.gov'
        name: sender
        in: query
      - description: 'When specified, the API will return only alerts that match the specified event types. example: Flood Warning'
        required: false
        schema:
          items:
            type: string
          type: array
          title: Event
          description: 'When specified, the API will return only alerts that match the specified event types. example: Flood Warning'
        name: event
        in: query
      - description: 'Specify the date and time alerts are sent. When set, all alerts sent from this timestamp are returned. ISO8601 date-time format specified int RFC 3339. example: 2022-11-25T00:00:00'
        required: false
        schema:
          type: string
          format: date-time
          title: Starttime
          description: 'Specify the date and time alerts are sent. When set, all alerts sent from this timestamp are returned. ISO8601 date-time format specified int RFC 3339. example: 2022-11-25T00:00:00'
        name: startTime
        in: query
      - description: 'Specify the date and time alerts are sent. When set, all alerts sent until this timestamp are returned. ISO8601 date-time format specified int RFC 3339. example: 2022-11-26T00:00:00'
        required: false
        schema:
          type: string
          format: date-time
          title: Endtime
          description: 'Specify the date and time alerts are sent. When set, all alerts sent until this timestamp are returned. ISO8601 date-time format specified int RFC 3339. example: 2022-11-26T00:00:00'
        name: endTime
        in: query
      - description: Specify whether or not to include the geojson geometry for each alert.
        required: false
        schema:
          type: boolean
          title: Excludegeometry
          description: Specify whether or not to include the geojson geometry for each alert.
          default: false
        name: excludeGeometry
        in: query
      - description: Specify whether or not to include total number of alerts.
        required: false
        schema:
          type: boolean
          title: Showtotal
          description: Specify whether or not to include total number of alerts.
          default: false
        name: showTotal
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoJsonAlertResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - clientCredentials: []
    servers:
    - url: https://wxbulletin.api.dtn.com
  /v2/metadata:
    get:
      tags:
      - Endpoints
      summary: Metadata
      description: "```shell \nGET https://wxbulletin.api.dtn.com/v2/metadata\n```\nThis endpoint provides metadata from each national meteorological agency, \ndetailing what events are published and in which languages, allowing developers to understand the range and scope of \navailable bulletins.\n\nUnderstanding and Utilizing Key Query Parameters:\n\n- Access this endpoint to retrieve a comprehensive list of all available meteorological agencies, \nthe events they publish, and the languages they support. As we continuously integrate support for new agencies into \nthis API, this endpoint serves as an excellent resource to stay updated on the most recent agencies and \ntheir corresponding published events.\n- event: Use this parameter to pinpoint a particular event. It also aids in identifying which agencies \nbroadcast that specific event type.\n\nQuery Example: `https://wxbulletin.api.dtn.com/v2/metadata?country=US&event=Flash`"
      operationId: get_metadata_v2_metadata_get
      parameters:
      - description: 'Specify the country of the event type example: US'
        required: false
        schema:
          items:
            type: string
          type: array
          title: Country
          description: 'Specify the country of the event type example: US'
        name: country
        in: query
      - description: 'Specify the agency of the event type example: NWS'
        required: false
        schema:
          items:
            type: string
          type: array
          title: Agency
          description: 'Specify the agency of the event type example: NWS'
        name: agency
        in: query
      - description: 'Specify the language of the event types follow RFC 3066. example: en-US'
        required: false
        schema:
          items:
            type: string
          type: array
          title: Language
          description: 'Specify the language of the event types follow RFC 3066. example: en-US'
        name: language
        in: query
      - description: 'When specified, the API allows filtering based on specific event types. This can be used to narrow down search result. example: event=flood would return events like Flash Flood Watch, Flood Warning, Flash Flood Statement, Severe Flood Warning'
        required: false
        schema:
          items:
            type: string
          type: array
          title: Event
          description: 'When specified, the API allows filtering based on specific event types. This can be used to narrow down search result. example: event=flood would return events like Flash Flood Watch, Flood Warning, Flash Flood Statement, Severe Flood Warning'
        name: event
        in: query
      - description: 'When specified, the API allows filtering based on specific dtnEvent. This can be used to narrow down search result. example: dtnEvent=Wind would return events like Brisk Wind Advisory, Extreme Wind Warning, Lake Wind Advisory, High Wind Warning'
        required: false
        schema:
          items:
            type: string
          type: array
          title: Dtnevent
          description: 'When specified, the API allows filtering based on specific dtnEvent. This can be used to narrow down search result. example: dtnEvent=Wind would return events like Brisk Wind Advisory, Extreme Wind Warning, Lake Wind Advisory, High Wind Warning'
        name: dtnEvent
        in: query
      - description: 'When specified, the API allows filtering based on specific dtnEventCode. This can be used to narrow down search result. example: dtnEventCode=1 would return events under Snow likeLake Effect Snow Watch, Lake Effect Snow Warning, Lake Effect Snow Advisory, Snow Squall Warning'
        required: false
        schema:
          items:
            type: string
          type: array
          title: Dtneventcode
          description: 'When specified, the API allows filtering based on specific dtnEventCode. This can be used to narrow down search result. example: dtnEventCode=1 would return events under Snow likeLake Effect Snow Watch, Lake Effect Snow Warning, Lake Effect Snow Advisory, Snow Squall Warning'
        name: dtnEventCode
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - clientCredentials: []
    servers:
    - url: https://wxbulletin.api.dtn.com
  /v2/metadata/dtn:
    get:
      tags:
      - Endpoints
      summary: Metadata/dtn
      description: "```shell \nGET https://wxbulletin.api.dtn.com/v2/metadata/dtn\n```\nThis endpoint provides metadata of dtn events.\n\nUnderstanding and Utilizing Key Query Parameters:\n\n- Access this endpoint to retrieve a comprehensive list of all available dtn events. \n- dtnEvent: Use this parameter to pinpoint a particular dtn event.\n\nQuery Example: `https://wxbulletin.api.dtn.com/v2/metadata/dtn?dtnEvent=Snow`"
      operationId: get_metadata_dtn_v2_metadata_dtn_get
      parameters:
      - description: 'Specify the event code of dtn event example: NWS'
        required: false
        schema:
          items:
            type: string
          type: array
          title: Dtneventcode
          description: 'Specify the event code of dtn event example: NWS'
        name: dtnEventCode
        in: query
      - description: 'Specify the event name of dtn event example: Low Temperature'
        required: false
        schema:
          items:
            type: string
          type: array
          title: Dtnevent
          description: 'Specify the event name of dtn event example: Low Temperature'
        name: dtnEvent
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataDTNResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - clientCredentials: []
    servers:
    - url: https://wxbulletin.api.dtn.com
  /v1:
    get:
      tags:
      - Endpoints
      summary: Stream
      description: "\n```shell \nGET wss://wxbulletin-ws.api.dtn.com/v1/\n```\n\nThis endpoint returns the latest active weather bulletins from the requested national meteorological agency. \nIt is the primary source of information for real-time weather alerts and updates.\n\nUnderstanding and Utilizing Key Query Parameters:\n- **country:** \nUse this parameter to access all active weather bulletins within a specific country. \nThis parameter accepts ISO 3166-1 alpha-2 codes. This parameter cannot be used with the `lat/lon/radius` or the `bbox` parameters.<br>\nExample: `country=US`\n\n- **lat**, **lon**:\nUse these parameters to access all active weather bulletins that intersect a point location in the map. When used with,\nthe `radius` parameter, the active bulletins intersecting a circle with the lat/lon at the center and the radius in\nkilometers will be returned. This combination cannot be used with the `country` or the `bbox` parameters.<br>\nExample: `lat=52.52&lon=13.40`, `lat=52.52&lon=13.40&radius=50` \n\n- **bbox**:\nUse this parameter to access all active weather bulletins that intersect a bounding box with the format `minLon,minLat,maxLon,maxLat`.\nThis combination cannot be used with the `country` or the `lat/lon/radius` parameters.<br>\nExample: `bbox=30.1,45.1,30.5,45.5`, `bbox=13.10,52.66,13.77,52.37`\n\n- **excludeGeometry:**\nThis parameter is crucial and is set to false by default, meaning the response will include detailed geometry of the \npolygons corresponding to each active warning. This can be particularly useful for understanding the exact impacted \nareas or for visualizing warnings in GIS applications. However, be mindful that including this detailed information \nmight substantially increase the payload size when dealing with numerous active bulletins. \nIf you prefer to exclude the detailed geometry and reduce payload size, set this parameter to true.<br>\nExample: `excludeGeometry=True`\n\nQuery Examples: <br>\n- `wss://wxbulletin-ws.api.dtn.com/v1?country=US&excludeGeometry=true` <br>\n- `wss://wxbulletin-ws.api.dtn.com/v1?lon=13.4&lat=52.52&radius=5.5` <br>\n- `wss://wxbulletin-ws.api.dtn.com/v1?bbox=13.10,52.66,13.77,52.37` <br>\n"
      operationId: get_v1_stream
      security:
      - clientCredentials: []
      parameters:
      - name: country
        in: query
        required: true
        schema:
          title: country
          description: 'Specify the country code of the alerts request. This is a required parameter. The reference for acceptable values is ISO 3166 two-letter codes (alpha-2). '
          maxLength: 2
          minLength: 2
          pattern: ^[a-zA-Z]*$
          examples:
          - US
          - DE
          - CA
          - AU
          - FR
          required: true
          type: string
        description: 'Specify the country code of the alerts request. This is a required parameter. The reference for acceptable values is ISO 3166 two-letter codes (alpha-2). '
      - name: lat
        in: query
        required: false
        schema:
          title: latitude
          description: The latitude in decimal degrees. When specified, it must be used together with the `lon` parameter. This parameter can also be used with the `radius` parameter. This parameter cannot be used with the `country` or the `bbox` parameters.
          minimum: -90
          maximum: 90
          examples:
          - 35.67
          type: number
        description: The latitude in decimal degrees. When specified, it must be used together with the `lon` parameter. This parameter can also be used with the `radius` parameter. This parameter cannot be used with the `country` or the `bbox` parameters.
      - name: lon
        in: query
        required: false
        schema:
          title: longitude
          description: The longitude in decimal degrees. When specified, it must be used together with the `lat` parameter. This parameter can also be used with the `radius` parameter. This parameter cannot be used with the `country` or the `bbox` parameters.
          minimum: -180
          maximum: 180
          examples:
          - 139.65
          type: number
        description: The longitude in decimal degrees. When specified, it must be used together with the `lat` parameter. This parameter can also be used with the `radius` parameter. This parameter cannot be used with the `country` or the `bbox` parameters.
      - name: radius
        in: query
        required: false
        schema:
          title: radius
          description: The radius in km. When specified, alerts intersecting the circle with the POINT(`lon`,`lat`) as the center will be returned.This parameter cannot be used with the `country` or the `bbox` parameters.
          exclusiveMinimum: 0
          maximum: 3000
          examples:
          - 10
          - 15.5
          - 30
          - 50.25
          type: number
        description: The radius in km. When specified, alerts intersecting the circle with the POINT(`lon`,`lat`) as the center will be returned.This parameter cannot be used with the `country` or the `bbox` parameters.
      - name: bbox
        in: query
        required: false
        schema:
          title: bbox
          description: The bounding box coordinates in the format `minLon,minLat,maxLon,maxLat`. This parameter cannot be used with the `country` or the `lat/lon/radius` parameters.
          examples:
          - 30.1,45.1,30.5,45.5
          - 13.10,52.66,13.77,52.37
          type: array
          items:
            type: number
        description: The bounding box coordinates in the format `minLon,minLat,maxLon,maxLat`. This parameter cannot be used with the `country` or the `lat/lon/radius` parameters.
      - name: language
        in: query
        required: false
        schema:
          title: language
          description: 'Specify the language to use in the text values of the alert. Values should follow RFC 3066. '
          maxLength: 5
          minLength: 5
          pattern: ^[a-zA-Z]{2}-[a-zA-Z]{2}$
          examples:
          - en-US
          - en-GB
          - de-DE
          - fr-FR
          - en-AU
          - en-CA
          type: string
        description: 'Specify the language to use in the text values of the alert. Values should follow RFC 3066. '
      - name: agency
        in: query
        required: false
        schema:
          title: agency
          description: 'Specify the agency of the alert request. '
          maxLength: 20
          minLength: 3
          pattern: ^[a-zA-Z]*$
          examples:
          - NWS
          - DWD
          - BOM
          - UKMO
          - METEOALARM
          - ENVCA
          - UKENVA
          type: string
        description: 'Specify the agency of the alert request. '
      - name: event
        in: query
        required: false
        schema:
          title: event
          description: 'When specified, the API will return only alerts that match the specified event types. '
          examples:
          - Flood Warning
          - Severe Thunderstorm Warning, Gale Warning
          type: array
          items:
            type: string
        description: 'When specified, the API will return only alerts that match the specified event types. '
      - name: excludeGeometry
        in: query
        required: false
        schema:
          title: excludeGeometry
          description: Specify whether or not to include the root geojson geometry for each alert.
          default: false
          examples:
          - true
          - false
          type: boolean
        description: Specify whether or not to include the root geojson geometry for each alert.
      responses:
        '101':
          description: Successful Response
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                    title: id
                    description: The identifier of the alert message
                  agency:
                    type: string
                    title: agency
                    description: Agency issuing the alert
                  country:
                    type: string
                    title: country
                    description: Country code of the alert
                  type:
                    type: string
                    title: type
                    description: Type of the GeoJSON object
                    default: Feature
                  geometry:
                    anyOf:
                    - type: object
                    title: Geometry
                    description: Geometry of the alert area
                  properties:
                    properties:
                      identifier:
                        type: string
                        title: Identifier
                        description: The identifier of the alert message
                      sender:
                        type: string
                        title: Sender
                        description: The identifier of the sender of the alert message
                      sent:
                        type: string
                        format: date-time
                        title: Sent
                        description: The time and date of the origination of the alert message
                      status:
                        type: string
                        title: Status
                        description: The code denoting the appropriate handling of the alert message
                      msgType:
                        type: string
                        title: Msgtype
                        description: The code denoting the nature of the alert message
                      scope:
                        type: string
                        title: Scope
                        description: The code denoting the intended distribution of the alert message
                      code:
                        type: string
                        title: Code
                        description: The code denoting the special handling of the alert message
                      source:
                        type: string
                        title: Source
                        description: The text identifying the source of the alert message
                      updated:
                        type: string
                        format: date-time
                        title: Updated
                        description: Date when the alert was last updated
                      restriction:
                        type: string
                        title: Restriction
                        description: The text describing the rule for limiting distribution of the restricted alert message
                      addresses:
                        type: string
                        title: Addresses
                        description: The group listing of intended recipients of the alert message
                      note:
                        type: string
                        title: Note
                        description: The text describing the purpose or significance of the alert message
                      references:
                        type: string
                        title: References
                        description: The group listing identifying earlier message(s) referenced by alert message
                      info:
                        items:
                          properties:
                            event:
                              type: string
                              title: Event
                              description: The text denoting the type of the subject event of the alert message
                            eventCode:
                              items:
                                properties:
                                  valueName:
                                    type: string
                                    title: Valuename
                                    description: Value name
                                  value:
                                    type: string
                                    title: Value
                                    description: Actual value
                                type: object
                                required:
                                - valueName
                                - value
                                title: EventCode
                              type: array
                              title: Eventcode
                              description: A system- specific code identifying the event type of the alert message
                            category:
                              type: string
                              title: Category
                              description: The code denoting the category of the subject event of the alert message
                            language:
                              type: string
                              title: Language
                              description: The code denoting the language of the info sub- element of the alert message
                            urgency:
                              type: string
                              title: Urgency
                              description: The code denoting the urgency of the subject event of the alert message
                            severity:
                              type: string
                              title: Severity
                              description: The code denoting the severity of the subject event of the alert message
                            certainty:
                              type: string
                              title: Certainty
                              description: The code denoting the certainty of the subject event of the alert message
                            responseType:
                              type: string
                              title: Responsetype
                              description: The code denoting the type of action recommended for the target audience
                            effective:
                              type: string
                              format: date-time
                              title: Effective
                              description: The effective time of the information of the alert message
                            onset:
                              type: string
                              format: date-time
                              title: Onset
                              description: The expected time of the beginning of the subject event of the alert message
                            expires:
                              type: string
                              format: date-time
                              title: Expires
                              description: The expiry time of the information of the alert message
                            audience:
                              type: string
                              title: Audience
                              description: The text describing the intended audience of the alert message
                            senderName:
                              type: string
                              title: Sendername
                              description: The text naming the originator of the alert message
                            headline:
                              type: string
                              title: Headline
                              description: The text headline of the alert message
                            description:
                              type: string
                              title: Description
                              description: The text describing the subject event of the alert message
                            instruction:
                              type: string
                              title: Instruction
                              description: The text describing the recommended action to be taken by recipients of the alert message
                            web:
                              type: string
                              title: Web
                              description: The identifier of the hyperlink associating additional information with the alert message
                            contact:
                              type: string
                              title: Contact
                              description: The text describing the contact for follow-up and confirmation of the alert message
                            parameters:
                              items:
                                properties:
                                  valueName:
                                    type: string
                                    title: Valuename
                                    description: Value name
                                  value:
                                    type: string
                                    title: Value
                                    description: Actual value
                                type: object
                                required:
                                - valueName
                                - value
                                title: Parameters
                              type: array
                              title: Parameters
                              description: A system- specific additional parameter associated with the alert message
                            area:
                              items:
                                properties:
                                  areaDesc:
                                    type: string
                                    title: Areadesc
                                    description: The text describing the affected area of the alert message
                                  polygon:
                                    type: object
                                    title: Polygon
                                    description: The paired values of points defining a polygon that delineates the affected area of the alert message
                                  circle:
                                    type: string
                                    title: Circle
                                    description: The paired values of a point and radius delineating the affected area of the alert message
                                  ceiling:
                                    type: number
                                    title: Ceiling
                                    description: The maximum altitude of the affected area of the alert message
                                  altitude:
                                    type: number
                                    title: Altitude
                                    description: The specific or minimum altitude of the affected area of the alert message
                                  geocodes:
                                    items:
                                      properties:
                                        valueName:
                                          type: string
                                          title: valueName
                                          description: Value name
                                        value:
                                          type: string
                                          title: value
                                          description: Actual value
                                      type: object
                                      required:
                                      - valueName
                                      - value
                                      title: Geocode
                                    type: array
                                    title: Geocodes
                                    description: The geographic code delineating the affected area of the alert message
                                type: object
                                required:
                                - areaDesc
                                title: GeoJsonAlertInfoArea
                              type: array
                              title: Area
                              description: The container for all component parts of the area sub-element of the info sub- element of the alert message
                          type: object
                          required:
                          - event
                          - category
                          - language
                          - urgency
                          - severity
                          - certainty
                          - expires
                          - area
                          title: GeoJsonAlertInfo
                        type: array
                        title: Info
                        description: Additional information about the alert
                    type: object
                    required:
                    - identifier
                    - sender
                    - sent
                    - status
                    - msgType
                    - scope
                    - updated
                    - info
                    title: GeoJsonAlertProperties
                  dtnInfo:
                    properties:
                      dtnMsgType:
                        type: string
                        title: Dtnmsgtype
                        description: Specifies the type of message generated by the DTN
                      dtnExpires:
                        type: string
                        format: date-time
                        title: Dtnexpires
                        description: Specifies the date and time when the information in the alert message is set to expire, as generated by the DTN. This timestamp indicates until when the alert information remains valid and relevant.
                      dtnEvent:
                        type: string
                        title: Dtnevent
                        description: 'Represents the type of event for which the alert message is generated within the DTN '
                      dtnEventCode:
                        type: string
                        title: Dtneventcode
                        description: Provides a code associated with the specific event type, as defined by DTN, for which the alert message is generated.
                      dtnDisclaimer:
                        type: string
                        title: Dtndisclaimer
                        description: Provides a disclaimer regarding the information included in the alert message.
                    type: object
                    required:
                    - dtnMsgType
                    - dtnExpires
                    - dtnEvent
                    - dtnEventCode
                    - dtnDisclaimer
                    title: GeoJsonAlertDtnInfo
                type: object
                required:
                - id
                - agency
                - country
                - properties
                - dtnInfo
                title: GeoJsonAlert
                example:
                  id: nws1364c1bdd210c7f036b66585590bcff39d46ea0f7c77a0a2e8f1db8651256caa
                  agency: NWS
                  country: US
                  type: Feature
                  geometry:
                    type: Polygon
                    coordinates:
                    - - - -98
                        - 40
                      - - -98
                        - 41
                      - - -97
                        - 41
                      - - -97
                        - 40
                      - - -98
                        - 40
                  properties:
                    identifier: nws1364c1bdd210c7f036b66585590bcff39d46ea0f7c77a0a2e8f1db8651256caa
                    sender: w-nws.webmaster@noaa.gov
                    sent: '2024-06-24T20:49:00'
                    status: Actual
                    msgType: Update
                    scope: Public
                    code: IPAWSv1.0
                    updated: '2024-06-24T20:49:00'
                    references: w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.29e524a2edad47b728e81f62a538ac730e40e49a.001.1,2024-06-24T02:54:00-05:00
                    info:
                    - event: Heat Advisory
                      eventCode:
                      - valueName: SAME
                        value: NWS
                      - valueName: NationalWeatherService
                        value: HTY
                      category: Met
                      language: en-US
                      urgency: Expected
                      severity: Moderate
                      certainty: Likely
                      responseType: Execute
                      effective: '2024-06-24T20:49:00'
                      onset: '2024-06-25T18:00:00'
                      expires: '2024-06-26T00:00:00'
                      senderName: NWS Hastings NE
                      headline: Heat Advisory issued June 24 at 3:49PM CDT until June 25 at 7:00PM CDT by NWS Hastings NE
                      description: '* WHAT...For the first Heat Advisory, heat index values up to 110

                        possible. For the second Heat Advisory, heat index values around

                        105 expected.


                        * WHERE...In Kansas, Jewell, Mitchell, Osborne, Phillips, Rooks, and

                        Smith Counties. In Nebraska, Nuckolls and Thayer Counties.


                        * WHEN...For the first Heat Advisory, until 8 PM CDT this evening.

                        For the second Heat Advisory, from 1 PM to 7 PM CDT Tuesday.


                        * IMPACTS...Hot temperatures and high humidity may cause heat

                        illnesses.'
                      instruction: 'Take extra precautions when outside. Wear lightweight and loose

                        fitting clothing. Try to limit strenuous activities to early morning

                        or evening. Take action when you see symptoms of heat exhaustion and

                        heat stroke. Drink plenty of fluids, stay in an air-conditioned

                        room, stay out of

                        the sun, and check up on relatives and neighbors.'
                      web: http://www.weather.gov
                      parameters:
                      - valueName: AWIPSidentifier
                        value: NPWGID
                      - valueName: WMOidentifier
                        value: WWUS73 KGID 242049
                      - valueName: NWSheadline
                        value: HEAT ADVISORY REMAINS IN EFFECT UNTIL 8 PM CDT THIS EVENING... ...HEAT ADVISORY REMAINS IN EFFECT FROM 1 PM TO 7 PM CDT TUESDAY
                      - valueName: BLOCKCHANNEL
                        value: EAS,NWEM,CMAS
                      - valueName: VTEC
                        value: /O.CON.KGID.HT.Y.0002.240625T1800Z-240626T0000Z/
                      - valueName: eventEndingTime
                        value: 2024-06-26T00:00:00+0000
                      - valueName: CAPversion
                        value: '1.2'
                      - valueName: originalID
                        value: 2.49.0.1.840.0.f950770a5e0de71a60b45e3820f5c39fcdfe4222.001.2
                      area:
                      - areaDesc: Phillips; Smith; Jewell; Rooks; Osborne; Mitchell; Nuckolls; Thayer
                        geocodes:
                        - valueName: UGC
                          value: KSZ005
                        - valueName: UGC
                          value: KSZ006
                        - valueName: UGC
                          value: KSZ007
                        - valueName: UGC
                          value: KSZ017
                        - valueName: UGC
                          value: KSZ018
                        - valueName: UGC
                          value: KSZ019
                        - valueName: UGC
                          value: NEZ086
                        - valueName: UGC
                          value: NEZ087
                  dtnInfo:
                    dtnMsgType: Update
                    dtnExpires: '2024-06-26T00:00:00'
                    dtnEvent: Heat
                    dtnEventCode: '4'
                    dtnDisclaimer: Any DTN expiration dates, times, and message types shown here are automatically generated by the DTN's system, not by the alerting agencies themselves. Additionally, the dtnEvent and dtnEventCode are DTN's normalized event parameters for uniformity and do not necessarily reflect the exact terminology of the issuing agency. To access the original event name as published by the agency, please refer to the event parameter in the response.
        '401':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    type: string
                    title: detail
                    description: Details about the authorization error
                type: object
                required:
                - detail
                title: AuthorizationErrorResponse
                example:
                  detail: Could not validate credentials
          description: Unauthorized
        '422':
          content:
            application/json:
              schema:
                properties:
                  detail:
                    type: string
                    title: detail
                    description: Details about the validation error including any invalid query parameters
                type: object
                required:
                - detail
                title: ValidationErrorResponse
                example:
                  detail: 'Validation Error. [''language'': invalid value. Examples: ''en-US'', ''de-DE'', ''fr-FR'', ''es-ES'', ''en-AU'']'
          description: Unprocessable Entity
    servers:
    - url: http://wxbulletin-ws.api.dtn.com
    - url: http://agency-bulletin-ws.prd.wx.zones.dtn.com
  /v2/sun-moon:
    get:
      tags:
      - Endpoints
      summary: Sun and Moon
      description: "This endpoint provides comprehensive astronomical data including sunrise and sunset times, current moon phase, and more related to the Sun's and Moon's status for any specific point on Earth. Specify the location and an optional date range up to 15 days long. The API responds with the requested data in GeoJSON format.\n\nUse query parameters to control the results in the response body:\n\n  * Specify a location as latitude (`lat`) and longitude (`lon`).\n\n  * Two important parameters are `startDate` and `endDate`:\n    + The API returns data for the specified date range when both are specified.\n    + The API returns data for the specified UTC day when only `startTime` is specified.\n    + The API returns data for the current UTC day when neither are specified.\n\n  * Complete example: `https://astronomical.api.dtn.com/v2/sun-moon?lat={lat}&lon={lon}&startDate={start_date}&endDate={end_date}`\n"
      operationId: sunMoon
      security:
      - clientCredentials: []
      parameters:
      - in: header
        name: Accept-Encoding
        schema:
          type: string
          description: Use this request header to communicate which compression algorithms the client understands. The API supports gzip.
          example: gzip
      - in: header
        name: Accept
        schema:
          type: string
          description: Use this request header to specify an acceptable response media type.
          example: application/json
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      responses:
        '200':
          description: A successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SunMoon'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '406':
          $ref: '#/components/responses/not-acceptable'
    servers:
    - url: https://astronomical.api.dtn.com
  /v1/daily/ten-year:
    get:
      tags:
      - Endpoints
      summary: Daily Climatology
      description: "This endpoint provides daily climatology parameters for any point on Earth. Specify the location, parameters of interest, and a date range up to 366 days (from January 1 through December 31, including February 29).  Results are valid from local midnight-to-midnight at the requested location and not specific to any year.\n\nUse the query string to customize the results in the response body:\n\n  * Specify a location as latitude (`lat`) and longitude (`lon`).  These are required.\n\n  * Specify `parameters` to filter the response to a specific, comma-separated list of environmental parameters. The API returns defaults when this is omitted.\n\n  * Specify `startDate` and `endDate` (using `MM-DD` format for month and day), or `startDate` alone for just one date.\n\n  * Specify `units=us-std` to receive values as United States customary (imperial) units. The API returns metric units by default and when `units=si-std` is expressly requested.\n\n  * Specify the `interval` parameter to request aggregated data for parameters such as airTempAvgAvg.\n    + **Format:** The interval must be in the format {n}, where {n} is an integer greater than 1 (e.g., 2, 6, or 12).\n\nAll together, a complete request looks like:\n\n```\nhttps://climatology.api.dtn.com/v1/daily/ten-year?lat={lat}&lon={lon}&startDate={start_date}&endDate={end_date}&interval={n}&parameters={param1,param2}&units={units}\n```\n"
      operationId: dailyClimatology
      security:
      - clientCredentials: []
      parameters:
      - in: header
        name: Accept-Encoding
        schema:
          type: string
          description: Use this request header to communicate which compression algorithms the client understands. The API supports gzip.
          example: gzip
      - in: header
        name: Accept
        schema:
          type: string
          description: Use this request header to specify an acceptable response media type.
          example: application/json
      - name: lat
        in: query
        schema:
          type: number
          format: float
        example: 35.47
        required: true
      - name: lon
        in: query
        schema:
          type: number
          format: float
        example: -97.51
        required: true
      - name: startDate
        in: query
        schema:
          type: string
          format: date-time
        example: 08-01
      - name: endDate
        in: query
        schema:
          type: string
          format: date-time
        example: 08-03
      - name: parameters
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        example: airTempAvg,precipAmountAvg,windSpeedAvg
      - name: units
        in: query
        schema:
          type: string
        example: us-std
      responses:
        '200':
          description: A successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  type:
                    type: string
                  features:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        geometry:
                          type: object
                          properties:
                            type:
                              type: string
                            coordinates:
                              type: array
                              items:
                                type: number
                        properties:
                          type: object
                          properties:
                            08-01:
                              type: object
                              properties:
                                airTempAvg:
                                  type: number
                                airTempStdDev:
                                  type: number
                                airTempMaxAvg:
                                  type: number
                                airTempMaxStdDev:
                                  type: number
                                airTempMinAvg:
                                  type: number
                                airTempMinStdDev:
                                  type: number
                                dewPointAvg:
                                  type: number
                                dewPointStdDev:
                                  type: number
                                potentialEvapotranspirationAmountAvg:
                                  type: number
                                longWaveRadiationAvg:
                                  type: number
                                longWaveRadiationStdDev:
                                  type: number
                                precipAmountAvg:
                                  type: number
                                shortWaveRadiationAvg:
                                  type: number
                                shortWaveRadiationStdDev:
                                  type: number
                                surfacePressureAvg:
                                  type: number
                                surfacePressureStdDev:
                                  type: number
                                windSpeedAvg:
                                  type: number
                                windSpeedStdDev:
                                  type: number
                example:
                  url: https://climatology.api.dtn.com/v1/daily/ten-year?lat=35.47&lon=-97.51&parameters=airTempAvg,airTempStdDev,airTempMaxAvg,airTempMaxStdDev,airTempMinAvg,airTempMinStdDev,dewPointAvg,dewPointStdDev,potentialEvapotranspirationAmountAvg,longWaveRadiationAvg,longWaveRadiationStdDev,precipAmountAvg,shortWaveRadiationAvg,shortWaveRadiationStdDev,surfacePressureAvg,surfacePressureStdDev,windSpeedAvg,windSpeedStdDev&startDate=08-01&endDate=08-03&units=us-std
                  type: FeatureCollection
                  features:
                  - type: Feature
                    geometry:
                      type: Point
                      coordinates:
                      - -97.51
                      - 35.47
                    properties:
                      08-01:
                        airTempAvg: 86
                        airTempStdDev: 2.7
                        airTempMaxAvg: 95
                        airTempMaxStdDev: 3.6
                        airTempMinAvg: 77
                        airTempMinStdDev: 2.2
                        dewPointAvg: 64.4
                        dewPointStdDev: 1.4
                        potentialEvapotranspirationAmountAvg: 0.2
                        longWaveRadiationAvg: 400
                        longWaveRadiationStdDev: 20
                        precipAmountAvg: 0.08
                        shortWaveRadiationAvg: 800
                        shortWaveRadiationStdDev: 50
                        surfacePressureAvg: 1015
                        surfacePressureStdDev: 3
                        windSpeedAvg: 7.8
                        windSpeedStdDev: 2.2
                      08-02:
                        airTempAvg: 87.8
                        airTempStdDev: 2.9
                        airTempMaxAvg: 96.8
                        airTempMaxStdDev: 3.8
                        airTempMinAvg: 78.8
                        airTempMinStdDev: 2.3
                        dewPointAvg: 65.3
                        dewPointStdDev: 1.6
                        potentialEvapotranspirationAmountAvg: 0.2
                        longWaveRadiationAvg: 405
                        longWaveRadiationStdDev: 22
                        precipAmountAvg: 0.06
                        shortWaveRadiationAvg: 820
                        shortWaveRadiationStdDev: 55
                        surfacePressureAvg: 1014
                        surfacePressureStdDev: 3.2
                        windSpeedAvg: 8.3
                        windSpeedStdDev: 2.5
                      08-03:
                        airTempAvg: 85.1
                        airTempStdDev: 2.5
                        airTempMaxAvg: 94.1
                        airTempMaxStdDev: 3.6
                        airTempMinAvg: 76.1
                        airTempMinStdDev: 2
                        dewPointAvg: 63.5
                        dewPointStdDev: 1.3
                        potentialEvapotranspirationAmountAvg: 0.19
                        longWaveRadiationAvg: 398
                        longWaveRadiationStdDev: 18
                        precipAmountAvg: 0.12
                        shortWaveRadiationAvg: 810
                        shortWaveRadiationStdDev: 52
                        surfacePressureAvg: 1016
                        surfacePressureStdDev: 2.8
                        windSpeedAvg: 7.4
                        windSpeedStdDev: 2
        '400':
          description: An invalid request.
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: The error type.
                  title:
                    type: string
                    description: A short, human-readable title for the general error type.
                  status:
                    type: number
                    description: The HTTP status code.
                  detail:
                    type: string
                    description: A human-readable description of the general error.
                  instance:
                    type: string
                    format: uri
                    description: A URL with the specific error ID (often pointing to an error log for that specific response).
                  errors:
                    type: array
                    description: An array of human-readable descriptions of specific errors.
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        parameter:
                          type: string
                        value:
                          type: array
                          items:
                            type: string
                additionalProperties: false
              example:
                type: badRequest
                title: Invalid Request
                detail: Validation failed.
                status: 400
                instance: urn:dtn:climatology:/v1/daily:requestId:123e4567-e89b-12d3-a458-426614176000
                errors:
                - message: 'the following parameters are invalid: invalidParameter1,invalidParameter2'
                  parameter: parameters
                  value:
                  - invalidParameter1
                  - invalidParameter2
        '401':
          description: Unable to authenticate credentials.
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: The error type.
                  title:
                    type: string
                    description: A short, human-readable title for the general error type.
                  status:
                    type: number
                    description: The HTTP status code.
                  detail:
                    type: string
                    description: A human-readable description of the general error.
                  instance:
                    type: string
                    format: uri
                    description: A URL with the specific error ID (often pointing to an error log for that specific response).
              example:
                type: unauthorized
                title: Error while authenticating the user.
                detail: invalid token
                status: 401
                instance: urn:dtn:climatology:/v1/daily:requestId:123e4567-e89b-12d3-a458-426614176000
        '406':
          description: Unable to produce a response matching the Accept request header.
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: The error type.
                  title:
                    type: string
                    description: A short, human-readable title for the general error type.
                  status:
                    type: number
                    description: The HTTP status code.
                  detail:
                    type: string
                    description: A human-readable description of the general error.
                  instance:
                    type: string
                    format: uri
                    description: A URL with the specific error ID (often pointing to an error log for that specific response).
              example:
                type: notAcceptable
                title: Not Acceptable
                detail: The Accept header value is invalid or unsupported.
                status: 406
                instance: urn:dtn:climatology:/v1/daily:requestId:123e4567-e89b-12d3-a458-426614176000
      x-codeSamples:
      - lang: C + Libcurl
        source: 'CURL *hnd = curl_easy_init();


          curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");

          curl_easy_setopt(hnd, CURLOPT_URL, "https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE");


          struct curl_slist *headers = NULL;

          headers = curl_slist_append(headers, "Accept-Encoding: SOME_STRING_VALUE");

          headers = curl_slist_append(headers, "Accept: SOME_STRING_VALUE");

          headers = curl_slist_append(headers, "Authorization: Bearer REPLACE_BEARER_TOKEN");

          curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


          CURLcode ret = curl_easy_perform(hnd);'
      - lang: Csharp + Restsharp
        source: 'var client = new RestClient("https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE");

          var request = new RestRequest(Method.GET);

          request.AddHeader("Accept-Encoding", "SOME_STRING_VALUE");

          request.AddHeader("Accept", "SOME_STRING_VALUE");

          request.AddHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN");

          IRestResponse response = client.Execute(request);'
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Accept\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")\n  .get()\n  .addHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Accept\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
      - lang: Java + Unirest
        source: "HttpResponse<String> response = Unirest.get(\"https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")\n  .header(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .header(\"Accept\", \"SOME_STRING_VALUE\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
      - lang: Javascript + Jquery
        source: "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
      - lang: Javascript + Xhr
        source: "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Accept\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"
      - lang: Javascript + Jquery
        source: "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
      - lang: Node + Native
        source: "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"climatology.api.dtn.com\",\n  \"port\": null,\n  \"path\": \"/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://climatology.api.dtn.com/v1/daily/ten-year',\n  qs: {\n    lat: 'SOME_NUMBER_VALUE',\n    lon: 'SOME_NUMBER_VALUE',\n    startDate: 'SOME_STRING_VALUE',\n    endDate: 'SOME_STRING_VALUE',\n    parameters: 'SOME_ARRAY_VALUE',\n    units: 'SOME_STRING_VALUE'\n  },\n  headers: {\n    'Accept-Encoding': 'SOME_STRING_VALUE',\n    Accept: 'SOME_STRING_VALUE',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Node + Unirest
        source: "const unirest = require(\"unirest\");\n\nconst req = unirest(\"GET\", \"https://climatology.api.dtn.com/v1/daily/ten-year\");\n\nreq.query({\n  \"lat\": \"SOME_NUMBER_VALUE\",\n  \"lon\": \"SOME_NUMBER_VALUE\",\n  \"startDate\": \"SOME_STRING_VALUE\",\n  \"endDate\": \"SOME_STRING_VALUE\",\n  \"parameters\": \"SOME_ARRAY_VALUE\",\n  \"units\": \"SOME_STRING_VALUE\"\n});\n\nreq.headers({\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
      - lang: Objc + Nsurlsession
        source: "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept-Encoding\": @\"SOME_STRING_VALUE\",\n                           @\"Accept\": @\"SOME_STRING_VALUE\",\n                           @\"Authorization\": @\"Bearer REPLACE_BEARER_TOKEN\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
      - lang: Ocaml + Cohttp
        source: "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept-Encoding\", \"SOME_STRING_VALUE\");\n  (\"Accept\", \"SOME_STRING_VALUE\");\n  (\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n] in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: SOME_STRING_VALUE\",\n    \"Accept-Encoding: SOME_STRING_VALUE\",\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
      - lang: Php + Http1
        source: "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://climatology.api.dtn.com/v1/daily/ten-year');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData([\n  'lat' => 'SOME_NUMBER_VALUE',\n  'lon' => 'SOME_NUMBER_VALUE',\n  'startDate' => 'SOME_STRING_VALUE',\n  'endDate' => 'SOME_STRING_VALUE',\n  'parameters' => 'SOME_ARRAY_VALUE',\n  'units' => 'SOME_STRING_VALUE'\n]);\n\n$request->setHeaders([\n  'Accept-Encoding' => 'SOME_STRING_VALUE',\n  'Accept' => 'SOME_STRING_VALUE',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
      - lang: Php + Http2
        source: "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://climatology.api.dtn.com/v1/daily/ten-year');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'lat' => 'SOME_NUMBER_VALUE',\n  'lon' => 'SOME_NUMBER_VALUE',\n  'startDate' => 'SOME_STRING_VALUE',\n  'endDate' => 'SOME_STRING_VALUE',\n  'parameters' => 'SOME_ARRAY_VALUE',\n  'units' => 'SOME_STRING_VALUE'\n]));\n\n$request->setHeaders([\n  'Accept-Encoding' => 'SOME_STRING_VALUE',\n  'Accept' => 'SOME_STRING_VALUE',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
      - lang: Python + Python3
        source: "import http.client\n\nconn = http.client.HTTPSConnection(\"climatology.api.dtn.com\")\n\nheaders = {\n    'Accept-Encoding': \"SOME_STRING_VALUE\",\n    'Accept': \"SOME_STRING_VALUE\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://climatology.api.dtn.com/v1/daily/ten-year\"\n\nquerystring = {\"lat\":\"SOME_NUMBER_VALUE\",\"lon\":\"SOME_NUMBER_VALUE\",\"startDate\":\"SOME_STRING_VALUE\",\"endDate\":\"SOME_STRING_VALUE\",\"parameters\":\"SOME_ARRAY_VALUE\",\"units\":\"SOME_STRING_VALUE\"}\n\nheaders = {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
      - lang: Ruby + Native
        source: 'require ''uri''

          require ''net/http''

          require ''openssl''


          url = URI("https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE")


          http = Net::HTTP.new(url.host, url.port)

          http.use_ssl = true

          http.verify_mode = OpenSSL::SSL::VERIFY_NONE


          request = Net::HTTP::Get.new(url)

          request["Accept-Encoding"] = ''SOME_STRING_VALUE''

          request["Accept"] = ''SOME_STRING_VALUE''

          request["Authorization"] = ''Bearer REPLACE_BEARER_TOKEN''


          response = http.request(request)

          puts response.read_body'
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE' \\\n  --header 'Accept: SOME_STRING_VALUE' \\\n  --header 'Accept-Encoding: SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
      - lang: Shell + Httpie
        source: "http GET 'https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE' \\\n  Accept:SOME_STRING_VALUE \\\n  Accept-Encoding:SOME_STRING_VALUE \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
      - lang: Shell + Wget
        source: "wget --quiet \\\n  --method GET \\\n  --header 'Accept-Encoding: SOME_STRING_VALUE' \\\n  --header 'Accept: SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --output-document \\\n  - 'https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE'"
      - lang: Swift + Nsurlsession
        source: "import Foundation\n\nlet headers = [\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://climatology.api.dtn.com/v1/daily/ten-year?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startDate=SOME_STRING_VALUE&endDate=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
    servers:
    - url: https://climatology.api.dtn.com
  /v1/parameters:
    get:
      tags:
      - Endpoints
      summary: Parameters
      description: 'This endpoint provides helpful context in JSON format about the environmental parameters and operations that the other endpoints support.


        Use the `name` query string parameter to filter environmental parameters by that name (for example, `name=airTempAvg`), or omit the query string to obtain all environmental parameters in the response.

        '
      operationId: parameters
      security:
      - clientCredentials: []
      parameters:
      - in: header
        name: Accept-Encoding
        schema:
          type: string
          description: Use this request header to communicate which compression algorithms the client understands. The API supports gzip.
          example: gzip
      - in: header
        name: Accept
        schema:
          type: string
          description: Use this request header to specify an acceptable response media type.
          example: application/json
      - in: query
        name: name
        schema:
          type: string
          description: The desired parameter name filter (optional).
          example:
          - airTempAvg
      responses:
        '200':
          description: A successful request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  daily-climatology:
                    type: object
                    properties:
                      parameter name:
                        type: object
                        description: The name of the parameter.
                        properties:
                          metricUnit:
                            type: string
                            description: The metric unit used for this parameter.
                          imperialUnit:
                            type: string
                            description: The imperial unit used for this parameter.
                          type:
                            type: string
                            description: The parameter type.
                          description:
                            type: string
                            description: A description of what this parameter means.
                          notes:
                            type: string
                            description: Additional information related to this parameter.
                          aggregationMethods:
                            type: array
                            items:
                              type: string
                            description: Aggregation methods available to the parameter.
                    example:
                      airTempAvg:
                        metricUnit: Celsius
                        imperialUnit: Fahrenheit
                        type: number
                        description: Average daily air temperature at 2 meters above ground level.
                        notes: ''
                        aggregationMethods:
                        - Avg
        '400':
          description: An invalid request.
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: The error type.
                  title:
                    type: string
                    description: A short, human-readable title for the general error type.
                  status:
                    type: number
                    description: The HTTP status code.
                  detail:
                    type: string
                    description: A human-readable description of the general error.
                  instance:
                    type: string
                    format: uri
                    description: A URL with the specific error ID (often pointing to an error log for that specific response).
                  errors:
                    type: array
                    description: An array of human-readable descriptions of specific errors.
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        parameter:
                          type: string
                        value:
                          type: array
                          items:
                            type: string
                additionalProperties: false
              example:
                type: badRequest
                title: Invalid Request
                detail: Validation failed.
                status: 400
                instance: urn:dtn:climatology:/v1/daily:requestId:123e4567-e89b-12d3-a458-426614176000
                errors:
                - message: 'the following parameters are invalid: invalidParameter1,invalidParameter2'
                  parameter: parameters
                  value:
                  - invalidParameter1
                  - invalidParameter2
        '401':
          description: Unable to authenticate credentials.
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: The error type.
                  title:
                    type: string
                    description: A short, human-readable title for the general error type.
                  status:
                    type: number
                    description: The HTTP status code.
                  detail:
                    type: string
                    description: A human-readable description of the general error.
                  instance:
                    type: string
                    format: uri
                    description: A URL with the specific error ID (often pointing to an error log for that specific response).
              example:
                type: unauthorized
                title: Error while authenticating the user.
                detail: invalid token
                status: 401
                instance: urn:dtn:climatology:/v1/daily:requestId:123e4567-e89b-12d3-a458-426614176000
        '406':
          description: Unable to produce a response matching the Accept request header.
          content:
            application/problem+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: The error type.
                  title:
                    type: string
                    description: A short, human-readable title for the general error type.
                  status:
                    type: number
                    description: The HTTP status code.
                  detail:
                    type: string
                    description: A human-readable description of the general error.
                  instance:
                    type: string
                    format: uri
                    description: A URL with the specific error ID (often pointing to an error log for that specific response).
              example:
                type: notAcceptable
                title: Not Acceptable
                detail: The Accept header value is invalid or unsupported.
                status: 406
                instance: urn:dtn:climatology:/v1/daily:requestId:123e4567-e89b-12d3-a458-426614176000
      x-codeSamples:
      - lang: C + Libcurl
        source: 'CURL *hnd = curl_easy_init();


          curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");

          curl_easy_setopt(hnd, CURLOPT_URL, "https://climatology.api.dtn.com/v1/parameters?name=airTempAvg");


          struct curl_slist *headers = NULL;

          headers = curl_slist_append(headers, "Accept-Encoding: SOME_STRING_VALUE");

          headers = curl_slist_append(headers, "Accept: SOME_STRING_VALUE");

          headers = curl_slist_append(headers, "Authorization: Bearer REPLACE_BEARER_TOKEN");

          curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);


          CURLcode ret = curl_easy_perform(hnd);'
      - lang: Csharp + Restsharp
        source: 'var client = new RestClient("https://climatology.api.dtn.com/v1/parameters?name=airTempAvg");

          var request = new RestRequest(Method.GET);

          request.AddHeader("Accept-Encoding", "SOME_STRING_VALUE");

          request.AddHeader("Accept", "SOME_STRING_VALUE");

          request.AddHeader("Authorization", "Bearer REPLACE_BEARER_TOKEN");

          IRestResponse response = client.Execute(request);'
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://climatology.api.dtn.com/v1/parameters?name=airTempAvg\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Accept\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
      - lang: Java + Okhttp
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://climatology.api.dtn.com/v1/parameters?name=airTempAvg\")\n  .get()\n  .addHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Accept\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
      - lang: Java + Unirest
        source: "HttpResponse<String> response = Unirest.get(\"https://climatology.api.dtn.com/v1/parameters?name=airTempAvg\")\n  .header(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .header(\"Accept\", \"SOME_STRING_VALUE\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
      - lang: Javascript + Jquery
        source: "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://climatology.api.dtn.com/v1/parameters?name=airTempAvg\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
      - lang: Javascript + Xhr
        source: "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://climatology.api.dtn.com/v1/parameters?name=airTempAvg\");\nxhr.setRequestHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Accept\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"
      - lang: Javascript + Jquery
        source: "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://climatology.api.dtn.com/v1/parameters?name=airTempAvg\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
      - lang: Node + Native
        source: "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"climatology.api.dtn.com\",\n  \"port\": null,\n  \"path\": \"/v1/parameters?name=airTempAvg\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
      - lang: Node + Request
        source: "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://climatology.api.dtn.com/v1/parameters',\n  qs: {name: 'airTempAvg'},\n  headers: {\n    'Accept-Encoding': 'SOME_STRING_VALUE',\n    Accept: 'SOME_STRING_VALUE',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: Node + Unirest
        source: "const unirest = require(\"unirest\");\n\nconst req = unirest(\"GET\", \"https://climatology.api.dtn.com/v1/parameters\");\n\nreq.query({\n  \"name\": \"airTempAvg\"\n});\n\nreq.headers({\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
      - lang: Objc + Nsurlsession
        source: "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept-Encoding\": @\"SOME_STRING_VALUE\",\n                           @\"Accept\": @\"SOME_STRING_VALUE\",\n                           @\"Authorization\": @\"Bearer REPLACE_BEARER_TOKEN\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://climatology.api.dtn.com/v1/parameters?name=airTempAvg\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
      - lang: Ocaml + Cohttp
        source: "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://climatology.api.dtn.com/v1/parameters?name=airTempAvg\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept-Encoding\", \"SOME_STRING_VALUE\");\n  (\"Accept\", \"SOME_STRING_VALUE\");\n  (\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n] in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
      - lang: Php + Curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://climatology.api.dtn.com/v1/parameters?name=airTempAvg\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: SOME_STRING_VALUE\",\n    \"Accept-Encoding: SOME_STRING_VALUE\",\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
      - lang: Php + Http1
        source: "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://climatology.api.dtn.com/v1/parameters');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData([\n  'name' => 'airTempAvg'\n]);\n\n$request->setHeaders([\n  'Accept-Encoding' => 'SOME_STRING_VALUE',\n  'Accept' => 'SOME_STRING_VALUE',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
      - lang: Php + Http2
        source: "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://climatology.api.dtn.com/v1/parameters');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'name' => 'airTempAvg'\n]));\n\n$request->setHeaders([\n  'Accept-Encoding' => 'SOME_STRING_VALUE',\n  'Accept' => 'SOME_STRING_VALUE',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
      - lang: Python + Python3
        source: "import http.client\n\nconn = http.client.HTTPSConnection(\"climatology.api.dtn.com\")\n\nheaders = {\n    'Accept-Encoding': \"SOME_STRING_VALUE\",\n    'Accept': \"SOME_STRING_VALUE\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/parameters?name=airTempAvg\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://climatology.api.dtn.com/v1/parameters\"\n\nquerystring = {\"name\":\"airTempAvg\"}\n\nheaders = {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
      - lang: Ruby + Native
        source: 'require ''uri''

          require ''net/http''

          require ''openssl''


          url = URI("https://climatology.api.dtn.com/v1/parameters?name=airTempAvg")


          http = Net::HTTP.new(url.host, url.port)

          http.use_ssl = true

          http.verify_mode = OpenSSL::SSL::VERIFY_NONE


          request = Net::HTTP::Get.new(url)

          request["Accept-Encoding"] = ''SOME_STRING_VALUE''

          request["Accept"] = ''SOME_STRING_VALUE''

          request["Authorization"] = ''Bearer REPLACE_BEARER_TOKEN''


          response = http.request(request)

          puts response.read_body'
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'https://climatology.api.dtn.com/v1/parameters?name=airTempAvg' \\\n  --header 'Accept: SOME_STRING_VALUE' \\\n  --header 'Accept-Encoding: SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
      - lang: Shell + Httpie
        source: "http GET 'https://climatology.api.dtn.com/v1/parameters?name=airTempAvg' \\\n  Accept:SOME_STRING_VALUE \\\n  Accept-Encoding:SOME_STRING_VALUE \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
      - lang: Shell + Wget
        source: "wget --quiet \\\n  --method GET \\\n  --header 'Accept-Encoding: SOME_STRING_VALUE' \\\n  --header 'Accept: SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --output-document \\\n  - 'https://climatology.api.dtn.com/v1/parameters?name=airTempAvg'"
      - lang: Swift + Nsurlsession
        source: "import Foundation\n\nlet headers = [\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://climatology.api.dtn.com/v1/parameters?name=airTempAvg\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
    servers:
    - url: https://climatology.api.dtn.com
  /v1/conditions/marine:
    get:
      tags:
      - Endpoints
      summary: Marine Conditions
      description: "This endpoint provides forecast and historical conditions for any specific point in the ocean. Specify the location, the marine parameters of interest, and a time range up to 10 days long, from 10 years in the past to 10 days in the future. The API responds with the requested time series in GeoJSON format.\n\nCommon uses include weather monitoring, marine research, localized operations, and supply-chain management planning in ports and offshore platforms.\n\nUse query parameters to control the results in the response body:\n\n  * Specify a location as latitude (`lat`) and longitude (`lon`).\n\n  * Specify `parameters` to filter by specific marine weather parameters. Include multiple as comma-separated values. The API returns only defaults when no specific parameters are requested.\n\n  * Two important parameters are `startTime` and `endTime`:\n    + The API returns forecast data when `startTime` and `endTime` are in the future.\n    + The API returns historical data when `startTime` and `endTime` are in the past.\n    + The API returns only one exact timestamp when only `startTime` is specified.\n\n  * Complete example: `https://weather.api.dtn.com/v1/conditions/marine?lat={lat}&lon={lon}&startTime={start_time}&endTime={end_time}&parameters={param1,param2}`\n"
      operationId: marineConditions
      security:
      - clientCredentials: []
      parameters:
      - in: header
        name: Accept-Encoding
        schema:
          type: string
          description: Use this request header to communicate which compression algorithms the client understands. The API supports gzip.
          example: gzip
      - in: header
        name: Accept
        schema:
          type: string
          description: Use this request header to specify an acceptable response media type.
          example: application/json
      - name: lat
        in: query
        schema:
          type: number
          format: float
        example: 55.81
        required: true
      - name: lon
        in: query
        schema:
          type: number
[...]
