{"openapi":"3.0.2","info":{"title":"DTN TAF API","description":"TAFs are a key piece of information required for flight planning and flight operations. DTN TAF API allows customers to get the data critical to them without unnecessary extra data.","version":"1.9.0"},"servers":[{"url":"https://aviation.api.dtn.com"}],"paths":{"/v1/tafs/":{"get":{"tags":["TAF"],"summary":"Get active TAFs","description":"Get all available TAFs, potentially filtered by various query parameters.  All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/TafSuccess"},"400":{"$ref":"#/components/responses/TafBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryTafUnitSystem"},{"$ref":"#/components/parameters/QueryStationIds"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/QueryIsValidAt"},{"$ref":"#/components/parameters/QueryFromDateTime"},{"$ref":"#/components/parameters/QueryUntilDateTime"},{"$ref":"#/components/parameters/QueryInsertedAfter"},{"$ref":"#/components/parameters/QueryInsertedThrough"},{"$ref":"#/components/parameters/QueryFlightCodes"},{"$ref":"#/components/parameters/QueryFlightCategories"}],"security":[{"clientCredentials":[]}]}}},"components":{"securitySchemes":{"clientCredentials":{"type":"oauth2","x-receive-token-in":"request-body","flows":{"clientCredentials":{"tokenUrl":"https://api.auth.dtn.com/v1/tokens/authorize"}},"description":"# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the DTN TAFs API, you need to use the following audience: https://aviation.api.dtn.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "}},"schemas":{"Meta":{"title":"Meta","description":"Meta data attached to every response","required":["name","request_id","start_timestamp","end_timestamp","execution_time"],"type":"object","properties":{"name":{"type":"string"},"request_id":{"type":"string"},"start_timestamp":{"type":"integer"},"end_timestamp":{"type":"integer"},"execution_time":{"type":"integer"}}},"Error":{"title":"Error","description":"Error","required":["type","title","status","detail","meta"],"type":"object","properties":{"url":{"type":"string"},"type":{"enum":["internal-server-error","unauthorized","bad-request","service-unavailable","forbidden","not-found"],"type":"string"},"title":{"type":"string"},"status":{"type":"number"},"detail":{"type":"string"},"instance":{"type":"string"},"errors":{"type":"array","items":{"type":"object"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"GeoJsonObject":{"description":"GeoJSon object The coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.\n","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3"},"type":"object","properties":{"type":{"type":"string","enum":["Feature","FeatureCollection","Point","MultiPoint","LineString","MultiLineString","Polygon","MultiPolygon","GeometryCollection"]},"bbox":{"description":"A GeoJSON object MAY have a member named \"bbox\" to include information on the coordinate range for its Geometries, Features, or FeatureCollections. The value of the bbox member MUST be an array of length 2*n where n is the number of dimensions represented in the contained geometries, with all axes of the most southwesterly point followed by all axes of the more northeasterly point. The axes order of a bbox follows the axes order of geometries.\n","type":"array","items":{"type":"number"}}},"required":["type"],"discriminator":{"propertyName":"type"}},"Point2D":{"type":"array","maxItems":2,"minItems":2,"items":{"type":"number"}},"Point":{"type":"object","description":"GeoJSon geometry","externalDocs":{"url":"http://geojson.org/geojson-spec.html#id2"},"allOf":[{"$ref":"#/components/schemas/Geometry"},{"properties":{"coordinates":{"$ref":"#/components/schemas/Point2D"}}}]},"Geometry":{"type":"object","description":"GeoJSon geometry","discriminator":{"propertyName":"type"},"required":["type"],"externalDocs":{"url":"http://geojson.org/geojson-spec.html#geometry-objects"},"properties":{"type":{"type":"string","enum":["Point","LineString","Polygon","MultiPoint","MultiLineString","MultiPolygon"],"description":"the geometry type"}}},"TafItem":{"type":"object","required":["forecastNumber","layerNumber","issueDateTime","validDateTime","expirationDateTime","insertedDateTime","forecastType","probability","windSpeed","windGust","windDirection","flightCode","flightCategory","visibility","rawTxt","wmoCode","vicinity","cloudHeight","ceilingCode","stationId"],"properties":{"forecastNumber":{"type":"number"},"layerNumber":{"type":"number"},"issueDateTime":{"type":"string","format":"date-time"},"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"insertedDateTime":{"type":"string","format":"date-time"},"forecastType":{"type":"string"},"probability":{"type":"number","nullable":true},"windSpeed":{"type":"number","nullable":true},"windGust":{"type":"number","nullable":true},"windDirection":{"type":"number","nullable":true},"flightCode":{"type":"number"},"flightCategory":{"type":"string"},"visibility":{"type":"number","nullable":true},"rawTxt":{"type":"string"},"wmoCode":{"type":"string"},"vicinity":{"type":"number","nullable":true},"cloudHeight":{"type":"number","nullable":true},"ceilingCode":{"type":"string","nullable":true},"stationId":{"type":"string"}}},"TafList":{"type":"object","required":["url","tafs","meta"],"properties":{"url":{"type":"string"},"tafs":{"type":"array","items":{"$ref":"#/components/schemas/TafItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"TafFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/TafItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"TafFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/TafFeature"}}}}]}},"parameters":{"QueryOffset":{"name":"offset","description":"Skip over this many into the response set; used for paginated results.","in":"query","required":false,"schema":{"type":"integer","default":0}},"QueryLimit":{"name":"limit","description":"Provide no more than this many items in the response set.","in":"query","required":false,"schema":{"type":"integer","default":1000,"minimum":1,"maximum":10000}},"QueryTafUnitSystem":{"name":"unitSystem","description":"Identifier for units system used for numerical output values in TAF.  Must be either `default` or `metric`.  Default is `default`.  Field units depending on unit system:<br>                * `visibility`: default=`mi`, metric=`m`<br>                * `windSpeed`: default=`kts`, metric=`m/s`<br>                * `windGust`: default=`kts`, metric=`m/s`<br>                * `cloudHeight`: default=`ft`, metric=`m`","in":"query","required":false,"explode":false,"schema":{"type":"string","enum":["default","metric"],"default":"default"}},"QueryStationIds":{"name":"stationIds","description":"Comma-separated list of station identifier values.  Limits to objects whose `stationId` value matches one of specified parameter values.","in":"query","required":false,"schema":{"type":"string"}},"QueryBbox":{"name":"bbox","description":"Bounding box coordinates in the format `<min_X>,<min_Y>,<max_X>,<max_Y>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with bbox definition of area that crosses antimeridian will fail.","in":"query","required":false,"schema":{"type":"string"}},"QueryPolygon":{"name":"polygon","description":"Polygon coordinates in the format `<X_0>,<Y_0>,<X_1>,<Y_1>...,<X_n>,<Y_n>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  Must provide between 3 and 40 coordinates.  If the last `X,Y` does not match the first `X,Y`, the first `X,Y` is copied to the end to close the polygon.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with polygon definition of area that crosses antimeridian will fail or give unexpected results.","in":"query","required":false,"schema":{"type":"string"}},"QueryCircle":{"name":"circle","description":"Circle coordinates and radius distance in the format `<X>,<Y>,<RADIUS>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  The `<RADIUS>` defines the distance (in default or `distanceUnits`-specified units) from the defined point.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with circle definition of area that crosses antimeridian will fail.  The larger the defined area, the more its shape on projected map will differ from true circle on spherical coordinates.  Maximum allowed <RADIUS> is 400nm (and equal lengths for different `distanceUnits`).","in":"query","required":false,"schema":{"type":"string"}},"QueryCorridor":{"name":"corridor","description":"Line coordinates and distance from the line in the format `<X_0>,<Y_0>,<X_1>,<Y_1>...,<X_n>,<Y_n>,<HALFWIDTH>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  Must provide between 2 and 40 coordinates for the line.  The `<HALFWIDTH>` defines the distance (in default or `distanceUnits`-specified units) from the line defined by the coordinates out to which to create encompassing shape.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with corridor definition of area that crosses antimeridian will fail or give unexpected results.  The larger the defined area, the more its shape on projected map will differ from true corridor on spherical coordinates.  Maximum allowed <HALFWIDTH> is 200nm (and equal lengths for different `distanceUnits`).","in":"query","required":false,"schema":{"type":"string"}},"QueryDistanceUnits":{"name":"distanceUnits","description":"Units identifier for distances in definition for circle or corridor spatial filter.  Default is `nm` (nautical miles).","in":"query","required":false,"schema":{"type":"string","enum":["nm","km","m","sm"],"default":"nm"}},"QueryIsValidAt":{"name":"isValidAt","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is not earlier than the specified value and whose `expirationDateTime` is later than that specified value.  Allowed values relative to the current time vary depending on the data type.  A valid time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `expirationDateTime` is later than that specified value, i.e., only objects not ended by this time.  Allowed values relative to the current time vary depending on the data type.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is earlier than the specified value, i.e., only objects that began before this time.  Allowed values relative to the current time vary depending on the data type.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryInsertedAfter":{"name":"insertedAfter","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is later than that specified value.  This allows to acquire only data that became available after this time.  Requires use of fractional seconds for full precision.  Allowed values relative to the current time vary depending on the data type.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"QueryInsertedThrough":{"name":"insertedThrough","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is not later than that specified value.  This allows to acquire only data that became available through this time.  Requires use of fractional seconds for full precision.  Allowed values relative to the current time vary depending on the data type.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"QueryFlightCodes":{"name":"flightCodes","description":"Comma-separated list of flight code values.  Must include only allowed values.  Limits to objects whose `flightCode` value matches one of specified parameter values.","in":"query","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["1","2","3","4","0"]}}},"QueryFlightCategories":{"name":"flightCategories","description":"Comma-separated list of flight category values.  Must include only allowed values.  Limits to objects whose `flightCategory` value matches one of specified parameter values.","in":"query","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["VFR","MVFR","IFR","LIFR","UNKNOWN"]}}}},"responses":{"ErrorUnauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"unauthorized","title":"Error while authenticating the user","status":401,"detail":"Missing Authorization token.","instance":"urn:dtn:aviation-api:/v1/notams/KIND:requestId:19e1b83a-cb2e-4460-b687-ce9d0c50b4b6","meta":{"name":"v1.notams.KIND","uuid":"d64fc634-9bee-430d-8ab1-200337e6e9b2","request_id":"19e1b83a-cb2e-4460-b687-ce9d0c50b4b6","start_timestamp":1714019217213,"end_timestamp":1714019217246,"execution_time":33}}}}},"TafSuccess":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TafFeatureCollection"},"examples":{"Success":{"$ref":"#/components/examples/TafSuccessResponse"}}}}},"TafBadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"BadRequest":{"$ref":"#/components/examples/TafBadRequestResponse"}}}}}},"examples":{"TafSuccessResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/tafs/?stationIds=KLAX,KLGB,KBUR","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.358333,34.200555]},"properties":{"forecastType":"FM","flightCategory":"VFR","visibility":7,"rawTxt":"FM080800 VRB03KT P6SM SKC","ceilingCode":"SKC","stationId":"KBUR","ogcFeatureId":5,"forecastNumber":4,"layerNumber":0,"issueDateTime":"2024-10-07T11:51:00.000Z","validDateTime":"2024-10-08T08:00:00.000Z","expirationDateTime":"2024-10-08T12:00:00.000Z","insertedDateTime":"2024-10-07T11:53:14.884Z","probability":null,"windSpeed":3,"windGust":null,"windDirection":9999,"flightCode":1,"wmoCode":null,"vicinity":null,"cloudHeight":null,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.358333,34.200555]},"properties":{"forecastType":"FM","flightCategory":"VFR","visibility":7,"rawTxt":"FM080400 12005KT P6SM SKC","ceilingCode":"SKC","stationId":"KBUR","ogcFeatureId":6,"forecastNumber":3,"layerNumber":0,"issueDateTime":"2024-10-07T11:51:00.000Z","validDateTime":"2024-10-08T04:00:00.000Z","expirationDateTime":"2024-10-08T08:00:00.000Z","insertedDateTime":"2024-10-07T11:53:14.884Z","probability":null,"windSpeed":5,"windGust":null,"windDirection":120,"flightCode":1,"wmoCode":null,"vicinity":null,"cloudHeight":null,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.358333,34.200555]},"properties":{"forecastType":"FM","flightCategory":"VFR","visibility":7,"rawTxt":"FM072000 17009KT P6SM SKC","ceilingCode":"SKC","stationId":"KBUR","ogcFeatureId":7,"forecastNumber":2,"layerNumber":0,"issueDateTime":"2024-10-07T11:51:00.000Z","validDateTime":"2024-10-07T20:00:00.000Z","expirationDateTime":"2024-10-08T04:00:00.000Z","insertedDateTime":"2024-10-07T11:53:14.884Z","probability":null,"windSpeed":9,"windGust":null,"windDirection":170,"flightCode":1,"wmoCode":null,"vicinity":null,"cloudHeight":null,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.358333,34.200555]},"properties":{"forecastType":"FM","flightCategory":"VFR","visibility":7,"rawTxt":"FM071500 15005KT P6SM SKC","ceilingCode":"SKC","stationId":"KBUR","ogcFeatureId":8,"forecastNumber":1,"layerNumber":0,"issueDateTime":"2024-10-07T11:51:00.000Z","validDateTime":"2024-10-07T15:00:00.000Z","expirationDateTime":"2024-10-07T20:00:00.000Z","insertedDateTime":"2024-10-07T11:53:14.884Z","probability":null,"windSpeed":5,"windGust":null,"windDirection":150,"flightCode":1,"wmoCode":null,"vicinity":null,"cloudHeight":null,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.408055,33.9425]},"properties":{"forecastType":"FM","flightCategory":"IFR","visibility":3,"rawTxt":"FM081600 26006KT 3SM BR BKN005","ceilingCode":"BKN","stationId":"KLAX","ogcFeatureId":6250,"forecastNumber":7,"layerNumber":0,"issueDateTime":"2024-10-07T14:57:00.000Z","validDateTime":"2024-10-08T16:00:00.000Z","expirationDateTime":"2024-10-08T18:00:00.000Z","insertedDateTime":"2024-10-07T14:58:38.405Z","probability":null,"windSpeed":6,"windGust":null,"windDirection":260,"flightCode":3,"wmoCode":"BR","vicinity":0,"cloudHeight":500,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.408055,33.9425]},"properties":{"forecastType":"FM","flightCategory":"LIFR","visibility":0.5,"rawTxt":"FM080800 VRB03KT 1/2SM FG VV002","ceilingCode":"VV","stationId":"KLAX","ogcFeatureId":6251,"forecastNumber":6,"layerNumber":0,"issueDateTime":"2024-10-07T14:57:00.000Z","validDateTime":"2024-10-08T08:00:00.000Z","expirationDateTime":"2024-10-08T16:00:00.000Z","insertedDateTime":"2024-10-07T14:58:38.405Z","probability":null,"windSpeed":3,"windGust":null,"windDirection":9999,"flightCode":4,"wmoCode":"FG","vicinity":0,"cloudHeight":200,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.408055,33.9425]},"properties":{"forecastType":"FM","flightCategory":"LIFR","visibility":1,"rawTxt":"FM080300 26005KT 1SM BR VCFG OVC003","ceilingCode":"OVC","stationId":"KLAX","ogcFeatureId":6252,"forecastNumber":5,"layerNumber":0,"issueDateTime":"2024-10-07T14:57:00.000Z","validDateTime":"2024-10-08T03:00:00.000Z","expirationDateTime":"2024-10-08T08:00:00.000Z","insertedDateTime":"2024-10-07T14:58:38.405Z","probability":null,"windSpeed":5,"windGust":null,"windDirection":260,"flightCode":4,"wmoCode":"BR","vicinity":0,"cloudHeight":300,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.408055,33.9425]},"properties":{"forecastType":"FM","flightCategory":"LIFR","visibility":1,"rawTxt":"FM080300 26005KT 1SM BR VCFG OVC003","ceilingCode":"OVC","stationId":"KLAX","ogcFeatureId":6253,"forecastNumber":5,"layerNumber":0,"issueDateTime":"2024-10-07T14:57:00.000Z","validDateTime":"2024-10-08T03:00:00.000Z","expirationDateTime":"2024-10-08T08:00:00.000Z","insertedDateTime":"2024-10-07T14:58:38.405Z","probability":null,"windSpeed":5,"windGust":null,"windDirection":260,"flightCode":4,"wmoCode":"FG","vicinity":1,"cloudHeight":300,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.408055,33.9425]},"properties":{"forecastType":"FM","flightCategory":"IFR","visibility":3,"rawTxt":"FM072300 26012KT 3SM BR BKN005","ceilingCode":"BKN","stationId":"KLAX","ogcFeatureId":6254,"forecastNumber":4,"layerNumber":0,"issueDateTime":"2024-10-07T14:57:00.000Z","validDateTime":"2024-10-07T23:00:00.000Z","expirationDateTime":"2024-10-08T03:00:00.000Z","insertedDateTime":"2024-10-07T14:58:38.405Z","probability":null,"windSpeed":12,"windGust":null,"windDirection":260,"flightCode":3,"wmoCode":"BR","vicinity":0,"cloudHeight":500,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.408055,33.9425]},"properties":{"forecastType":"FM","flightCategory":"MVFR","visibility":5,"rawTxt":"FM071800 26010KT 5SM HZ SCT007","ceilingCode":"SCT","stationId":"KLAX","ogcFeatureId":6255,"forecastNumber":3,"layerNumber":0,"issueDateTime":"2024-10-07T14:57:00.000Z","validDateTime":"2024-10-07T18:00:00.000Z","expirationDateTime":"2024-10-07T23:00:00.000Z","insertedDateTime":"2024-10-07T14:58:38.405Z","probability":null,"windSpeed":10,"windGust":null,"windDirection":260,"flightCode":2,"wmoCode":"HZ","vicinity":0,"cloudHeight":700,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.408055,33.9425]},"properties":{"forecastType":"FM","flightCategory":"IFR","visibility":3,"rawTxt":"FM071700 26006KT 3SM BR BKN005","ceilingCode":"BKN","stationId":"KLAX","ogcFeatureId":6256,"forecastNumber":2,"layerNumber":0,"issueDateTime":"2024-10-07T14:57:00.000Z","validDateTime":"2024-10-07T17:00:00.000Z","expirationDateTime":"2024-10-07T18:00:00.000Z","insertedDateTime":"2024-10-07T14:58:38.405Z","probability":null,"windSpeed":6,"windGust":null,"windDirection":260,"flightCode":3,"wmoCode":"BR","vicinity":0,"cloudHeight":500,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.408055,33.9425]},"properties":{"forecastType":"TEMPO","flightCategory":"LIFR","visibility":0.25,"rawTxt":"TEMPO 0715/0717 1/4SM FG VV001","ceilingCode":"VV","stationId":"KLAX","ogcFeatureId":6257,"forecastNumber":1,"layerNumber":0,"issueDateTime":"2024-10-07T14:57:00.000Z","validDateTime":"2024-10-07T15:00:00.000Z","expirationDateTime":"2024-10-07T17:00:00.000Z","insertedDateTime":"2024-10-07T14:58:38.405Z","probability":null,"windSpeed":3,"windGust":null,"windDirection":9999,"flightCode":4,"wmoCode":"FG","vicinity":0,"cloudHeight":100,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.408055,33.9425]},"properties":{"forecastType":"FM","flightCategory":"LIFR","visibility":0.5,"rawTxt":"KLAX 071457Z 0715/0818 VRB03KT 1/2SM FG VV002","ceilingCode":"VV","stationId":"KLAX","ogcFeatureId":6258,"forecastNumber":0,"layerNumber":0,"issueDateTime":"2024-10-07T14:57:00.000Z","validDateTime":"2024-10-07T15:00:00.000Z","expirationDateTime":"2024-10-07T17:00:00.000Z","insertedDateTime":"2024-10-07T14:58:38.405Z","probability":null,"windSpeed":3,"windGust":null,"windDirection":9999,"flightCode":4,"wmoCode":"FG","vicinity":0,"cloudHeight":200,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.151388,33.8175]},"properties":{"forecastType":"FM","flightCategory":"LIFR","visibility":4,"rawTxt":"FM080500 VRB03KT 4SM BR OVC004","ceilingCode":"OVC","stationId":"KLGB","ogcFeatureId":10238,"forecastNumber":4,"layerNumber":0,"issueDateTime":"2024-10-07T15:00:00.000Z","validDateTime":"2024-10-08T05:00:00.000Z","expirationDateTime":"2024-10-08T12:00:00.000Z","insertedDateTime":"2024-10-07T15:02:27.398Z","probability":null,"windSpeed":3,"windGust":null,"windDirection":9999,"flightCode":4,"wmoCode":"BR","vicinity":0,"cloudHeight":400,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.151388,33.8175]},"properties":{"forecastType":"FM","flightCategory":"VFR","visibility":7,"rawTxt":"FM072300 30010KT P6SM SKC","ceilingCode":"SKC","stationId":"KLGB","ogcFeatureId":10239,"forecastNumber":3,"layerNumber":0,"issueDateTime":"2024-10-07T15:00:00.000Z","validDateTime":"2024-10-07T23:00:00.000Z","expirationDateTime":"2024-10-08T05:00:00.000Z","insertedDateTime":"2024-10-07T15:02:27.398Z","probability":null,"windSpeed":10,"windGust":null,"windDirection":300,"flightCode":1,"wmoCode":null,"vicinity":null,"cloudHeight":null,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.151388,33.8175]},"properties":{"forecastType":"FM","flightCategory":"MVFR","visibility":4,"rawTxt":"FM071900 21008KT 4SM HZ SKC","ceilingCode":"SKC","stationId":"KLGB","ogcFeatureId":10240,"forecastNumber":2,"layerNumber":0,"issueDateTime":"2024-10-07T15:00:00.000Z","validDateTime":"2024-10-07T19:00:00.000Z","expirationDateTime":"2024-10-07T23:00:00.000Z","insertedDateTime":"2024-10-07T15:02:27.398Z","probability":null,"windSpeed":8,"windGust":null,"windDirection":210,"flightCode":2,"wmoCode":"HZ","vicinity":0,"cloudHeight":null,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.151388,33.8175]},"properties":{"forecastType":"FM","flightCategory":"IFR","visibility":3,"rawTxt":"FM071600 VRB03KT 3SM BR BKN006","ceilingCode":"BKN","stationId":"KLGB","ogcFeatureId":10241,"forecastNumber":1,"layerNumber":0,"issueDateTime":"2024-10-07T15:00:00.000Z","validDateTime":"2024-10-07T16:00:00.000Z","expirationDateTime":"2024-10-07T19:00:00.000Z","insertedDateTime":"2024-10-07T15:02:27.398Z","probability":null,"windSpeed":3,"windGust":null,"windDirection":9999,"flightCode":3,"wmoCode":"BR","vicinity":0,"cloudHeight":600,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.151388,33.8175]},"properties":{"forecastType":"FM","flightCategory":"LIFR","visibility":1,"rawTxt":"KLGB 071500Z 0715/0812 VRB03KT 1SM BR VCFG OVC004","ceilingCode":"OVC","stationId":"KLGB","ogcFeatureId":10242,"forecastNumber":0,"layerNumber":0,"issueDateTime":"2024-10-07T15:00:00.000Z","validDateTime":"2024-10-07T15:00:00.000Z","expirationDateTime":"2024-10-07T16:00:00.000Z","insertedDateTime":"2024-10-07T15:02:27.398Z","probability":null,"windSpeed":3,"windGust":null,"windDirection":9999,"flightCode":4,"wmoCode":"BR","vicinity":0,"cloudHeight":400,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-118.151388,33.8175]},"properties":{"forecastType":"FM","flightCategory":"LIFR","visibility":1,"rawTxt":"KLGB 071500Z 0715/0812 VRB03KT 1SM BR VCFG OVC004","ceilingCode":"OVC","stationId":"KLGB","ogcFeatureId":10243,"forecastNumber":0,"layerNumber":0,"issueDateTime":"2024-10-07T15:00:00.000Z","validDateTime":"2024-10-07T15:00:00.000Z","expirationDateTime":"2024-10-07T16:00:00.000Z","insertedDateTime":"2024-10-07T15:02:27.398Z","probability":null,"windSpeed":3,"windGust":null,"windDirection":9999,"flightCode":4,"wmoCode":"FG","vicinity":1,"cloudHeight":400,"unitSystem":"default"}}],"meta":{"name":"v1.tafs.?stationIds=KLAX,KLGB,KBUR","uuid":"50fac6a6-05c4-4e63-a697-d3d489395b33","request_id":"81fa042e-ee35-41fd-a96c-6c05c70193be","start_timestamp":1728314773093,"end_timestamp":1728314776340,"execution_time":3247}}},"TafBadRequestResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/tafs/?bbox=-102,39,-101,41&flightCategories=ILFR","type":"bad-request","title":"Invalid Request","status":400,"detail":"Validation failed.","instance":"urn:dtn:aviation-api:/v1/tafs/:requestId:bbce79f8-56e4-495f-bd61-6d75413a23c0","errors":[{"message":"`flightCategories` may include only 'VFR', 'MVFR', 'IFR', 'LIFR', 'UNKNOWN'","parameter":"flightCategories","value":"ILFR"}],"meta":{"name":"v1.tafs.?bbox=-102,39,-101,41&flightCategories=ILFR","uuid":"15c28e16-61cc-4545-b782-4e13da590660","request_id":"bbce79f8-56e4-495f-bd61-6d75413a23c0","start_timestamp":1728314967370,"end_timestamp":1728314967724,"execution_time":354}}}},"requestBodies":{},"headers":{},"links":{},"callbacks":{}},"tags":[{"name":"TAF","description":"On demand TAFs via API"}],"security":[{"clientCredentials":[]}]}