openapi: 3.2.0
info:
  description: RadarScope Radar Data API
  version: 3.0.0
  title: RadarScope Radar Data Tropical Cyclones API
servers:
- url: https://radarscope-feeds.wdtinc.com
schemes:
- https
tags:
- name: Tropical Cyclones
  description: Tropical Cyclones
paths:
  /feeds/v3/tropical_cyclone/advisories:
    get:
      tags:
      - Tropical Cyclones
      summary: Get current tropical cyclone advisories
      description: Get current tropical cyclone advisories
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/tropical_cyclone_advisory_list'
  /feeds/v3/tropical_cyclone/advisories/archive/{year}/{month}/{day}/{hour}/{minute}:
    get:
      tags:
      - Tropical Cyclones
      summary: Get historical tropical cyclone advisories for given timestamp
      description: Get historical tropical cyclone advisories for given timestamp
      produces:
      - application/json
      parameters:
      - $ref: '#/components/parameters/year'
      - $ref: '#/components/parameters/month'
      - $ref: '#/components/parameters/day'
      - $ref: '#/components/parameters/hour'
      - $ref: '#/components/parameters/minute'
      responses:
        '200':
          $ref: '#/components/responses/tropical_cyclone_advisory_list'
  /feeds/v3/tropical_cyclone/advisories/{year}/{storm_code}/{storm_update_number}:
    get:
      tags:
      - Tropical Cyclones
      summary: Get raw advisory text for a tropical cyclone
      description: Get raw advisory text for a tropical cyclone
      produces:
      - text/plain
      parameters:
      - $ref: '#/components/parameters/year'
      - $ref: '#/components/parameters/storm_code'
      - $ref: '#/components/parameters/storm_update_number'
      responses:
        '200':
          description: Tropical Cyclone Advisory Text
          content:
            text/plain:
              example: "\n772 \nWTNT32 KNHC 261439\nTCPAT2\n \nBULLETIN\nPost-Tropical Cyclone Gabrielle Advisory Number  39\nNWS National Hurricane Center Miami FL       AL072025\n300 PM GMT Fri Sep 26 2025\n \n...CENTER OF GABRIELLE CONTINUES MOVING AWAY FROM THE AZORES...\n...THIS IS THE FINAL NHC ADVISORY...\n \n \nSUMMARY OF 300 PM GMT...1500 UTC...INFORMATION\n----------------------------------------------\nLOCATION...40.0N 22.8W\nABOUT 245 MI...395 KM ENE OF LAJES AIR BASE IN THE AZORES\nMAXIMUM SUSTAINED WINDS...65 MPH...100 KM/H\nPRESENT MOVEMENT...ENE OR 65 DEGREES AT 31 MPH...50 KM/H\nMINIMUM CENTRAL PRESSURE...992 MB...29.30 INCHES\n \n \nWATCHES AND WARNINGS\n--------------------\nThere are no coastal watches or warnings in effect.\n \n \nDISCUSSION AND OUTLOOK\n----------------------\nAt 300 PM GMT (1500 UTC), the center of Post-Tropical Cyclone\nGabrielle was located near latitude 40.0 North, longitude 22.8 West.\nThe post-tropical cyclone is moving toward the east-northeast near\n31 mph (50 km/h). A turn toward the east with a decrease in forward \nspeed is expected through Saturday, followed by a turn toward the \nsoutheast and south through early next week. On the forecast track, \nthe center of post-tropical Gabrielle will continue moving away from \nthe Azores today, then approach the coast of Portugal by early \nSunday.\n \nMaximum sustained winds are near 65 mph (100 km/h) with higher\ngusts.  Some strengthening is forecast through tonight, with \nweakening expected over the weekend.\n \nTropical-storm-force winds extend outward up to 175 miles (280 km)\nfrom the center.\n \nThe estimated minimum central pressure is 992 mb (29.30 inches).\n \n \nHAZARDS AFFECTING LAND\n----------------------\nKey messages for Gabrielle can be found in the Tropical Cyclone\nDiscussion under AWIPS header MIATCDAT2 and WMO header WTNT42 KNHC.\n \nWIND: Gusty winds across the central and southeastern Azores will\ncontinue to diminish this afternoon.\n \nRAINFALL: Gabrielle is expected to produce less than an inch, or 25\nmm, of additional rainfall across the Azores today. Any flooding\ncaused by Gabrielle across the terrain of the central Azores should\nsubside today.\n \nSURF: Swells generated by Gabrielle will affect the Azores through\nthe weekend and will reach the coasts of Portugal, northwestern\nSpain, and northern Morocco on Saturday. These swells are expected\nto produce life-threatening surf and rip current conditions. Please\nconsult products issued by your local weather office.\n \n \nNEXT ADVISORY\n-------------\nThis is the last public advisory issued by the National Hurricane \nCenter on this system. Future information on marine impacts can be \nfound in High Seas Forecasts issued by Meteo France under WMO header \nFQNT50 LFPW and available on the web at \nhttps://tgftp.nws.noaa.gov/data/raw/fq/fqnt50.lfpw..txt. Future \ninformation on potential land-based impacts in Portugal can be found \nin products issued by the Portugal Meteorological Institute at \nhttps://www.ipma.pt/en/index.html\n \n$$\nForecaster Hagen\n \n\n"
  /feeds/v3/tropical_cyclone/forecasts:
    get:
      tags:
      - Tropical Cyclones
      summary: Get current tropical cyclone forecasts
      description: Get current tropical cyclone forecasts
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/tropical_cyclone_forecast_list'
  /feeds/v3/tropical_cyclone/forecasts/archive/{year}/{month}/{day}/{hour}/{minute}:
    get:
      tags:
      - Tropical Cyclones
      summary: Get historical tropical cyclone forecasts for given timestamp
      description: Get historical tropical cyclone forecasts for given timestamp
      produces:
      - application/json
      parameters:
      - $ref: '#/components/parameters/year'
      - $ref: '#/components/parameters/month'
      - $ref: '#/components/parameters/day'
      - $ref: '#/components/parameters/hour'
      - $ref: '#/components/parameters/minute'
      responses:
        '200':
          $ref: '#/components/responses/tropical_cyclone_forecast_list'
  /feeds/v3/tropical_cyclone/forecasts/{year}/{storm}/{update}:
    get:
      tags:
      - Tropical Cyclones
      summary: Get raw forecast text for tropical cyclone
      description: Get raw forecast text for tropical cyclone
      produces:
      - text/plain
      parameters:
      - $ref: '#/components/parameters/year'
      - $ref: '#/components/parameters/storm_code'
      - $ref: '#/components/parameters/storm_update_number'
      responses:
        '200':
          description: Tropical Cyclone Forecast Text
          content:
            text/plain:
              example: "\n983 \nWTNT22 KNHC 261437\nTCMAT2\n \nPOST-TROPICAL CYCLONE GABRIELLE FORECAST/ADVISORY NUMBER  39\nNWS NATIONAL HURRICANE CENTER MIAMI FL       AL072025\n1500 UTC FRI SEP 26 2025\n \nPOST-TROPICAL CYCLONE CENTER LOCATED NEAR 40.0N  22.8W AT 26/1500Z\nPOSITION ACCURATE WITHIN  30 NM\n \nPRESENT MOVEMENT TOWARD THE EAST-NORTHEAST OR  65 DEGREES AT  27 KT\n \nESTIMATED MINIMUM CENTRAL PRESSURE  992 MB\nMAX SUSTAINED WINDS  55 KT WITH GUSTS TO  65 KT.\n50 KT.......  0NE  70SE  60SW  40NW.\n34 KT.......100NE 140SE 120SW 150NW.\n4 M SEAS.... 60NE 150SE 480SW 330NW.\nWINDS AND SEAS VARY GREATLY IN EACH QUADRANT.  RADII IN NAUTICAL\nMILES ARE THE LARGEST RADII EXPECTED ANYWHERE IN THAT QUADRANT.\n \nREPEAT...CENTER LOCATED NEAR 40.0N  22.8W AT 26/1500Z\nAT 26/1200Z CENTER WAS LOCATED NEAR 39.7N  24.2W\n \nFORECAST VALID 27/0000Z 40.8N  18.6W...POST-TROP/EXTRATROP\nMAX WIND  60 KT...GUSTS  75 KT.\n50 KT...  0NE  60SE  60SW  50NW.\n34 KT...120NE 150SE 120SW 150NW.\n \nFORECAST VALID 27/1200Z 41.0N  13.8W...POST-TROP/EXTRATROP\nMAX WIND  50 KT...GUSTS  60 KT.\n50 KT...  0NE   0SE  60SW  50NW.\n34 KT...110NE 120SE 140SW 150NW.\n \nFORECAST VALID 28/0000Z 40.1N  10.4W...POST-TROP/EXTRATROP\nMAX WIND  45 KT...GUSTS  55 KT.\n34 KT...  0NE  60SE 100SW 110NW.\n \nFORECAST VALID 28/1200Z 38.5N   8.3W...POST-TROP/EXTRATROP\nMAX WIND  35 KT...GUSTS  45 KT.\n34 KT...  0NE   0SE  70SW  70NW.\n \nFORECAST VALID 29/0000Z 36.9N   7.2W...POST-TROP/EXTRATROP\nMAX WIND  30 KT...GUSTS  40 KT.\n \nFORECAST VALID 29/1200Z 35.6N   7.1W...POST-TROP/EXTRATROP\nMAX WIND  25 KT...GUSTS  35 KT.\n \nEXTENDED OUTLOOK. NOTE...ERRORS FOR TRACK HAVE AVERAGED NEAR 125 NM\nON DAY 4 AND 175 NM ON DAY 5...AND FOR INTENSITY NEAR 15 KT EACH DAY\n \nOUTLOOK VALID 30/1200Z...DISSIPATED\n \nREQUEST FOR 3 HOURLY SHIP REPORTS WITHIN 300 MILES OF 40.0N  22.8W\n \nTHIS IS THE LAST FORECAST/ADVISORY ISSUED BY THE NATIONAL HURRICANE \nCENTER ON THIS SYSTEM. ADDITIONAL INFORMATION ON THIS SYSTEM CAN BE \nFOUND IN HIGH SEAS FORECASTS ISSUED BY METEO FRANCE...UNDER WMO \nHEADER FQNT50 LFPW.\n \n$$\nFORECASTER HAGEN\n \n \n\n"
  /feeds/v3/tropical_cyclone/summaries:
    get:
      tags:
      - Tropical Cyclones
      summary: Get current tropical cyclone summaries
      description: Get current tropical cyclone summaries
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/tropical_cyclone_summary_list'
  /feeds/v3/tropical_cyclone/summaries/archive/{year}/{month}/{day}/{hour}/{minute}:
    get:
      tags:
      - Tropical Cyclones
      summary: Get historical tropical cyclone summaries for given timestamp
      description: Get historical tropical cyclone summaries for given timestamp
      produces:
      - application/json
      parameters:
      - $ref: '#/components/parameters/year'
      - $ref: '#/components/parameters/month'
      - $ref: '#/components/parameters/day'
      - $ref: '#/components/parameters/hour'
      - $ref: '#/components/parameters/minute'
      responses:
        '200':
          $ref: '#/components/responses/tropical_cyclone_summary_list'
components:
  parameters:
    storm_update_number:
      name: storm_update_number
      in: path
      description: iterative update number, e.g. 1 - x
      required: true
      schema:
        type: string
    storm_code:
      name: storm_code
      in: path
      description: storm code, e.g. AL12, NOT English friendly name e.g. 'Lorenzo'
      required: true
      schema:
        type: string
    month:
      name: month
      in: path
      description: 2 digit month, 01-12
      required: true
      schema:
        type: string
    minute:
      name: minute
      in: path
      description: 2 digit minute, 00-59
      required: true
      schema:
        type: string
    day:
      name: day
      in: path
      description: 2 digit day, 01-31
      required: true
      schema:
        type: string
    year:
      name: year
      in: path
      description: 4 digit year, e.g. 2026
      required: true
      schema:
        type: string
    hour:
      name: hour
      in: path
      description: 2 digit hour, 00-23
      required: true
      schema:
        type: string
  headers:
    content-type:
      description: MIME-type of returned data
      schema:
        type: string
  responses:
    tropical_cyclone_advisory_list:
      description: Tropical Cyclone Advisory List
      headers:
        Content-Type:
          $ref: '#/components/headers/content-type'
      content:
        application/json:
          example: "[\n\t{\n\t\t\"c\": \"Gabrielle\",\n\t\t\"ph\": \"PTC\",\n\t\t\"a\": \"2025/AL07/39\",\n\t\t\"b\": 1758898800,\n\t\t\"iss\": 1758897540,\n\t\t\"o\": \"AL\",\n\t\t\"s\": \"AL07\",\n\t\t\"n\": \"39\",\n\t\t\"i\": {\n\t\t\t\"pos\": [\n\t\t\t\t-22.8,\n\t\t\t\t40.0\n\t\t\t],\n\t\t\t\"susmph\": 65,\n\t\t\t\"suskmh\": 100,\n\t\t\t\"minmb\": 992,\n\t\t\t\"minhg\": 29.3,\n\t\t\t\"movdir\": \"ENE\",\n\t\t\t\"movhdg\": 65,\n\t\t\t\"movmph\": 31,\n\t\t\t\"movkmh\": 50,\n\t\t\t\"headlines\": [\n\t\t\t\t\"CENTER OF GABRIELLE CONTINUES MOVING AWAY FROM THE AZORES\",\n\t\t\t\t\"THIS IS THE FINAL NHC ADVISORY\"\n\t\t\t],\n\t\t\t\"pl\": [\n\t\t\t\t\"ABOUT 245 MI...395 KM ENE OF LAJES AIR BASE IN THE AZORES\"\n\t\t\t]\n\t\t},\n\t\t\"bin\": \"AT2\"\n\t},\n\t{\n\t\t\"c\": \"Humberto\",\n\t\t\"ph\": \"HU\",\n\t\t\"a\": \"2025/AL08/9\",\n\t\t\"b\": 1758920400,\n\t\t\"iss\": 1758918840,\n\t\t\"o\": \"AL\",\n\t\t\"s\": \"AL08\",\n\t\t\"n\": \"9\",\n\t\t\"i\": {\n\t\t\t\"pos\": [\n\t\t\t\t-58.1,\n\t\t\t\t22.3\n\t\t\t],\n\t\t\t\"susmph\": 115,\n\t\t\t\"suskmh\": 185,\n\t\t\t\"minmb\": 962,\n\t\t\t\"minhg\": 28.41,\n\t\t\t\"movdir\": \"WNW\",\n\t\t\t\"movhdg\": 295,\n\t\t\t\"movmph\": 5,\n\t\t\t\"movkmh\": 7,\n\t\t\t\"headlines\": [\n\t\t\t\t\"HUMBERTO RAPIDLY STRENGTHENS TO A MAJOR HURRICANE\",\n\t\t\t\t\"FURTHER INTENSIFICATION EXPECTED OVER THE CENTRAL ATLANTIC\"\n\t\t\t],\n\t\t\t\"pl\": [\n\t\t\t\t\"ABOUT 430 MI...690 KM NE OF THE NORTHERN LEEWARD ISLANDS\"\n\t\t\t]\n\t\t},\n\t\t\"bin\": \"AT3\"\n\t},\n\t{\n\t\t\"c\": \"Nine\",\n\t\t\"ph\": \"PC\",\n\t\t\"a\": \"2025/AL09/1A\",\n\t\t\"b\": 1758931200,\n\t\t\"iss\": 1758930420,\n\t\t\"o\": \"AL\",\n\t\t\"s\": \"AL09\",\n\t\t\"n\": \"1A\",\n\t\t\"i\": {\n\t\t\t\"pos\": [\n\t\t\t\t-75.0,\n\t\t\t\t21.0\n\t\t\t],\n\t\t\t\"susmph\": 35,\n\t\t\t\"suskmh\": 55,\n\t\t\t\"minmb\": 1007,\n\t\t\t\"minhg\": 29.74,\n\t\t\t\"movdir\": \"WNW\",\n\t\t\t\"movhdg\": 300,\n\t\t\t\"movmph\": 10,\n\t\t\t\"movkmh\": 17,\n\t\t\t\"headlines\": [\n\t\t\t\t\"DISTURBANCE LOCATED NEAR THE COAST OF HOLGUIN CUBA\",\n\t\t\t\t\"SIGNIFICANT RAINFALL EXPECTED OVER PORTIONS OF EASTERN CUBA AND THE BAHAMAS THROUGH THE WEEKEND\"\n\t\t\t],\n\t\t\t\"pl\": [\n\t\t\t\t\"ABOUT 75 MI...120 KM NW OF THE EASTERN TIP OF CUBA\",\n\t\t\t\t\"ABOUT 185 MI...300 KM SSE OF THE CENTRAL BAHAMAS\"\n\t\t\t]\n\t\t},\n\t\t\"bin\": \"AT4\"\n\t}\n]"
    tropical_cyclone_summary_list:
      description: Tropical Cyclone Forecast List
      headers:
        Content-Type:
          $ref: '#/components/headers/content-type'
      content:
        application/json:
          example: "[\n\t{\n\t\t\"id\": \"AL08\",\n\t\t\"advisory\": {\n\t\t\t\"c\": \"Humberto\",\n\t\t\t\"ph\": \"HU\",\n\t\t\t\"a\": \"2025/AL08/9\",\n\t\t\t\"b\": 1758920400,\n\t\t\t\"iss\": 1758918840,\n\t\t\t\"o\": \"AL\",\n\t\t\t\"s\": \"AL08\",\n\t\t\t\"n\": \"9\",\n\t\t\t\"i\": {\n\t\t\t\t\"pos\": [\n\t\t\t\t\t-58.1,\n\t\t\t\t\t22.3\n\t\t\t\t],\n\t\t\t\t\"susmph\": 115,\n\t\t\t\t\"suskmh\": 185,\n\t\t\t\t\"minmb\": 962,\n\t\t\t\t\"minhg\": 28.41,\n\t\t\t\t\"movdir\": \"WNW\",\n\t\t\t\t\"movhdg\": 295,\n\t\t\t\t\"movmph\": 5,\n\t\t\t\t\"movkmh\": 7,\n\t\t\t\t\"headlines\": [\n\t\t\t\t\t\"HUMBERTO RAPIDLY STRENGTHENS TO A MAJOR HURRICANE\",\n\t\t\t\t\t\"FURTHER INTENSIFICATION EXPECTED OVER THE CENTRAL ATLANTIC\"\n\t\t\t\t],\n\t\t\t\t\"pl\": [\n\t\t\t\t\t\"ABOUT 430 MI...690 KM NE OF THE NORTHERN LEEWARD ISLANDS\"\n\t\t\t\t]\n\t\t\t},\n\t\t\t\"bin\": \"AT3\"\n\t\t},\n\t\t\"forecast\": {\n\t\t\t\"c\": \"Humberto\",\n\t\t\t\"ph\": \"HU\",\n\t\t\t\"a\": \"2025/AL08/9\",\n\t\t\t\"iss\": 1758918780,\n\t\t\t\"b\": 1758920400,\n\t\t\t\"o\": \"AL\",\n\t\t\t\"s\": \"AL08\",\n\t\t\t\"n\": \"9\",\n\t\t\t\"info\": {\n\t\t\t\t\"note\": \"ERRORS FOR TRACK HAVE AVERAGED NEAR 125 NM ON DAY 4 AND 175 NM ON DAY 5 AND FOR INTENSITY NEAR 15 KT EACH DAY\",\n\t\t\t\t\"points\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"l\": \"P\",\n\t\t\t\t\t\t\"d\": 1758909600,\n\t\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t\t-57.8,\n\t\t\t\t\t\t\t22.3\n\t\t\t\t\t\t]\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"l\": \"C\",\n\t\t\t\t\t\t\"d\": 1758920400,\n\t\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t\t-58.1,\n\t\t\t\t\t\t\t22.3\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"a\": 20,\n\t\t\t\t\t\t\"v\": [\n\t\t\t\t\t\t\t295,\n\t\t\t\t\t\t\t4\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"t\": \"HU\",\n\t\t\t\t\t\t\"eye\": 15,\n\t\t\t\t\t\t\"pmb\": 962,\n\t\t\t\t\t\t\"w\": 100,\n\t\t\t\t\t\t\"g\": 120,\n\t\t\t\t\t\t\"s\": \"HU\",\n\t\t\t\t\t\t\"c\": 3,\n\t\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t90,\n\t\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t\t50,\n\t\t\t\t\t\t\t\t80\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23721,\n\t\t\t\t\t\t\t\t\t-58100\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23724,\n\t\t\t\t\t\t\t\t\t-57827\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23683,\n\t\t\t\t\t\t\t\t\t-57553\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t40,\n\t\t\t\t\t\t\t\t30,\n\t\t\t\t\t\t\t\t25,\n\t\t\t\t\t\t\t\t40\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t22969,\n\t\t\t\t\t\t\t\t\t-58100\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t22959,\n\t\t\t\t\t\t\t\t\t-57975\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t22928,\n\t\t\t\t\t\t\t\t\t-57853\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"64kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t20,\n\t\t\t\t\t\t\t\t10,\n\t\t\t\t\t\t\t\t10,\n\t\t\t\t\t\t\t\t20\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t22634,\n\t\t\t\t\t\t\t\t\t-58100\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t22629,\n\t\t\t\t\t\t\t\t\t-58037\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t22614,\n\t\t\t\t\t\t\t\t\t-57977\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\t\"d\": 1758952800,\n\t\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t\t-59.0,\n\t\t\t\t\t\t\t22.4\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"w\": 115,\n\t\t\t\t\t\t\"g\": 140,\n\t\t\t\t\t\t\"s\": \"HU\",\n\t\t\t\t\t\t\"c\": 4,\n\t\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t100,\n\t\t\t\t\t\t\t\t70,\n\t\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t\t90\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23989,\n\t\t\t\t\t\t\t\t\t-59000\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23989,\n\t\t\t\t\t\t\t\t\t-58695\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23940,\n\t\t\t\t\t\t\t\t\t-58390\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t40,\n\t\t\t\t\t\t\t\t30,\n\t\t\t\t\t\t\t\t30,\n\t\t\t\t\t\t\t\t40\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23069,\n\t\t\t\t\t\t\t\t\t-59000\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23059,\n\t\t\t\t\t\t\t\t\t-58874\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23028,\n\t\t\t\t\t\t\t\t\t-58753\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"64kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t25,\n\t\t\t\t\t\t\t\t20,\n\t\t\t\t\t\t\t\t20,\n\t\t\t\t\t\t\t\t30\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t22860,\n\t\t\t\t\t\t\t\t\t-59000\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t22848,\n\t\t\t\t\t\t\t\t\t-58915\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t22819,\n\t\t\t\t\t\t\t\t\t-58835\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t22777,\n\t\t\t\t\t\t\t\t\t-58765\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\t\"d\": 1758996000,\n\t\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t\t-60.5,\n\t\t\t\t\t\t\t22.8\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"w\": 125,\n\t\t\t\t\t\t\"g\": 150,\n\t\t\t\t\t\t\"s\": \"HU\",\n\t\t\t\t\t\t\"c\": 4,\n\t\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t110,\n\t\t\t\t\t\t\t\t80,\n\t\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t\t90\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t24472,\n\t\t\t\t\t\t\t\t\t-60500\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t24484,\n\t\t\t\t\t\t\t\t\t-60176\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t24448,\n\t\t\t\t\t\t\t\t\t-59844\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t50,\n\t\t\t\t\t\t\t\t50,\n\t\t\t\t\t\t\t\t40,\n\t\t\t\t\t\t\t\t40\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23553,\n\t\t\t\t\t\t\t\t\t-60500\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23554,\n\t\t\t\t\t\t\t\t\t-60356\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23537,\n\t\t\t\t\t\t\t\t\t-60209\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23497,\n\t\t\t\t\t\t\t\t\t-60063\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"64kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t30,\n\t\t\t\t\t\t\t\t25,\n\t\t\t\t\t\t\t\t20,\n\t\t\t\t\t\t\t\t30\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23302,\n\t\t\t\t\t\t\t\t\t-60500\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23294,\n\t\t\t\t\t\t\t\t\t-60406\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23271,\n\t\t\t\t\t\t\t\t\t-60314\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23234,\n\t\t\t\t\t\t\t\t\t-60229\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\t\"d\": 1759039200,\n\t\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t\t-62.4,\n\t\t\t\t\t\t\t23.4\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"w\": 130,\n\t\t\t\t\t\t\"g\": 160,\n\t\t\t\t\t\t\"s\": \"HU\",\n\t\t\t\t\t\t\"c\": 4,\n\t\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t110,\n\t\t\t\t\t\t\t\t90,\n\t\t\t\t\t\t\t\t70,\n\t\t\t\t\t\t\t\t100\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25156,\n\t\t\t\t\t\t\t\t\t-62400\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25148,\n\t\t\t\t\t\t\t\t\t-62061\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25088,\n\t\t\t\t\t\t\t\t\t-61725\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t24973,\n\t\t\t\t\t\t\t\t\t-61402\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t\t50,\n\t\t\t\t\t\t\t\t40,\n\t\t\t\t\t\t\t\t50\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t24320,\n\t\t\t\t\t\t\t\t\t-62400\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t24322,\n\t\t\t\t\t\t\t\t\t-62222\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t24300,\n\t\t\t\t\t\t\t\t\t-62042\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t24247,\n\t\t\t\t\t\t\t\t\t-61866\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t24162,\n\t\t\t\t\t\t\t\t\t-61701\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"64kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t35,\n\t\t\t\t\t\t\t\t30,\n\t\t\t\t\t\t\t\t25,\n\t\t\t\t\t\t\t\t30\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23943,\n\t\t\t\t\t\t\t\t\t-62400\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23944,\n\t\t\t\t\t\t\t\t\t-62296\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23929,\n\t\t\t\t\t\t\t\t\t-62191\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t23896,\n\t\t\t\t\t\t\t\t\t-62088\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\t\"d\": 1759082400,\n\t\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t\t-64.3,\n\t\t\t\t\t\t\t24.6\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"w\": 125,\n\t\t\t\t\t\t\"g\": 150,\n\t\t\t\t\t\t\"s\": \"HU\",\n\t\t\t\t\t\t\"c\": 4,\n\t\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t120,\n\t\t\t\t\t\t\t\t100,\n\t\t\t\t\t\t\t\t70,\n\t\t\t\t\t\t\t\t100\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t26439,\n\t\t\t\t\t\t\t\t\t-64300\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t26443,\n\t\t\t\t\t\t\t\t\t-63939\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t26396,\n\t\t\t\t\t\t\t\t\t-63574\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t70,\n\t\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t\t50,\n\t\t\t\t\t\t\t\t50\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25603,\n\t\t\t\t\t\t\t\t\t-64300\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25619,\n\t\t\t\t\t\t\t\t\t-64102\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25611,\n\t\t\t\t\t\t\t\t\t-63894\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25568,\n\t\t\t\t\t\t\t\t\t-63683\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"64kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t40,\n\t\t\t\t\t\t\t\t30,\n\t\t\t\t\t\t\t\t30,\n\t\t\t\t\t\t\t\t35\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25227,\n\t\t\t\t\t\t\t\t\t-64300\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25228,\n\t\t\t\t\t\t\t\t\t-64178\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25211,\n\t\t\t\t\t\t\t\t\t-64055\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t25172,\n\t\t\t\t\t\t\t\t\t-63937\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\t\"d\": 1759125600,\n\t\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t\t-66.0,\n\t\t\t\t\t\t\t26.0\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"w\": 120,\n\t\t\t\t\t\t\"g\": 145,\n\t\t\t\t\t\t\"s\": \"HU\",\n\t\t\t\t\t\t\"c\": 4,\n\t\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t120,\n\t\t\t\t\t\t\t\t110,\n\t\t\t\t\t\t\t\t80,\n\t\t\t\t\t\t\t\t110\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t27922,\n\t\t\t\t\t\t\t\t\t-66000\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t27907,\n\t\t\t\t\t\t\t\t\t-65622\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t27836,\n\t\t\t\t\t\t\t\t\t-65248\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t27708,\n\t\t\t\t\t\t\t\t\t-64890\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t27523,\n\t\t\t\t\t\t\t\t\t-64560\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t70,\n\t\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t\t50,\n\t\t\t\t\t\t\t\t60\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t27086,\n\t\t\t\t\t\t\t\t\t-66000\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t27087,\n\t\t\t\t\t\t\t\t\t-65786\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t27056,\n\t\t\t\t\t\t\t\t\t-65570\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t26991,\n\t\t\t\t\t\t\t\t\t-65360\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"64kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t45,\n\t\t\t\t\t\t\t\t40,\n\t\t\t\t\t\t\t\t30,\n\t\t\t\t\t\t\t\t40\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t26710,\n\t\t\t\t\t\t\t\t\t-66000\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t26707,\n\t\t\t\t\t\t\t\t\t-65861\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t26684,\n\t\t\t\t\t\t\t\t\t-65723\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\t\"d\": 1759168800,\n\t\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t\t-67.5,\n\t\t\t\t\t\t\t27.7\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"w\": 115,\n\t\t\t\t\t\t\"g\": 140,\n\t\t\t\t\t\t\"s\": \"HU\",\n\t\t\t\t\t\t\"c\": 4,\n\t\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t130,\n\t\t\t\t\t\t\t\t130,\n\t\t\t\t\t\t\t\t90,\n\t\t\t\t\t\t\t\t120\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t29789,\n\t\t\t\t\t\t\t\t\t-67500\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t29765,\n\t\t\t\t\t\t\t\t\t-67083\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t29684,\n\t\t\t\t\t\t\t\t\t-66672\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t29543,\n\t\t\t\t\t\t\t\t\t-66280\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t80,\n\t\t\t\t\t\t\t\t70,\n\t\t\t\t\t\t\t\t50,\n\t\t\t\t\t\t\t\t60\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t28870,\n\t\t\t\t\t\t\t\t\t-67500\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t28882,\n\t\t\t\t\t\t\t\t\t-67263\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t28865,\n\t\t\t\t\t\t\t\t\t-67018\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t28809,\n\t\t\t\t\t\t\t\t\t-66772\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t28709,\n\t\t\t\t\t\t\t\t\t-66537\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"64kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t50,\n\t\t\t\t\t\t\t\t40,\n\t\t\t\t\t\t\t\t30,\n\t\t\t\t\t\t\t\t40\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t28452,\n\t\t\t\t\t\t\t\t\t-67500\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t28457,\n\t\t\t\t\t\t\t\t\t-67349\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t28442,\n\t\t\t\t\t\t\t\t\t-67194\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t28402,\n\t\t\t\t\t\t\t\t\t-67041\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"l\": \"O\",\n\t\t\t\t\t\t\"d\": 1759255200,\n\t\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t\t-68.8,\n\t\t\t\t\t\t\t31.7\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"w\": 100,\n\t\t\t\t\t\t\"g\": 120,\n\t\t\t\t\t\t\"s\": \"HU\",\n\t\t\t\t\t\t\"c\": 3,\n\t\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t140,\n\t\t\t\t\t\t\t\t140,\n\t\t\t\t\t\t\t\t100,\n\t\t\t\t\t\t\t\t110\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t33787,\n\t\t\t\t\t\t\t\t\t-68800\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t33793,\n\t\t\t\t\t\t\t\t\t-68358\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t33746,\n\t\t\t\t\t\t\t\t\t-67907\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t33637,\n\t\t\t\t\t\t\t\t\t-67459\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t80,\n\t\t\t\t\t\t\t\t80,\n\t\t\t\t\t\t\t\t50,\n\t\t\t\t\t\t\t\t60\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t32869,\n\t\t\t\t\t\t\t\t\t-68800\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t32876,\n\t\t\t\t\t\t\t\t\t-68554\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t32855,\n\t\t\t\t\t\t\t\t\t-68301\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t32800,\n\t\t\t\t\t\t\t\t\t-68046\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"l\": \"O\",\n\t\t\t\t\t\t\"d\": 1759341600,\n\t\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t\t-63.5,\n\t\t\t\t\t\t\t35.5\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"w\": 90,\n\t\t\t\t\t\t\"g\": 110,\n\t\t\t\t\t\t\"s\": \"HU\",\n\t\t\t\t\t\t\"c\": 2,\n\t\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t180,\n\t\t\t\t\t\t\t\t190,\n\t\t\t\t\t\t\t\t140,\n\t\t\t\t\t\t\t\t170\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t38420,\n\t\t\t\t\t\t\t\t\t-63500\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t38378,\n\t\t\t\t\t\t\t\t\t-62855\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t38253,\n\t\t\t\t\t\t\t\t\t-62227\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t38047,\n\t\t\t\t\t\t\t\t\t-61631\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t\t90,\n\t\t\t\t\t\t\t\t100,\n\t\t\t\t\t\t\t\t70,\n\t\t\t\t\t\t\t\t80\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t36919,\n\t\t\t\t\t\t\t\t\t-63500\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t36903,\n\t\t\t\t\t\t\t\t\t-63192\n\t\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t\t36851,\n\t\t\t\t\t\t\t\t\t-62887\n\t\t\t\t\t\t\t\t]\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"cone\": {\n\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t[\n\t\t\t\t\t\t\t22055,\n\t\t\t\t\t\t\t-59426\n\t\t\t\t\t\t],\n\t\t\t\t\t\t[\n\t\t\t\t\t\t\t22294,\n\t\t\t\t\t\t\t-61217\n\t\t\t\t\t\t],\n\t\t\t\t\t\t[\n\t\t\t\t\t\t\t22400,\n\t\t\t\t\t\t\t-61827\n\t\t\t\t\t\t],\n\t\t\t\t\t\t[\n\t\t\t\t\t\t\t22544,\n\t\t\t\t\t\t\t-62416\n\t\t\t\t\t\t]\n\t\t\t\t\t]\n\t\t\t\t},\n\t\t\t\t\"path\": {\n\t\t\t\t\t\"p\": [\n\t\t\t\t\t\t[\n\t\t\t\t\t\t\t2230,\n\t\t\t\t\t\t\t-5810\n\t\t\t\t\t\t],\n\t\t\t\t\t\t[\n\t\t\t\t\t\t\t2232,\n\t\t\t\t\t\t\t-5853\n\t\t\t\t\t\t],\n\t\t\t\t\t\t[\n\t\t\t\t\t\t\t2241,\n\t\t\t\t\t\t\t-5905\n\t\t\t\t\t\t],\n\t\t\t\t\t\t[\n\t\t\t\t\t\t\t2298,\n\t\t\t\t\t\t\t-6118\n\t\t\t\t\t\t]\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n]"
    tropical_cyclone_forecast_list:
      description: Tropical Cyclone Forecast List
      headers:
        Content-Type:
          $ref: '#/components/headers/content-type'
      content:
        application/json:
          example: "[\n\t{\n\t\t\"c\": \"Gabrielle\",\n\t\t\"ph\": \"PTC\",\n\t\t\"a\": \"2025/AL07/39\",\n\t\t\"iss\": 1758897420,\n\t\t\"b\": 1758898800,\n\t\t\"o\": \"AL\",\n\t\t\"s\": \"AL07\",\n\t\t\"n\": \"39\",\n\t\t\"info\": {\n\t\t\t\"note\": \"ERRORS FOR TRACK HAVE AVERAGED NEAR 125 NM ON DAY 4 AND 175 NM ON DAY 5 AND FOR INTENSITY NEAR 15 KT EACH DAY\",\n\t\t\t\"points\": [\n\t\t\t\t{\n\t\t\t\t\t\"l\": \"P\",\n\t\t\t\t\t\"d\": 1758888000,\n\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t-24.2,\n\t\t\t\t\t\t39.7\n\t\t\t\t\t]\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"l\": \"C\",\n\t\t\t\t\t\"d\": 1758898800,\n\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t-22.8,\n\t\t\t\t\t\t40.0\n\t\t\t\t\t],\n\t\t\t\t\t\"a\": 30,\n\t\t\t\t\t\"v\": [\n\t\t\t\t\t\t65,\n\t\t\t\t\t\t27\n\t\t\t\t\t],\n\t\t\t\t\t\"t\": \"PTC\",\n\t\t\t\t\t\"pmb\": 992,\n\t\t\t\t\t\"w\": 55,\n\t\t\t\t\t\"g\": 65,\n\t\t\t\t\t\"s\": \"TS\",\n\t\t\t\t\t\"c\": 0,\n\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t100,\n\t\t\t\t\t\t\t140,\n\t\t\t\t\t\t\t120,\n\t\t\t\t\t\t\t150\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t42085,\n\t\t\t\t\t\t\t\t-22800\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41962,\n\t\t\t\t\t\t\t\t-22336\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41766,\n\t\t\t\t\t\t\t\t-21940\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41531,\n\t\t\t\t\t\t\t\t-21619\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41288,\n\t\t\t\t\t\t\t\t-21358\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t]\n\t\t\t\t\t},\n\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t0,\n\t\t\t\t\t\t\t70,\n\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t40\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40334,\n\t\t\t\t\t\t\t\t-22800\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40243,\n\t\t\t\t\t\t\t\t-22744\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40140,\n\t\t\t\t\t\t\t\t-22734\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40054,\n\t\t\t\t\t\t\t\t-22760\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40006,\n\t\t\t\t\t\t\t\t-22793\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t]\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\"d\": 1758931200,\n\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t-18.6,\n\t\t\t\t\t\t40.8\n\t\t\t\t\t],\n\t\t\t\t\t\"w\": 60,\n\t\t\t\t\t\"g\": 75,\n\t\t\t\t\t\"s\": \"TS\",\n\t\t\t\t\t\"c\": 0,\n\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t120,\n\t\t\t\t\t\t\t150,\n\t\t\t\t\t\t\t120,\n\t\t\t\t\t\t\t150\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t43051,\n\t\t\t\t\t\t\t\t-18600\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t42957,\n\t\t\t\t\t\t\t\t-18082\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t42790,\n\t\t\t\t\t\t\t\t-17615\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t42573,\n\t\t\t\t\t\t\t\t-17209\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t42328,\n\t\t\t\t\t\t\t\t-16858\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t42068,\n\t\t\t\t\t\t\t\t-16543\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t]\n\t\t\t\t\t},\n\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t0,\n\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t50\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41217,\n\t\t\t\t\t\t\t\t-18600\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41116,\n\t\t\t\t\t\t\t\t-18526\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40994,\n\t\t\t\t\t\t\t\t-18507\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40886,\n\t\t\t\t\t\t\t\t-18535\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40816,\n\t\t\t\t\t\t\t\t-18582\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t]\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\"d\": 1758974400,\n\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t-13.8,\n\t\t\t\t\t\t41.0\n\t\t\t\t\t],\n\t\t\t\t\t\"w\": 50,\n\t\t\t\t\t\"g\": 60,\n\t\t\t\t\t\"s\": \"TS\",\n\t\t\t\t\t\"c\": 0,\n\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t110,\n\t\t\t\t\t\t\t120,\n\t\t\t\t\t\t\t140,\n\t\t\t\t\t\t\t150\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t43168,\n\t\t\t\t\t\t\t\t-13800\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t43075,\n\t\t\t\t\t\t\t\t-13301\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t42902,\n\t\t\t\t\t\t\t\t-12857\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t42676,\n\t\t\t\t\t\t\t\t-12483\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t42418,\n\t\t\t\t\t\t\t\t-12182\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t]\n\t\t\t\t\t},\n\t\t\t\t\t\"50kt\": {\n\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t0,\n\t\t\t\t\t\t\t0,\n\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t50\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41469,\n\t\t\t\t\t\t\t\t-13800\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41405,\n\t\t\t\t\t\t\t\t-13705\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41310,\n\t\t\t\t\t\t\t\t-13650\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41205,\n\t\t\t\t\t\t\t\t-13643\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41112,\n\t\t\t\t\t\t\t\t-13676\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41068,\n\t\t\t\t\t\t\t\t-13693\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41055,\n\t\t\t\t\t\t\t\t-13674\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41039,\n\t\t\t\t\t\t\t\t-13659\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t]\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\"d\": 1759017600,\n\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t-10.4,\n\t\t\t\t\t\t40.1\n\t\t\t\t\t],\n\t\t\t\t\t\"w\": 45,\n\t\t\t\t\t\"g\": 55,\n\t\t\t\t\t\"s\": \"TS\",\n\t\t\t\t\t\"c\": 0,\n\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t0,\n\t\t\t\t\t\t\t60,\n\t\t\t\t\t\t\t100,\n\t\t\t\t\t\t\t110\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t41017,\n\t\t\t\t\t\t\t\t-10400\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40827,\n\t\t\t\t\t\t\t\t-10231\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40580,\n\t\t\t\t\t\t\t\t-10171\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40339,\n\t\t\t\t\t\t\t\t-10220\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t40157,\n\t\t\t\t\t\t\t\t-10337\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t]\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\"d\": 1759060800,\n\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t-8.3,\n\t\t\t\t\t\t38.5\n\t\t\t\t\t],\n\t\t\t\t\t\"w\": 35,\n\t\t\t\t\t\"g\": 45,\n\t\t\t\t\t\"s\": \"TS\",\n\t\t\t\t\t\"c\": 0,\n\t\t\t\t\t\"34kt\": {\n\t\t\t\t\t\t\"q\": [\n\t\t\t\t\t\t\t0,\n\t\t\t\t\t\t\t0,\n\t\t\t\t\t\t\t70,\n\t\t\t\t\t\t\t70\n\t\t\t\t\t\t],\n\t\t\t\t\t\t\"g\": [\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t39157,\n\t\t\t\t\t\t\t\t-8300\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t39066,\n\t\t\t\t\t\t\t\t-8172\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t38932,\n\t\t\t\t\t\t\t\t-8099\n\t\t\t\t\t\t\t],\n\t\t\t\t\t\t\t[\n\t\t\t\t\t\t\t\t38786,\n\t\t\t\t\t\t\t\t-8089\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t]\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\"d\": 1759104000,\n\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t-7.2,\n\t\t\t\t\t\t36.9\n\t\t\t\t\t],\n\t\t\t\t\t\"w\": 30,\n\t\t\t\t\t\"g\": 40,\n\t\t\t\t\t\"s\": \"TD\",\n\t\t\t\t\t\"c\": 0\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"l\": \"F\",\n\t\t\t\t\t\"d\": 1759147200,\n\t\t\t\t\t\"pos\": [\n\t\t\t\t\t\t-7.1,\n\t\t\t\t\t\t35.6\n\t\t\t\t\t],\n\t\t\t\t\t\"w\": 25,\n\t\t\t\t\t\"g\": 35,\n\t\t\t\t\t\"s\": \"TD\",\n\t\t\t\t\t\"c\": 0\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"l\": \"O\",\n\t\t\t\t\t\"d\": 1759233600,\n\t\t\t\t\t\"status\": \"DISSIPATED\",\n\t\t\t\t\t\"pos\": []\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"cone\": {\n\t\t\t\t\"g\": [\n\t\t\t\t\t[\n\t\t\t\t\t\t35528,\n\t\t\t\t\t\t-5146\n\t\t\t\t\t],\n\t\t\t\t\t[\n\t\t\t\t\t\t35335,\n\t\t\t\t\t\t-5173\n\t\t\t\t\t],\n\t\t\t\t\t[\n\t\t\t\t\t\t35118,\n\t\t\t\t\t\t-5240\n\t\t\t\t\t]\n\t\t\t\t]\n\t\t\t},\n\t\t\t\"path\": {\n\t\t\t\t\"p\": [\n\t\t\t\t\t[\n\t\t\t\t\t\t4000,\n\t\t\t\t\t\t-2280\n\t\t\t\t\t],\n\t\t\t\t\t[\n\t\t\t\t\t\t4037,\n\t\t\t\t\t\t-2113\n\t\t\t\t\t],\n\t\t\t\t\t[\n\t\t\t\t\t\t4067,\n\t\t\t\t\t\t-1950\n\t\t\t\t\t]\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n]"
  securitySchemes:
    clientCredentials:
      type: oauth2
      x-receive-token-in: request-body
      flows:
        clientCredentials:
          tokenUrl: https://api.auth.dtn.com/v1/tokens/authorize
      description: "# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the RadarScope API, you need to use the following audience: https://radarscope-feeds.wdtinc.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "
