{"openapi":"3.0.2","info":{"title":"DTN Aviation Full API","description":"DTN Aviation Full API","version":"1.1.0"},"servers":[{"url":"https://aviation.api.dtn.com"}],"paths":{"/v1/health-check/":{"get":{"tags":["Health"],"summary":"Health Check","description":"The health check endpoint provides information about the health of a web service. If each of the components required by the service are healthy, then the service is considered healthy and will return a 200 OK response. If any of the components needed by the service are unhealthy, then a 503 Service Unavailable response will be provided.","responses":{"200":{"$ref":"#/components/responses/HealthCheckReport"},"503":{"$ref":"#/components/responses/HealthInternalError"}}}},"/v1/notams/":{"get":{"tags":["NOTAM"],"summary":"Get NOTAMs for a Station","description":"Get all available NOTAMs for a specific Station ID","responses":{"200":{"$ref":"#/components/responses/NotamSuccess"},"400":{"$ref":"#/components/responses/NotamBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryStationId"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"security":[{"clientCredentials":[]}]}},"/v1/pireps/":{"get":{"tags":["PIREP"],"summary":"Get PIREPs for a Station","description":"Get all available PIREPs for a specific Station ID","responses":{"200":{"$ref":"#/components/responses/PirepSuccess"},"400":{"$ref":"#/components/responses/PirepBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryStationId"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"}],"security":[{"clientCredentials":[]}]}},"/v1/sigmets/":{"get":{"tags":["SIGMET"],"summary":"Get active SIGMETs","description":"Get all available SIGMETs, potentially filtered by various query parameters.  All specified filter parameters must be satisified for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/SigmetSuccess"},"400":{"$ref":"#/components/responses/SigmetBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QuerySigmetUnitSystem"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/QueryIsValidAt"},{"$ref":"#/components/parameters/QueryFromDateTime"},{"$ref":"#/components/parameters/QueryUntilDateTime"},{"$ref":"#/components/parameters/QueryReportTypes"},{"$ref":"#/components/parameters/QueryIssueOffices"},{"$ref":"#/components/parameters/QueryFirs"},{"$ref":"#/components/parameters/QueryFirStartsWith"},{"$ref":"#/components/parameters/QueryIsUrgent"}],"security":[{"clientCredentials":[]}]}},"/v1/possibleFirNames/":{"get":{"tags":["Possible SIGMET FIR names"],"summary":"Get all possible SIGMET FIR names that might be represented in data response","description":"Get all FIR names that have possibility of returning data if used with 'firNames' parameter","responses":{"200":{"$ref":"#/components/responses/PossibleFirNameSuccess"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[],"security":[{"clientCredentials":[]}]}},"/v1/convectiveSigmets/":{"get":{"tags":["Convective SIGMET"],"summary":"Get active Convective SIGMETs","description":"Get all available Convective SIGMETs, potentially filtered by various query parameters.  All specified filter parameters must be satisified for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/ConvectiveSigmetSuccess"},"400":{"$ref":"#/components/responses/ConvectiveSigmetBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryConvectiveSigmetUnitSystem"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/QueryIsValidAt"},{"$ref":"#/components/parameters/QueryFromDateTime"},{"$ref":"#/components/parameters/QueryUntilDateTime"},{"$ref":"#/components/parameters/QueryMinSpeedKts"},{"$ref":"#/components/parameters/QueryMaxSpeedKts"}],"security":[{"clientCredentials":[]}]}},"/v1/sierraAirmets/":{"get":{"tags":["Sierra (IFR) AIRMET"],"summary":"Get active Sierra (IFR) AIRMETs","description":"Get all available Sierra (IFR) AIRMETs, potentially filtered by various query parameters.  All specified filter parameters must be satisified for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/SierraAirmetSuccess"},"400":{"$ref":"#/components/responses/SierraAirmetBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QuerySigmetUnitSystem"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/QueryIsValidAt"},{"$ref":"#/components/parameters/QueryFromDateTime"},{"$ref":"#/components/parameters/QueryUntilDateTime"},{"$ref":"#/components/parameters/QueryMessageTypes"}],"security":[{"clientCredentials":[]}]}},"/v1/tangoAirmets/":{"get":{"tags":["Tango (Turbulence) AIRMET"],"summary":"Get active Tango (Turbulence) AIRMETs","description":"Get all available Tango (Turbulence) AIRMETs, potentially filtered by various query parameters.  All specified filter parameters must be satisified for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/TangoAirmetSuccess"},"400":{"$ref":"#/components/responses/TangoAirmetBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QuerySigmetUnitSystem"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/QueryIsValidAt"},{"$ref":"#/components/parameters/QueryFromDateTime"},{"$ref":"#/components/parameters/QueryUntilDateTime"},{"$ref":"#/components/parameters/QuerySeverities"}],"security":[{"clientCredentials":[]}]}},"/v1/zuluAirmets/":{"get":{"tags":["Zulu (Icing) AIRMET"],"summary":"Get active Zulu (Icing) AIRMETs","description":"Get all available Zulu (Icing) AIRMETs, potentially filtered by various query parameters.  All specified filter parameters must be satisified for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/ZuluAirmetSuccess"},"400":{"$ref":"#/components/responses/ZuluAirmetBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QuerySigmetUnitSystem"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/QueryIsValidAt"},{"$ref":"#/components/parameters/QueryFromDateTime"},{"$ref":"#/components/parameters/QueryUntilDateTime"},{"$ref":"#/components/parameters/QuerySeverities"}],"security":[{"clientCredentials":[]}]}}},"components":{"securitySchemes":{"clientCredentials":{"type":"oauth2","x-receive-token-in":"request-body","flows":{"clientCredentials":{"tokenUrl":"https://api.auth.dtn.com/v1/tokens/authorize"}},"description":"# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the DTN Websocket API, you need to use the following audience: https://dev-portal.dev.coreservices.zones.dtn.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "}},"schemas":{"Meta":{"title":"Meta","description":"Meta data attached to every response","required":["name","request_id","start_timestamp","end_timestamp","execution_time"],"type":"object","properties":{"name":{"type":"string"},"request_id":{"type":"string"},"start_timestamp":{"type":"integer"},"end_timestamp":{"type":"integer"},"execution_time":{"type":"integer"}}},"Error":{"title":"Error","description":"Error","required":["type","title","status","detail","meta"],"type":"object","properties":{"url":{"type":"string"},"type":{"enum":["internal-server-error","unauthorized","bad-request","service-unavailable","forbidden","not-found"],"type":"string"},"title":{"type":"string"},"status":{"type":"number"},"detail":{"type":"string"},"instance":{"type":"string"},"errors":{"type":"array","items":{"type":"object"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"HealthCheck":{"title":"HealthCheck","description":"Health Check","required":["status"],"type":"object","properties":{"status":{"type":"string"},"version":{"type":"string"},"info":{"type":"string"},"timestamp":{"format":"date-time","type":"string"},"env":{"type":"string"},"meta":{"$ref":"#/components/schemas/Meta"}}},"NotamItem":{"type":"object","properties":{"stationId":{"type":"string"},"notamId":{"type":"string"},"raw_text":{"type":"string"},"issueDateTime":{"type":"string","format":"date-time"},"expireDateTime":{"type":"string","nullable":true,"format":"date-time"}}},"NotamList":{"type":"object","properties":{"url":{"type":"string"},"notams":{"type":"array","items":{"$ref":"#/components/schemas/NotamItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"GeoJsonObject":{"description":"GeoJSon object The coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.\n","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3"},"type":"object","properties":{"type":{"type":"string","enum":["Feature","FeatureCollection","Point","MultiPoint","LineString","MultiLineString","Polygon","MultiPolygon","GeometryCollection"]},"bbox":{"description":"A GeoJSON object MAY have a member named \"bbox\" to include information on the coordinate range for its Geometries, Features, or FeatureCollections. The value of the bbox member MUST be an array of length 2*n where n is the number of dimensions represented in the contained geometries, with all axes of the most southwesterly point followed by all axes of the more northeasterly point. The axes order of a bbox follows the axes order of geometries.\n","type":"array","items":{"type":"number"}}},"required":["type"],"discriminator":{"propertyName":"type"}},"Point2D":{"type":"array","maxItems":2,"minItems":2,"items":{"type":"number"}},"Point":{"type":"object","description":"GeoJSon geometry","externalDocs":{"url":"http://geojson.org/geojson-spec.html#id2"},"allOf":[{"$ref":"#/components/schemas/Geometry"},{"properties":{"coordinates":{"$ref":"#/components/schemas/Point2D"}}}]},"Geometry":{"type":"object","description":"GeoJSon geometry","discriminator":{"propertyName":"type"},"required":["type"],"externalDocs":{"url":"http://geojson.org/geojson-spec.html#geometry-objects"},"properties":{"type":{"type":"string","enum":["Point","LineString","Polygon","MultiPoint","MultiLineString","MultiPolygon"],"description":"the geometry type"}}},"PirepItem":{"type":"object","required":["raw_text","typeOfAircraft","stationId","issueOffice","validDateTime","flightLevelLow","flightLevelHigh"],"properties":{"raw_text":{"type":"string"},"typeOfAircraft":{"type":"string"},"stationId":{"type":"string"},"issueOffice":{"type":"string"},"validDateTime":{"type":"string","format":"date-time"},"flightLevelLow":{"type":"number"},"flightLevelHigh":{"type":"number"}}},"PirepList":{"type":"object","required":["url","pireps","meta"],"properties":{"url":{"type":"string"},"pireps":{"type":"array","items":{"$ref":"#/components/schemas/PirepItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"PirepFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/PirepItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"PirepFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/PirepFeature"}}}}]},"SigmetItem":{"type":"object","required":["validDateTime","expirationDateTime","reportType","isUrgent","seriesNumber","severity","isCancelled","rawTxt","issueOffice","firNameStandard","obsFcst","movement","intensityChange","vaTcName","sigmetId"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"reportType":{"type":"string"},"isUrgent":{"type":"boolean"},"seriesNumber":{"type":"string"},"severity":{"type":"string","nullable":true},"isCancelled":{"type":"boolean"},"rawTxt":{"type":"string"},"issueOffice":{"type":"string"},"firNameStandard":{"type":"string"},"obsFcst":{"type":"string"},"movement":{"type":"string"},"intensityChange":{"type":"string"},"vaTcName":{"type":"string","nullable":true},"sigmetId":{"type":"number"}}},"SigmetList":{"type":"object","required":["url","sigmets","meta"],"properties":{"url":{"type":"string"},"sigmet":{"type":"array","items":{"$ref":"#/components/schemas/SigmetItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"SigmetFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/SigmetItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"SigmetFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/SigmetFeature"}}}}]},"PossibleFirNamesList":{"type":"object","properties":{"url":{"type":"string"},"possibleFirNames":{"type":"array"},"meta":{"$ref":"#/components/schemas/Meta"}}},"ConvectiveSigmetItem":{"type":"object","required":["validDateTime","expirationDateTime","direction","speed","topLevel","rawTxt","objectTxt"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"direction":{"type":"number"},"speed":{"type":"number"},"topLevel":{"type":"number"},"rawTxt":{"type":"string"},"objectTxt":{"type":"string"}}},"ConvectiveSigmetList":{"type":"object","required":["url","convectiveSigmets","meta"],"properties":{"url":{"type":"string"},"convectiveSigmet":{"type":"array","items":{"$ref":"#/components/schemas/ConvectiveSigmetItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"ConvectiveSigmetFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/ConvectiveSigmetItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"ConvectiveSigmetFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/ConvectiveSigmetFeature"}}}}]},"SierraAirmetItem":{"type":"object","required":["validDateTime","expirationDateTime","messageType","messageTxt","topLevel","bottomLevel"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"messageType":{"type":"string"},"messageTxt":{"type":"string"},"topLevel":{"type":"number","nullable":true},"bottomLevel":{"type":"number","nullable":true}}},"SierraAirmetList":{"type":"object","required":["url","sierraAirmets","meta"],"properties":{"url":{"type":"string"},"sierraAirmet":{"type":"array","items":{"$ref":"#/components/schemas/SierraAirmetItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"SierraAirmetFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/SierraAirmetItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"SierraAirmetFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/SierraAirmetFeature"}}}}]},"TangoAirmetItem":{"type":"object","required":["validDateTime","expirationDateTime","severity","messageTxt","topLevel","bottomLevel"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"severity":{"type":"string"},"messageTxt":{"type":"string"},"topLevel":{"type":"number","nullable":true},"bottomLevel":{"type":"number","nullable":true}}},"TangoAirmetList":{"type":"object","required":["url","tangoAirmets","meta"],"properties":{"url":{"type":"string"},"tangoAirmet":{"type":"array","items":{"$ref":"#/components/schemas/TangoAirmetItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"TangoAirmetFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/TangoAirmetItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"TangoAirmetFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/TangoAirmetFeature"}}}}]},"ZuluAirmetItem":{"type":"object","required":["validDateTime","expirationDateTime","severity","messageTxt","topLevel","bottomLevel"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"severity":{"type":"string"},"messageTxt":{"type":"string"},"topLevel":{"type":"number","nullable":true},"bottomLevel":{"type":"number","nullable":true}}},"ZuluAirmetList":{"type":"object","required":["url","zuluAirmets","meta"],"properties":{"url":{"type":"string"},"zuluAirmet":{"type":"array","items":{"$ref":"#/components/schemas/ZuluAirmetItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"ZuluAirmetFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/ZuluAirmetItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"ZuluAirmetFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/ZuluAirmetFeature"}}}}]}},"parameters":{"QueryOffset":{"name":"offset","description":"Skip over this many into the response set; used for paginated results.  Default = 0","in":"query","required":false,"schema":{"type":"integer","default":0}},"QueryLimit":{"name":"limit","description":"Provide no more than this many items in the response set.  Default = 1000","in":"query","required":false,"schema":{"type":"integer","default":1000,"minimum":1,"maximum":10000}},"QuerySigmetUnitSystem":{"name":"unitSystem","description":"Identifer for units system used for numerical output values.  Must be either `default` or `metric`.  Default is `default`.\n                * `topLevel`: default=`ft`, metric=`m`\n                * `bottomLevel`: default=`ft`, metric=`m`","in":"query","required":false,"explode":false,"schema":{"type":"string","enum":["default","metric"],"default":"default"}},"QueryConvectiveSigmetUnitSystem":{"name":"unitSystem","description":"Identifer for units system used for numerical output values.  Must be either `default` or `metric`.  Default is `default`.\n                * `topLevel`: default=`ft`, metric=`m`\n                * `speed`: default=`kts`, metric=`m/s`","in":"query","required":false,"explode":false,"schema":{"type":"string","enum":["default","metric"],"default":"default"}},"QueryMetarUnitSystem":{"name":"unitSystem","description":"Identifer for units system used for numerical output values.  Must be either `default` or `metric`.  Default is `default`.\n                * `ceilingLow`: default=`ft`, metric=`m`\n                * `ceilingMid`: default=`ft`, metric=`m`\n                * `ceilingHigh`: default=`ft`, metric=`m`\n                * `visibility`: default=`mi`, metric=`m`\n                * `temperature`: default=`degC`, metric=`degC`\n                * `dewpoint`: default=`degC`, metric=`degC`\n                * `altimeter`: default=`inHg`, metric=`hPa`\n                * `windSpeed`: default=`kts`, metric=`m/s`\n                * `windGust`: default=`kts`, metric=`m/s`","in":"query","required":false,"explode":false,"schema":{"type":"string","enum":["default","metric"],"default":"default"}},"QueryTafUnitSystem":{"name":"unitSystem","description":"Identifer for units system used for numerical output values.  Must be either `default` or `metric`.  Default is `default`.\n                * `visibility`: default=`mi`, metric=`m`\n                * `windSpeed`: default=`kts`, metric=`m/s`\n                * `windGust`: default=`kts`, metric=`m/s`\n                * `cloudHeight`: default=`ft`, metric=`m`","in":"query","required":false,"explode":false,"schema":{"type":"string","enum":["default","metric"],"default":"default"}},"QueryBbox":{"name":"bbox","description":"Bounding box coordinates in the format `<min_X>,<min_Y>,<max_X>,<max_Y>`.  The `X,Y` corridinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.","in":"query","required":false,"schema":{"type":"string"}},"QueryPolygon":{"name":"polygon","description":"Polygon coordinates in the format `<X_0>,<Y_0>,<X_1>,<Y_1>...,<X_n>,<Y_n>`.  The `X,Y` corridinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  If the last `X,Y` does not match the first `X,Y`, the first `X,Y` is copied to the end to close the polygon.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.","in":"query","required":false,"schema":{"type":"string"}},"QueryCircle":{"name":"circle","description":"Circle coordinates and radius distance in the format `<X>,<Y>,<RADIUS>`.  The `X,Y` corridinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  The `<RADIUS>` defines the distance (in default or `distanceUnits`-specified units) from the defined point.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.","in":"query","required":false,"schema":{"type":"string"}},"QueryCorridor":{"name":"corridor","description":"Line coordinates and distance from the line in the format `<X_0>,<Y_0>,<X_1>,<Y_1>...,<X_n>,<Y_n>,<HALFWIDTH>`.  The `X,Y` corridinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  The `<HALFWIDTH>` defines the distance (in default or `distanceUnits`-specified units) from the line defined by the corridates out to which to create encompassing shape.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.","in":"query","required":false,"schema":{"type":"string"}},"QueryIsValidAt":{"name":"isValidAt","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose validDateTime is not earlier than the specified value and whose expirationDateTime is later than that specified value.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose expirationDateTime is later than that specified value, i.e., only objects not ended by this time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose validDateTime is earlier than the specified value, i.e., only objects that began before this time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryStationId":{"name":"stationId","description":"Station identifier, e.g., `KIND`, `CYYC`","in":"query","required":true,"schema":{"type":"string"}},"QueryReportTypes":{"name":"reportTypes","description":"Comma-separated list of reportType values.  Must include only allowed values.  Limits to objects whose reportType value matches one of specified parameter values.","in":"query","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["TS","TURB","ICE","VA","TC","DS","SS","MTW","RDOACT CLD"]}}},"QueryIssueOffices":{"name":"issueOffices","description":"Comma-separated list of issueOffice values.  Values should be each 4 letters and need to match a Meteorological Watch Office.  Limits to objects whose issueOffice value matches one of specified parameter values.","in":"query","required":false,"schema":{"type":"string"}},"QueryFirs":{"name":"firs","description":"Comma-separated list of firStandardName values.  Values must exactly match items in defined population.  Limits to objects whose firStandardName value matches one of specified parameter values.","in":"query","required":false,"schema":{"type":"string"}},"QueryFirStartsWith":{"name":"firStartsWith","description":"Beginning characters of FIR name.  Must be between 2 and 10 characters and only letters, spaces, dashes, and apostrophes allowed.  Results will be provided including data for any FIRs whose names match the input, like for both `GUANGZHOU` and `GUAYAQUIL` if provide `GUA` as value.","in":"query","required":false,"schema":{"type":"string"}},"QueryIsUrgent":{"name":"isUrgent","description":"Boolean indicator for isUrgent.  Limits to objects whose isUrgent value matches parameter value.","in":"query","required":false,"schema":{"type":"boolean"}},"QueryGeometry":{"name":"geometry","description":"Boolean indicator for inclusion of Geometry in response.  If false, geometry will be returned empty.","in":"query","required":false,"schema":{"type":"boolean","default":true}},"QuerySrid":{"name":"srid","description":"SRID identifer for coordinate system for spatial filter coordinates.  Default is 4326 (i.e., ordinary longitude & latitude in degrees).","in":"query","required":false,"explode":false,"schema":{"type":"integer","enum":[4326,3857],"default":4326}},"QueryDistanceUnits":{"name":"distanceUnits","description":"Units identifier for distances in definition for circle or corridor spatial filter.  Default is `nm` (nautical miles).","in":"query","required":false,"schema":{"type":"string","enum":["nm","km","m","sm"],"default":"nm"}},"QueryMinSpeedKts":{"name":"minSpeedKts","description":"Minimum speed in knots.  Limits to objects whose speed value is greater than or equal to this.  Must set value in knots even if output `unitSystem` chosen as `metric`.","in":"query","required":false,"schema":{"type":"integer"}},"QueryMaxSpeedKts":{"name":"maxSpeedKts","description":"Maximum speed in knots.  Limits to objects whose `speed` value is less than or equal to this.  Must set value in knots even if output `unitSystem` chosen as `metric`.","in":"query","required":false,"schema":{"type":"integer"}},"QuerySeverities":{"name":"severities","description":"Comma-separated list of severity values.  Must include only allowed values, which include empty string.  Limits to objects whose `severity` value matches one of specified parameter values.","in":"query","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["LIGHT","MODERATE","SEVERE","EXTREME",""]}}},"QueryMessageTypes":{"name":"messageTypes","description":"Comma-separated list of messageType values.  Must match specified allowed values.  Limits to objects whose `messageType` value matches one of specified parameter values.","in":"query","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["IFR","MTN OBSC","SFC WIND"]}}},"QueryFlightCodes":{"name":"flightCodes","description":"Comma-separated list of flightCode values.  Must include only allowed values.  Limits to objects whose `flightCode` value matches one of specified parameter values.","in":"query","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["1","2","3","4","0"]}}},"QueryFlightCategories":{"name":"flightCategories","description":"Comma-separated list of flightCategory values.  Must include only allowed values.  Limits to objects whose `flightCategory` value matches one of specified parameter values.","in":"query","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["VFR","MVFR","IFR","LIFR","UNKNOWN"]}}}},"responses":{"ErrorUnauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"unauthorized","title":"Error while authenticating the user","status":401,"detail":"Missing Authorization token.","instance":"urn:dtn:aviation-api:/v1/notams/KIND:requestId:19e1b83a-cb2e-4460-b687-ce9d0c50b4b6","meta":{"name":"v1.notams.KIND","uuid":"d64fc634-9bee-430d-8ab1-200337e6e9b2","request_id":"19e1b83a-cb2e-4460-b687-ce9d0c50b4b6","start_timestamp":1714019217213,"end_timestamp":1714019217246,"execution_time":33}}}}},"HealthCheckReport":{"description":"Health Check report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthCheck"},"example":{"status":"up","version":"v2","info":"Service is healthy.","timestamp":"2018-02-10T09:30Z","env":"production","meta":{"name":"v1.health-check","request_id":"a5c651d2-9155-4e15-b5c8-90d7d4be1a4f","start_timestamp":1713991179403,"end_timestamp":1713991179404,"execution_time":1}}}}},"HealthInternalError":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"internal-server-error","title":"Internal Server Error","status":500,"detail":"something went wrong with this request. Please contact the administrator","instance":"urn:dtn:aviation-api:/v1/health-check:requestId:cc3c6cf1-6fd4-43c8-8ec7-bf60eac34d87","meta":{"name":"v1.health-check","uuid":"f0d77c62-cccb-468e-9e80-0ed1d6f921c4","request_id":"cc3c6cf1-6fd4-43c8-8ec7-bf60eac34d87","start_timestamp":1714684480017,"end_timestamp":1714684480026,"execution_time":9}}}}},"NotamSuccess":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotamList"},"examples":{"Success":{"$ref":"#/components/examples/NotamSuccessResponse"}}}}},"NotamBadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"BadRequest":{"$ref":"#/components/examples/NotamBadRequestResponse"}}}}},"PirepSuccess":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PirepFeatureCollection"},"examples":{"Success":{"$ref":"#/components/examples/PirepSuccessResponse"}}}}},"PirepBadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"BadRequest":{"$ref":"#/components/examples/PirepBadRequestResponse"}}}}},"SigmetSuccess":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SigmetFeatureCollection"},"examples":{"Success":{"$ref":"#/components/examples/SigmetSuccessResponse"}}}}},"SigmetBadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"BadRequest":{"$ref":"#/components/examples/SigmetBadRequestResponse"}}}}},"PossibleFirNameSuccess":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PossibleFirNamesList"},"examples":{"Success":{"$ref":"#/components/examples/PossibleFirNameSuccessResponse"}}}}},"ConvectiveSigmetSuccess":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConvectiveSigmetFeatureCollection"},"examples":{"Success":{"$ref":"#/components/examples/ConvectiveSigmetSuccessResponse"}}}}},"ConvectiveSigmetBadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"BadRequest":{"$ref":"#/components/examples/ConvectiveSigmetBadRequestResponse"}}}}},"SierraAirmetSuccess":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SierraAirmetFeatureCollection"},"examples":{"Success":{"$ref":"#/components/examples/SierraAirmetSuccessResponse"}}}}},"SierraAirmetBadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"BadRequest":{"$ref":"#/components/examples/SierraAirmetBadRequestResponse"}}}}},"TangoAirmetSuccess":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TangoAirmetFeatureCollection"},"examples":{"Success":{"$ref":"#/components/examples/TangoAirmetSuccessResponse"}}}}},"TangoAirmetBadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"BadRequest":{"$ref":"#/components/examples/TangoAirmetBadRequestResponse"}}}}},"ZuluAirmetSuccess":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZuluAirmetFeatureCollection"},"examples":{"Success":{"$ref":"#/components/examples/ZuluAirmetSuccessResponse"}}}}},"ZuluAirmetBadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"BadRequest":{"$ref":"#/components/examples/ZuluAirmetBadRequestResponse"}}}}}},"examples":{"NotamSuccessResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/notams/KIND?limit=2","notams":[{"stationId":"KIND","notamId":"A2969/22","raw_text":"A2969/22 NOTAMN Q) KZID/QILXX/I/NBO/A/000/999/3943N08618W005\nA) KIND\nB) 2206171130\nC) PERM\nE) ILS RWY 32 LOC UNUSABLE BEYOND 25DEG RIGHT OF COURSE","issueDateTime":"2022-06-17T11:30:00.000Z","expireDateTime":null},{"stationId":"KIND","notamId":"02/026","raw_text":"IND 02/026 IND OBST CRANE (ASN 2022-AGL-11119-NRA) 394252N0861810W (0.4NM WSW IND) 953FT (197FT AGL) FLAGGED 2302081306-2405142300","issueDateTime":"2023-02-08T13:06:00.000Z","expireDateTime":"2024-05-14T23:00:00.000Z"}],"meta":{"name":"v1.notams.KIND?limit=2","uuid":"7340f324-28a1-4dd1-b644-8b2e3f895aa8","request_id":"aedb15e9-b018-48a9-b9fa-71f2b6348425","start_timestamp":1714018407946,"end_timestamp":1714018410376,"execution_time":2430}}},"NotamBadRequestResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/notams/KIND?offset=-1&limit=10","type":"bad-request","title":"Invalid Request","status":400,"detail":"Validation failed.","instance":"urn:dtn:aviation-api:/v1/notams/KIND:requestId:895f33f9-925d-42df-9500-32fabbbd813c","errors":[{"message":"`offset` query must be Integer zero or greater","parameter":"offset","value":-1}],"meta":{"name":"v1.notams.KIND?offset=-1&limit=10","uuid":"b90dae85-86f6-4b79-a747-8dfd0655d36c","request_id":"895f33f9-925d-42df-9500-32fabbbd813c","start_timestamp":1714013205229,"end_timestamp":1714013205461,"execution_time":232}}},"PirepSuccessResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/pireps/?stationId=IND&limit=2","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-77.2,39.933]},"properties":{"raw_text":"MDT UA /OV 10S HAR/TM 2355/FL070/TP SR22/SK OVC069/TA -9/IC -RIME","typeOfAircraft":"SR22","stationId":"HAR","issueOffice":"MDT","validDateTime":"2024-04-24T23:55:00.000Z","flightLevelLow":7000,"flightLevelHigh":7000}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-71.437,42.934]},"properties":{"raw_text":"MHT UUA /OV MHT/TM 2356/FL010/TP BE99/RM DURD RWY35 +-10KTS BLO010","typeOfAircraft":"BE99","stationId":"MHT","issueOffice":"MHT","validDateTime":"2024-04-24T23:56:00.000Z","flightLevelLow":1000,"flightLevelHigh":1000}},{"type":"Feature","geometry":{"type":"Point","coordinates":[0,0]},"properties":{"raw_text":"SAT UA /OV 1TT8 /TM 2357 /FL008 /TP P28A /SK SKC","typeOfAircraft":"P28A","stationId":"1TT8","issueOffice":"SAT","validDateTime":"2024-04-24T23:57:00.000Z","flightLevelLow":800,"flightLevelHigh":800}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-82.61,40.731]},"properties":{"raw_text":"CLE UA /OV 7 SW MFD/TM 2330/FLDURC/TP P28A/SK B043 T055/TA 4/IC TRACE   \rCLEAR","typeOfAircraft":"P28A","stationId":"MFD","issueOffice":"CLE","validDateTime":"2024-04-24T23:30:00.000Z","flightLevelLow":0,"flightLevelHigh":0}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-79.105,34.178]},"properties":{"raw_text":"FLO UA /OV FLO090030/TM 0000/FL150/TP A319/SK TOP150","typeOfAircraft":"A319","stationId":"FLO","issueOffice":"FLO","validDateTime":"2024-04-25T00:00:00.000Z","flightLevelLow":15000,"flightLevelHigh":15000}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-85.302,33.306]},"properties":{"raw_text":"LGC UA /OV LGC326022/TM 0001/FL290/TP B737/TB CONS LGT CHOP/RM   \rZTLFD-03","typeOfAircraft":"B737","stationId":"LGC","issueOffice":"LGC","validDateTime":"2024-04-25T00:01:00.000Z","flightLevelLow":29000,"flightLevelHigh":29000}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-77.2,40.1]},"properties":{"raw_text":"MDT UA /OV HAR/TM 0003/FL070/TP C182/TB -6/IC -RIME","typeOfAircraft":"C182","stationId":"HAR","issueOffice":"MDT","validDateTime":"2024-04-25T00:03:00.000Z","flightLevelLow":7000,"flightLevelHigh":7000}},{"type":"Feature","geometry":{"type":"Point","coordinates":[0,0]},"properties":{"raw_text":"PAE UA /OV PAET/TM 0000/FL025/TP B738/SK OVC015-TOP025/RM DURD","typeOfAircraft":"B738","stationId":"PAET","issueOffice":"PAE","validDateTime":"2024-04-25T00:00:00.000Z","flightLevelLow":2500,"flightLevelHigh":2500}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-106.732,35.038]},"properties":{"raw_text":"ABQ UA /OV ABQ272007/TM 2352/FL161/TP CRJ7/TB CONS/RM ZAB/FDCS","typeOfAircraft":"CRJ7","stationId":"ABQ","issueOffice":"ABQ","validDateTime":"2024-04-24T23:52:00.000Z","flightLevelLow":16100,"flightLevelHigh":16100}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-102.812,36.643]},"properties":{"raw_text":"AMA UA /OV DHT340040/TM 0006/FL330/TP A21N/TB MOD CHOP/RM ZAB/FDCS","typeOfAircraft":"A21N","stationId":"DHT","issueOffice":"AMA","validDateTime":"2024-04-25T00:06:00.000Z","flightLevelLow":33000,"flightLevelHigh":33000}}],"meta":{"name":"v1.pireps?stationId=IND&limit=10","uuid":"88787e61-8907-41e1-9efa-4103af2108d3","request_id":"091fee2b-b6cf-483e-b8db-ed38c0b131be","start_timestamp":1714681278028,"end_timestamp":1714681279690,"execution_time":1662}}},"PirepBadRequestResponse":{"value":{"url":"https://aviation.api.dtn.comv1/pireps?stationId=IND&offset=-1","type":"bad-request","title":"Invalid Request","status":400,"detail":"Validation failed.","instance":"urn:dtn:aviation-api:/v1/pireps:requestId:0a73a828-8415-4bb7-ac36-02322a3f0e19","errors":[{"message":"`offset` query must be Integer zero or greater","parameter":"offset","value":-1}],"meta":{"name":"v1.pireps?stationId=IND&offset=-1","uuid":"e288fbbb-cd74-4c54-8c8e-78d0939fa309","request_id":"0a73a828-8415-4bb7-ac36-02322a3f0e19","start_timestamp":1714683025786,"end_timestamp":1714683026098,"execution_time":312}}},"SigmetSuccessResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/sigmets/?firs=AUCKLAND%20OCEANIC","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-180,-31.946133562731603],[-176.5,-32.6667],[-163,-33.6667],[-162.833,-35.6667],[-180,-34.42072816083611],[-180,-31.946133562731603]]]},"properties":{"reportType":"TURB","seriesNumber":"12","severity":"SEVERE","iceType":null,"rawTxt":"NZZO SIGMET 12 VALID 241909/242309 NZKL-  NZZO AUCKLAND OCEANIC FIR SEV TURB FCST WI S3410 E17630 - S2800  E17220 - S3130 E17750 - S3240 W17630 - S3340 W16300 - S3540 W16250 -  S3410 E17630 FL250/320 STNR NC=","issueOffice":"NZKL","firNameStandard":"AUCKLAND OCEANIC","obsFcst":"FCST","movement":"STNR","intensityChange":"NC","vaTcName":null,"validDateTime":"2024-07-24T19:09:00.000Z","expirationDateTime":"2024-07-24T23:09:00.000Z","isUrgent":false,"isCancelled":false,"sigmetId":12394260,"topLevel":32000,"bottomLevel":25000}},{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-165.5,-11.3333],[-164.167,-12.6667],[-164,-14.1667],[-170.667,-12],[-169.833,-10.3333],[-165.5,-11.3333]]]},"properties":{"reportType":"TS","seriesNumber":"14","severity":null,"iceType":null,"rawTxt":"NZZO SIGMET 14 VALID 242217/250217 NZKL-  NZZO AUCKLAND OCEANIC FIR EMBD TS OBS WI S1120 W16530 - S1240 W16410  - S1410 W16400 - S1200 W17040 - S1020 W16950 - S1120 W16530 TOP  FL530 STNR WKN=","issueOffice":"NZKL","firNameStandard":"AUCKLAND OCEANIC","obsFcst":"OBS","movement":"STNR","intensityChange":"WKN","vaTcName":null,"validDateTime":"2024-07-24T22:17:00.000Z","expirationDateTime":"2024-07-25T02:17:00.000Z","isUrgent":false,"isCancelled":false,"sigmetId":12396480,"topLevel":53000,"bottomLevel":0}}],"meta":{"name":"v1.sigmets.?limit=5&firs=AUCKLAND%20OCEANIC","uuid":"0c79e5ca-9e7f-48d1-bc2f-a8819a555f24","request_id":"88b452d4-bfd0-4e7e-a953-e4e0d1cac547","start_timestamp":1721860091060,"end_timestamp":1721860091528,"execution_time":468}}},"SigmetBadRequestResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/sigmets?reportTypes=TURB,ST","type":"bad-request","title":"Invalid Request","status":400,"detail":"Validation failed.","instance":"urn:dtn:aviation-api:/v1/sigmets/:requestId:fa051103-4844-4012-822b-dfb651cb42e7","errors":[{"message":"Parameter value includes unpermitted characters or is otherwise not allowed","parameter":"reportTypes","value":"TURB,ST"}],"meta":{"name":"v1.sigmets?reportTypes=TURB,ST","uuid":"aaa1d697-6dfc-47f9-be23-f0a103330eb0","request_id":"fa051103-4844-4012-822b-dfb651cb42e7","start_timestamp":1721860434569,"end_timestamp":1721860434576,"execution_time":7}}},"PossibleFirNameSuccessResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/possibleFirNames/","possibleFirNames":["ACCRA","ADDIS ABABA","ADDIS ABEBA","AKTOBE","ALBUQUERQUE","ALGER-FIR","ALMATY","AMAZONICA","AMMAN","AMSTERDAM","ANCHORAGE","ANCHORAGE ARCTIC","ANCHORAGE OCEANIC","ANKARA","ANTANANARIVO","ANTOFAGASTA","ARKHANGELSK","ARKHANGELSK-UIR","ASHGABAT-FIR","ASMARA","ASUNCION","ATHINAI","ATLANTA","ATLANTICO","AUCKLAND OCEANIC","BAGHDAD","BAHRAIN FIR","BAKU","BAKU SOUTH SECTOR","BANGKOK","BARCELONA","BARRANQUILLA","BEIJING","BEIRA","BEIRUT","BEOGRAD","BERMUDA","BISHKEK","BODO OCEANIC","BOGOTA","BORDEAUX","BOSTON","BRASILIA","BRATISLAVA","BRAZZAVILLE","BREMEN-FIR","BREST","BRINDISI","BRISBANE","BRUSSELS-FIR","BRUSSELS-UIR","BUCURESTI","BUDAPEST","BUJUMBURA","CAIRO","CANARIES FIR","CANARIES UIR","CAPE TOWN","CASABLANCA","CAYENNE","CENTRAL AMERICA","CHELYABINSK","CHENNAI","CHICAGO","CHISINAU","CHITA","CHULMAN","CLEVELAND","COLOMBO","COMODORO RIVADAVIA","CORDOBA","CURACAO","CURITIBA","DAKAR OCEANIQUE","DAKAR TERRESTRE FIR","DAKAR TERRESTRE UIR","DAMASCUS","DAR ES SALAAM FIR","DAR ES SALAAM UIR","DASHOGUZ-FIR","DELHI","DENVER","DHAKA","DNIPRO FIR","DNIPROPETROVS'K","DNIPROPETROVS'K FIR","DOHA FIR","DUSHANBE","EAST TIMOR","EDMONTON","EMIRATES","ENTEBBE","EZEIZA","FIJI DOMESTIC FIR (NFFJ)","FINLAND","FORT WORTH","FRANCE","FUKUOKA","GABERONE","GABORONE","GANDER","GANDER OCEANIC","GEORGETOWN","GUANGZHOU","GUAYAQUIL","HA NOI","HABANA","HANNOVER-UIR","HARARE","HELSINKI","HO CHI MINH","HONG KONG","HONIARA","HONOLULU","HOUSTON","HOUSTON OCEANIC","INCHEON","INDIANAPOLIS","IRKUTSK","ISTANBUL","JACKSONVILLE","JAKARTA","JEDDAH","JOHANNESBURG","JOHANNESBURG OCEANIC","KABUL","KALININGRAD","KAMENNY-MYS","KANO","KANSAS CITY","KARACHI","KATHMANDU","KAZAN","KHABAROVSK","KHANTY-MANSIYSK","KHARTOUM","KHUJAND","KIGALI","KINGSTON","KINSHASA","KIROV","KOBENHAVN","KOLKATA","KOTA KINABALU","KOTLAS","KRASNOYARSK","KUALA LUMPUR","KUNMING","KUWAIT","KYIV","KYIV FIR","KYIV UIR","L'VIV","L'VIV FIR","LA PAZ","LAHORE","LANGEN FIR","LANZHOU","LESHUKONSKOYE-FIR","LILONGWE FIR","LILONGWE UIR","LIMA","LISBOA","LJUBLJANA","LONDON","LOS ANGELES","LUANDA","LUSAKA","MACAO","MADRID","MAGADAN OCEANIC","MAGADAN-FIR","MAGADAN-UIR","MAGNITOGORSK","MAIQUETIA","MALE","MALTA","MANILA","MARSEILLE","MAURITIUS","MAZATLAN OCEANIC","MELBOURNE","MEMPHIS","MENDOZA","MEXICO","MIAMI","MIAMI OCEANIC","MILANO","MILKOVO","MINNEAPOLIS","MINSK","MIRNY","MOGADISHU","MONCTON","MONTEVIDEO","MONTREAL","MOSCOW","MUMBAI","MUNCHEN-FIR","MURMANSK","MURMANSK OCEANIC","MUSCAT","N'DJAMENA","NADI","NAIROBI FIR","NAIROBI UIR","NARYAN-MAR","NASSAU","NAURU","NEW YORK","NEW YORK HIGH","NEW YORK OCEANIC","NEW ZEALAND","NIAMEY","NICOSIA","NORILSK","NOVOSIBIRSK","NOVOSIBIRSK UIR","NUKUS","NUR SULTAN","NUUK","OAKLAND","OAKLAND OCEANIC","ODESA","ODESA FIR","OLEKMINSK","OMSK","OMSK UIR","ORENBURG","OSH","OSSORA","PANAMA","PARAMARIBO","PARIS","PERM","PETROPAVLOVSK KAMCHATSKY","PHNOM PENH","PIARCO","POLARIS","POLIARNY","PORT AU PRINCE","PORT MORESBY","PRAHA","PUERTO MONTT","PUNTA ARENAS","PYONGYANG","RECIFE","REIMS","RESISTENCIA","REYKJAVIK","RHEIN-UIR","RIGA","ROBERTS","ROMA","ROSTOV-NA-DONU","SAL OCEANIC","SALEKHARD","SALT LAKE CITY","SAMARA","SAMARKAND","SAN JUAN OCEANIC","SANAA","SANKT-PETERBURG","SANTA MARIA","SANTIAGO","SANTO DOMINGO","SANYA AOR","SARAJEVO","SCOTTISH","SEATTLE","SEYCHELLES","SHANGHAI","SHANNON","SHANWICK","SHENYANG","SHYMKENT","SIMFEROPOL","SIMFEROPOL FIR","SINGAPORE","SKOPJE","SOFIA","SONDRESTROM","SURGUT","SWEDEN","SWITZERLAND","SYKTYVKAR","TAHITI","TAIPEI","TALLINN","TARKO-SALE","TASHKENT","TBILISI","TEHRAN","TEL AVIV","TIKSI","TIKSI LOWER","TIRANA","TORONTO","TRIPOLI FIR","TRIPOLI UIR","TUNIS-FIR","TUNIS-UIR","TURKMENABAT-FIR","TURKMENBASHI-FIR","TYUMEN","UFA","UJUNG PANDANG FIR","UJUNG PANDANG UIR","ULAANBAATAR","UNKNOWNFIR","URUMQI","UST-KAMCHATSK","VANCOUVER","VIENTIANE","VILNIUS","VOLOGDA","VUELO ISLA DE PASCUA","WARSZAWA","WASHINGTON","WIEN","WINDHOEK","WINNIPEG","WUHAN","YAKUTSK","YANGON","YEKATERINBURG","YEREVAN","ZAGREB"],"meta":{"name":"v1.possibleFirNames","uuid":"9fdccdf5-da43-47a7-8307-b3496a7324fe","request_id":"bb157977-cff3-452b-ae2f-10819d4b9310","start_timestamp":1724442333507,"end_timestamp":1724442333631,"execution_time":124}}},"ConvectiveSigmetSuccessResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/convectiveSigmets/?limit=2&bbox=-100,20,-90,40","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-90.1,31.93],[-88.7036,30.8487],[-91.15,29.53],[-91.15,30.6967],[-90.1,31.93]]]},"properties":{"rawTxt":"MKCC WST 252255  \\nCONVECTIVE SIGMET 81C  \\nVALID UNTIL 0055Z  \\nMS LA  \\nFROM 30S MHZ-20WNW SJI-60S LSU-10N LSU-30S MHZ  \\nAREA TS MOV FROM 22020KT. TOPS ABV FL450.  \\n  \\nCONVECTIVE SIGMET 82C  \\nVALID UNTIL 0055Z  \\nIL MO IA  \\nFROM 50SSW DSM-40NW COU-30SE UIN  \\nLINE TS 35 NM WIDE MOV FROM 36010KT. TOPS ABV FL450.  \\n  \\nCONVECTIVE SIGMET 83C  \\nVALID UNTIL 0055Z  \\nKY IN IL MO  \\nFROM 50W IIU-40SSW FAM  \\nLINE TS 40 NM WIDE MOV FROM 02010KT. TOPS TO FL430.  \\n  \\nCONVECTIVE SIGMET 84C  \\nVALID UNTIL 0055Z  \\nMO KS  \\n20SSE MCI  \\nISOL SEV TS D30 MOV FROM 02010KT. TOPS TO FL450.  \\nHAIL TO 1 IN...WIND GUSTS TO 50KT POSS.  \\n  \\nOUTLOOK VALID 260055-260455  \\nAREA 1...FROM 30SW FSM-MSL-210S CEW-120SSW LCH-80E BRO-90W  \\nBRO-60NW LRD-SPS-30SW FSM  \\nWST ISSUANCES EXPD. REFER TO MOST RECENT ACUS01 KWNS FROM STORM  \\nPREDICTION CENTER FOR SYNOPSIS AND METEOROLOGICAL DETAILS.  \\n  \\nAREA 2...FROM 30SW IRK-40S TTH-MSL-30SW FSM-TUL-40W SGF-MCI-30SW  \\nIRK  \\nWST ISSUANCES EXPD. REFER TO MOST RECENT ACUS01 KWNS FROM STORM  \\nPREDICTION CENTER FOR SYNOPSIS AND METEOROLOGICAL DETAILS.  \\n  \\nAREA 3...FROM 70NW LAR-30NE LAR-30SW PUB-40E FTI-60SW  \\nCME-DMN-70NW LAR  \\nWST ISSUANCES EXPD. REFER TO MOST RECENT ACUS01 KWNS FROM STORM  \\nPREDICTION CENTER FOR SYNOPSIS AND METEOROLOGICAL DETAILS.  \\n  \\n  \\n\\n\\n\\n\\n\\n\\n","objectTxt":"CONVECTIVE SIGMET 81C  \\nVALID UNTIL 0055Z  \\nMS LA  \\nFROM 30S MHZ-20WNW SJI-60S LSU-10N LSU-30S MHZ  \\nAREA TS MOV FROM 22020KT. TOPS ABV FL450.  \\n","validDateTime":"2024-07-25T22:55:00.000Z","expirationDateTime":"2024-07-26T00:55:00.000Z","direction":220,"speed":20,"topLevel":45000}},{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-94.3325,40.489],[-93.7207,40.8139],[-92.6511,39.5361],[-90.833,39.7623],[-90.7434,39.1999],[-92.9373,39.0146],[-94.3325,40.489]]]},"properties":{"rawTxt":"MKCC WST 252255  \\nCONVECTIVE SIGMET 81C  \\nVALID UNTIL 0055Z  \\nMS LA  \\nFROM 30S MHZ-20WNW SJI-60S LSU-10N LSU-30S MHZ  \\nAREA TS MOV FROM 22020KT. TOPS ABV FL450.  \\n  \\nCONVECTIVE SIGMET 82C  \\nVALID UNTIL 0055Z  \\nIL MO IA  \\nFROM 50SSW DSM-40NW COU-30SE UIN  \\nLINE TS 35 NM WIDE MOV FROM 36010KT. TOPS ABV FL450.  \\n  \\nCONVECTIVE SIGMET 83C  \\nVALID UNTIL 0055Z  \\nKY IN IL MO  \\nFROM 50W IIU-40SSW FAM  \\nLINE TS 40 NM WIDE MOV FROM 02010KT. TOPS TO FL430.  \\n  \\nCONVECTIVE SIGMET 84C  \\nVALID UNTIL 0055Z  \\nMO KS  \\n20SSE MCI  \\nISOL SEV TS D30 MOV FROM 02010KT. TOPS TO FL450.  \\nHAIL TO 1 IN...WIND GUSTS TO 50KT POSS.  \\n  \\nOUTLOOK VALID 260055-260455  \\nAREA 1...FROM 30SW FSM-MSL-210S CEW-120SSW LCH-80E BRO-90W  \\nBRO-60NW LRD-SPS-30SW FSM  \\nWST ISSUANCES EXPD. REFER TO MOST RECENT ACUS01 KWNS FROM STORM  \\nPREDICTION CENTER FOR SYNOPSIS AND METEOROLOGICAL DETAILS.  \\n  \\nAREA 2...FROM 30SW IRK-40S TTH-MSL-30SW FSM-TUL-40W SGF-MCI-30SW  \\nIRK  \\nWST ISSUANCES EXPD. REFER TO MOST RECENT ACUS01 KWNS FROM STORM  \\nPREDICTION CENTER FOR SYNOPSIS AND METEOROLOGICAL DETAILS.  \\n  \\nAREA 3...FROM 70NW LAR-30NE LAR-30SW PUB-40E FTI-60SW  \\nCME-DMN-70NW LAR  \\nWST ISSUANCES EXPD. REFER TO MOST RECENT ACUS01 KWNS FROM STORM  \\nPREDICTION CENTER FOR SYNOPSIS AND METEOROLOGICAL DETAILS.  \\n  \\n  \\n\\n\\n\\n\\n\\n\\n","objectTxt":"CONVECTIVE SIGMET 82C  \\nVALID UNTIL 0055Z  \\nIL MO IA  \\nFROM 50SSW DSM-40NW COU-30SE UIN  \\nLINE TS 35 NM WIDE MOV FROM 36010KT. TOPS ABV FL450.  \\n","validDateTime":"2024-07-25T22:55:00.000Z","expirationDateTime":"2024-07-26T00:55:00.000Z","direction":360,"speed":10,"topLevel":45000}}],"meta":{"name":"v1.convectiveSigmets.?limit=2&bbox=-100,20,-90,40","uuid":"ea1c7afd-a0f5-4742-94b5-3d67ee65f409","request_id":"6508af73-db41-46fe-bb11-12683ed76053","start_timestamp":1721948963493,"end_timestamp":1721948963869,"execution_time":376}}},"ConvectiveSigmetBadRequestResponse":{"value":{"url":"https://aviation.api.dtn.comv1/convectiveSigmets?isValidAt=2024-07-17%2018:90:00 UTC","type":"bad-request","title":"Invalid Request","status":400,"detail":"Validation failed.","instance":"urn:dtn:aviation-api:/v1/convectiveSigmets/:requestId:fa051103-4844-4012-822b-dfb651cb42e7","errors":[{"message":"Parameter value includes unpermitted characters or is otherwise not allowed","parameter":"reportTypes","value":"TURB,ST"}],"meta":{"name":"v1.convectiveSigmets?reportTypes=TURB,ST","uuid":"aaa1d697-6dfc-47f9-be23-f0a103330eb0","request_id":"fa051103-4844-4012-822b-dfb651cb42e7","start_timestamp":1721860434569,"end_timestamp":1721860434576,"execution_time":7}}},"SierraAirmetSuccessResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/sierraAirmets/?limit=5&circle=-13124567.965,4150299.834,200&distanceUnits=km&srid=3857","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-116.273,39.5125],[-113.776,38.0503],[-114.764,37.4726],[-115.717,36.5436],[-116.08,35.7513],[-117.998,34.7054],[-118.699,35.6038],[-118.545,36.8703],[-117.336,38.7621],[-116.273,39.5125]]]},"properties":{"messageType":"MTN OBSC","messageTxt":"AIRMET MTN OBSCN...NV UT CA  \\nFROM 70SSE BAM TO 30ESE ILC TO 50SSW ILC TO 40NW LAS TO 50WSW  \\nLAS TO 50NNE LAX TO 20ENE EHF TO 60E CZQ TO 50NNE OAL TO 70SSE  \\nBAM  \\nMTNS OBSC BY FU/HZ. CONDS CONTG BYD 21Z THRU 03Z.  \\n.  \\n","validDateTime":"2024-07-26T14:45:00.000Z","expirationDateTime":"2024-07-26T21:00:00.000Z","topLevel":null,"bottomLevel":null}},{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-116.273,39.5125],[-113.776,38.0503],[-114.764,37.4726],[-115.717,36.5436],[-116.08,35.7513],[-117.998,34.7054],[-118.699,35.6038],[-118.545,36.8703],[-117.336,38.7621],[-116.273,39.5125]]]},"properties":{"messageType":"MTN OBSC","messageTxt":"AIRMET MTN OBSCN...CA NV UT  \\nFROM 70SSE BAM TO 30ESE ILC TO 50SSW ILC TO 40NW LAS TO 50WSW  \\nLAS TO 50NNE LAX TO 20ENE EHF TO 60E CZQ TO 50NNE OAL TO 70SSE  \\nBAM  \\nMTNS OBSC BY FU/HZ. CONDS CONTG BYD 21Z THRU 03Z.  \\n.  \\n","validDateTime":"2024-07-26T14:45:00.000Z","expirationDateTime":"2024-07-26T21:00:00.000Z","topLevel":null,"bottomLevel":null}},{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-122.421,38.0756],[-119.654,35.0043],[-118.015,34.0633],[-116.815,32.7767],[-117.513,32.1612],[-120.21,30.1503],[-123.457,35.1101],[-123.587,37.4851],[-122.421,38.0756]]]},"properties":{"messageType":"IFR","messageTxt":"AIRMET IFR...CA AND CSTL WTRS  \\nFROM 20E PYE TO 40SW EHF TO 20ENE LAX TO 20E MZB TO 40SSW MZB TO  \\n220SW MZB TO 130SW SNS TO 50SW PYE TO 20E PYE  \\nCIG BLW 010/VIS BLW 3SM BR/FG. CONDS CONTG BYD 21Z THRU 03Z.  \\n.  \\n","validDateTime":"2024-07-26T14:45:00.000Z","expirationDateTime":"2024-07-26T21:00:00.000Z","topLevel":null,"bottomLevel":null}}],"meta":{"name":"v1.sierraAirmets.?limit=5&circle=-13124567.965,4150299.834,200&distanceUnits=km&srid=3857","uuid":"343a92b6-faef-4670-9c68-f2e93c54b2ce","request_id":"87f02fea-1f75-4196-a854-e3b61e994214","start_timestamp":1722008314797,"end_timestamp":1722008316123,"execution_time":1326}}},"SierraAirmetBadRequestResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/sierraAirmets/?limit=5&circle=-13124567.965,4150299.834,200&distanceUnits=km&srid=900913","type":"bad-request","title":"Invalid Request","status":400,"detail":"Validation failed.","instance":"urn:dtn:aviation-api:/v1/sierraAirmets/:requestId:a6b34099-4766-4fbe-8bfb-eb86a01196ab","errors":[{"message":"SRID must be one of '4326' (default), '3857'","parameter":"srid","value":900913},{"message":"X dimension value outside bounds for SRID, e.g., longitude <-180 or >180 for default SRID 4326","parameter":"circle","value":"-13124567.965,4150299.834,200"}],"meta":{"name":"v1.sierraAirmets.?limit=5&circle=-13124567.965,4150299.834,200&distanceUnits=km&srid=900913","uuid":"008747e1-2eac-4ebf-af44-c5cea73d943d","request_id":"a6b34099-4766-4fbe-8bfb-eb86a01196ab","start_timestamp":1722008802117,"end_timestamp":1722008802137,"execution_time":20}}},"TangoAirmetSuccessResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/tangoAirmets/?limit=5&corridor=-104.67,39.86,-94.71,39.30,-73.87,40.78,30","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-82.2795,43.1138],[-82.6764,42.207],[-82.1493,41.6384],[-80.2167,41.1667],[-78.9873,40.6165],[-78.8339,39.8161],[-79.4473,38.7542],[-81.9522,37.7774],[-82.0167,38.75],[-84.6687,39.0463],[-85.195,40.9783],[-82.2795,43.1138]]]},"properties":{"severity":"MODERATE","messageTxt":"AIRMET TURB...PA OH LE WV MD  \\nFROM 20ESE ECK TO 30E DXO TO 20NW CLE TO 20N EWC TO 20NNW JST TO  \\n30S JST TO 20ESE EKN TO 40W BKW TO HNN TO CVG TO FWA TO 20ESE ECK  \\nMOD TURB BTN FL280 AND FL420. CONDS CONTG BYD 21Z THRU 03Z.  \\n.  \\n","validDateTime":"2024-07-26T14:45:00.000Z","expirationDateTime":"2024-07-26T21:00:00.000Z","topLevel":42000,"bottomLevel":28000}},{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-69.2528,47.4988],[-67.3392,47.1496],[-67.5962,45.8065],[-66.1286,44.9368],[-68.1562,44.3259],[-71.005,42.3642],[-72.0318,41.5234],[-73.4537,40.8675],[-74.5333,40.5667],[-76.0082,41.1912],[-75.7516,42.0581],[-73.9582,45.1794],[-72.0983,44.9641],[-70.9742,45.6174],[-69.2528,47.4988]]]},"properties":{"severity":"MODERATE","messageTxt":"AIRMET TURB...ME NH VT MA RI CT NY NJ PA AND CSTL WTRS  \\nFROM 70NW PQI TO 40NE PQI TO 20SSE HUL TO 30SSW YSJ TO 40SE BGR  \\nTO BOS TO 30WSW PVD TO 20NE JFK TO 30S SAX TO 40NNW ETX TO 20W  \\nHNK TO 40ENE MSS TO 50NNE MPV TO 70SSE YQB TO 70NW PQI  \\nMOD TURB BLW 070. CONDS ENDG 15-18Z.  \\n.  \\n","validDateTime":"2024-07-26T14:45:00.000Z","expirationDateTime":"2024-07-26T21:00:00.000Z","topLevel":7000,"bottomLevel":0}},{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-82.2795,43.1138],[-85.195,40.9783],[-84.6687,39.0463],[-82.0167,38.75],[-81.9522,37.7774],[-84.5024,36.7262],[-94.1167,36.25],[-95.2,37.15],[-95.9575,37.3958],[-95.7632,37.3331],[-94.2992,39.1621],[-92.5447,40.0936],[-90.842,40.5505],[-88.5694,41.382],[-86.725,42.266],[-84.3571,42.7645],[-82.2795,43.1138]]]},"properties":{"severity":"MODERATE","messageTxt":"AIRMET TURB...KS IA MO LM MI LH IL IN KY  \\nFROM 20ESE ECK TO FWA TO CVG TO HNN TO 40W BKW TO 30SW LOZ TO  \\nRZC TO OSW TO 40WNW OSW TO 30WNW OSW TO 20ESE MCI TO IRK TO  \\n40NNE UIN TO 20WSW JOT TO 30WSW PMM TO 30WSW FNT TO 20ESE ECK  \\nMOD TURB BTN FL280 AND FL420. CONDS CONTG BYD 21Z THRU 03Z.  \\n.  \\n","validDateTime":"2024-07-26T14:45:00.000Z","expirationDateTime":"2024-07-26T21:00:00.000Z","topLevel":42000,"bottomLevel":28000}}],"meta":{"name":"v1.tangoAirmets.?limit=5&corridor=-104.67,39.86,-94.71,39.30,-73.87,40.78,30","uuid":"d6d78723-2dd6-4425-8625-eb94b6c7f10e","request_id":"426269a5-14ff-4421-9f51-2de2e8235d87","start_timestamp":1722009232857,"end_timestamp":1722009234977,"execution_time":2120}}},"TangoAirmetBadRequestResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/tangoAirmets/?limit=5&polygon=-210,40,-100,40,-90,50,-110,50","type":"bad-request","title":"Invalid Request","status":400,"detail":"Validation failed.","instance":"urn:dtn:aviation-api:/v1/tangoAirmets/:requestId:b86763bd-8409-4188-95e3-0034aa903e11","errors":[{"message":"X dimension value outside bounds for SRID, e.g., longitude <-180 or >180 for default SRID 4326","parameter":"polygon","value":"-210,40,-100,40,-90,50,-110,50"}],"meta":{"name":"v1.tangoAirmets.?limit=5&polygon=-210,40,-100,40,-90,50,-110,50","uuid":"4b6876bb-e948-4f37-8d3e-da7e8bfaf467","request_id":"b86763bd-8409-4188-95e3-0034aa903e11","start_timestamp":1722009867583,"end_timestamp":1722009867599,"execution_time":16}}},"ZuluAirmetSuccessResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/zuluAirmets/?bbox=-85,32,-80,37&isValidAt=2024-07-26%2018:00:00Z","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-88.6558,36.5787],[-82.8811,36.1693],[-85.15,34.9667],[-84.7751,33.2379],[-90.6037,30.8646],[-93.478,29.8844],[-95.3171,31.2269],[-94.3988,33.8002],[-91.939,36.1144],[-88.6558,36.5787]]]},"properties":{"severity":"MODERATE","iceType":null,"messageTxt":"AIRMET ICE...OK TX AR TN LA MS AL  \\nFROM 50NE DYR TO 40WSW HMV TO GQO TO 20NE LGC TO 20SSW MCB TO  \\n20SW LCH TO 30W LFK TO 30NW TXK TO 50W ARG TO 50NE DYR  \\nMOD ICE BTN 140 AND FL280. CONDS CONTG BYD 21Z THRU 03Z.  \\n.  \\n","validDateTime":"2024-07-26T14:45:00.000Z","expirationDateTime":"2024-07-26T21:00:00.000Z","topLevel":28000,"bottomLevel":14000}},{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-82.8811,36.1693],[-81.5357,35.9541],[-81.5118,34.555],[-82.7241,34.5012],[-83.3,33.8667],[-84.7751,33.2379],[-85.15,34.9667],[-82.8811,36.1693]]]},"properties":{"severity":"MODERATE","iceType":null,"messageTxt":"AIRMET ICE...NC SC GA  \\nFROM 40WSW HMV TO 40SE HMV TO 30SE SPA TO 30ESE ODF TO 50S ODF TO  \\n20NE LGC TO GQO TO 40WSW HMV  \\nMOD ICE BTN 140 AND FL280. CONDS DVLPG AFT 15Z. CONDS CONTG BYD  \\n21Z ENDG BY 00Z.  \\n.  \\n","validDateTime":"2024-07-26T14:45:00.000Z","expirationDateTime":"2024-07-26T21:00:00.000Z","topLevel":28000,"bottomLevel":14000}},{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[-72.419,37.1841],[-72.5889,34.9899],[-76.6865,31.7956],[-80.0403,33.2319],[-80.8211,33.6965],[-81.3695,34.4367],[-80.6821,35.8336],[-78.3345,36.2236],[-75.8673,36.4892],[-72.419,37.1841]]]},"properties":{"severity":"MODERATE","iceType":null,"messageTxt":"AIRMET ICE...NC SC AND CSTL WTRS  \\nFROM 160SE SIE TO 190ESE ECG TO 160SSE ILM TO 20N CHS TO 20SE CAE  \\nTO 40SE SPA TO 40WSW GSO TO 30NE RDU TO 20NE ECG TO 160SE SIE  \\nMOD ICE BTN 140 AND FL280. CONDS CONTG BYD 21Z THRU 03Z.  \\n.  \\nFRZLVL...RANGING FROM 145-160 ACRS AREA  \\n....  \\n  \\n\\n\\n\\n\\n\\n\\n","validDateTime":"2024-07-26T14:45:00.000Z","expirationDateTime":"2024-07-26T21:00:00.000Z","topLevel":28000,"bottomLevel":14000}}],"meta":{"name":"v1.zuluAirmets.?bbox=-85,32,-80,37&isValidAt=2024-07-26%2018:00:00Z","uuid":"be04973d-5143-4388-8a17-3910f4aef49e","request_id":"f7980cf0-e3b5-44c5-81de-25c7e90b4c9f","start_timestamp":1722010050894,"end_timestamp":1722010051258,"execution_time":364}}},"ZuluAirmetBadRequestResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/zuluAirmets/?severities=MOODERATE,SEVERE,EXTREME&polygon=-90,30,-80,30,-80,40,-90,40","type":"bad-request","title":"Invalid Request","status":400,"detail":"Validation failed.","instance":"urn:dtn:aviation-api:/v1/zuluAirmets/:requestId:a9564162-8120-4647-8d4a-69c9cb197b73","errors":[{"message":"Parameter value includes unpermitted characters or is otherwise not allowed","parameter":"severities","value":"MOODERATE,SEVERE,EXTREME"}],"meta":{"name":"v1.zuluAirmets.?severities=MOODERATE,SEVERE,EXTREME&polygon=-90,30,-80,30,-80,40,-90,40","uuid":"26468c4c-2a0f-4279-9539-4699aa47b194","request_id":"a9564162-8120-4647-8d4a-69c9cb197b73","start_timestamp":1722010468309,"end_timestamp":1722010468320,"execution_time":11}}}},"requestBodies":{},"headers":{},"links":{},"callbacks":{}},"tags":[{"name":"Health","description":""},{"name":"NOTAM","description":"World wide NOTAMS available from various sources, FAA SWIM, EAD and others. Using a hierarchy to avoid duplicated NOTAMS"},{"name":"PIREP","description":"On demand PIREPS via API"},{"name":"SIGMET","description":"On demand SIGMETs via API"},{"name":"Possible SIGMET FIR names","description":"List of possible FIR names that may be used with firNames parameter for SIGMET requests via API"},{"name":"Convective SIGMET","description":"On demand Convective SIGMETs via API"},{"name":"Sierra (IFR) AIRMET","description":"On demand Sierra (IFR) AIRMETs via API"},{"name":"Tango (Turbulence) AIRMET","description":"On demand Tango (Turbulence) AIRMETs via API"},{"name":"Zulu (Icing) AIRMET","description":"On demand Zulu (Icing) AIRMETs via API"}],"security":[{"clientCredentials":[]}]}