{"openapi":"3.0.3","info":{"title":"Storm Impact Analytics API","description":"# Introduction  \n<p>The DTN Storm Impact Analytics API delivers AI/ML electricity customers out and incident predictions to enable storm event declarations, escalation of emergency preparedness plans, and mobilization of resources and materials to minimize the impact of storm events. The models are trained using customer provided data to ensure the predictions are tailored to a specific service territory with predictions produced every six (6) hours.</p> <p>DTN utilizes the latest weather forecast technology, data science approaches, and cloud computing infrastructure to ensure the best predictions possible. The AI/ML predictive models are retrained and performance validated quarterly to optimize their performance on a regional basis. </p> <p>If you have questions about the Storm Impact Analytics API, please contact your DTN account representative.</p>","version":"1.0.0"},"servers":[{"url":"https://sia.dtn.com"}],"security":[{"clientCredentials":[]}],"paths":{"/v1/health-check":{"get":{"summary":"Health check endpoint","description":"Returns the health status of the API","operationId":"healthCheck","security":[],"responses":{"200":{"description":"API is healthy","content":{"application/json":{"schema":{"$ref":"#/components/schemas/healthCheck"}}}}}}},"/v1/weather-events":{"get":{"summary":"Get all active weather events.","description":"Returns list of all of the non-archived weather events. These are the same weather events that are visible within the SIA web application.","operationId":"geoWeatherEvents","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/weatherEvent"}}}}}}}},"/v1/hourly-predictions":{"get":{"summary":"Get hourly predictions for each of your entire service region.","description":"Returns hourly predictions for an entire service territory. Includes hourly \"best\" and \"base\" values for each hour for the next 7 days. Predictions are generated every six (6) hours.","operationId":"getHourlyPredictions","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/hourlyPrediction"}}}}}}}},"/v1/service-area-geojson":{"get":{"summary":"Get the geoJson of the entire service area.","description":"Returns a feature collection containing the geoJson of the entire service region.","operationId":"getServiceAreaGeoJson","parameters":[{"$ref":"#/components/parameters/geolevel"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/featureCollection"}}}}}}},"/v1/event-predictions/{weatherEventId}":{"get":{"summary":"Get predictions for each of your regions for a specific weather event.","description":"Returns predictions for each geo area included in a specific weather event.","operationId":"getEventPredictions","parameters":[{"$ref":"#/components/parameters/weatherEventId"},{"$ref":"#/components/parameters/geolevel"},{"name":"predictionType","in":"query","required":false,"schema":{"type":"string","enum":["outages"]},"description":"Type of prediction (defaults to \"outages\" if not provided)"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/weatherEventPredictions"}}}}}}}},"/v1/event-geojson/{weatherEventId}":{"get":{"summary":"Get predictions and geoJson for each of your regions for a specific weather event.","description":"Returns a feature collection containing the geoJson of the service region affected by a weather event.","operationId":"getEventGeoJson","parameters":[{"$ref":"#/components/parameters/weatherEventId"},{"$ref":"#/components/parameters/geolevel"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/eventFeatureCollection"}}}}}}},"/v1/similar-storms/{weatherEventId}":{"get":{"summary":"Get the historic events that are similar to the passed in event.","description":"Returns the historic events that match the passed in event the closest. It tries to match on weather conditions as well as time frame.","operationId":"getSimilarStorms","parameters":[{"$ref":"#/components/parameters/weatherEventId"},{"$ref":"#/components/parameters/territoryId"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/similarStorms"}}}}}}}},"components":{"parameters":{"geolevel":{"name":"geolevel","description":"Name of desired geo level.","example":"Division","in":"query","required":false,"schema":{"type":"string"}},"territoryId":{"name":"territoryId","description":"Name of desired territory id, if not passed in, the highest level territory will be selected automatically.","example":"Oklahoma","in":"query","required":false,"schema":{"type":"string"}},"weatherEventId":{"name":"weatherEventId","description":"Unique identifier for the weather event the predictions are desired. Can be fetched from /v1/weather-events.","example":"bc2cb2cb-ce88-12bd-b946-2ce642e5bfae","in":"path","required":true,"schema":{"type":"string"}}},"schemas":{"healthCheck":{"type":"object","properties":{"status":{"type":"string","example":"up","description":"Current status of the API"},"version":{"type":"string","example":"1.0.0","description":"Version of the API"},"info":{"type":"string","example":"Service is healthy","description":"Additional information about the service status"},"timestamp":{"type":"string","format":"date-time","example":"2025-09-12T05:37:42.053Z","description":"Timestamp when the health check was performed"},"env":{"type":"string","example":"production","description":"Environment where the API is running"}}},"weatherEvent":{"type":"object","properties":{"weatherEventId":{"type":"string","example":"5a1ca18f-223b-4b2b-8b75-6cb0baba2717","description":"Unique identifier for the weather event"},"modelType":{"type":"string","example":"rain-wind-model","description":"Type of weather model used"},"predictionType":{"type":"string","example":"outages-prediction","description":"Type of prediction being made"},"startDate":{"type":"string","format":"date-time","example":"2025-09-14T21:00:00Z","description":"Start date and time of the weather event"},"endDate":{"type":"string","format":"date-time","example":"2025-09-15T15:00:00Z","description":"End date and time of the weather event"},"confidence":{"type":"string","example":"medium-confidence","description":"Confidence level of the prediction"},"updateDateTime":{"type":"string","format":"date-time","example":"2025-09-14T04:13:25.262Z","description":"When the weather event data was last updated"},"videoLink":{"type":"string","example":"","description":"Link to related video content"}}},"hourlyPrediction":{"type":"object","properties":{"predictionType":{"type":"string","example":"outages-prediction","description":"Type of prediction being made"},"modelType":{"type":"string","example":"rain-wind-model","description":"Type of weather model used"},"wrfDateTime":{"type":"string","format":"date-time","example":"2025-09-14T00:00:00Z","description":"Weather Research and Forecasting model date and time"},"insertedDateTime":{"type":"string","format":"date-time","example":"2025-09-14T02:18:38.959Z","description":"When the prediction data was inserted"},"regionName":{"type":"string","example":"AusNet","description":"Name of the region"},"regionAbbreviation":{"type":"string","nullable":true,"example":null,"description":"Abbreviation of the region"},"estimates":{"type":"array","items":{"$ref":"#/components/schemas/predictionEstimate"},"description":"Array of hourly prediction estimates"}}},"predictionEstimate":{"type":"object","properties":{"best":{"type":"number","format":"float","example":1.09,"description":"Best case prediction value"},"base":{"type":"number","format":"float","example":1.09,"description":"Base case prediction value"},"predictionDateTime":{"type":"string","format":"date-time","example":"2025-09-14T00:00:00Z","description":"Date and time for this prediction estimate"}}},"geoArea":{"type":"object","properties":{"name":{"type":"string","example":"AusNet","description":"Name of the geographic area"},"abbreviation":{"type":"string","nullable":true,"example":null,"description":"Abbreviation for the geographic area"},"stormRank":{"type":"integer","example":81,"description":"Ranking of this storm relative to historical storms"},"totalStorms":{"type":"integer","example":201,"description":"Total number of storms in the historical dataset"}}},"similarStorms":{"type":"object","properties":{"eventId":{"type":"string","example":"5a1ca18f-223b-4b2b-8b75-6cb0baba2717","description":"Unique identifier for a specific weather event. Can be used in the /v1/event-predictions endpoint to get the predictions for the event."},"geoAreaId":{"type":"string","example":"Ausnet","description":"Full name of the region the predictions are for."},"startDate":{"type":"string","format":"date-time","example":"2025-09-14T21:00:00.000+00:00","description":"Start date and time of the weather event"},"duration":{"type":"number","example":18,"description":"Length, in hours, of the passed in weather event."},"maxWind":{"type":"number","example":57,"description":"The max wind gust predicted for the passed in weather event. In MPH."},"windDirection":{"type":"string","example":"N","description":"The direction the wind is predicted to be moving in."},"totalPrecipitation":{"type":"number","example":0,"description":"The total precipitation amount predicted for the passed in weather event. In inches."},"snowPrecipitation":{"type":"number","example":0,"description":"The total snow amount predicted for the passed in weather event. In inches."},"bestPrediction":{"type":"number","example":174,"description":"Best predicted number of outages for the passed in weather event."},"similarEvents":{"type":"array","items":{"$ref":"#/components/schemas/similarStorm"}}}},"similarStorm":{"type":"object","properties":{"geoAreaId":{"type":"string","example":"Ausnet","description":"Full name of the region the similar event is referencing."},"startDate":{"type":"string","format":"date-time","example":"2020-09-06T18:00:00.000+00:00","description":"Timestamp of the start of the similar event."},"duration":{"type":"object","properties":{"value":{"type":"number","example":35,"description":"Length, in hours, of the similar event."},"similarityLegend":{"type":"string","example":"L","description":"The similarity to the passed in weather event. Can be L, M, H for low, medium, and high respectively."}}},"maxWind":{"type":"object","properties":{"value":{"type":"number","example":60,"description":"The max wind gust observed for the similar event. In MPH."},"similarityLegend":{"type":"string","example":"H","description":"The similarity to the passed in weather event. Can be L, M, H for low, medium, and high respectively."}}},"windDirection":{"type":"object","properties":{"value":{"type":"string","example":"N","description":"The direction the wind was moving in during the similar event."},"similarityLegend":{"type":"string","example":"H","description":"The similarity to the passed in weather event. Can be L, M, H for low, medium, and high respectively."}}},"totalPrecipitation":{"type":"object","properties":{"value":{"type":"number","example":0.06,"description":"The total precipitation amount observed for the similar event. In inches."},"similarityLegend":{"type":"string","example":"L","description":"The similarity to the passed in weather event. Can be L, M, H for low, medium, and high respectively."}}},"snowPrecipitation":{"type":"object","properties":{"value":{"type":"number","example":0,"description":"The total snow amount observed for the similar event. In inches."},"similarityLegend":{"type":"string","example":"","description":"The similarity to the passed in weather event. Can be L, M, H for low, medium, and high respectively."}}},"outages":{"type":"object","properties":{"value":{"type":"number","example":319,"description":"The number of outages observed for the similar event."},"similarityLegend":{"type":"string","example":"L","description":"The similarity to the passed in weather event. Can be L, M, H for low, medium, and high respectively."}}},"totalCustomersOut":{"type":"number","example":22564,"description":"The total observed number of utility customers reported to be out in this similar event."},"restorationTime":{"type":"number","example":23,"description":"The observed number of hours it took to fully recover from the similar event."},"peakHourlyIncidents":{"type":"number","example":19,"description":"The peak observed number of outage incidents reported for the similar event."},"peakHourlyCustomersOut":{"type":"number","example":7461,"description":"The peak observed number of utility customers reported to be out in this similar event."}}},"weatherEventPredictions":{"type":"object","properties":{"geoLevelName":{"type":"string","example":"Zone","description":"The name of the geo level that this prediction's area falls under."},"geoAreaName":{"type":"string","example":"CENTRAL","description":"The name of the region that this prediction is for."},"predictionType":{"type":"string","example":"outages-prediction","description":"Type of predictions, either customers-out-prediction or outages-prediction."},"prediction":{"type":"number","example":140,"description":"Best predicted value for this prediction."},"maxPrediction":{"type":"number","example":149,"description":"Upper prediction range value."},"minPrediction":{"type":"number","example":100,"description":"Lower prediction range value."},"predictionRunTime":{"type":"string","format":"date-time","example":"2025-09-14T04:13:27.014Z","description":"Date time of the weather model run these predictions were calculated with. In UTC time."}}},"geoAreaRank":{"type":"object","properties":{"name":{"type":"string","example":"Oklahoma","description":"Full name of the region the predictions are for."},"abbreviation":{"type":"string","example":"OK","description":"Abbreviated name of the region."},"stormRank":{"type":"number","example":129,"description":"The rank of severity as compared to historic events used in the AI/ML model training."},"totalStorms":{"type":"number","example":254,"description":"The total number of historic event used in the AI/ML model training."}}},"estimate":{"type":"object","properties":{"prediction":{"type":"number","example":6.67,"description":"Best predicted value for this hourly prediction, changes based on predictionType defined."},"base":{"type":"number","example":5.91,"description":"Baseline predicted value for this hourly prediction, changes based on predictionType defined."},"predictionDateTime":{"type":"string","example":"2024-04-16T13:00:00Z","description":"Date time of this single estimate. In UTC time."}}},"prediction":{"type":"object","properties":{"predictionType":{"type":"string","example":"outages-prediction","description":"Type of predictions, either customers-out or outages-prediction."},"modelType":{"type":"string","example":"rain-wind-model","description":"The model or storm type used to generate prediction values."},"wrfDateTime":{"type":"string","example":"2024-04-16T12:00:00Z","description":"Date time of the weather model run these predictions were calculated with. In UTC time."},"insertedDateTime":{"type":"string","example":"2024-04-16T14:43:52.380Z","description":"Date time that the AI/ML model predictions were completed and inserted. In UTC time."},"regionName":{"type":"string","example":"Oklahoma","description":"Full name of the region the predictions are for."},"regionAbbreviation":{"type":"string","example":"OK","description":"Abbreviated name of the region."},"estimates":{"type":"array","items":{"$ref":"#/components/schemas/estimate"}}}},"featureProperties":{"type":"object","properties":{"name":{"type":"string","example":"CENTRAL","description":"Name of a specific feature."},"description":{"type":"string","example":"Zone","description":"Description of the geographic level."},"prediction":{"type":"number","example":293,"description":"Best predicted value for this hourly prediction."},"prediction_high":{"type":"number","example":312,"description":"Upper 20% of the range model applied to this storm type."},"prediction_low":{"type":"number","example":216,"description":"Lower 80% of the range model applied to this storm type."}}},"eventFeatureProperties":{"type":"object","properties":{"description":{"type":"string","example":"Zone","description":"Name of a specific feature's geo level."},"geosubdivision_name":{"type":"string","example":"CENTRAL","description":"Name of a specific feature."},"outage_model_run_date":{"type":"number","example":1757808000000,"description":"The outage model run date represented as the number of milliseconds elapsed since the epoch."},"predicted_outage_count":{"type":"number","example":140,"description":"Best predicted value for this prediction."},"max_predicted_outage_count":{"type":"number","example":149,"description":"Upper prediction range value."},"min_predicted_outage_count":{"type":"number","example":100,"description":"Lower prediction range value."}}},"feature":{"type":"object","properties":{"type":{"type":"string","example":"Feature"},"properties":{"$ref":"#/components/schemas/featureProperties"},"geometry":{"type":"object","properties":{"type":{"type":"string","example":"Polygon"},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"number"}}},"example":[[[145.103,-37.744],[145.102,-37.741],[145.107,-37.738]]]}}}}},"eventFeature":{"type":"object","properties":{"id":{"type":"string","example":"0","description":"Unique identifier for the feature"},"type":{"type":"string","example":"Feature"},"properties":{"$ref":"#/components/schemas/eventFeatureProperties"},"geometry":{"type":"object","properties":{"type":{"type":"string","example":"Polygon"},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"number"}}},"example":[[[145.103,-37.744],[145.102,-37.741],[145.107,-37.738]]]}}}}},"featureCollection":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#/components/schemas/feature"}}}},"eventFeatureCollection":{"type":"object","properties":{"type":{"type":"string","example":"FeatureCollection"},"features":{"type":"array","items":{"$ref":"#/components/schemas/eventFeature"}}}}},"responses":{"NotAuthenticatedError":{"description":"The apikey or JWT token provided is invalid.","content":{"application/json":{"schema":{"$ref":"https://content-services.dtn.com/api-specs/common/apigee-error-domain-1.0.yaml#/definitions/Error"}}}},"NotAuthorizedError":{"description":"The key and JWT tokens are valid, however the requested data is not authorized for the accounts the keys represent.","content":{"application/json":{"schema":{"$ref":"https://content-services.dtn.com/api-specs/common/apigee-error-domain-1.0.yaml#/definitions/Error"}}}},"BadRequestError":{"description":"Bad request.  Returned when request is poorly formatted or contains invalid parameters.","content":{"application/json":{"schema":{"$ref":"https://content-services.dtn.com/api-specs/common/apigee-error-domain-1.0.yaml#/definitions/Error"}}}},"NotFoundError":{"description":"The object requested does not exist.","content":{"application/json":{"schema":{"$ref":"https://content-services.dtn.com/api-specs/common/apigee-error-domain-1.0.yaml#/definitions/Error"}}}},"ServerError":{"description":"An error occurred while executing the request.","content":{"application/json":{"schema":{"$ref":"https://content-services.dtn.com/api-specs/common/apigee-error-domain-1.0.yaml#/definitions/Error"}}}}},"securitySchemes":{"clientCredentials":{"type":"oauth2","x-receive-token-in":"request-body","flows":{"clientCredentials":{"tokenUrl":"https://api.auth.dtn.com/v1/tokens/authorize"}},"description":"# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the DTN Storm Impact Analytics, you need to use the following audience: https://sia.dtn.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "}}}}