{"openapi":"3.0.2","info":{"title":"DTN METAR API","description":"METARs are a key piece of information required for flight planning and flight operations. DTN METAR API allows customers to get the data critical to them without unnecessary extra data.","version":"1.9.0"},"servers":[{"url":"https://aviation.api.dtn.com"}],"paths":{"/v1/metars/":{"get":{"tags":["METAR"],"summary":"Get active METARs","description":"Get all available METARs, potentially filtered by various query parameters.  All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/MetarSuccess"},"400":{"$ref":"#/components/responses/MetarBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryMetarUnitSystem"},{"$ref":"#/components/parameters/QueryStationIds"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/QueryIsValidAt"},{"$ref":"#/components/parameters/QueryFromDateTime"},{"$ref":"#/components/parameters/QueryUntilDateTime"},{"$ref":"#/components/parameters/QueryInsertedAfter"},{"$ref":"#/components/parameters/QueryInsertedThrough"},{"$ref":"#/components/parameters/QueryFlightCodes"},{"$ref":"#/components/parameters/QueryFlightCategories"}],"security":[{"clientCredentials":[]}]}}},"components":{"securitySchemes":{"clientCredentials":{"type":"oauth2","x-receive-token-in":"request-body","flows":{"clientCredentials":{"tokenUrl":"https://api.auth.dtn.com/v1/tokens/authorize"}},"description":"# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the DTN METARs API, you need to use the following audience: https://aviation.api.dtn.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "}},"schemas":{"Meta":{"title":"Meta","description":"Meta data attached to every response","required":["name","request_id","start_timestamp","end_timestamp","execution_time"],"type":"object","properties":{"name":{"type":"string"},"request_id":{"type":"string"},"start_timestamp":{"type":"integer"},"end_timestamp":{"type":"integer"},"execution_time":{"type":"integer"}}},"Error":{"title":"Error","description":"Error","required":["type","title","status","detail","meta"],"type":"object","properties":{"url":{"type":"string"},"type":{"enum":["internal-server-error","unauthorized","bad-request","service-unavailable","forbidden","not-found"],"type":"string"},"title":{"type":"string"},"status":{"type":"number"},"detail":{"type":"string"},"instance":{"type":"string"},"errors":{"type":"array","items":{"type":"object"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"GeoJsonObject":{"description":"GeoJSon object The coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.\n","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3"},"type":"object","properties":{"type":{"type":"string","enum":["Feature","FeatureCollection","Point","MultiPoint","LineString","MultiLineString","Polygon","MultiPolygon","GeometryCollection"]},"bbox":{"description":"A GeoJSON object MAY have a member named \"bbox\" to include information on the coordinate range for its Geometries, Features, or FeatureCollections. The value of the bbox member MUST be an array of length 2*n where n is the number of dimensions represented in the contained geometries, with all axes of the most southwesterly point followed by all axes of the more northeasterly point. The axes order of a bbox follows the axes order of geometries.\n","type":"array","items":{"type":"number"}}},"required":["type"],"discriminator":{"propertyName":"type"}},"Point2D":{"type":"array","maxItems":2,"minItems":2,"items":{"type":"number"}},"Point":{"type":"object","description":"GeoJSon geometry","externalDocs":{"url":"http://geojson.org/geojson-spec.html#id2"},"allOf":[{"$ref":"#/components/schemas/Geometry"},{"properties":{"coordinates":{"$ref":"#/components/schemas/Point2D"}}}]},"Geometry":{"type":"object","description":"GeoJSon geometry","discriminator":{"propertyName":"type"},"required":["type"],"externalDocs":{"url":"http://geojson.org/geojson-spec.html#geometry-objects"},"properties":{"type":{"type":"string","enum":["Point","LineString","Polygon","MultiPoint","MultiLineString","MultiPolygon"],"description":"the geometry type"}}},"MetarItem":{"type":"object","required":["validDateTime","expirationDateTime","insertedDateTime","flightCode","flightCategory","visibility","temperature","dewpoint","humidity","windSpeed","windGust","windDirection","altimeter","stationId","stationName","stationPlace","rawTxt"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"insertedDateTime":{"type":"string","format":"date-time"},"flightCode":{"type":"number"},"flightCategory":{"type":"string"},"ceilingLow":{"type":"number","nullable":true},"ceilingMid":{"type":"number","nullable":true},"ceilingHigh":{"type":"number","nullable":true},"visibility":{"type":"number","nullable":true},"temperature":{"type":"number","nullable":true},"dewpoint":{"type":"number","nullable":true},"humidity":{"type":"number","nullable":true},"windSpeed":{"type":"number","nullable":true},"windGust":{"type":"number","nullable":true},"windDirection":{"type":"number","nullable":true},"altimeter":{"type":"number","nullable":true},"stationId":{"type":"string"},"stationName":{"type":"string"},"stationPlace":{"type":"string"},"rawTxt":{"type":"string"}}},"MetarList":{"type":"object","required":["url","metars","meta"],"properties":{"url":{"type":"string"},"metars":{"type":"array","items":{"$ref":"#/components/schemas/MetarItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"MetarFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/MetarItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"MetarFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/MetarFeature"}}}}]}},"parameters":{"QueryOffset":{"name":"offset","description":"Skip over this many into the response set; used for paginated results.","in":"query","required":false,"schema":{"type":"integer","default":0}},"QueryLimit":{"name":"limit","description":"Provide no more than this many items in the response set.","in":"query","required":false,"schema":{"type":"integer","default":1000,"minimum":1,"maximum":10000}},"QueryMetarUnitSystem":{"name":"unitSystem","description":"Identifier for units system used for numerical output values in METAR.  Must be either `default` or `metric`.  Default is `default`.  Field units depending on unit system:<br>                * `ceilingLow`: default=`ft`, metric=`m`<br>                * `ceilingMid`: default=`ft`, metric=`m`<br>                * `ceilingHigh`: default=`ft`, metric=`m`<br>                * `visibility`: default=`mi`, metric=`m`<br>                * `temperature`: default=`degC`, metric=`degC`<br>                * `dewpoint`: default=`degC`, metric=`degC`<br>                * `altimeter`: default=`inHg`, metric=`hPa`<br>                * `windSpeed`: default=`kts`, metric=`m/s`<br>                * `windGust`: default=`kts`, metric=`m/s`<br>                * `rvr#Visibility`: default=`ft`, metric=`m`<br>                * `rvr#MaxVisibility`: default=`ft`, metric=`m`","in":"query","required":false,"explode":false,"schema":{"type":"string","enum":["default","metric"],"default":"default"}},"QueryStationIds":{"name":"stationIds","description":"Comma-separated list of station identifier values.  Limits to objects whose `stationId` value matches one of specified parameter values.","in":"query","required":false,"schema":{"type":"string"}},"QueryBbox":{"name":"bbox","description":"Bounding box coordinates in the format `<min_X>,<min_Y>,<max_X>,<max_Y>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with bbox definition of area that crosses antimeridian will fail.","in":"query","required":false,"schema":{"type":"string"}},"QueryPolygon":{"name":"polygon","description":"Polygon coordinates in the format `<X_0>,<Y_0>,<X_1>,<Y_1>...,<X_n>,<Y_n>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  Must provide between 3 and 40 coordinates.  If the last `X,Y` does not match the first `X,Y`, the first `X,Y` is copied to the end to close the polygon.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with polygon definition of area that crosses antimeridian will fail or give unexpected results.","in":"query","required":false,"schema":{"type":"string"}},"QueryCircle":{"name":"circle","description":"Circle coordinates and radius distance in the format `<X>,<Y>,<RADIUS>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  The `<RADIUS>` defines the distance (in default or `distanceUnits`-specified units) from the defined point.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with circle definition of area that crosses antimeridian will fail.  The larger the defined area, the more its shape on projected map will differ from true circle on spherical coordinates.  Maximum allowed <RADIUS> is 400nm (and equal lengths for different `distanceUnits`).","in":"query","required":false,"schema":{"type":"string"}},"QueryCorridor":{"name":"corridor","description":"Line coordinates and distance from the line in the format `<X_0>,<Y_0>,<X_1>,<Y_1>...,<X_n>,<Y_n>,<HALFWIDTH>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  Must provide between 2 and 40 coordinates for the line.  The `<HALFWIDTH>` defines the distance (in default or `distanceUnits`-specified units) from the line defined by the coordinates out to which to create encompassing shape.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with corridor definition of area that crosses antimeridian will fail or give unexpected results.  The larger the defined area, the more its shape on projected map will differ from true corridor on spherical coordinates.  Maximum allowed <HALFWIDTH> is 200nm (and equal lengths for different `distanceUnits`).","in":"query","required":false,"schema":{"type":"string"}},"QueryDistanceUnits":{"name":"distanceUnits","description":"Units identifier for distances in definition for circle or corridor spatial filter.  Default is `nm` (nautical miles).","in":"query","required":false,"schema":{"type":"string","enum":["nm","km","m","sm"],"default":"nm"}},"QueryIsValidAt":{"name":"isValidAt","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is not earlier than the specified value and whose `expirationDateTime` is later than that specified value.  Allowed values relative to the current time vary depending on the data type.  A valid time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `expirationDateTime` is later than that specified value, i.e., only objects not ended by this time.  Allowed values relative to the current time vary depending on the data type.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is earlier than the specified value, i.e., only objects that began before this time.  Allowed values relative to the current time vary depending on the data type.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryInsertedAfter":{"name":"insertedAfter","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is later than that specified value.  This allows to acquire only data that became available after this time.  Requires use of fractional seconds for full precision.  Allowed values relative to the current time vary depending on the data type.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"QueryInsertedThrough":{"name":"insertedThrough","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is not later than that specified value.  This allows to acquire only data that became available through this time.  Requires use of fractional seconds for full precision.  Allowed values relative to the current time vary depending on the data type.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"QueryFlightCodes":{"name":"flightCodes","description":"Comma-separated list of flight code values.  Must include only allowed values.  Limits to objects whose `flightCode` value matches one of specified parameter values.","in":"query","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["1","2","3","4","0"]}}},"QueryFlightCategories":{"name":"flightCategories","description":"Comma-separated list of flight category values.  Must include only allowed values.  Limits to objects whose `flightCategory` value matches one of specified parameter values.","in":"query","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["VFR","MVFR","IFR","LIFR","UNKNOWN"]}}}},"responses":{"ErrorUnauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"unauthorized","title":"Error while authenticating the user","status":401,"detail":"Missing Authorization token.","instance":"urn:dtn:aviation-api:/v1/notams/KIND:requestId:19e1b83a-cb2e-4460-b687-ce9d0c50b4b6","meta":{"name":"v1.notams.KIND","uuid":"d64fc634-9bee-430d-8ab1-200337e6e9b2","request_id":"19e1b83a-cb2e-4460-b687-ce9d0c50b4b6","start_timestamp":1714019217213,"end_timestamp":1714019217246,"execution_time":33}}}}},"MetarSuccess":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetarFeatureCollection"},"examples":{"Success":{"$ref":"#/components/examples/MetarSuccessResponse"}}}}},"MetarBadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"BadRequest":{"$ref":"#/components/examples/MetarBadRequestResponse"}}}}}},"examples":{"MetarSuccessResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/metars/?corridor=-73.875,40.781,-71.005,42.365,30&flightCategories=IFR,LIFR","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-71.875555,42.267222]},"properties":{"flightCategory":"LIFR","ceilingLow":300,"visibility":2,"temperature":14,"dewpoint":13,"altimeter":29.81,"stationId":"KORH","stationName":"WORCESTER REGL","stationPlace":"WORCESTER","rawTxt":"METAR KORH 071454Z 19006KT 2SM RA BR OVC003 14/13 A2981 RMK AO2 SLP098 P0002 60018 T01390133 58008","wx1":"RA","wx2":"BR","cloudLayer1":"OVC003","validDateTime":"2024-10-07T14:54:00.000Z","expirationDateTime":"2024-10-07T16:54:00.000Z","insertedDateTime":"2024-10-07T14:56:22.318Z","flightCode":4,"humidity":94,"windSpeed":6,"windGust":null,"windDirection":190,"ogcFeatureId":491463454,"stationPriority":7000,"wmoCode1":"RA","wmoCode2":"BR","unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-73.1,40.795]},"properties":{"flightCategory":"IFR","ceilingLow":500,"ceilingMid":1700,"visibility":1,"temperature":18,"dewpoint":18,"altimeter":29.8,"stationId":"KISP","stationName":"LONG ISLAND MAC ARTHUR","stationPlace":"ISLIP","rawTxt":"METAR KISP 071456Z 24012KT 1SM R06/P6000FT -RA BR BKN005 OVC017 18/18 A2980 RMK AO2 SLP090 P0009 60009 T01830178 56007","wx1":"-RA","wx2":"BR","cloudLayer1":"BKN005","cloudLayer2":"OVC017","validDateTime":"2024-10-07T14:56:00.000Z","expirationDateTime":"2024-10-07T16:56:00.000Z","insertedDateTime":"2024-10-07T14:56:22.742Z","flightCode":3,"humidity":100,"windSpeed":12,"windGust":null,"windDirection":240,"ogcFeatureId":491463871,"stationPriority":7000,"wmoCode1":"-RA","wmoCode2":"BR","unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-72.18,41.743888]},"properties":{"flightCategory":"IFR","ceilingLow":700,"ceilingMid":1200,"visibility":1.75,"temperature":16,"dewpoint":16,"altimeter":29.8,"stationId":"KIJD","stationName":"WINDHAM","stationPlace":"WILLIMANTIC","rawTxt":"SPECI KIJD 071510Z AUTO 18006KT 1 3/4SM -RA BR BKN007 OVC012 16/16 A2980 RMK AO2 CIG 005V009 P0001 T01560156","wx1":"-RA","wx2":"BR","cloudLayer1":"BKN007","cloudLayer2":"OVC012","validDateTime":"2024-10-07T15:10:00.000Z","expirationDateTime":"2024-10-07T17:10:00.000Z","insertedDateTime":"2024-10-07T15:12:44.107Z","flightCode":3,"humidity":100,"windSpeed":6,"windGust":null,"windDirection":180,"ogcFeatureId":491468853,"stationPriority":4200,"wmoCode1":"-RA","wmoCode2":"BR","unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-71.288888,42.469722]},"properties":{"flightCategory":"IFR","ceilingLow":800,"ceilingMid":5500,"visibility":10,"temperature":13,"dewpoint":12,"altimeter":29.81,"stationId":"KBED","stationName":"HANSCOM","stationPlace":"BEDFORD","rawTxt":"METAR KBED 071451Z 15005KT 10SM BKN008 OVC055 13/12 A2981 RMK AO2 LTG DSNT E RAE47 SLP107 P0003 60014 T01330117 58005","cloudLayer1":"BKN008","cloudLayer2":"OVC055","validDateTime":"2024-10-07T14:51:00.000Z","expirationDateTime":"2024-10-07T16:51:00.000Z","insertedDateTime":"2024-10-07T14:53:42.421Z","flightCode":3,"humidity":94,"windSpeed":5,"windGust":null,"windDirection":150,"ogcFeatureId":491461506,"stationPriority":7000,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-71.758888,42.553888]},"properties":{"flightCategory":"LIFR","ceilingLow":400,"visibility":1.25,"temperature":13,"dewpoint":13,"altimeter":29.82,"stationId":"KFIT","stationName":"FITCHBURG MUN","stationPlace":"FITCHBURG","rawTxt":"METAR KFIT 071452Z AUTO 00000KT 1 1/4SM -RA BR OVC004 13/13 A2982 RMK AO2 RAB17 SLP099 P0002 60011 T01330128 56006","wx1":"-RA","wx2":"BR","cloudLayer1":"OVC004","validDateTime":"2024-10-07T14:52:00.000Z","expirationDateTime":"2024-10-07T16:52:00.000Z","insertedDateTime":"2024-10-07T14:53:55.977Z","flightCode":4,"humidity":100,"windSpeed":0,"windGust":null,"windDirection":0,"ogcFeatureId":491462169,"stationPriority":4500,"wmoCode1":"-RA","wmoCode2":"BR","unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-73.135,41.478333]},"properties":{"flightCategory":"IFR","ceilingLow":600,"visibility":10,"temperature":17,"dewpoint":16,"altimeter":29.82,"stationId":"KOXC","stationName":"WATERBURY-OXFORD","stationPlace":"OXFORD","rawTxt":"METAR KOXC 071456Z VRB04KT 10SM OVC006 17/16 A2982 RMK AO2 CIG 002V010 SLP108 60003 T01670161 58003","cloudLayer1":"OVC006","validDateTime":"2024-10-07T14:56:00.000Z","expirationDateTime":"2024-10-07T16:56:00.000Z","insertedDateTime":"2024-10-07T14:58:01.048Z","flightCode":3,"humidity":94,"windSpeed":4,"windGust":null,"windDirection":-999,"ogcFeatureId":491463375,"stationPriority":5800,"unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-71.803333,41.349444]},"properties":{"flightCategory":"IFR","ceilingLow":800,"ceilingMid":1400,"ceilingHigh":3500,"visibility":1.75,"temperature":17,"dewpoint":16,"altimeter":29.82,"stationId":"KWST","stationName":"Westerly State Airport","stationPlace":"WESTERLY","rawTxt":"SPECI KWST 071510Z AUTO 19008KT 1 3/4SM VCTS RA BR FEW008 BKN014 OVC035 17/16 A2982 RMK AO2 LTG DSNT E P0005 T01670156","wx1":"RA","wx2":"BR","cloudLayer1":"FEW008","cloudLayer2":"BKN014","cloudLayer3":"OVC035","validDateTime":"2024-10-07T15:10:00.000Z","expirationDateTime":"2024-10-07T17:10:00.000Z","insertedDateTime":"2024-10-07T15:12:33.752Z","flightCode":3,"humidity":94,"windSpeed":8,"windGust":null,"windDirection":190,"ogcFeatureId":491468856,"stationPriority":4000,"wmoCode1":"RA","wmoCode2":"BR","unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-71.491111,41.920555]},"properties":{"flightCategory":"IFR","ceilingLow":500,"visibility":9,"temperature":14,"dewpoint":null,"altimeter":29.83,"stationId":"KSFZ","stationName":"NORTH CENTRAL STATE","stationPlace":"PAWTUCKET","rawTxt":"METAR KSFZ 071456Z AUTO VRB04KT 9SM -RA OVC005 14/ A2983 RMK AO2 RAE05B30 SLP103 P0000 60024 T0144 55006","wx1":"-RA","cloudLayer1":"OVC005","validDateTime":"2024-10-07T14:56:00.000Z","expirationDateTime":"2024-10-07T16:56:00.000Z","insertedDateTime":"2024-10-07T14:57:44.048Z","flightCode":3,"humidity":null,"windSpeed":4,"windGust":null,"windDirection":-999,"ogcFeatureId":491463297,"stationPriority":5000,"wmoCode1":"-RA","unitSystem":"default"}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-72.861944,40.816666]},"properties":{"flightCategory":"IFR","ceilingLow":800,"ceilingMid":1200,"visibility":2,"temperature":18,"dewpoint":17,"altimeter":29.81,"stationId":"KHWV","stationName":"BROOKHAVEN","stationPlace":"SHIRLEY","rawTxt":"SPECI KHWV 071504Z AUTO 22010KT 2SM -RA BR SCT008 OVC012 18/17 A2981 RMK AO2 P0001 T01830167","wx1":"-RA","wx2":"BR","cloudLayer1":"SCT008","cloudLayer2":"OVC012","validDateTime":"2024-10-07T15:04:00.000Z","expirationDateTime":"2024-10-07T17:04:00.000Z","insertedDateTime":"2024-10-07T15:08:18.501Z","flightCode":3,"humidity":94,"windSpeed":10,"windGust":null,"windDirection":220,"ogcFeatureId":491467780,"stationPriority":4200,"unitSystem":"default"}}],"meta":{"name":"v1.metars.?corridor=-73.875,40.781,-71.005,42.365,30&flightCategories=IFR,LIFR","uuid":"d9d3e132-cede-4cdc-be13-9319988222f0","request_id":"eaa2e5b2-d848-43b4-8e41-092d3a9b6ba4","start_timestamp":1728314253986,"end_timestamp":1728314254518,"execution_time":532}}},"MetarBadRequestResponse":{"value":{"url":"https://aviation.api.dtn.com/v1/metars/?stationIds=Santa%20Barbara","type":"bad-request","title":"Invalid Request","status":400,"detail":"Validation failed.","instance":"urn:dtn:aviation-api:/v1/metars/:requestId:580a34e4-b1b6-443d-89f2-cdfe769a75db","errors":[{"message":"`stationIds` must be comma-separated list of string station identifiers","parameter":"stationIds","value":"SANTA BARBARA"}],"meta":{"name":"v1.metars.?stationIds=Santa%20Barbara","uuid":"6bc303fc-36bd-4a83-8489-e0fb7ef27afa","request_id":"580a34e4-b1b6-443d-89f2-cdfe769a75db","start_timestamp":1728314361530,"end_timestamp":1728314361947,"execution_time":417}}}},"requestBodies":{},"headers":{},"links":{},"callbacks":{}},"tags":[{"name":"METAR","description":"On demand METARs via API"}],"security":[{"clientCredentials":[]}]}