{"openapi":"3.0.0","info":{"title":"DTN Renewables API","version":"1.0.0","x-logo":{"url":"https://www.dtn.com/wp-content/uploads/2019/03/dtn-logo-tag.png","altText":"https://www.dtn.com"},"description":"# Introduction\nWelcome to DTN’s Renewables API.  This service empowers consumers with accurate, global, location-specific environmental data tailored for the renewable energy industry.  It caters to a wide range of scenarios, including:\n  * Developers optimizing site selection, turbine placement, and operational strategies for wind energy projects.\n  * Analysts simulating renewable energy generation, forecasting power output, and assessing project viability.\n  * Grid operators anticipating fluctuations in renewable energy supply that affect stability and efficiency.\n  * Institutions involved in research and development to enhance renewable energy technologies.\n  * Consultants assessing environmental impacts for compliance with regulatory requirements.\n\n\nKey Features:\n\n\n  * Obtain a detailed time series of environmental data for any location on Earth at hourly or sub-hourly intervals up to 15 days ahead, backed by DTN’s innovative global models and state-of-the-art cloud technology.\n  * Access essential content such as hub height wind speed, gust, and direction anywhere from 10 to 300 meters above ground level.\n  * Aggregate data on-the-fly over multiple hours using easy-to-understand query arguments.\n  * Specify a time range with UTC offsets to automatically convert the response to any local time zone for faster interpretation and integration into local operations.\n\n\nThe interactive documentation that follows is a guide to setting up requests, understanding responses, and leveraging all the features of the Renewables API.\n# Getting Started\n## Obtaining credentials\nTo get started, all users need their own client ID and client secret. Please contact an account manager or the [DTN sales team](https://www.dtn.com/contact-us/) to obtain these. Then, review the `Authentication` section to learn how to request an API access token. Do not share or use others' API credentials, since doing so may compromise information security.\n\n## Making requests\nThere are multiple ways to make an initial API request:\n\n**1. Interactive documentation:** Navigate to the `Authentication` section on this page, insert credentials to obtain an access token, then explore the API endpoints described in the `Endpoints` section.\n\n**2. Postman collection:** For a hands-on approach, consider downloading the Postman collection and environment from the top of this page. Insert credentials and start testing the API in Postman's interactive application.\n\n**3. Writing code:** Ready to start coding? Try the Python example below, replacing `client_id` and `client_secret` with proper credentials.  This invokes the forecast endpoint for hub height winds with a GET request and prints the response.\n\n```python\n  import requests\n  import urllib\n\n  #--- Obtain an API access token ---\n\n  auth_url = 'https://api.auth.dtn.com/v1/tokens/authorize'\n\n  body = {\n      'grant_type': 'client_credentials',\n      'client_id': '...insert your client id here...',\n      'client_secret': '...insert your client secret here...',\n      'audience': 'https://renewables.api.dtn.com'\n  }\n  response = requests.post(auth_url, json=body)\n  access_token = response.json()['data']['access_token']\n\n  #--- Invoke the API ---\n\n  api_base_url = 'https://renewables.api.dtn.com/v1'\n  query_parameters = urllib.parse.urlencode({\n      \"lat\": 35.47,\n      \"lon\": -97.51,\n      \"startTime\": \"2024-10-01T00:06:10Z\",\n      \"endTime\": \"2024-10-14T00:06:10Z\",\n  })\n  endpoint = '/hub-height-winds/forecast?' + query_parameters\n\n  headers = {'Authorization': 'Bearer ' + access_token}\n  response = requests.get(api_base_url + endpoint, headers=headers)\n\n  #--- Print the response ---\n\n  print(response.json())\n```"},"servers":[{"url":"https://renewables.api.dtn.com"}],"tags":[{"name":"Endpoints","description":"Renewables API has 3 endpoints that each cater to a specific need, whether it's the time series at a location or the associated metadata."},{"name":"Parameters","description":"Renewables API currently offers environmental parameters for a forecast time range up to 15 days in the future.\n\nIt’s possible to aggregate most parameters over multiple hours.  The tables that follow identify which parameters have corresponding aggregation parameter names.  To request an aggregation, just substitute the desired parameter name and specify an `interval` greater than 1 hour (see `Endpoints` section for details).  For example, if 100-meter wind speed (`windSpeed100m`) has corresponding parameters `windSpeed100mMax`, `windSpeed100mMin`, and `windSpeed100mAvg`, request parameter `windSpeed100mAvg` with `interval=6h` in the query string to obtain the 6-hour 100-meter wind speed average.\n## Hub Height Winds Parameters\nExpand the table below to view parameters available from the hub height winds endpoint and each one's description, unit of measurement, and whether it is a default. The API returns only defaults unless specific parameters are requested.\n<details> <summary>Click to expand...</summary>\n\n| Parameter               | Default | Description | Metric units | Imperial units | Aggregation Parameters |\n|-------------------------|---------|-------------|--------------|----------------|------------------------|\n| localOffsetHours        |         | The number of hours to add or subtract from the UTC timestamp in the response to obtain local time (accounting for Daylight Saving Time) at the requested latitude and longitude. | number of hours | number of hours | |\n| localTimezoneOlson      |         | The Olson time zone name at the requested latitude and longitude. | name of the timezone | name of the timezone | |\n| windDirection100m       | Yes     | The direction from which the wind is blowing at a height of 100 meters above the ground, measured in degrees with respect to true north. | degree | degree | windDirection100mAvg |\n| windDirection{n}m       |         | The direction from which the wind is blowing at a height of {n} meters above the ground (any whole number from 10-300), measured in degrees with respect to true north. | degree | degree | windDirection{n}mAvg |\n| windGust100m            | Yes     | The wind gust speed at a height of 100 meters above the ground. | meter per second | mile per hour | windGust100mMax, windGust100mMin, windGust100mAvg |\n| windGust{n}m            |         | The wind gust speed at a height of {n} meters above the ground (any whole number from 10-300). | meter per second | mile per hour | windGust{n}mMax, windGust{n}mMin, windGust{n}mAvg |\n| windSpeed100m           | Yes     | The wind speed at a height of 100 meters above the ground. | meter per second | mile per hour | windSpeed100mMax, windSpeed100mMin, windSpeed100mAvg |\n| windSpeed{n}m           |         | The wind speed at a height of {n} meters above the ground (any whole number from 10-300). | meter per second | mile per hour | windSpeed{n}mMax, windSpeed{n}mMin, windSpeed{n}mAvg |\n| windSpeed10mLowerBound  |         | Lower bound on the uncertainty in the 10-meter wind speed.  | meter per second | mile per hour | |\n| windSpeed10mUpperBound  |         | Upper bound on the uncertainty in the 10-meter wind speed.  | meter per second | mile per hour | |\n| windSpeed100mLowerBound |         | Lower bound on the uncertainty in the 100-meter wind speed. | meter per second | mile per hour | |\n| windSpeed100mUpperBound |         | Upper bound on the uncertainty in the 100-meter wind speed. | meter per second | mile per hour | |\n</details>\n\n## Solar Irradiance Parameters\nExpand the table below to view parameters available from the solar irradiance endpoint and each one's description, unit of measurement, and whether it is a default. The API returns only defaults unless specific parameters are requested.\n<details> <summary>Click to expand...</summary>\n\n| Parameter                    | Default | Description | Metric units | Imperial units | Aggregation Parameters |\n|------------------------------|---------|-------------|--------------|----------------|------------------------|\n| airTemp                      | Yes     | Air temperature at 2 meters above ground level. | degree Celsius | degree Fahrenheit | airTempMax, airTempMin, airTempAvg |\n| directNormalIrradiance       | Yes     | Direct Normal Irradiance (DNI) is the portion of instantaneous solar radiation reaching the Earth's surface that is perpendicular to the sun's rays, excluding diffuse sunlight. | watt per square meter | watt per square meter | directNormalIrradianceMax, directNormalIrradianceMin, directNormalIrradianceAvg |\n| diffuseHorizontalIrradiance  | Yes     | Diffuse Horizontal Irradiance (DHI) is the portion of instantaneous solar radiation reaching the Earth's surface that has been scattered by the atmosphere, excluding direct sunlight. | watt per square meter | watt per square meter | diffuseHorizontalIrradianceMax, diffuseHorizontalIrradianceMin, diffuseHorizontalIrradianceAvg |\n| globalNormalIrradiance       | Yes     | Global Normal Irradiance (GNI) is the total amount of solar radiation reaching the Earth's surface that is perpendicular to the sun's rays, including both direct and diffuse sunlight. | watt per square meter | watt per square meter | globalNormalIrradianceMax, globalNormalIrradianceMin, globalNormalIrradianceAvg |\n| globalRadiation              | Yes     | Total mean incoming solar radiation received on the Earth's surface, combining both direct sunlight and diffuse sky radiation over the past hour. | joule per square centimeter | joule per square centimeter | globalRadiationSum |\n| localOffsetHours             |         | The number of hours to add or subtract from the UTC timestamp in the response to obtain local time (accounting for Daylight Saving Time) at the requested latitude and longitude. | number of hours | number of hours | |\n| localTimezoneOlson           |         | The Olson time zone name at the requested latitude and longitude. | name of the timezone | name of the timezone | |\n| snowfallAmount               | Yes     | Total accumulation of snow (measured as depth, not liquid equivalent). | millimeter | inch | snowfallAmountSum |\n| shortWaveRadiation           | Yes     | Also called Global Horizontal Irradiance (GHI), this is the instantaneous high-energy solar radiation received at the Earth's surface, including both direct (DNI) and diffuse (DHI) sunlight. | watt per square meter | watt per square meter | shortWaveRadiationMax, shortWaveRadiationMin, shortWaveRadiationAvg |\n</details>"}],"paths":{"/":{"get":{"tags":["Parameters"]}},"/v1/hub-height-winds/forecast":{"get":{"tags":["Endpoints"],"summary":"Hub Height Winds Forecast","description":"This endpoint provides forecast wind parameters from 10-300 meters above ground level for any point on Earth. Specify the location, parameters of interest, and a time range from now until 15 days ahead. The API responds with the requested time series in GeoJSON format.\n\nUse the query string to customize the results in the response body:\n\n  * Specify a location as latitude (`lat`) and longitude (`lon`).  These are required.\n\n  * Specify `parameters` to filter the response to a specific, comma-separated list of environmental parameters. The API returns defaults when this is omitted.\n\n  * Specify `startTime` and `endTime` (using [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.8) format) for a forecast time range, or `startTime` alone for just one timestamp.\n\n  * Specify `units=us-std` to receive values as United States customary (imperial) units. The API returns metric units by default and when `units=si-std` is expressly requested.\n\n  * Specify `interval` to obtain sub-hourly (interpolated) or multi-hour (aggregated) results. The API returns hourly results by default.\n\nAll together, a complete request looks like:\n\n```\nhttps://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat={lat}&lon={lon}&startTime={start_time}&endTime={end_time}&interval={interval}&parameters={param1,param2}&units={units}\n```\n\n### How to change timesteps\n\nTo interpolate to sub-hourly timesteps, specify `interval=15m`, `interval=30m`, or `interval=45m` in the query string.  For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=15m&parameters=windDirection10m,windSpeed10m`\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=30m&parameters=windDirection10m,windSpeed10m`\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=45m&parameters=windDirection10m,windSpeed10m`\n\nTo aggregate over multiple hours, specify `interval={n}h` in the query string using a whole number of hours for `{n}`, from 2 to the timespan between `startTime` and `endTime`. Also, substitute the desired aggregation parameter names from the `Parameters` section. For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=2h&parameters=windDirection10mAvg,windSpeed10mMax`\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=6h&parameters=windDirection10mAvg,windSpeed10mMax`\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=24h&parameters=windDirection10mAvg,windSpeed10mMax`\n\nIn special cases, daily aggregations might require local timezone-aware aggregations to account of days with an one extra or less hour.  In these cases, specify `interval=1d` along with timezone-aware `startTime` and `endTime` values.  For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-11-03T00:00:00&endTime=2024-11-04T23:59:59&interval=1d&parameters=windDirection10mAvg,windSpeed10mMax`\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-03-09T00:00:00&endTime=2024-03-10T23:59:59&interval=1d&parameters=windDirection10mAvg,windSpeed10mMax`\n\n### How to change timezones\n\nTypically, `startTime` and `endTime` end with `Z` to indicate UTC time.  For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z`\n\nTo change timezones, specify a UTC offset (such as `+08:00` or `-05:00`) instead of `Z`. Note that the `+` symbol is a special URL character that must be encoded as `%2B`.  For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00-05:00&endTime=2024-10-10T00:00:00-05:00`\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00%2B08:00&endTime=2024-10-10T00:00:00%2B08:00`\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00-05:00&endTime=2024-10-10T00:00:00%2B08:00`\n\nTo obtain the local timezone at the requested location, omit the suffix entirely. For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00&endTime=2024-10-10T00:00:00`\n  * Fractional time zones\n      + Parameters:\n        + **startTime:** 2025-07-04T00:00:00\n        + **endTime:** 2025-07-04T23:59:59\n        + **interval:** 24h\n        + **lat:** 30.251\n        + **lon:** 62.569\n        \n      + Response:\n        ```json\n        \"properties\": {\n            \"2025-07-03T23:30:00+0430\": {\n                \"windDirection100mAvg\": 309,\n                \"windGust100mMax\": 8.6,\n                \"windGust100mMin\": 4.9,\n                \"windGust100mAvg\": 6.2,\n                \"windSpeed100mMax\": 6.6,\n                \"windSpeed100mMin\": 3.2,\n                \"windSpeed100mAvg\": 4.3\n            },\n            \"2025-07-04T23:30:00+0430\": {\n                \"windDirection100mAvg\": 325,\n                \"windGust100mMax\": 8.1,\n                \"windGust100mMin\": 8.1,\n                \"windGust100mAvg\": 8.1,\n                \"windSpeed100mMax\": 6,\n                \"windSpeed100mMin\": 6,\n                \"windSpeed100mAvg\": 6\n            }\n        }\n        ```\n      * Explanation:\n        * **Why** This response seems confusing at first becuase we have 2 data points when we seemingly only requested a single 24 hour interval.\n        * **Local Timezone Assumption** When requesting a start and end time that has no timezone, the timezone of the location requested will be used.\n          * For the example requested lat/lon the local timezone is UTC+04:30 (fractional timezone)\n        * **Inclusive Time Range** startTime is hour inclusive, meaning the API will return data for the top of the requested hour (in UTC).\n        * **UTC Conversion** All data is stored in UTC hourly.\n          * When we convert these requested timestamps to UTC, `startTime=2025-07-03T19:30:00Z`, `endTime=2025-07-04T19:29:59Z`\n        * Since startTime and endTime are `inclusive`, so the time range spans exactly 25 hours, not 24.\n        * Changing `endTime` to `2025-07-04T23:00:00` will result in a single interval returned.\n\nIn all cases, timestamps in the API response automatically match the timezone indicated by `startTime`.\n","operationId":"hubHeightWindsForecast","security":[{"clientCredentials":[]}],"parameters":[{"in":"header","name":"Accept-Encoding","schema":{"type":"string","description":"Use this request header to communicate which compression algorithms the client understands. The API supports gzip.","example":"gzip"}},{"in":"header","name":"Accept","schema":{"type":"string","description":"Use this request header to specify an acceptable response media type.","example":"application/json"}},{"name":"lat","in":"query","schema":{"type":"number","format":"float"},"example":35.47,"required":true},{"name":"lon","in":"query","schema":{"type":"number","format":"float"},"example":-97.51,"required":true},{"name":"startTime","in":"query","schema":{"type":"string","format":"date-time"},"example":"2024-10-01T00:06:10Z"},{"name":"endTime","in":"query","schema":{"type":"string","format":"date-time"},"example":"2024-10-14T00:06:10Z"},{"name":"interval","in":"query","schema":{"type":"string"},"example":"30m"},{"name":"parameters","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}},"example":"windSpeed100m,windGust100m,windDirection100m"},{"name":"units","in":"query","schema":{"type":"string"},"example":"us-std"}],"responses":{"200":{"description":"A successful request.","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"},"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number"}}}},"properties":{"type":"object","properties":{"2024-10-01T00:00:00Z":{"type":"object","properties":{"windDirection10m":{"type":"number"},"windGust10m":{"type":"number"},"windSpeed10m":{"type":"number"},"windDirection11m":{"type":"number"},"windGust11m":{"type":"number"},"windSpeed11m":{"type":"number"},"windDirection12m":{"type":"number"},"windGust12m":{"type":"number"},"windSpeed12m":{"type":"number"},"windDirection13m":{"type":"number"},"windGust13m":{"type":"number"},"windSpeed13m":{"type":"number"},"windDirection14m":{"type":"number"},"windGust14m":{"type":"number"},"windSpeed14m":{"type":"number"},"windDirection15m":{"type":"number"},"windGust15m":{"type":"number"},"windSpeed15m":{"type":"number"},"windDirection16m":{"type":"number"},"windGust16m":{"type":"number"},"windSpeed16m":{"type":"number"},"windDirection17m":{"type":"number"},"windGust17m":{"type":"number"},"windSpeed17m":{"type":"number"},"windDirection18m":{"type":"number"},"windGust18m":{"type":"number"},"windSpeed18m":{"type":"number"},"windDirection19m":{"type":"number"},"windGust19m":{"type":"number"},"windSpeed19m":{"type":"number"},"windDirection20m":{"type":"number"},"windGust20m":{"type":"number"},"windSpeed20m":{"type":"number"},"windDirection21m":{"type":"number"},"windGust21m":{"type":"number"},"windSpeed21m":{"type":"number"},"windDirection22m":{"type":"number"},"windGust22m":{"type":"number"},"windSpeed22m":{"type":"number"},"windDirection23m":{"type":"number"},"windGust23m":{"type":"number"},"windSpeed23m":{"type":"number"},"windDirection24m":{"type":"number"},"windGust24m":{"type":"number"},"windSpeed24m":{"type":"number"},"windDirection25m":{"type":"number"},"windGust25m":{"type":"number"},"windSpeed25m":{"type":"number"},"windDirection26m":{"type":"number"},"windGust26m":{"type":"number"},"windSpeed26m":{"type":"number"},"windDirection27m":{"type":"number"},"windGust27m":{"type":"number"},"windSpeed27m":{"type":"number"},"windDirection28m":{"type":"number"},"windGust28m":{"type":"number"},"windSpeed28m":{"type":"number"},"windDirection29m":{"type":"number"},"windGust29m":{"type":"number"},"windSpeed29m":{"type":"number"},"windDirection30m":{"type":"number"},"windGust30m":{"type":"number"},"windSpeed30m":{"type":"number"},"windDirection31m":{"type":"number"},"windGust31m":{"type":"number"},"windSpeed31m":{"type":"number"},"windDirection32m":{"type":"number"},"windGust32m":{"type":"number"},"windSpeed32m":{"type":"number"},"windDirection33m":{"type":"number"},"windGust33m":{"type":"number"},"windSpeed33m":{"type":"number"},"windDirection34m":{"type":"number"},"windGust34m":{"type":"number"},"windSpeed34m":{"type":"number"},"windDirection35m":{"type":"number"},"windGust35m":{"type":"number"},"windSpeed35m":{"type":"number"},"windDirection36m":{"type":"number"},"windGust36m":{"type":"number"},"windSpeed36m":{"type":"number"},"windDirection37m":{"type":"number"},"windGust37m":{"type":"number"},"windSpeed37m":{"type":"number"},"windDirection38m":{"type":"number"},"windGust38m":{"type":"number"},"windSpeed38m":{"type":"number"},"windDirection39m":{"type":"number"},"windGust39m":{"type":"number"},"windSpeed39m":{"type":"number"},"windDirection40m":{"type":"number"},"windGust40m":{"type":"number"},"windSpeed40m":{"type":"number"},"windDirection41m":{"type":"number"},"windGust41m":{"type":"number"},"windSpeed41m":{"type":"number"},"windDirection42m":{"type":"number"},"windGust42m":{"type":"number"},"windSpeed42m":{"type":"number"},"windDirection43m":{"type":"number"},"windGust43m":{"type":"number"},"windSpeed43m":{"type":"number"},"windDirection44m":{"type":"number"},"windGust44m":{"type":"number"},"windSpeed44m":{"type":"number"},"windDirection45m":{"type":"number"},"windGust45m":{"type":"number"},"windSpeed45m":{"type":"number"},"windDirection46m":{"type":"number"},"windGust46m":{"type":"number"},"windSpeed46m":{"type":"number"},"windDirection47m":{"type":"number"},"windGust47m":{"type":"number"},"windSpeed47m":{"type":"number"},"windDirection48m":{"type":"number"},"windGust48m":{"type":"number"},"windSpeed48m":{"type":"number"},"windDirection49m":{"type":"number"},"windGust49m":{"type":"number"},"windSpeed49m":{"type":"number"},"windDirection50m":{"type":"number"},"windGust50m":{"type":"number"},"windSpeed50m":{"type":"number"},"windDirection51m":{"type":"number"},"windGust51m":{"type":"number"},"windSpeed51m":{"type":"number"},"windDirection52m":{"type":"number"},"windGust52m":{"type":"number"},"windSpeed52m":{"type":"number"},"windDirection53m":{"type":"number"},"windGust53m":{"type":"number"},"windSpeed53m":{"type":"number"},"windDirection54m":{"type":"number"},"windGust54m":{"type":"number"},"windSpeed54m":{"type":"number"},"windDirection55m":{"type":"number"},"windGust55m":{"type":"number"},"windSpeed55m":{"type":"number"},"windDirection56m":{"type":"number"},"windGust56m":{"type":"number"},"windSpeed56m":{"type":"number"},"windDirection57m":{"type":"number"},"windGust57m":{"type":"number"},"windSpeed57m":{"type":"number"},"windDirection58m":{"type":"number"},"windGust58m":{"type":"number"},"windSpeed58m":{"type":"number"},"windDirection59m":{"type":"number"},"windGust59m":{"type":"number"},"windSpeed59m":{"type":"number"},"windDirection60m":{"type":"number"},"windGust60m":{"type":"number"},"windSpeed60m":{"type":"number"},"windDirection61m":{"type":"number"},"windGust61m":{"type":"number"},"windSpeed61m":{"type":"number"},"windDirection62m":{"type":"number"},"windGust62m":{"type":"number"},"windSpeed62m":{"type":"number"},"windDirection63m":{"type":"number"},"windGust63m":{"type":"number"},"windSpeed63m":{"type":"number"},"windDirection64m":{"type":"number"},"windGust64m":{"type":"number"},"windSpeed64m":{"type":"number"},"windDirection65m":{"type":"number"},"windGust65m":{"type":"number"},"windSpeed65m":{"type":"number"},"windDirection66m":{"type":"number"},"windGust66m":{"type":"number"},"windSpeed66m":{"type":"number"},"windDirection67m":{"type":"number"},"windGust67m":{"type":"number"},"windSpeed67m":{"type":"number"},"windDirection68m":{"type":"number"},"windGust68m":{"type":"number"},"windSpeed68m":{"type":"number"},"windDirection69m":{"type":"number"},"windGust69m":{"type":"number"},"windSpeed69m":{"type":"number"},"windDirection70m":{"type":"number"},"windGust70m":{"type":"number"},"windSpeed70m":{"type":"number"},"windDirection71m":{"type":"number"},"windGust71m":{"type":"number"},"windSpeed71m":{"type":"number"},"windDirection72m":{"type":"number"},"windGust72m":{"type":"number"},"windSpeed72m":{"type":"number"},"windDirection73m":{"type":"number"},"windGust73m":{"type":"number"},"windSpeed73m":{"type":"number"},"windDirection74m":{"type":"number"},"windGust74m":{"type":"number"},"windSpeed74m":{"type":"number"},"windDirection75m":{"type":"number"},"windGust75m":{"type":"number"},"windSpeed75m":{"type":"number"},"windDirection76m":{"type":"number"},"windGust76m":{"type":"number"},"windSpeed76m":{"type":"number"},"windDirection77m":{"type":"number"},"windGust77m":{"type":"number"},"windSpeed77m":{"type":"number"},"windDirection78m":{"type":"number"},"windGust78m":{"type":"number"},"windSpeed78m":{"type":"number"},"windDirection79m":{"type":"number"},"windGust79m":{"type":"number"},"windSpeed79m":{"type":"number"},"windDirection80m":{"type":"number"},"windGust80m":{"type":"number"},"windSpeed80m":{"type":"number"},"windDirection81m":{"type":"number"},"windGust81m":{"type":"number"},"windSpeed81m":{"type":"number"},"windDirection82m":{"type":"number"},"windGust82m":{"type":"number"},"windSpeed82m":{"type":"number"},"windDirection83m":{"type":"number"},"windGust83m":{"type":"number"},"windSpeed83m":{"type":"number"},"windDirection84m":{"type":"number"},"windGust84m":{"type":"number"},"windSpeed84m":{"type":"number"},"windDirection85m":{"type":"number"},"windGust85m":{"type":"number"},"windSpeed85m":{"type":"number"},"windDirection86m":{"type":"number"},"windGust86m":{"type":"number"},"windSpeed86m":{"type":"number"},"windDirection87m":{"type":"number"},"windGust87m":{"type":"number"},"windSpeed87m":{"type":"number"},"windDirection88m":{"type":"number"},"windGust88m":{"type":"number"},"windSpeed88m":{"type":"number"},"windDirection89m":{"type":"number"},"windGust89m":{"type":"number"},"windSpeed89m":{"type":"number"},"windDirection90m":{"type":"number"},"windGust90m":{"type":"number"},"windSpeed90m":{"type":"number"},"windDirection91m":{"type":"number"},"windGust91m":{"type":"number"},"windSpeed91m":{"type":"number"},"windDirection92m":{"type":"number"},"windGust92m":{"type":"number"},"windSpeed92m":{"type":"number"},"windDirection93m":{"type":"number"},"windGust93m":{"type":"number"},"windSpeed93m":{"type":"number"},"windDirection94m":{"type":"number"},"windGust94m":{"type":"number"},"windSpeed94m":{"type":"number"},"windDirection95m":{"type":"number"},"windGust95m":{"type":"number"},"windSpeed95m":{"type":"number"},"windDirection96m":{"type":"number"},"windGust96m":{"type":"number"},"windSpeed96m":{"type":"number"},"windDirection97m":{"type":"number"},"windGust97m":{"type":"number"},"windSpeed97m":{"type":"number"},"windDirection98m":{"type":"number"},"windGust98m":{"type":"number"},"windSpeed98m":{"type":"number"},"windDirection99m":{"type":"number"},"windGust99m":{"type":"number"},"windSpeed99m":{"type":"number"},"windDirection100m":{"type":"number"},"windGust100m":{"type":"number"},"windSpeed100m":{"type":"number"},"windDirection101m":{"type":"number"},"windGust101m":{"type":"number"},"windSpeed101m":{"type":"number"},"windDirection102m":{"type":"number"},"windGust102m":{"type":"number"},"windSpeed102m":{"type":"number"},"windDirection103m":{"type":"number"},"windGust103m":{"type":"number"},"windSpeed103m":{"type":"number"},"windDirection104m":{"type":"number"},"windGust104m":{"type":"number"},"windSpeed104m":{"type":"number"},"windDirection105m":{"type":"number"},"windGust105m":{"type":"number"},"windSpeed105m":{"type":"number"},"windDirection106m":{"type":"number"},"windGust106m":{"type":"number"},"windSpeed106m":{"type":"number"},"windDirection107m":{"type":"number"},"windGust107m":{"type":"number"},"windSpeed107m":{"type":"number"},"windDirection108m":{"type":"number"},"windGust108m":{"type":"number"},"windSpeed108m":{"type":"number"},"windDirection109m":{"type":"number"},"windGust109m":{"type":"number"},"windSpeed109m":{"type":"number"},"windDirection110m":{"type":"number"},"windGust110m":{"type":"number"},"windSpeed110m":{"type":"number"},"windDirection111m":{"type":"number"},"windGust111m":{"type":"number"},"windSpeed111m":{"type":"number"},"windDirection112m":{"type":"number"},"windGust112m":{"type":"number"},"windSpeed112m":{"type":"number"},"windDirection113m":{"type":"number"},"windGust113m":{"type":"number"},"windSpeed113m":{"type":"number"},"windDirection114m":{"type":"number"},"windGust114m":{"type":"number"},"windSpeed114m":{"type":"number"},"windDirection115m":{"type":"number"},"windGust115m":{"type":"number"},"windSpeed115m":{"type":"number"},"windDirection116m":{"type":"number"},"windGust116m":{"type":"number"},"windSpeed116m":{"type":"number"},"windDirection117m":{"type":"number"},"windGust117m":{"type":"number"},"windSpeed117m":{"type":"number"},"windDirection118m":{"type":"number"},"windGust118m":{"type":"number"},"windSpeed118m":{"type":"number"},"windDirection119m":{"type":"number"},"windGust119m":{"type":"number"},"windSpeed119m":{"type":"number"},"windDirection120m":{"type":"number"},"windGust120m":{"type":"number"},"windSpeed120m":{"type":"number"},"windDirection121m":{"type":"number"},"windGust121m":{"type":"number"},"windSpeed121m":{"type":"number"},"windDirection122m":{"type":"number"},"windGust122m":{"type":"number"},"windSpeed122m":{"type":"number"},"windDirection123m":{"type":"number"},"windGust123m":{"type":"number"},"windSpeed123m":{"type":"number"},"windDirection124m":{"type":"number"},"windGust124m":{"type":"number"},"windSpeed124m":{"type":"number"},"windDirection125m":{"type":"number"},"windGust125m":{"type":"number"},"windSpeed125m":{"type":"number"},"windDirection126m":{"type":"number"},"windGust126m":{"type":"number"},"windSpeed126m":{"type":"number"},"windDirection127m":{"type":"number"},"windGust127m":{"type":"number"},"windSpeed127m":{"type":"number"},"windDirection128m":{"type":"number"},"windGust128m":{"type":"number"},"windSpeed128m":{"type":"number"},"windDirection129m":{"type":"number"},"windGust129m":{"type":"number"},"windSpeed129m":{"type":"number"},"windDirection130m":{"type":"number"},"windGust130m":{"type":"number"},"windSpeed130m":{"type":"number"},"windDirection131m":{"type":"number"},"windGust131m":{"type":"number"},"windSpeed131m":{"type":"number"},"windDirection132m":{"type":"number"},"windGust132m":{"type":"number"},"windSpeed132m":{"type":"number"},"windDirection133m":{"type":"number"},"windGust133m":{"type":"number"},"windSpeed133m":{"type":"number"},"windDirection134m":{"type":"number"},"windGust134m":{"type":"number"},"windSpeed134m":{"type":"number"},"windDirection135m":{"type":"number"},"windGust135m":{"type":"number"},"windSpeed135m":{"type":"number"},"windDirection136m":{"type":"number"},"windGust136m":{"type":"number"},"windSpeed136m":{"type":"number"},"windDirection137m":{"type":"number"},"windGust137m":{"type":"number"},"windSpeed137m":{"type":"number"},"windDirection138m":{"type":"number"},"windGust138m":{"type":"number"},"windSpeed138m":{"type":"number"},"windDirection139m":{"type":"number"},"windGust139m":{"type":"number"},"windSpeed139m":{"type":"number"},"windDirection140m":{"type":"number"},"windGust140m":{"type":"number"},"windSpeed140m":{"type":"number"},"windDirection141m":{"type":"number"},"windGust141m":{"type":"number"},"windSpeed141m":{"type":"number"},"windDirection142m":{"type":"number"},"windGust142m":{"type":"number"},"windSpeed142m":{"type":"number"},"windDirection143m":{"type":"number"},"windGust143m":{"type":"number"},"windSpeed143m":{"type":"number"},"windDirection144m":{"type":"number"},"windGust144m":{"type":"number"},"windSpeed144m":{"type":"number"},"windDirection145m":{"type":"number"},"windGust145m":{"type":"number"},"windSpeed145m":{"type":"number"},"windDirection146m":{"type":"number"},"windGust146m":{"type":"number"},"windSpeed146m":{"type":"number"},"windDirection147m":{"type":"number"},"windGust147m":{"type":"number"},"windSpeed147m":{"type":"number"},"windDirection148m":{"type":"number"},"windGust148m":{"type":"number"},"windSpeed148m":{"type":"number"},"windDirection149m":{"type":"number"},"windGust149m":{"type":"number"},"windSpeed149m":{"type":"number"},"windDirection150m":{"type":"number"},"windGust150m":{"type":"number"},"windSpeed150m":{"type":"number"},"windDirection151m":{"type":"number"},"windGust151m":{"type":"number"},"windSpeed151m":{"type":"number"},"windDirection152m":{"type":"number"},"windGust152m":{"type":"number"},"windSpeed152m":{"type":"number"},"windDirection153m":{"type":"number"},"windGust153m":{"type":"number"},"windSpeed153m":{"type":"number"},"windDirection154m":{"type":"number"},"windGust154m":{"type":"number"},"windSpeed154m":{"type":"number"},"windDirection155m":{"type":"number"},"windGust155m":{"type":"number"},"windSpeed155m":{"type":"number"},"windDirection156m":{"type":"number"},"windGust156m":{"type":"number"},"windSpeed156m":{"type":"number"},"windDirection157m":{"type":"number"},"windGust157m":{"type":"number"},"windSpeed157m":{"type":"number"},"windDirection158m":{"type":"number"},"windGust158m":{"type":"number"},"windSpeed158m":{"type":"number"},"windDirection159m":{"type":"number"},"windGust159m":{"type":"number"},"windSpeed159m":{"type":"number"},"windDirection160m":{"type":"number"},"windGust160m":{"type":"number"},"windSpeed160m":{"type":"number"},"windDirection161m":{"type":"number"},"windGust161m":{"type":"number"},"windSpeed161m":{"type":"number"},"windDirection162m":{"type":"number"},"windGust162m":{"type":"number"},"windSpeed162m":{"type":"number"},"windDirection163m":{"type":"number"},"windGust163m":{"type":"number"},"windSpeed163m":{"type":"number"},"windDirection164m":{"type":"number"},"windGust164m":{"type":"number"},"windSpeed164m":{"type":"number"},"windDirection165m":{"type":"number"},"windGust165m":{"type":"number"},"windSpeed165m":{"type":"number"},"windDirection166m":{"type":"number"},"windGust166m":{"type":"number"},"windSpeed166m":{"type":"number"},"windDirection167m":{"type":"number"},"windGust167m":{"type":"number"},"windSpeed167m":{"type":"number"},"windDirection168m":{"type":"number"},"windGust168m":{"type":"number"},"windSpeed168m":{"type":"number"},"windDirection169m":{"type":"number"},"windGust169m":{"type":"number"},"windSpeed169m":{"type":"number"},"windDirection170m":{"type":"number"},"windGust170m":{"type":"number"},"windSpeed170m":{"type":"number"},"windDirection171m":{"type":"number"},"windGust171m":{"type":"number"},"windSpeed171m":{"type":"number"},"windDirection172m":{"type":"number"},"windGust172m":{"type":"number"},"windSpeed172m":{"type":"number"},"windDirection173m":{"type":"number"},"windGust173m":{"type":"number"},"windSpeed173m":{"type":"number"},"windDirection174m":{"type":"number"},"windGust174m":{"type":"number"},"windSpeed174m":{"type":"number"},"windDirection175m":{"type":"number"},"windGust175m":{"type":"number"},"windSpeed175m":{"type":"number"},"windDirection176m":{"type":"number"},"windGust176m":{"type":"number"},"windSpeed176m":{"type":"number"},"windDirection177m":{"type":"number"},"windGust177m":{"type":"number"},"windSpeed177m":{"type":"number"},"windDirection178m":{"type":"number"},"windGust178m":{"type":"number"},"windSpeed178m":{"type":"number"},"windDirection179m":{"type":"number"},"windGust179m":{"type":"number"},"windSpeed179m":{"type":"number"},"windDirection180m":{"type":"number"},"windGust180m":{"type":"number"},"windSpeed180m":{"type":"number"},"windDirection181m":{"type":"number"},"windGust181m":{"type":"number"},"windSpeed181m":{"type":"number"},"windDirection182m":{"type":"number"},"windGust182m":{"type":"number"},"windSpeed182m":{"type":"number"},"windDirection183m":{"type":"number"},"windGust183m":{"type":"number"},"windSpeed183m":{"type":"number"},"windDirection184m":{"type":"number"},"windGust184m":{"type":"number"},"windSpeed184m":{"type":"number"},"windDirection185m":{"type":"number"},"windGust185m":{"type":"number"},"windSpeed185m":{"type":"number"},"windDirection186m":{"type":"number"},"windGust186m":{"type":"number"},"windSpeed186m":{"type":"number"},"windDirection187m":{"type":"number"},"windGust187m":{"type":"number"},"windSpeed187m":{"type":"number"},"windDirection188m":{"type":"number"},"windGust188m":{"type":"number"},"windSpeed188m":{"type":"number"},"windDirection189m":{"type":"number"},"windGust189m":{"type":"number"},"windSpeed189m":{"type":"number"},"windDirection190m":{"type":"number"},"windGust190m":{"type":"number"},"windSpeed190m":{"type":"number"},"windDirection191m":{"type":"number"},"windGust191m":{"type":"number"},"windSpeed191m":{"type":"number"},"windDirection192m":{"type":"number"},"windGust192m":{"type":"number"},"windSpeed192m":{"type":"number"},"windDirection193m":{"type":"number"},"windGust193m":{"type":"number"},"windSpeed193m":{"type":"number"},"windDirection194m":{"type":"number"},"windGust194m":{"type":"number"},"windSpeed194m":{"type":"number"},"windDirection195m":{"type":"number"},"windGust195m":{"type":"number"},"windSpeed195m":{"type":"number"},"windDirection196m":{"type":"number"},"windGust196m":{"type":"number"},"windSpeed196m":{"type":"number"},"windDirection197m":{"type":"number"},"windGust197m":{"type":"number"},"windSpeed197m":{"type":"number"},"windDirection198m":{"type":"number"},"windGust198m":{"type":"number"},"windSpeed198m":{"type":"number"},"windDirection199m":{"type":"number"},"windGust199m":{"type":"number"},"windSpeed199m":{"type":"number"},"windDirection200m":{"type":"number"},"windGust200m":{"type":"number"},"windSpeed200m":{"type":"number"},"windSpeed10mLowerBound":{"type":"number"},"windSpeed10mUpperBound":{"type":"number"},"windSpeed100mLowerBound":{"type":"number"},"windSpeed100mUpperBound":{"type":"number"}}}}}}}}},"example":{"url":"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=35.47&lon=-97.51&parameters=windDirection10m,windGust10m,windSpeed10m,windSpeed10mLowerBound,windSpeed10mUpperBound,windDirection100m,windGust100m,windSpeed100m,windSpeed100mLowerBound,windSpeed100mUpperBound&startTime=2024-10-01T00:06:10Z&endTime=2024-10-01T02:06:10Z&units=us-std","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-97.51,35.47]},"properties":{"2024-10-01T00:00:00Z":{"windDirection10m":139.1,"windGust10m":18.34,"windSpeed10m":11.59,"windSpeed10mLowerBound":10.15,"windSpeed10mUpperBound":22.57,"windDirection100m":145.7,"windGust100m":90.68,"windSpeed100m":84.29,"windSpeed100mLowerBound":82.13,"windSpeed100mUpperBound":86.81},"2024-10-01T01:00:00Z":{"windDirection10m":133.9,"windGust10m":18.72,"windSpeed10m":10.65,"windSpeed10mLowerBound":9.14,"windSpeed10mUpperBound":15.75,"windDirection100m":140.5,"windGust100m":89.16,"windSpeed100m":80.69,"windSpeed100mLowerBound":77.45,"windSpeed100mUpperBound":83.39},"2024-10-01T02:00:00Z":{"windDirection10m":136.5,"windGust10m":19.1,"windSpeed10m":10.92,"windSpeed10mLowerBound":10.38,"windSpeed10mUpperBound":23.49,"windDirection100m":143.9,"windGust100m":85.22,"windSpeed100m":78.71,"windSpeed100mLowerBound":76.19,"windSpeed100mUpperBound":81.41}}}]}}}}},"400":{"description":"An invalid request.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"detail":{"type":"string","description":"A human-readable description of the general error."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."},"errors":{"type":"array","description":"An array of human-readable descriptions of specific errors.","items":{"type":"object","properties":{"message":{"type":"string"},"parameter":{"type":"string"},"value":{"type":"array","items":{"type":"string"}}}}}},"additionalProperties":false},"example":{"type":"badRequest","title":"Invalid Request","detail":"Validation failed.","status":400,"instance":"urn:dtn:renewables:/v1/.../forecast:requestId:123e4567-e89b-12d3-a458-426614176000","errors":[{"message":"the following parameters are invalid: invalidParameter1,invalidParameter2","parameter":"parameters","value":["invalidParameter1","invalidParameter2"]}]}}}},"401":{"description":"Unable to authenticate credentials.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"detail":{"type":"string","description":"A human-readable description of the general error."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}}},"example":{"type":"unauthorized","title":"Error while authenticating the user.","detail":"invalid token","status":401,"instance":"urn:dtn:renewables:/v1/.../forecast:requestId:123e4567-e89b-12d3-a458-426614176000"}}}},"406":{"description":"Unable to produce a response matching the Accept request header.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"detail":{"type":"string","description":"A human-readable description of the general error."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}}},"example":{"type":"notAcceptable","title":"Not Acceptable","detail":"The Accept header value is invalid or unsupported.","status":406,"instance":"urn:dtn:renewables:/v1/.../forecast:requestId:123e4567-e89b-12d3-a458-426614176000"}}}}},"x-codeSamples":[{"lang":"C + Libcurl","source":"CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept-Encoding: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Accept: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"},{"lang":"Csharp + Restsharp","source":"var client = new RestClient(\"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Accept\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Accept\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")\n  .get()\n  .addHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Accept\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")\n  .header(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .header(\"Accept\", \"SOME_STRING_VALUE\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"},{"lang":"Javascript + Jquery","source":"const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"},{"lang":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Accept\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"Javascript + Jquery","source":"const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"},{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"renewables.api.dtn.com\",\n  \"port\": null,\n  \"path\": \"/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://renewables.api.dtn.com/v1/hub-height-winds/forecast',\n  qs: {\n    lat: 'SOME_NUMBER_VALUE',\n    lon: 'SOME_NUMBER_VALUE',\n    startTime: 'SOME_STRING_VALUE',\n    endTime: 'SOME_STRING_VALUE',\n    interval: 'SOME_STRING_VALUE',\n    parameters: 'SOME_ARRAY_VALUE',\n    units: 'SOME_STRING_VALUE'\n  },\n  headers: {\n    'Accept-Encoding': 'SOME_STRING_VALUE',\n    Accept: 'SOME_STRING_VALUE',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Node + Unirest","source":"const unirest = require(\"unirest\");\n\nconst req = unirest(\"GET\", \"https://renewables.api.dtn.com/v1/hub-height-winds/forecast\");\n\nreq.query({\n  \"lat\": \"SOME_NUMBER_VALUE\",\n  \"lon\": \"SOME_NUMBER_VALUE\",\n  \"startTime\": \"SOME_STRING_VALUE\",\n  \"endTime\": \"SOME_STRING_VALUE\",\n  \"interval\": \"SOME_STRING_VALUE\",\n  \"parameters\": \"SOME_ARRAY_VALUE\",\n  \"units\": \"SOME_STRING_VALUE\"\n});\n\nreq.headers({\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"},{"lang":"Objc + Nsurlsession","source":"#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept-Encoding\": @\"SOME_STRING_VALUE\",\n                           @\"Accept\": @\"SOME_STRING_VALUE\",\n                           @\"Authorization\": @\"Bearer REPLACE_BEARER_TOKEN\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"},{"lang":"Ocaml + Cohttp","source":"open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept-Encoding\", \"SOME_STRING_VALUE\");\n  (\"Accept\", \"SOME_STRING_VALUE\");\n  (\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n] in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: SOME_STRING_VALUE\",\n    \"Accept-Encoding: SOME_STRING_VALUE\",\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://renewables.api.dtn.com/v1/hub-height-winds/forecast');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData([\n  'lat' => 'SOME_NUMBER_VALUE',\n  'lon' => 'SOME_NUMBER_VALUE',\n  'startTime' => 'SOME_STRING_VALUE',\n  'endTime' => 'SOME_STRING_VALUE',\n  'interval' => 'SOME_STRING_VALUE',\n  'parameters' => 'SOME_ARRAY_VALUE',\n  'units' => 'SOME_STRING_VALUE'\n]);\n\n$request->setHeaders([\n  'Accept-Encoding' => 'SOME_STRING_VALUE',\n  'Accept' => 'SOME_STRING_VALUE',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://renewables.api.dtn.com/v1/hub-height-winds/forecast');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'lat' => 'SOME_NUMBER_VALUE',\n  'lon' => 'SOME_NUMBER_VALUE',\n  'startTime' => 'SOME_STRING_VALUE',\n  'endTime' => 'SOME_STRING_VALUE',\n  'interval' => 'SOME_STRING_VALUE',\n  'parameters' => 'SOME_ARRAY_VALUE',\n  'units' => 'SOME_STRING_VALUE'\n]));\n\n$request->setHeaders([\n  'Accept-Encoding' => 'SOME_STRING_VALUE',\n  'Accept' => 'SOME_STRING_VALUE',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"renewables.api.dtn.com\")\n\nheaders = {\n    'Accept-Encoding': \"SOME_STRING_VALUE\",\n    'Accept': \"SOME_STRING_VALUE\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Python + Requests","source":"import requests\n\nurl = \"https://renewables.api.dtn.com/v1/hub-height-winds/forecast\"\n\nquerystring = {\"lat\":\"SOME_NUMBER_VALUE\",\"lon\":\"SOME_NUMBER_VALUE\",\"startTime\":\"SOME_STRING_VALUE\",\"endTime\":\"SOME_STRING_VALUE\",\"interval\":\"SOME_STRING_VALUE\",\"parameters\":\"SOME_ARRAY_VALUE\",\"units\":\"SOME_STRING_VALUE\"}\n\nheaders = {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Accept-Encoding\"] = 'SOME_STRING_VALUE'\nrequest[\"Accept\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Bearer REPLACE_BEARER_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE' \\\n  --header 'Accept: SOME_STRING_VALUE' \\\n  --header 'Accept-Encoding: SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"},{"lang":"Shell + Httpie","source":"http GET 'https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE' \\\n  Accept:SOME_STRING_VALUE \\\n  Accept-Encoding:SOME_STRING_VALUE \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"},{"lang":"Shell + Wget","source":"wget --quiet \\\n  --method GET \\\n  --header 'Accept-Encoding: SOME_STRING_VALUE' \\\n  --header 'Accept: SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --output-document \\\n  - 'https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE'"},{"lang":"Swift + Nsurlsession","source":"import Foundation\n\nlet headers = [\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://renewables.api.dtn.com/v1/hub-height-winds/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"}]}},"/v1/solar-irradiance/forecast":{"get":{"tags":["Endpoints"],"summary":"Solar Irradiance Forecast","description":"This endpoint provides forecast solar radiation and related parameters for any point on Earth. Specify the location, parameters of interest, and a time range from now until 15 days ahead. The API responds with the requested time series in GeoJSON format.\n\nUse the query string to customize the results in the response body:\n\n  * Specify a location as latitude (`lat`) and longitude (`lon`).  These are required.\n\n  * Specify `parameters` to filter the response to a specific, comma-separated list of environmental parameters. The API returns defaults when this is omitted.\n\n  * Specify `startTime` and `endTime` (using [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.8) format) for a forecast time range, or `startTime` alone for just one timestamp.\n\n  * Specify `units=us-std` to receive values as United States customary (imperial) units. The API returns metric units by default and when `units=si-std` is expressly requested.\n\n  * Specify `interval` to obtain sub-hourly (interpolated) or multi-hour (aggregated) results. The API returns hourly results by default.\n\nAll together, a complete request looks like:\n\n```\nhttps://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat={lat}&lon={lon}&startTime={start_time}&endTime={end_time}&interval={interval}&parameters={param1,param2}&units={units}\n```\n\n### How to change timesteps\n\nTo interpolate to sub-hourly timesteps, specify `interval=15m`, `interval=30m`, or `interval=45m` in the query string.  For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=15m&parameters=directNormalIrradiance,diffuseHorizontalIrradiance`\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=30m&parameters=directNormalIrradiance,diffuseHorizontalIrradiance`\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=45m&parameters=directNormalIrradiance,diffuseHorizontalIrradiance`\n\nTo aggregate over multiple hours, specify `interval={n}h` in the query string using a whole number of hours for `{n}`, from 2 to the timespan between `startTime` and `endTime`. Also, substitute the desired aggregation parameter names from the `Parameters` section. For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=2h&parameters=directNormalIrradianceAvg,diffuseHorizontalIrradianceMax`\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=6h&parameters=directNormalIrradianceAvg,diffuseHorizontalIrradianceMax`\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z&interval=24h&parameters=directNormalIrradianceAvg,diffuseHorizontalIrradianceMax`\n\nIn some cases, daily aggregations might require local timezone-aware aggregations to account of days with an one extra or less hour.  In these cases, specify `interval=1d` along with timezone-aware `startTime` and `endTime` values.  For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-11-03T00:00:00&endTime=2024-11-04T23:59:59&interval=1d&parameters=directNormalIrradianceAvg,diffuseHorizontalIrradianceMax`\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-03-09T00:00:00&endTime=2024-03-10T23:59:59&interval=1d&parameters=directNormalIrradianceAvg,diffuseHorizontalIrradianceMax`\n\n### How to change timezones\n\nTypically, `startTime` and `endTime` end with `Z` to indicate UTC time.  For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00Z&endTime=2024-10-10T00:00:00Z`\n\nTo change timezones, specify a UTC offset (such as `+08:00` or `-05:00`) instead of `Z`. Note that the `+` symbol is a special URL character that must be encoded as `%2B`.  For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00-05:00&endTime=2024-10-10T00:00:00-05:00`\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00%2B08:00&endTime=2024-10-10T00:00:00%2B08:00`\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00-05:00&endTime=2024-10-10T00:00:00%2B08:00`\n\nTo obtain the local timezone at the requested location, omit the suffix entirely. For example:\n\n  * `?lat=35.47&lon=-97.51&startTime=2024-10-01T00:00:00&endTime=2024-10-10T00:00:00`\n  * Fractional time zones\n      + Parameters:\n        + **startTime:** 2025-07-04T00:00:00\n        + **endTime:** 2025-07-04T23:59:59\n        + **interval:** 24h\n        + **lat:** 30.251\n        + **lon:** 62.569\n        \n      + Response:\n        ```json\n          \"properties\": {\n          \"2025-07-03T23:30:00+0430\": {\n              \"airTempMax\": 40.1,\n          },\n          \"2025-07-04T23:30:00+0430\": {\n              \"airTempMax\": 30.2,\n          }\n        }\n        ```\n      * Explanation:\n        * **Why** This response seems confusing at first becuase we have 2 data points when we seemingly only requested a single 24 hour interval.\n        * **Local Timezone Assumption** When requesting a start and end time that has no timezone, the timezone of the location requested will be used.\n          * For the example requested lat/lon the local timezone is UTC+04:30 (fractional timezone)\n        * **Inclusive Time Range** startTime is hour inclusive, meaning the API will return data for the top of the requested hour (in UTC).\n        * **UTC Conversion** All data is stored in UTC hourly.\n          * When we convert these requested timestamps to UTC, `startTime=2025-07-03T19:30:00Z`, `endTime=2025-07-04T19:29:59Z`\n        * Since startTime and endTime are `inclusive`, so the time range spans exactly 25 hours, not 24.\n        * Changing `endTime` to `2025-07-04T23:00:00` will result in a single interval returned.\n\nIn all cases, timestamps in the API response automatically match the timezone indicated by `startTime`.\n","operationId":"solarIrradianceForecast","security":[{"clientCredentials":[]}],"parameters":[{"in":"header","name":"Accept-Encoding","schema":{"type":"string","description":"Use this request header to communicate which compression algorithms the client understands. The API supports gzip.","example":"gzip"}},{"in":"header","name":"Accept","schema":{"type":"string","description":"Use this request header to specify an acceptable response media type.","example":"application/json"}},{"name":"lat","in":"query","schema":{"type":"number","format":"float"},"example":35.47,"required":true},{"name":"lon","in":"query","schema":{"type":"number","format":"float"},"example":-97.51,"required":true},{"name":"startTime","in":"query","schema":{"type":"string","format":"date-time"},"example":"2024-10-01T00:06:10Z"},{"name":"endTime","in":"query","schema":{"type":"string","format":"date-time"},"example":"2024-10-14T00:06:10Z"},{"name":"interval","in":"query","schema":{"type":"string"},"example":"30m"},{"name":"parameters","in":"query","style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}},"example":"directNormalIrradiance,diffuseHorizontalIrradiance"},{"name":"units","in":"query","schema":{"type":"string"},"example":"us-std"}],"responses":{"200":{"description":"A successful request.","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string"},"type":{"type":"string"},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"geometry":{"type":"object","properties":{"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number"}}}},"properties":{"type":"object","properties":{"2024-10-01T00:00:00Z":{"type":"object","properties":{"airTemp":{"type":"number"},"directNormalIrradiance":{"type":"number"},"diffuseHorizontalIrradiance":{"type":"number"},"shortWaveRadiation":{"type":"number"},"snowfallAmount":{"type":"number"}}}}}}}}},"example":{"url":"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=35.47&lon=-97.51&parameters=airTemp,directNormalIrradiance,diffuseHorizontalIrradiance,shortWaveRadiation,snowfallAmount&startTime=2024-12-01T18:00:00Z&endTime=2024-12-01T20:00:00Z&units=us-std","type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-97.51,35.47]},"properties":{"2024-12-01T18:00:00Z":{"airTemp":30.2,"directNormalIrradiance":300,"diffuseHorizontalIrradiance":120,"shortWaveRadiation":420,"snowfallAmount":0.02},"2024-12-01T19:00:00Z":{"airTemp":28.4,"directNormalIrradiance":200,"diffuseHorizontalIrradiance":100,"shortWaveRadiation":300,"snowfallAmount":0.01},"2024-12-01T20:00:00Z":{"airTemp":26.6,"directNormalIrradiance":100,"diffuseHorizontalIrradiance":80,"shortWaveRadiation":180,"snowfallAmount":0.03}}}]}}}}},"400":{"description":"An invalid request.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"detail":{"type":"string","description":"A human-readable description of the general error."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."},"errors":{"type":"array","description":"An array of human-readable descriptions of specific errors.","items":{"type":"object","properties":{"message":{"type":"string"},"parameter":{"type":"string"},"value":{"type":"array","items":{"type":"string"}}}}}},"additionalProperties":false},"example":{"type":"badRequest","title":"Invalid Request","detail":"Validation failed.","status":400,"instance":"urn:dtn:renewables:/v1/.../forecast:requestId:123e4567-e89b-12d3-a458-426614176000","errors":[{"message":"the following parameters are invalid: invalidParameter1,invalidParameter2","parameter":"parameters","value":["invalidParameter1","invalidParameter2"]}]}}}},"401":{"description":"Unable to authenticate credentials.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"detail":{"type":"string","description":"A human-readable description of the general error."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}}},"example":{"type":"unauthorized","title":"Error while authenticating the user.","detail":"invalid token","status":401,"instance":"urn:dtn:renewables:/v1/.../forecast:requestId:123e4567-e89b-12d3-a458-426614176000"}}}},"406":{"description":"Unable to produce a response matching the Accept request header.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"detail":{"type":"string","description":"A human-readable description of the general error."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}}},"example":{"type":"notAcceptable","title":"Not Acceptable","detail":"The Accept header value is invalid or unsupported.","status":406,"instance":"urn:dtn:renewables:/v1/.../forecast:requestId:123e4567-e89b-12d3-a458-426614176000"}}}}},"x-codeSamples":[{"lang":"C + Libcurl","source":"CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept-Encoding: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Accept: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"},{"lang":"Csharp + Restsharp","source":"var client = new RestClient(\"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Accept\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Accept\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")\n  .get()\n  .addHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Accept\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")\n  .header(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .header(\"Accept\", \"SOME_STRING_VALUE\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"},{"lang":"Javascript + Jquery","source":"const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"},{"lang":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Accept\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"Javascript + Jquery","source":"const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"},{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"renewables.api.dtn.com\",\n  \"port\": null,\n  \"path\": \"/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://renewables.api.dtn.com/v1/solar-irradiance/forecast',\n  qs: {\n    lat: 'SOME_NUMBER_VALUE',\n    lon: 'SOME_NUMBER_VALUE',\n    startTime: 'SOME_STRING_VALUE',\n    endTime: 'SOME_STRING_VALUE',\n    interval: 'SOME_STRING_VALUE',\n    parameters: 'SOME_ARRAY_VALUE',\n    units: 'SOME_STRING_VALUE'\n  },\n  headers: {\n    'Accept-Encoding': 'SOME_STRING_VALUE',\n    Accept: 'SOME_STRING_VALUE',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Node + Unirest","source":"const unirest = require(\"unirest\");\n\nconst req = unirest(\"GET\", \"https://renewables.api.dtn.com/v1/solar-irradiance/forecast\");\n\nreq.query({\n  \"lat\": \"SOME_NUMBER_VALUE\",\n  \"lon\": \"SOME_NUMBER_VALUE\",\n  \"startTime\": \"SOME_STRING_VALUE\",\n  \"endTime\": \"SOME_STRING_VALUE\",\n  \"interval\": \"SOME_STRING_VALUE\",\n  \"parameters\": \"SOME_ARRAY_VALUE\",\n  \"units\": \"SOME_STRING_VALUE\"\n});\n\nreq.headers({\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"},{"lang":"Objc + Nsurlsession","source":"#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept-Encoding\": @\"SOME_STRING_VALUE\",\n                           @\"Accept\": @\"SOME_STRING_VALUE\",\n                           @\"Authorization\": @\"Bearer REPLACE_BEARER_TOKEN\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"},{"lang":"Ocaml + Cohttp","source":"open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept-Encoding\", \"SOME_STRING_VALUE\");\n  (\"Accept\", \"SOME_STRING_VALUE\");\n  (\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n] in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"},{"lang":"Php + Curl","source":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: SOME_STRING_VALUE\",\n    \"Accept-Encoding: SOME_STRING_VALUE\",\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"},{"lang":"Php + Http1","source":"<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://renewables.api.dtn.com/v1/solar-irradiance/forecast');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData([\n  'lat' => 'SOME_NUMBER_VALUE',\n  'lon' => 'SOME_NUMBER_VALUE',\n  'startTime' => 'SOME_STRING_VALUE',\n  'endTime' => 'SOME_STRING_VALUE',\n  'interval' => 'SOME_STRING_VALUE',\n  'parameters' => 'SOME_ARRAY_VALUE',\n  'units' => 'SOME_STRING_VALUE'\n]);\n\n$request->setHeaders([\n  'Accept-Encoding' => 'SOME_STRING_VALUE',\n  'Accept' => 'SOME_STRING_VALUE',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"},{"lang":"Php + Http2","source":"<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://renewables.api.dtn.com/v1/solar-irradiance/forecast');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString([\n  'lat' => 'SOME_NUMBER_VALUE',\n  'lon' => 'SOME_NUMBER_VALUE',\n  'startTime' => 'SOME_STRING_VALUE',\n  'endTime' => 'SOME_STRING_VALUE',\n  'interval' => 'SOME_STRING_VALUE',\n  'parameters' => 'SOME_ARRAY_VALUE',\n  'units' => 'SOME_STRING_VALUE'\n]));\n\n$request->setHeaders([\n  'Accept-Encoding' => 'SOME_STRING_VALUE',\n  'Accept' => 'SOME_STRING_VALUE',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"},{"lang":"Python + Python3","source":"import http.client\n\nconn = http.client.HTTPSConnection(\"renewables.api.dtn.com\")\n\nheaders = {\n    'Accept-Encoding': \"SOME_STRING_VALUE\",\n    'Accept': \"SOME_STRING_VALUE\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"GET\", \"/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"},{"lang":"Python + Requests","source":"import requests\n\nurl = \"https://renewables.api.dtn.com/v1/solar-irradiance/forecast\"\n\nquerystring = {\"lat\":\"SOME_NUMBER_VALUE\",\"lon\":\"SOME_NUMBER_VALUE\",\"startTime\":\"SOME_STRING_VALUE\",\"endTime\":\"SOME_STRING_VALUE\",\"interval\":\"SOME_STRING_VALUE\",\"parameters\":\"SOME_ARRAY_VALUE\",\"units\":\"SOME_STRING_VALUE\"}\n\nheaders = {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"},{"lang":"Ruby + Native","source":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Accept-Encoding\"] = 'SOME_STRING_VALUE'\nrequest[\"Accept\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Bearer REPLACE_BEARER_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"},{"lang":"Shell + Curl","source":"curl --request GET \\\n  --url 'https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE' \\\n  --header 'Accept: SOME_STRING_VALUE' \\\n  --header 'Accept-Encoding: SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"},{"lang":"Shell + Httpie","source":"http GET 'https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE' \\\n  Accept:SOME_STRING_VALUE \\\n  Accept-Encoding:SOME_STRING_VALUE \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"},{"lang":"Shell + Wget","source":"wget --quiet \\\n  --method GET \\\n  --header 'Accept-Encoding: SOME_STRING_VALUE' \\\n  --header 'Accept: SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --output-document \\\n  - 'https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE'"},{"lang":"Swift + Nsurlsession","source":"import Foundation\n\nlet headers = [\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://renewables.api.dtn.com/v1/solar-irradiance/forecast?lat=SOME_NUMBER_VALUE&lon=SOME_NUMBER_VALUE&startTime=SOME_STRING_VALUE&endTime=SOME_STRING_VALUE&interval=SOME_STRING_VALUE&parameters=SOME_ARRAY_VALUE&units=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"}]}},"/v1/parameters":{"get":{"tags":["Endpoints"],"summary":"Parameters","description":"This endpoint provides helpful context in JSON format about the environmental parameters and operations that the other endpoints support.\n\nUse query parameters to control the results in the response body:\n  * Set `category` to `hub-height-winds-forecast` or `solar-irradiance-forecast` to filter environmental parameters by that category.\n  * Specify a `name` to filter environmental parameters by that name (for example, `name=windSpeed100m`).\n  * Specify a `category` and `name` to filter by both.\n  * Omit the query string to obtain all environmental parameters in the response.\n","operationId":"parameters","security":[{"clientCredentials":[]}],"parameters":[{"in":"header","name":"Accept-Encoding","schema":{"type":"string","description":"Use this request header to communicate which compression algorithms the client understands. The API supports gzip.","example":"gzip"}},{"in":"header","name":"Accept","schema":{"type":"string","description":"Use this request header to specify an acceptable response media type.","example":"application/json"}},{"in":"query","name":"category","schema":{"type":"string","description":"The desired category filter (optional).","example":["hub-height-winds-forecast"]}},{"in":"query","name":"name","schema":{"type":"string","description":"The desired parameter name filter (optional).","example":["windSpeed100m"]}}],"responses":{"200":{"description":"A successful request.","content":{"application/json":{"schema":{"type":"object","properties":{"hub-height-winds-forecast":{"type":"object","properties":{"parameter name":{"type":"object","description":"The name of the parameter.","properties":{"metricUnit":{"type":"string","description":"The metric unit used for this parameter."},"imperialUnit":{"type":"string","description":"The imperial unit used for this parameter."},"type":{"type":"string","description":"The parameter type."},"description":{"type":"string","description":"A description of what this parameter means."},"notes":{"type":"string","description":"Additional information related to this parameter."},"aggregationParameters":{"type":"array","items":{"type":"string"},"description":"Substitute aggregation parameter names available for this parameter."}}}},"example":{"windSpeed100m":{"metricUnit":"meter per second","imperialUnit":"mile per hour","type":"number","description":"Wind speed at 100 meters above ground level.","notes":"","aggregationParameters":["windSpeed100mMax","windSpeed100mMin","windSpeed100mAvg"]}}}}}}}},"400":{"description":"An invalid request.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"detail":{"type":"string","description":"A human-readable description of the general error."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."},"errors":{"type":"array","description":"An array of human-readable descriptions of specific errors.","items":{"type":"object","properties":{"message":{"type":"string"},"parameter":{"type":"string"},"value":{"type":"array","items":{"type":"string"}}}}}},"additionalProperties":false},"example":{"type":"badRequest","title":"Invalid Request","detail":"Validation failed.","status":400,"instance":"urn:dtn:renewables:/v1/.../forecast:requestId:123e4567-e89b-12d3-a458-426614176000","errors":[{"message":"the following parameters are invalid: invalidParameter1,invalidParameter2","parameter":"parameters","value":["invalidParameter1","invalidParameter2"]}]}}}},"401":{"description":"Unable to authenticate credentials.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"detail":{"type":"string","description":"A human-readable description of the general error."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}}},"example":{"type":"unauthorized","title":"Error while authenticating the user.","detail":"invalid token","status":401,"instance":"urn:dtn:renewables:/v1/.../forecast:requestId:123e4567-e89b-12d3-a458-426614176000"}}}},"406":{"description":"Unable to produce a response matching the Accept request header.","content":{"application/problem+json":{"schema":{"type":"object","properties":{"type":{"type":"string","description":"The error type."},"title":{"type":"string","description":"A short, human-readable title for the general error type."},"status":{"type":"number","description":"The HTTP status code."},"detail":{"type":"string","description":"A human-readable description of the general error."},"instance":{"type":"string","format":"uri","description":"A URL with the specific error ID (often pointing to an error log for that specific response)."}}},"example":{"type":"notAcceptable","title":"Not Acceptable","detail":"The Accept header value is invalid or unsupported.","status":406,"instance":"urn:dtn:renewables:/v1/.../forecast:requestId:123e4567-e89b-12d3-a458-426614176000"}}}}},"x-codeSamples":[{"lang":"C + Libcurl","source":"CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://renewables.api.dtn.com/v1/parameters?category=hub-height-winds-forecast&name=windSpeed100m\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept-Encoding: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Accept: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"},{"lang":"Csharp + Restsharp","source":"var client = new RestClient(\"https://renewables.api.dtn.com/v1/parameters?category=hub-height-winds-forecast&name=windSpeed100m\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Accept\", \"SOME_STRING_VALUE\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"},{"lang":"Go + Native","source":"package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://renewables.api.dtn.com/v1/parameters?category=hub-height-winds-forecast&name=windSpeed100m\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Accept\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"},{"lang":"Java + Okhttp","source":"OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://renewables.api.dtn.com/v1/parameters?category=hub-height-winds-forecast&name=windSpeed100m\")\n  .get()\n  .addHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Accept\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"},{"lang":"Java + Unirest","source":"HttpResponse<String> response = Unirest.get(\"https://renewables.api.dtn.com/v1/parameters?category=hub-height-winds-forecast&name=windSpeed100m\")\n  .header(\"Accept-Encoding\", \"SOME_STRING_VALUE\")\n  .header(\"Accept\", \"SOME_STRING_VALUE\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"},{"lang":"Javascript + Jquery","source":"const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://renewables.api.dtn.com/v1/parameters?category=hub-height-winds-forecast&name=windSpeed100m\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"},{"lang":"Javascript + Xhr","source":"const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://renewables.api.dtn.com/v1/parameters?category=hub-height-winds-forecast&name=windSpeed100m\");\nxhr.setRequestHeader(\"Accept-Encoding\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Accept\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"},{"lang":"Javascript + Jquery","source":"const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://renewables.api.dtn.com/v1/parameters?category=hub-height-winds-forecast&name=windSpeed100m\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"},{"lang":"Node + Native","source":"const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"renewables.api.dtn.com\",\n  \"port\": null,\n  \"path\": \"/v1/parameters?category=hub-height-winds-forecast&name=windSpeed100m\",\n  \"headers\": {\n    \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n    \"Accept\": \"SOME_STRING_VALUE\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"},{"lang":"Node + Request","source":"const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://renewables.api.dtn.com/v1/parameters',\n  qs: {category: 'hub-height-winds-forecast', name: 'windSpeed100m'},\n  headers: {\n    'Accept-Encoding': 'SOME_STRING_VALUE',\n    Accept: 'SOME_STRING_VALUE',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"},{"lang":"Node + Unirest","source":"const unirest = require(\"unirest\");\n\nconst req = unirest(\"GET\", \"https://renewables.api.dtn.com/v1/parameters\");\n\nreq.query({\n  \"category\": \"hub-height-winds-forecast\",\n  \"name\": \"windSpeed100m\"\n});\n\nreq.headers({\n  \"Accept-Encoding\": \"SOME_STRING_VALUE\",\n  \"Accept\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.l
[...]
