{"openapi":"3.0.2","info":{"title":"DTN Lightning API","version":"1.0.0","description":"# Introduction\nThe DTN Lightning API provides you access to worldwide near real-time and historical lightning data.\n\nDownload the Lightning API Postman collection [here](https://dtn.box.com/s/nfq1iyy9o34t3v5v1jnjfq5veo0neirr).\n"},"servers":[{"url":"https://lightning.api.dtn.com"}],"paths":{"/v1/strikes":{"summary":"Used to retrieve strikes based upon specific parameters.","description":"- Used to retrieve lightning strikes by either:\n    - bounding box\n    - radius\n- Requires a parameter to be set on each - Additional time-based filtering can be done using validStartTime and validEndTime - The default for time filters is current time","get":{"tags":["Strikes"],"summary":"Get Lightning Strikes","description":"This endpoint allows users to retrieve all lightning strikes that match the set criteria.\n#### NOTES:\n  - Space: Observations can be searched geographically by:\n    - `radius` required parameters: `lat`, `lon` and `radius`\n    - `boundingBox` required parameters: `minLat`, `minLon`, `maxLat` and `maxLon`\n  - Time: To search within a time window:\n    - For time range, provide `startTime` and `endTime`. All should be in `ISO` format. Maximum time range is 2 weeks.\n    - If only `startTime` or `endTime` is provided, the missing one will be calculated by the maximum time range allowable.\n    - If neither `startTime` and `endTime` are provided, the most recent strikes from the last maximum time range will be fetched.\n  - Filter: Providing `parameters` enables you to filter which parameters will be included in the response.","security":[{"clientCredentials":[]}],"parameters":[{"name":"by","in":"query","schema":{"type":"string"},"description":"Get observations by radius | boundingBox.","required":true},{"name":"radius","in":"query","schema":{"type":"number","minimum":0,"maximum":100},"description":"Radius for radial search in km.","required":false},{"name":"lon","in":"query","schema":{"type":"number"},"description":"Longitude for radial search.","required":false},{"name":"lat","in":"query","schema":{"type":"number"},"description":"Latitude for radial search.","required":false},{"name":"minLon","in":"query","schema":{"type":"string"},"description":"Longitude of the lower-left corner.","required":false},{"name":"minLat","in":"query","schema":{"type":"string"},"description":"Latitude of the lower-left corner.","required":false},{"name":"maxLon","in":"query","schema":{"type":"string"},"description":"Longitude of the upper-right corner.","required":false},{"name":"maxLat","in":"query","schema":{"type":"string"},"description":"Latitude of the upper-right corner.","required":false},{"name":"startTime","in":"query","schema":{"type":"string","format":"date"},"description":"Start time of a time range query in ISO format.","required":false},{"name":"endTime","in":"query","schema":{"type":"string","format":"date"},"description":"End time of a time range query in ISO format.","required":false}],"responses":{"200":{"$ref":"#/components/responses/GetStrikesDefault"},"422":{"$ref":"#/components/responses/ValidationError"},"500":{"description":"Internal server error."}}}},"/v1/archive":{"summary":"Used to retrieve strikes based on specific parameters.","description":"- Used to retrieve lightning strikes by either:\n    - bounding box\n    - radius\n- Requires a parameter to be set on each - Additional time-based filtering can be done using validStartTime and validEndTime - The default for time filters is current time","get":{"tags":["Archive"],"summary":"Create a Request for Fetching Historical Lightning Strikes","description":"This endpoint generates a Request ID that will fetch all lightning strikes that match the given criteria.\n#### NOTES:\n  - Space: Observations can be searched geographically by:\n    - `radius` required parameters: `lat`, `lon` and `radius`\n    - `boundingBox` required parameters: `minLat`, `minLon`, `maxLat` and `maxLon`\n  - Time: To search within a time window:\n    - For time range, provide `startTime` and `endTime`. All should be in `ISO` format. Maximum time range is 2 weeks.\n    - If only `startTime` or `endTime` is provided, the missing one will be calculated by the maximum time range allowable.\n    - If neither `startTime` and `endTime` are provided, the most recent strikes from the last maximum time range will be fetched.\n   - Filter: Providing `parameters` enables you to filter which parameters will be included in the response.","security":[{"clientCredentials":[]}],"parameters":[{"name":"by","in":"query","schema":{"type":"string"},"description":"Get observations by radius | boundingBox.","required":true},{"name":"radius","in":"query","schema":{"type":"number","minimum":0,"maximum":100},"description":"Radius for radial search in km.","required":false},{"name":"lon","in":"query","schema":{"type":"number"},"description":"Longitude for radial search.","required":false},{"name":"lat","in":"query","schema":{"type":"number"},"description":"Latitude for radial search.","required":false},{"name":"minLon","in":"query","schema":{"type":"string"},"description":"Longitude of the lower-left corner.","required":false},{"name":"minLat","in":"query","schema":{"type":"string"},"description":"Latitude of the lower-left corner.","required":false},{"name":"maxLon","in":"query","schema":{"type":"string"},"description":"Longitude of the upper-right corner.","required":false},{"name":"maxLat","in":"query","schema":{"type":"string"},"description":"Latitude of the upper-right corner.","required":false},{"name":"startTime","in":"query","schema":{"type":"string","format":"date"},"description":"Start time of a time range query in ISO format.","required":false},{"name":"endTime","in":"query","schema":{"type":"string","format":"date"},"description":"End time of a time range query in ISO format.","required":false}],"responses":{"200":{"$ref":"#/components/responses/GetStrikesArchive"},"422":{"$ref":"#/components/responses/ValidationError"},"500":{"description":"Internal server error"}}}},"/v1/archive/bulkResult":{"summary":"Represents the result of the request to fetch the historical data.","description":"This endpoint returns the historical data that was prepared by the `/strikes/archive` endpoint.","get":{"tags":["Archive"],"summary":"Get Historical Lightning Strikes in Bulk","description":"This endpoint allows users to gather the results of the query that was made using the Request ID that was generated by the `/strikes/archive` endpoint as a downloadable `CSV` file.\n#### NOTES:\n  - returns a link that contains all lightning strikes that matches the criteria of the `requestId` in a CSV format.","security":[{"clientCredentials":[]}],"parameters":[{"name":"requestId","in":"query","schema":{"type":"string"},"description":"Request ID that was provided by the `/strikes/archive` endpoint.","required":true}],"responses":{"200":{"$ref":"#/components/responses/GetStrikesArchiveBulkResult"},"422":{"$ref":"#/components/responses/ValidationError"},"500":{"description":"Internal server error."}}}},"/v1/parameters":{"summary":"Used to retrieve the parameters' corresponding unit and data type.","description":"This endpoint offers information related to the attribute or parameter of a lightning strike.","get":{"tags":["Parameters"],"summary":"Get Parameters","description":"The `parameters` endpoint shows the properties of each parameter of a lightning strike.\n#### NOTES:\n  - Define the parameter `names` to filter fields you wish to include in the response.\n  - Leave parameter `names` blank to include all parameters of a lightning strike.","security":[{"clientCredentials":[]}],"parameters":[{"name":"names","in":"query","schema":{"type":"string"},"description":"Comma-separated included parameter names.","required":false}],"responses":{"200":{"$ref":"#/components/responses/GetParameter"},"422":{"$ref":"#/components/responses/ValidationError"},"500":{"description":"Internal server error."}}}},"/v1/health-check":{"summary":"Health Check","description":"The health check endpoint provides information about the health of a web service.\nIf each of the components required by the service are healthy, then the service is considered healthy and will return a 200 OK response.\nIf any of the components needed by the service are unhealthy, then a 503 Service Unavailable response will be provided.","get":{"summary":"Get Health Check Report","tags":["Health"],"responses":{"200":{"$ref":"#/components/responses/HealthCheckReport"},"503":{"$ref":"#/components/responses/ErrorResponse"}},"description":""}}},"components":{"schemas":{"StrikesDefault":{"title":"Strikes","description":"Success","type":"object","required":["content"],"properties":{"content":{"type":"object","description":"Groups the response result.","properties":{"items":{"properties":{"strikes":{"type":"array","items":{"properties":{"strike":{"type":"object","properties":{"geospatial":{"type":"object","description":"The geospatial reference for the response item (in GeoJSON).","properties":{"coordinates":{"default":[-80.951935,24.217649],"type":"array","description":"The longitude and latitude of the lightning strike.","items":{"type":"number"}},"type":{"type":"string","default":"Point"}}},"timestamp":{"default":["2022-08-05T09:02:36.755Z"],"type":"string","description":"Time of validity for the lightning strike.","format":"date"},"parameters":{"default":[{"name":"peakCurrent","value":-56},{"name":"cloudToCloud","value":false},{"name":"cloudToCloudHeight","value":null},{"name":"errorElipseBearing","value":95.7},{"name":"errorEllipseMajor","value":3600},{"name":"errorEllipseSemiMinor","value":400},{"name":"sensorCount","value":5}],"type":"array","description":"The parameters of a lightning strike.","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of the parameter."},"value":{"type":"string","description":"Value of the parameter."}}}}}}}}}}}}}}},"StrikesArchive":{"title":"Strikes Archive","description":"Success","type":"object","properties":{"id":{"type":"string","description":"Request ID that will be used to check the status of the result and to retrieve the historical data."}}},"StrikesArchiveResult":{"title":"Strikes Archive Result","description":"Success","type":"object","required":["id","status"],"properties":{"id":{"type":"string","default":"85f061fe-d213-43ba-8378-f4b9c59ca25d","description":"Request ID that will be used to check the status of the result and to retrieve the historical data."},"status":{"type":"string","description":"The status of the result.","enum":["SUCCEEDED","RUNNING","QUEUED","PENDING","FAILED"]},"content":{"type":"object","description":"Groups the response result.","properties":{"items":{"properties":{"strikes":{"type":"array","items":{"properties":{"strike":{"type":"object","properties":{"geospatial":{"type":"object","description":"The geospatial reference for the response item (in GeoJSON).","properties":{"coordinates":{"default":[-79.115196228,24.1842308044],"type":"array","description":"The longitude and latitude of the lightning strike.","items":{"type":"number"}},"type":{"type":"string","default":"Point"}}},"validTime":{"type":"string","default":["2022-08-05T10:27:02.831Z"],"description":"Time of validity for the lightning strike.","format":"date"},"parameters":{"default":[{"name":"cloudToCloud","value":true},{"name":"cloudToCloudHeight","value":null},{"name":"peakCurrent","value":-16.835},{"name":"errorElipseBearing","value":77.2},{"name":"errorEllipseMajor","value":800},{"name":"errorEllipseSemiMinor","value":200},{"name":"sensorCount","value":5}],"type":"array","description":"The parameters of a lightning strike.","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of the parameter."},"value":{"type":"string","description":"Value of the parameter."}}}}}}}}}}}}},"paging":{"type":"object","description":"Contains pagination information.","properties":{"cursor":{"type":"object","description":"Cursors that points to the start or end of the page of the data.","properties":{"previous":{"type":"string","description":"Cursor that points to the start of the page of data that has been returned."},"next":{"type":"string","description":"Cursor that points to the end of the page of data that has been returned."}}}}},"summary":{"type":"object","description":"Contains data regarding the page.","properties":{"pageNumber":{"type":"number","description":"The current page of data that has been returned."},"totalPages":{"type":"number","description":"The total number of pages in the result."},"totalEntries":{"type":"number","description":"The total number of lightning strikes in the result."}}}}},"StrikesArchiveBulkResult":{"title":"Strikes Archive Bulk Result","description":"Success","type":"object","required":["id","status"],"properties":{"id":{"type":"string","description":"Request ID that will be used to check the status of the result and to retrieve the historical data."},"status":{"type":"string","description":"The status of the result.","enum":["SUCCEEDED","RUNNING","QUEUED","PENDING","FAILED"]},"downloadUrl":{"type":"string","description":"Link to download the CSV formatted result."},"expirationTime":{"type":"string","description":"The time when the `downloadUrl` will expire."}}},"Parameters":{"title":"Parameters","description":"Success","type":"array","items":{"type":"object","required":["name","unit","type"],"properties":{"name":{"type":"string","description":"Name of Parameter."},"unit":{"type":"string","description":"Unit used by Parameter."},"type":{"type":"string","description":"Data Type used by Parameter."}}}},"ValidationError":{"title":"Validation Error","type":"array","items":{"type":"object","required":["msg","param","location"],"properties":{"value":{"type":"string"},"msg":{"type":"string"},"param":{"type":"string"},"location":{"type":"string"}}}},"Error":{"title":"Root Type for Error","description":"Error","required":["code","description","status"],"type":"object","properties":{"status":{"enum":["error"],"type":"string"},"code":{"enum":["invalid-id","internal-error","invalid-token","missing-scope"],"type":"string"},"description":{"type":"string"}},"example":{"status":"error","code":"invalid-token","description":"The token has expired."}},"HealthCheck":{"title":"HealthCheckResponse","description":"Health Check Response.","required":["status"],"type":"object","properties":{"status":{"type":"string"},"version":{"type":"string"},"info":{"type":"string"},"timestamp":{"format":"date-time","type":"string"},"env":{"type":"string"}},"example":{"status":"up","version":"unknown","info":"Service is healthy","timestamp":"2021-04-19T22:10:53Z","env":"unknown"}}},"responses":{"GetStrikesDefault":{"description":"Lightning Strikes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StrikesDefault"}}}},"GetStrikesArchive":{"description":"Lightning Strikes Archive","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StrikesArchive"}}}},"GetStrikesArchiveResult":{"description":"Lightning Strikes Archive Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StrikesArchiveResult"}}}},"GetStrikesArchiveBulkResult":{"description":"Lightning Strikes Archive Bulk Result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StrikesArchiveBulkResult"}}}},"GetParameter":{"description":"Parameter List","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Parameters"}}}},"ValidationError":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationError"}}}},"ErrorResponse":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"Error":{"value":{"status":"error","code":"invalid-token","description":"bad token"}}}}},"description":"info about error"},"HealthCheckReport":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthCheck"},"examples":{"Success":{"value":{"status":"up","version":"v2","info":"Service is healthy.","timestamp":"2018-02-10T09:30Z","env":"unknown"}}}}},"description":"Health Check report"}},"securitySchemes":{"clientCredentials":{"type":"oauth2","x-receive-token-in":"request-body","flows":{"clientCredentials":{"tokenUrl":"https://api.auth.dtn.com/v1/tokens/authorize"}},"description":"# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the DTN Lightning API, you need to use the following audience: https://lightning.api.dtn.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "}}}}