{"openapi":"3.0.2","info":{"title":"DTN Aviation Enhanced Flight Hazards (EFH) API","description":"The DTN Aviation Enhanced Flight Hazards (EFH) API retrieves available turbulence (including Nowcast), icing, high ice water content (HIWC), thunderstorms, ozone, jet stream axis, space weather, and Quantitative Volcanic Ash (QVA) data.  Each data type has its own endpoint.  Filtering parameters allow to limit data requests in various ways, particularly in limiting the area for which to find data.","version":"1.10.3"},"servers":[{"url":"https://aviation.api.dtn.com"}],"paths":{"/v1/turbulence/":{"get":{"tags":["Turbulence"],"summary":"Get active Turbulence","description":"Get all available Turbulence, potentially filtered by various query parameters.  All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/TurbulenceSuccess"},"400":{"$ref":"#/components/responses/TurbulenceBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryEfhFlightLevel"},{"$ref":"#/components/parameters/QueryMinEdr"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QueryConsolidate"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/TurbulenceQueryIsValidAt"},{"$ref":"#/components/parameters/TurbulenceQueryFromDateTime"},{"$ref":"#/components/parameters/TurbulenceQueryUntilDateTime"},{"$ref":"#/components/parameters/TurbulenceQueryInsertedAfter"},{"$ref":"#/components/parameters/TurbulenceQueryInsertedThrough"},{"$ref":"#/components/parameters/TurbulenceQueryModelDateTime"},{"$ref":"#/components/parameters/QueryAllowPartialModelRun"}],"security":[{"clientCredentials":[]}]}},"/v1/nowcast/":{"get":{"tags":["Nowcast"],"summary":"Get active Nowcast","description":"Get all available Nowcast, potentially filtered by various query parameters.  All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/NowcastSuccess"},"400":{"$ref":"#/components/responses/NowcastBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryEfhFlightLevel"},{"$ref":"#/components/parameters/QueryMinEdr"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QueryIntersection"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/NowcastQueryIsValidAt"},{"$ref":"#/components/parameters/QueryAllowPartialModelRun"}],"security":[{"clientCredentials":[]}]}},"/v1/icing/":{"get":{"tags":["Icing"],"summary":"Get active Icing","description":"Get all available Icing, potentially filtered by various query parameters.  All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/IcingSuccess"},"400":{"$ref":"#/components/responses/IcingBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryEfhIcingFlightLevel"},{"$ref":"#/components/parameters/QueryIcingAircraftSize"},{"$ref":"#/components/parameters/QueryIcingCategories"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QueryConsolidate"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/IcingQueryIsValidAt"},{"$ref":"#/components/parameters/IcingQueryFromDateTime"},{"$ref":"#/components/parameters/IcingQueryUntilDateTime"},{"$ref":"#/components/parameters/IcingQueryInsertedAfter"},{"$ref":"#/components/parameters/IcingQueryInsertedThrough"},{"$ref":"#/components/parameters/IcingQueryModelDateTime"},{"$ref":"#/components/parameters/QueryAllowPartialModelRun"}],"security":[{"clientCredentials":[]}]}},"/v1/hiwc/":{"get":{"tags":["Hiwc"],"summary":"Get active Hiwc","description":"Get all available Hiwc, potentially filtered by various query parameters.  All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/HiwcSuccess"},"400":{"$ref":"#/components/responses/HiwcBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryEfhHiwcFlightLevel"},{"$ref":"#/components/parameters/QueryMinHiwc"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QueryIntersection"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/HiwcQueryIsValidAt"},{"$ref":"#/components/parameters/HiwcQueryFromDateTime"},{"$ref":"#/components/parameters/HiwcQueryUntilDateTime"},{"$ref":"#/components/parameters/HiwcQueryInsertedAfter"},{"$ref":"#/components/parameters/HiwcQueryInsertedThrough"},{"$ref":"#/components/parameters/HiwcQueryModelDateTime"},{"$ref":"#/components/parameters/QueryAllowPartialModelRun"}],"security":[{"clientCredentials":[]}]}},"/v1/thunderstorms/":{"get":{"tags":["Thunderstorm"],"summary":"Get active Thunderstorms","description":"Get all available Thunderstorms, potentially filtered by various query parameters.  All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/ThunderstormSuccess"},"400":{"$ref":"#/components/responses/ThunderstormBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryMinVerticalVelocity"},{"$ref":"#/components/parameters/QueryMinTop"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QueryConsolidate"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/ThunderstormQueryIsValidAt"},{"$ref":"#/components/parameters/ThunderstormQueryFromDateTime"},{"$ref":"#/components/parameters/ThunderstormQueryUntilDateTime"},{"$ref":"#/components/parameters/ThunderstormQueryInsertedAfter"},{"$ref":"#/components/parameters/ThunderstormQueryInsertedThrough"},{"$ref":"#/components/parameters/ThunderstormQueryModelDateTime"},{"$ref":"#/components/parameters/QueryAllowPartialModelRun"}],"security":[{"clientCredentials":[]}]}},"/v1/ozone/":{"get":{"tags":["Ozone"],"summary":"Get active Ozone","description":"Get all available Ozone, potentially filtered by various query parameters.  All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/OzoneSuccess"},"400":{"$ref":"#/components/responses/OzoneBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryMinOzoneCode"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QueryIntersection"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/OzoneQueryIsValidAt"},{"$ref":"#/components/parameters/OzoneQueryModelDateTime"}],"security":[{"clientCredentials":[]}]}},"/v1/jetStreamAxis/":{"get":{"tags":["JetStreamAxis"],"summary":"Get active JetStreamAxis data","description":"Get all available JetStreamAxis data, potentially filtered by various query parameters.  All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/JetStreamAxisSuccess"},"400":{"$ref":"#/components/responses/JetStreamAxisBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryMinSpeedKts"},{"$ref":"#/components/parameters/QueryMaxSpeedKts"},{"$ref":"#/components/parameters/QueryMinAltitudeFt"},{"$ref":"#/components/parameters/QueryMaxAltitudeFt"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QueryConsolidate"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/JetStreamAxisQueryIsValidAt"},{"$ref":"#/components/parameters/JetStreamAxisQueryFromDateTime"},{"$ref":"#/components/parameters/JetStreamAxisQueryUntilDateTime"}],"security":[{"clientCredentials":[]}]}},"/v1/swpc-noaa-scales/data":{"get":{"tags":["Space Weather"],"summary":"Get parsed SWPC data","description":"Get recent SWPC NOAA Scales data, potentially filtered by various query parameters","responses":{"200":{"$ref":"#/components/responses/SwpcNoaaScalesDataSuccess"},"400":{"$ref":"#/components/responses/SwpcNoaaScalesDataBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QuerySwpcNoaaScalesEventCodes"},{"$ref":"#/components/parameters/QuerySwpcNoaaScalesPeriodLabels"},{"$ref":"#/components/parameters/SwpcNoaaScalesQueryInsertedAfter"},{"$ref":"#/components/parameters/SwpcNoaaScalesQueryInsertedThrough"}],"security":[{"clientCredentials":[]}]}},"/v1/swpc-noaa-scales/raw":{"get":{"tags":["Space Weather"],"summary":"Get raw SWPC data","description":"Get recent SWPC NOAA Scales data in raw format, potentially filtered by various query parameters","responses":{"200":{"$ref":"#/components/responses/SwpcNoaaScalesRawSuccess"},"400":{"$ref":"#/components/responses/SwpcNoaaScalesRawBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/SwpcNoaaScalesQueryInsertedAfter"},{"$ref":"#/components/parameters/SwpcNoaaScalesQueryInsertedThrough"}],"security":[{"clientCredentials":[]}]}},"/v1/swpc-noaa-scales/explanation":{"get":{"tags":["Space Weather"],"summary":"Get SWPC reference information","description":"Get SWPC NOAA Scales reference information for interpreting data values","responses":{"200":{"$ref":"#/components/responses/SwpcNoaaScalesExplanationSuccess"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[],"security":[{"clientCredentials":[]}]}},"/v1/ashcloudQvas/":{"get":{"tags":["QVA"],"summary":"Get ash cloud QVA polygons","description":"Get available IWXXM parsed ash cloud polygons from QVA data, potentially filtered by various query parameters. All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/AshcloudQvaSuccess"},"400":{"$ref":"#/components/responses/AshcloudQvaBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QueryIntersection"},{"$ref":"#/components/parameters/AshcloudQvaQueryFromDateTime"},{"$ref":"#/components/parameters/AshcloudQvaQueryUntilDateTime"},{"$ref":"#/components/parameters/AshcloudQvaQueryInsertedAfter"},{"$ref":"#/components/parameters/AshcloudQvaQueryInsertedThrough"},{"$ref":"#/components/parameters/QueryAshcloudQvaEventType"},{"$ref":"#/components/parameters/QueryAshcloudQvaVolcanoid"},{"$ref":"#/components/parameters/QueryAshcloudQvaVaacid"}],"security":[{"clientCredentials":[]}]}},"/v1/deterministicQvas/":{"get":{"tags":["QVA"],"summary":"Get deterministic QVA polygons","description":"Get available deterministic ash concentration polygons from QVA data, potentially filtered by various query parameters. All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/DeterministicQvaSuccess"},"400":{"$ref":"#/components/responses/DeterministicQvaBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QueryIntersection"},{"$ref":"#/components/parameters/DeterministicQvaQueryFromDateTime"},{"$ref":"#/components/parameters/DeterministicQvaQueryUntilDateTime"},{"$ref":"#/components/parameters/DeterministicQvaQueryInsertedAfter"},{"$ref":"#/components/parameters/DeterministicQvaQueryInsertedThrough"},{"$ref":"#/components/parameters/DeterministicQvaQueryModelDateTime"},{"$ref":"#/components/parameters/QueryDeterministicQvaEventType"},{"$ref":"#/components/parameters/QueryDeterministicQvaFlightLevel"},{"$ref":"#/components/parameters/QueryDeterministicQvaMinConcentration"},{"$ref":"#/components/parameters/QueryDeterministicQvaVolcanoid"},{"$ref":"#/components/parameters/QueryDeterministicQvaVaacid"}],"security":[{"clientCredentials":[]}]}},"/v1/probabilisticQvas/":{"get":{"tags":["QVA"],"summary":"Get probabilistic QVA polygons","description":"Get available probabilistic ash probability polygons from QVA data, potentially filtered by various query parameters. All specified filter parameters must be satisfied for an object to be returned in the response.","responses":{"200":{"$ref":"#/components/responses/ProbabilisticQvaSuccess"},"400":{"$ref":"#/components/responses/ProbabilisticQvaBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryOffset"},{"$ref":"#/components/parameters/QueryLimit"},{"$ref":"#/components/parameters/QueryBbox"},{"$ref":"#/components/parameters/QueryPolygon"},{"$ref":"#/components/parameters/QueryCircle"},{"$ref":"#/components/parameters/QueryCorridor"},{"$ref":"#/components/parameters/QueryDistanceUnits"},{"$ref":"#/components/parameters/QuerySrid"},{"$ref":"#/components/parameters/QueryGeometry"},{"$ref":"#/components/parameters/QueryIntersection"},{"$ref":"#/components/parameters/ProbabilisticQvaQueryFromDateTime"},{"$ref":"#/components/parameters/ProbabilisticQvaQueryUntilDateTime"},{"$ref":"#/components/parameters/ProbabilisticQvaQueryInsertedAfter"},{"$ref":"#/components/parameters/ProbabilisticQvaQueryInsertedThrough"},{"$ref":"#/components/parameters/ProbabilisticQvaQueryModelDateTime"},{"$ref":"#/components/parameters/QueryProbabilisticQvaEventType"},{"$ref":"#/components/parameters/QueryProbabilisticQvaFlightLevel"},{"$ref":"#/components/parameters/QueryProbabilisticQvaMinProbability"},{"$ref":"#/components/parameters/QueryProbabilisticQvaVolcanoid"},{"$ref":"#/components/parameters/QueryProbabilisticQvaVaacid"}],"security":[{"clientCredentials":[]}]}},"/v1/activeVolcanoQvas/":{"get":{"tags":["QVA"],"summary":"Get active volcanoes with QVA data","description":"Returns volcanoes that currently have active QVA forecast data (IWXXM, deterministic, or probabilistic). Each feature is a GeoJSON Point at the volcano location. The volcanoid field can be used to filter calls to /v1/ashcloudQvas/, /v1/deterministicQvas/, and /v1/probabilisticQvas/.","responses":{"200":{"$ref":"#/components/responses/ActiveVolcanoQvaSuccess"},"400":{"$ref":"#/components/responses/ActiveVolcanoQvaBadRequest"},"401":{"$ref":"#/components/responses/ErrorUnauthorized"}},"parameters":[{"$ref":"#/components/parameters/QueryActiveVolcanoQvaEventType"},{"$ref":"#/components/parameters/QueryActiveVolcanoQvaVaacid"}],"security":[{"clientCredentials":[]}]}}},"components":{"securitySchemes":{"clientCredentials":{"type":"oauth2","x-receive-token-in":"request-body","flows":{"clientCredentials":{"tokenUrl":"https://api.auth.dtn.com/v1/tokens/authorize"}},"description":"# Using DAIS for M2M/API Auth\nYou have been given a Client ID and a Client Secret, which are used to request a DTN Access Token. DTN Access Tokens are required when making calls to each and every DTN API endpoint. The following information provides additional details on these tokens and how they are generated.\n## What is an Access Token and how is it different from an API Key?\nAn API Key is a random string of characters that an API uses to authorize whether or not a calling client has approved access to an endpoint. These keys are a non-standard approach to API authorization and are generally issued on a per-API basis.\n\nAn Access Token is also a string of characters but is a base-64 encoded JavaScript Object Notation Web Token, or JWT. JWTs are a widely accepted standard that use OAuth concepts and approaches. \n\nBoth API Keys and Access Tokens are used in an Authorization Request Header as a Bearer, meaning there is no difference in where you put this string of characters when you make calls to DTN APIs.\n## How to generate an Access Token?\nWhen requested, an Access Token is generated for your specific Client (ID/Secret) and for a specific API. The DTN Auth and Identity Service (DAIS) generates new Access Tokens for your client. The DAIS endpoint is `POST https://api.auth.dtn.com/v1/tokens/authorize`.\n\nThis endpoint takes two Header parameters:\n  * `Content-Type: application/json`\n  * `Accept: application/json`\n\nThis endpoint takes four parameters in the Request Body:\n  * `grant_type`: this should always be client_credentials for generating machine-to-machine tokens.\n  * `client_id`: this is the Client ID or Application ID using the token and is given to you by DTN's Identity Team. This ID will never change for your client/application.\n  * `client_secret`: this is the Client Secret that is associated with the Application ID and is given to you by DTN's Identity Team. This key is subject to rotation for security purposes but always with the client's knowledge.\n  * `audience`: this is the API for which this Access Token will be used. For the DTN Enhanced Flight Hazards API, you need to use the following audience: https://aviation.api.dtn.com\n\nYou can use this CURL command template as a reference for obtaining an access token:\n  ```\n  curl --location --request POST 'https://api.auth.dtn.com/v1/tokens/authorize' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n\"grant_type\": \"client_credentials\",\n\"client_id\": \"insert your client id here\",\n\"client_secret\": \"insert your client secret here\",\n\"audience\": \"insert your audience here\"\n}' \n  ```\n\n*This document, for demonstration purposes, supplies a client_id and client_secret in all code examples. This client/application is for a fictitious API and cannot be used in practice to gain unauthorized access to any other DTN API.*\nUpon generating a new Access Token, you should receive an HTTP Response from DAIS similar to this:\n  ```\n  {\n    \"data\": {\n          \"access_token\": \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw\",\n          \"scope\": \"read:demo create:demo update:demo\",\n          \"expires_in\": 90,\n          \"token_type\": \"Bearer\"\n      },\n      \"meta\": {\n          \"date_time\": \"2022-06-24T19:09:42.963Z\",\n          \"name\": \"v1.tokens.authorize\",\n          \"uuid\": \"ee6f9feb-dcf8-4421-a6fd-efd6beabdaa9\",\n          \"start_timestamp\": 1656097782509,\n          \"end_timestamp\": 1656097782963,\n          \"execution_time\": 454\n      }\n  }\n  ```\nLooking at this Response, you will see:\n  * `access_token`: contains the JWT Access Token string you will use as your Bearer token.\n  * `scope`: contains the scopes that this Access Token gives you permissions to access.\n  * `expires_in`: contains the length of time before this Access Token will expire, in seconds.\n  * `token_type`: verifies that this Access Token should be used as a Bearer token.\n\n## How to use an Access Token after one is generated?\nOnce a new Access Token is obtained, it is used in each call to a DTN API endpoint as a Bearer token in an Authorization Request Header. For example:\n  ```\n  Header: 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InpfX21pZW13NGhoTmdvQWQxR3N6ciJ9.eyJodHRwczovL2F1dGguZHRuLmNvbS9jdXN0b21lcklkIjoiMTIzNDU2Nzg5MERlbW8iLCJodHRwczovL2F1dGguZHRuLmNvbS9wcm9kdWN0Q29kZSI6IkRlbW9BcGlQIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcmVxdWVzdGVySXAiOiIxOC4yMTMuMTc0LjI3IiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcnBzIjoiMTAwIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vdGllciI6IkJhc2ljIiwiaHR0cHM6Ly9hdXRoLmR0bi5jb20vcXVvdGEiOiI5OTk5OTkiLCJpc3MiOiJodHRwczovL2lkLmF1dGguZHRuLmNvbS8iLCJzdWIiOiJuZnlPM0tpS1BSOE4wREtSNUNMOGpTOUdGQkNEZXlGTUBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZW1vLWFwaS5hdXRoLmR0bi5jb20vIiwiaWF0IjoxNjU2MDk5MDY4LCJleHAiOjE2NTYwOTkxNTgsImF6cCI6Im5meU8zS2lLUFI4TjBES1I1Q0w4alM5R0ZCQ0RleUZNIiwic2NvcGUiOiJyZWFkOmRlbW8gY3JlYXRlOmRlbW8gdXBkYXRlOmRlbW8iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMiLCJwZXJtaXNzaW9ucyI6WyJyZWFkOmRlbW8iLCJjcmVhdGU6ZGVtbyIsInVwZGF0ZTpkZW1vIl19.0VHdyp1w9PPFVI0FPheAwuKZwb5C25rwP-LPMXcSNoRmouvga1DZtNLA67ZzE_sAlc_VpaDRr6daLKr_Alw4347mw9sdjP8wKR27kCZa9JZK5PGQMmXHscATbzBEJYpCPklfyGaajgymqTBGnedcv8F0UvlRzQPsFeRPnVoX7BWOSXpMbyToGiXWkQLBQT7r96KAmLZOPJFZspPtjw-wH2mSL2WNa_nkB4j5vMGhGxlKiNRsKb30TH_WAel2hsxNlcPK3XHCmrMTYsNnu7HNqOTMn2i0__0rvBrhSWEw-_grqQDmWFJuWd7Qhi1q81AaJcdqgoSa_efz93QFclJUNw'\n  ```\n\n## Deconstructing the Access Token\nA DTN Access Token carries information within its JWT Body that is available on every API call. By deconstructing the JWT token, our Access Tokens will resemble:\n  ```\n  {\n    \"https://auth.dtn.com/customerId\": \"1234567890Demo\",\n    \"https://auth.dtn.com/productCode\": \"DemoApiP\",\n    \"https://auth.dtn.com/requesterIp\": \"18.213.174.27\",\n    \"https://auth.dtn.com/rps\": \"100\",\n    \"https://auth.dtn.com/tier\": \"Basic\",\n    \"https://auth.dtn.com/quota\": \"999999\",\n    \"iss\": \"https://id.auth.dtn.com/\",\n    \"sub\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM@clients\",\n    \"aud\": \"https://demo-api.auth.dtn.com/\",\n    \"iat\": 1656099068,\n    \"exp\": 1656099158,\n    \"azp\": \"nfyO3KiKPR8N0DKR5CL8jS9GFBCDeyFM\",\n    \"scope\": \"read:demo create:demo update:demo\",\n    \"gty\": \"client-credentials\",\n    \"permissions\": [\n      \"read:demo\",\n      \"create:demo\",\n      \"update:demo\"\n    ]\n  }\n  ```\n### Description of Claims\n\n  | Claim                              | Type                                        | Description                                                                                                                                                                                                                |\n  | -----------------------------------| --------------------------------------------| ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n  | `https://auth.dtn.com/customerId`  | String                                      | Custom DTN claim containing the Customer ID found in the DTN Order Management/Salesforce system associated with this token.                                                                                                |\n  | `https://auth.dtn.com/productCode` | String                                      | Custom DTN claim containing the Identity product code associated with this token.                                                                                                                                          |\n  | `https://auth.dtn.com/requesterIp` | String                                      | Custom DTN claim containing the IP address of the requesting client.                                                                                                                                                       |\n  | `https://auth.dtn.com/rps`         | String                                      | Custom DTN claim containing the maximum rate per second this customer is authorized to utilize.                                                                                                                            |\n  | `https://auth.dtn.com/tier`        | String                                      | Custom DTN claim containing the data tier the customer purchased for the requested access.                                                                                                                                 |\n  | `https://auth.dtn.com/quota`       | String                                      | Custom DTN claim containing the maximum yearly quota the customer purchased for calling DTN endpoints for the specific product.                                                                                            |\n  | `iss`                              | String (URI)                                | The Security Token Service (STS) that issues and returns the token. If this value is not from `https://id.auth.dtn.com/`, the token should not be considered trusted.                                                      |\n  | `sub`                              | String (URI)                                | The principle about which the token asserts information (the User ID or Client ID within the Identity Provider). A User ID will start with a prefix of `auth0\\|`, while the Client ID will end with the suffix `@clients`. |\n  | `aud`                              | String \\| Array (Strings) (URI \\| [URI, …]) | Identifies the intended recipient(s) of the token – its audience. The token should be rejected if the audience does not contain values expected by the calling application.                                                |\n  | `iat`                              | Number (Timestamp)                          | “Issued At” indicates when the authentication for this token occurred.                                                                                                                                                     |\n  | `exp`                              | Number (Timestamp)                          | The “expiration time” on or after which the JWT must not be accepted for processing.                                                                                                                                       |\n  | `azp`                              | String                                      | The application/client ID of the client using the token. The application can cat as itself or on behalf of a user.                                                                                                         |\n  | `gty`                              | String (Space-delimited)                    | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n  | `permissions`                      | Array (Strings)                             | The grant type that was used to request the token – not an RFC 7519 registered claim (Auth0-specific).                                                                                                                     |\n\n  "}},"schemas":{"Meta":{"title":"Meta","description":"Meta data attached to every response","required":["name","request_id","start_timestamp","end_timestamp","execution_time"],"type":"object","properties":{"name":{"type":"string"},"request_id":{"type":"string"},"start_timestamp":{"type":"integer"},"end_timestamp":{"type":"integer"},"execution_time":{"type":"integer"}}},"Error":{"title":"Error","description":"Error","required":["type","title","status","detail","meta"],"type":"object","properties":{"url":{"type":"string"},"type":{"enum":["internal-server-error","unauthorized","bad-request","service-unavailable","forbidden","not-found"],"type":"string"},"title":{"type":"string"},"status":{"type":"number"},"detail":{"type":"string"},"instance":{"type":"string"},"errors":{"type":"array","items":{"type":"object"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"GeoJsonObject":{"description":"GeoJSon object The coordinate reference system for all GeoJSON coordinates is a geographic coordinate reference system, using the World Geodetic System 1984 (WGS 84) datum, with longitude and latitude units of decimal degrees. This is equivalent to the coordinate reference system identified by the Open Geospatial Consortium (OGC) URN An OPTIONAL third-position element SHALL be the height in meters above or below the WGS 84 reference ellipsoid. In the absence of elevation values, applications sensitive to height or depth SHOULD interpret positions as being at local ground or sea level.\n","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3"},"type":"object","properties":{"type":{"type":"string","enum":["Feature","FeatureCollection","Point","MultiPoint","LineString","MultiLineString","Polygon","MultiPolygon","GeometryCollection"]},"bbox":{"description":"A GeoJSON object MAY have a member named \"bbox\" to include information on the coordinate range for its Geometries, Features, or FeatureCollections. The value of the bbox member MUST be an array of length 2*n where n is the number of dimensions represented in the contained geometries, with all axes of the most southwesterly point followed by all axes of the more northeasterly point. The axes order of a bbox follows the axes order of geometries.\n","type":"array","items":{"type":"number"}}},"required":["type"],"discriminator":{"propertyName":"type"}},"Point2D":{"type":"array","maxItems":2,"minItems":2,"items":{"type":"number"}},"Point":{"type":"object","description":"GeoJSon geometry","externalDocs":{"url":"http://geojson.org/geojson-spec.html#id2"},"allOf":[{"$ref":"#/components/schemas/Geometry"},{"properties":{"coordinates":{"$ref":"#/components/schemas/Point2D"}}}]},"Geometry":{"type":"object","description":"GeoJSon geometry","discriminator":{"propertyName":"type"},"required":["type"],"externalDocs":{"url":"http://geojson.org/geojson-spec.html#geometry-objects"},"properties":{"type":{"type":"string","enum":["Point","LineString","Polygon","MultiPoint","MultiLineString","MultiPolygon"],"description":"the geometry type"}}},"TurbulenceItem":{"type":"object","required":["validDateTime","expirationDateTime","insertedDateTime","modelDateTime","edr","rid"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"insertedDateTime":{"type":"string","format":"date-time"},"modelDateTime":{"type":"string","format":"date-time"},"edr":{"type":"number"},"rid":{"type":"number"}}},"TurbulenceList":{"type":"object","required":["url","turbulence","meta"],"properties":{"url":{"type":"string"},"turbulence":{"type":"array","items":{"$ref":"#/components/schemas/TurbulenceItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"TurbulenceFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/TurbulenceItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"TurbulenceFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/TurbulenceFeature"}}}}]},"NowcastItem":{"type":"object","required":["validDateTime","insertedDateTime","modelDateTime","edr","rid"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"insertedDateTime":{"type":"string","format":"date-time"},"modelDateTime":{"type":"string","format":"date-time"},"edr":{"type":"number"},"rid":{"type":"number"}}},"NowcastList":{"type":"object","required":["url","nowcast","meta"],"properties":{"url":{"type":"string"},"nowcast":{"type":"array","items":{"$ref":"#/components/schemas/NowcastItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"NowcastFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/NowcastItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"NowcastFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/NowcastFeature"}}}}]},"IcingItem":{"type":"object","required":["validDateTime","expirationDateTime","insertedDateTime","modelDateTime","icingCategory","rid"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"insertedDateTime":{"type":"string","format":"date-time"},"modelDateTime":{"type":"string","format":"date-time"},"icingCategory":{"type":"string"},"rid":{"type":"number"}}},"IcingList":{"type":"object","required":["url","icing","meta"],"properties":{"url":{"type":"string"},"icing":{"type":"array","items":{"$ref":"#/components/schemas/IcingItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"IcingFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/IcingItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"IcingFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/IcingFeature"}}}}]},"HiwcItem":{"type":"object","required":["validDateTime","expirationDateTime","insertedDateTime","modelDateTime","concentration","rid"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"insertedDateTime":{"type":"string","format":"date-time"},"modelDateTime":{"type":"string","format":"date-time"},"concentration":{"type":"number"},"rid":{"type":"number"}}},"HiwcList":{"type":"object","required":["url","hiwc","meta"],"properties":{"url":{"type":"string"},"hiwc":{"type":"array","items":{"$ref":"#/components/schemas/HiwcItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"HiwcFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/HiwcItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"HiwcFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/HiwcFeature"}}}}]},"ThunderstormItem":{"required":["verticalVelocity","top","validDateTime","expirationDateTime","insertedDateTime","modelDateTime"],"properties":{"verticalVelocity":{"type":"number"},"top":{"type":"number"},"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"insertedDateTime":{"type":"string","format":"date-time"},"modelDateTime":{"type":"string","format":"date-time"}}},"ThunderstormList":{"type":"object","required":["url","thunderstorms","meta"],"properties":{"url":{"type":"string"},"thunderstorm":{"type":"array","items":{"$ref":"#/components/schemas/ThunderstormItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"ThunderstormFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/ThunderstormItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"ThunderstormFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/ThunderstormFeature"}}}}]},"OzoneItem":{"type":"object","required":["validDateTime","expirationDateTime","insertedDateTime","modelDateTime","ogcFeatureId","category","categoryCode"],"properties":{"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"insertedDateTime":{"type":"string","format":"date-time"},"modelDateTime":{"type":"string","format":"date-time"},"ogcFeatureId":{"type":"number"},"category":{"type":"string"},"categoryCode":{"type":"number"}}},"OzoneList":{"type":"object","required":["url","ozone","meta"],"properties":{"url":{"type":"string"},"ozone":{"type":"array","items":{"$ref":"#/components/schemas/OzoneItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"OzoneFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/OzoneItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"OzoneFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/OzoneFeature"}}}}]},"JetStreamAxisItem":{"required":["altitude","speed","validDateTime","expirationDateTime","insertedDateTime","modelDateTime"],"properties":{"altitude":{"type":"number"},"speed":{"type":"number"},"validDateTime":{"type":"string","format":"date-time"},"expirationDateTime":{"type":"string","format":"date-time"},"insertedDateTime":{"type":"string","format":"date-time"},"modelDateTime":{"type":"string","format":"date-time"}}},"JetStreamAxisList":{"type":"object","required":["url","jetStreamAxis","meta"],"properties":{"url":{"type":"string"},"jetStreamAxis":{"type":"array","items":{"$ref":"#/components/schemas/JetStreamAxisItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"JetStreamAxisFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/JetStreamAxisItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"JetStreamAxisFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/JetStreamAxisFeature"}}}}]},"SwpcNoaaScalesExplanationItem":{"type":"object","properties":{"eventName":{"type":"string"},"scale":{"type":"object","additionalProperties":{"type":"object","properties":{"category":{"type":"object","additionalProperties":{"type":"string"}},"descriptor":{"type":"string"},"hex":{"type":"string"},"colorName":{"type":"string"},"physicalMeasure":{"type":"string","nullable":true},"averageFrequency":{"type":"string","nullable":true},"r":{"type":"integer"},"g":{"type":"integer"},"b":{"type":"integer"}}}}}},"SwpcNoaaScalesExplanation":{"type":"object","properties":{"eventCode":{"type":"object","properties":{"G":{"$ref":"#/components/schemas/SwpcNoaaScalesExplanationItem"},"S":{"$ref":"#/components/schemas/SwpcNoaaScalesExplanationItem"},"R":{"$ref":"#/components/schemas/SwpcNoaaScalesExplanationItem"}}}}},"SwpcNoaaScalesRawItem":{"type":"object","properties":{"id":{"type":"string"},"insertedTimestamp":{"type":"string","format":"date-time"},"raw":{"type":"object","additionalProperties":{"type":"object","properties":{"G":{"type":"object","properties":{"Text":{"type":"string","nullable":true},"Scale":{"type":"string","nullable":true}}},"R":{"type":"object","properties":{"Text":{"type":"string","nullable":true},"Scale":{"type":"string","nullable":true},"MajorProb":{"type":"string","nullable":true},"MinorProb":{"type":"string","nullable":true}}},"S":{"type":"object","properties":{"Prob":{"type":"string","nullable":true},"Text":{"type":"string","nullable":true},"Scale":{"type":"string","nullable":true}}},"DateStamp":{"type":"string"},"TimeStamp":{"type":"string"}}}}}},"SwpcNoaaScalesRaw":{"type":"object","properties":{"url":{"type":"string"},"swpcNoaaScalesRaw":{"type":"array","items":{"$ref":"#/components/schemas/SwpcNoaaScalesRawItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"SwpcNoaaScalesDataItem":{"type":"object","properties":{"datum":{"type":"string"},"descriptor":{"type":"string","nullable":true},"valueType":{"type":"string"},"valueDescription":{"type":"string"},"eventName":{"type":"string"},"eventCode":{"type":"string"},"periodDescription":{"type":"string"},"periodLabel":{"type":"string"},"id":{"type":"string"},"insertedTimestamp":{"type":"string","format":"date-time"},"timestamp":{"type":"string","format":"date-time"}}},"SwpcNoaaScalesData":{"type":"object","properties":{"url":{"type":"string"},"swpcNoaaScalesData":{"type":"array","items":{"$ref":"#/components/schemas/SwpcNoaaScalesDataItem"}},"meta":{"$ref":"#/components/schemas/Meta"}}},"AshcloudQvaItem":{"type":"object","properties":{"cloudid":{"type":"integer"},"validdatetime":{"type":"string","format":"date-time"},"volcanoid":{"type":"string"},"volcanoname":{"type":"string"},"iavceinumber":{"type":"string"},"volcanolat":{"type":"number"},"volcanolon":{"type":"number"},"lowerfl":{"type":"integer"},"upperfl":{"type":"integer"},"flightlevelrange":{"type":"string"},"ashconcentrationthreshold":{"type":"number"},"concentrationuom":{"type":"string"},"vertexcount":{"type":"integer"},"areasqkm":{"type":"number"},"issuetime":{"type":"string","format":"date-time"},"vaacname":{"type":"string"}}},"AshcloudQvaFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/AshcloudQvaItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"AshcloudQvaFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/AshcloudQvaFeature"}}}}]},"DeterministicQvaItem":{"type":"object","properties":{"polygonid":{"type":"integer"},"runid":{"type":"integer"},"validdatetime":{"type":"string","format":"date-time"},"flightlevel":{"type":"integer"},"concentration":{"type":"number"},"volcanoname":{"type":"string"},"volcanoid":{"type":"string"},"vaacname":{"type":"string"},"vaacid":{"type":"string"},"eventtype":{"type":"string"},"modelrundatetime":{"type":"string","format":"date-time"}}},"DeterministicQvaFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/DeterministicQvaItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"DeterministicQvaFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/DeterministicQvaFeature"}}}}]},"ProbabilisticQvaItem":{"type":"object","properties":{"polygonid":{"type":"integer"},"runid":{"type":"integer"},"validdatetime":{"type":"string","format":"date-time"},"flightlevel":{"type":"integer"},"thresholdvalue":{"type":"number"},"probability":{"type":"number"},"volcanoname":{"type":"string"},"volcanoid":{"type":"string"},"vaacname":{"type":"string"},"vaacid":{"type":"string"},"eventtype":{"type":"string"},"modelrundatetime":{"type":"string","format":"date-time"}}},"ProbabilisticQvaFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/ProbabilisticQvaItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"ProbabilisticQvaFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/ProbabilisticQvaFeature"}}}}]},"ActiveVolcanoQvaItem":{"type":"object","properties":{"volcanoid":{"type":"string"},"volcanoname":{"type":"string"},"iavceinumber":{"type":"string"},"elevation_m":{"type":"integer"},"vaacname":{"type":"string"},"vaacdesignator":{"type":"string"},"latestissuetime":{"type":"string","format":"date-time"},"latestmodelrundatetime":{"type":"string","format":"date-time"},"hasiwxxm":{"type":"boolean"},"hasdeterministic":{"type":"boolean"},"hasprobabilistic":{"type":"boolean"},"eventtype":{"type":"string"}}},"ActiveVolcanoQvaFeature":{"description":"GeoJSon 'Feature' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.2"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["geometry","properties"],"properties":{"geometry":{"allOf":[{"nullable":true},{"$ref":"#/components/schemas/Geometry"}]},"properties":{"$ref":"#/components/schemas/ActiveVolcanoQvaItem"},"id":{"oneOf":[{"type":"number"},{"type":"string"}]}}}]},"ActiveVolcanoQvaFeatureCollection":{"description":"GeoJSon 'FeatureCollection' object","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946#section-3.3"},"allOf":[{"$ref":"#/components/schemas/GeoJsonObject"},{"type":"object","required":["features"],"properties":{"features":{"type":"array","items":{"$ref":"#/components/schemas/ActiveVolcanoQvaFeature"}}}}]}},"parameters":{"QueryOffset":{"name":"offset","description":"Skip over this many into the response set; used for paginated results.","in":"query","required":false,"schema":{"type":"integer","default":0}},"QueryLimit":{"name":"limit","description":"Provide no more than this many items in the response set.","in":"query","required":false,"schema":{"type":"integer","default":1000,"minimum":1,"maximum":10000}},"QueryEfhFlightLevel":{"name":"flightLevel","description":"Specific flight level for EFH data.  Must use only one of allowed values.","in":"query","required":true,"schema":{"type":"string","items":{"type":"string","enum":["FL010","FL030","FL050","FL080","FL100","FL120","FL140","FL160","FL180","FL200","FL220","FL240","FL260","FL270","FL280","FL300","FL320","FL330","FL340","FL350","FL360","FL370","FL380","FL390","FL400","FL410","FL430","FL450","FL530"]}}},"QueryMinEdr":{"name":"minEdr","description":"Minimum EDR.  Limits to objects whose `edr` value is greater than or equal to this.","in":"query","required":false,"schema":{"type":"number","minimum":0.1,"maximum":0.9,"default":0.1,"multipleOf":0.1}},"QueryBbox":{"name":"bbox","description":"Bounding box coordinates in the format `<min_X>,<min_Y>,<max_X>,<max_Y>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with bbox definition of area that crosses antimeridian will fail.","in":"query","required":false,"schema":{"type":"string"}},"QueryPolygon":{"name":"polygon","description":"Polygon coordinates in the format `<X_0>,<Y_0>,<X_1>,<Y_1>...,<X_n>,<Y_n>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  Must provide between 3 and 40 coordinates.  If the last `X,Y` does not match the first `X,Y`, the first `X,Y` is copied to the end to close the polygon.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with polygon definition of area that crosses antimeridian will fail or give unexpected results.","in":"query","required":false,"schema":{"type":"string"}},"QueryCircle":{"name":"circle","description":"Circle coordinates and radius distance in the format `<X>,<Y>,<RADIUS>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  The `<RADIUS>` defines the distance (in default or `distanceUnits`-specified units) from the defined point.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with circle definition of area that crosses antimeridian will fail.  The larger the defined area, the more its shape on projected map will differ from true circle on spherical coordinates.  Maximum allowed <RADIUS> is 400nm (and equal lengths for different `distanceUnits`).","in":"query","required":false,"schema":{"type":"string"}},"QueryCorridor":{"name":"corridor","description":"Line coordinates and distance from the line in the format `<X_0>,<Y_0>,<X_1>,<Y_1>...,<X_n>,<Y_n>,<HALFWIDTH>`.  The `X,Y` coordinates must be consistent with the `srid` (`4326` for longitude/latitude by default).  Must provide between 2 and 40 coordinates for the line.  The `<HALFWIDTH>` defines the distance (in default or `distanceUnits`-specified units) from the line defined by the coordinates out to which to create encompassing shape.  Limits to objects within or intersecting the area so defined.  No more than one of `bbox`, `polygon`, `circle`, and `corridor` may be used in one request.  Requests with corridor definition of area that crosses antimeridian will fail or give unexpected results.  The larger the defined area, the more its shape on projected map will differ from true corridor on spherical coordinates.  Maximum allowed <HALFWIDTH> is 200nm (and equal lengths for different `distanceUnits`).","in":"query","required":false,"schema":{"type":"string"}},"QueryGeometry":{"name":"geometry","description":"Boolean indicator for inclusion of Geometry in response.  If false, geometry will be returned empty.","in":"query","required":false,"schema":{"type":"boolean","default":true}},"QueryConsolidate":{"name":"consolidate","description":"Boolean indicator for merging GeoJSON Polygons objects into collective MultiPolygon objects.  If true, areal objects sharing the same defining attributes (e.g., vertical velocity & top for thunderstorms or EDR for turbulence) are combined together into single MultiPolygon to minimize the number of distinct objects.","in":"query","required":false,"schema":{"type":"boolean","default":false}},"QuerySrid":{"name":"srid","description":"SRID Identifier for coordinate system for spatial filter coordinates.  Default is 4326 (i.e., ordinary longitude & latitude in degrees).","in":"query","required":false,"explode":false,"schema":{"type":"integer","enum":[4326,3857],"default":4326}},"QueryDistanceUnits":{"name":"distanceUnits","description":"Units identifier for distances in definition for circle or corridor spatial filter.  Default is `nm` (nautical miles).","in":"query","required":false,"schema":{"type":"string","enum":["nm","km","m","sm"],"default":"nm"}},"TurbulenceQueryIsValidAt":{"name":"isValidAt","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is not earlier than the specified value and whose `expirationDateTime` is later than that specified value.  A valid time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"TurbulenceQueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `expirationDateTime` is later than that specified value, i.e., only objects not ended by this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"TurbulenceQueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is earlier than the specified value, i.e., only objects that began before this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"TurbulenceQueryInsertedAfter":{"name":"insertedAfter","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is later than that specified value.  This allows to acquire only data that became available after this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than current time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"TurbulenceQueryInsertedThrough":{"name":"insertedThrough","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is not later than that specified value.  This allows to acquire only data that became available through this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than current time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"TurbulenceQueryModelDateTime":{"name":"modelDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:00:00`.  Limits to objects whose `modelDateTime` (for model run time) is specifically the given value, overriding the default setting to provide data from the latest completely ingest model run.  The `hh` must be one of `00`, `06`, `12`, or `18`, and date portion must be recent.  Value must be no earlier than 24 hours ago (because only most recent 2 to 3 model runs may be available) no later than 3 hours ago (because model run data are not available until at least 3 hours after the run time).  A model run time value being accepted through this parameter does not mean there will be applicable data to return in response.  For this data type, value must be no earlier than 24 hours in past and no later than 3 hours in past.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryAllowPartialModelRun":{"name":"allowPartialModelRun","description":"Boolean indicator for whether to allow partial model run data to be returned.  If false (default), response data will be from latest completely ingested model run.  If true, response data will come from the latest model run that can satisfy the set of request parameters even if that model run is not completely ingested and a different request may only be able to pull from earlier model run.","in":"query","required":false,"schema":{"type":"boolean","default":false}},"NowcastQueryIsValidAt":{"name":"isValidAt","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is not earlier than the specified value and whose `expirationDateTime` is later than that specified value.  A valid time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryEfhIcingFlightLevel":{"name":"flightLevel","description":"Specific flight level for EFH icing data.  Must use only one of allowed values.","in":"query","required":true,"schema":{"type":"string","items":{"type":"string","enum":["FL010","FL030","FL050","FL080","FL100","FL140","FL180","FL240","FL270"]}}},"QueryIcingAircraftSize":{"name":"aircraftSize","description":"Comma-separated list of aircraft sizes for EFH icing data.  Must include only allowed values: `S` for small, `I` for intermediate, `L` for large, `H` for helicopter.","in":"query","required":true,"schema":{"type":"string","items":{"type":"string","enum":["S","I","L","H"]}}},"QueryIcingCategories":{"name":"icingCategories","description":"Comma-separated list of icing category values.  Must include only allowed values.  Limits to objects whose `icingCategory` value matches one of specified parameter values.","in":"query","required":false,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["SLIGHT","MODERATE","SEVERE"]}}},"IcingQueryIsValidAt":{"name":"isValidAt","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is not earlier than the specified value and whose `expirationDateTime` is later than that specified value.  A valid time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"IcingQueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `expirationDateTime` is later than that specified value, i.e., only objects not ended by this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"IcingQueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is earlier than the specified value, i.e., only objects that began before this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"IcingQueryInsertedAfter":{"name":"insertedAfter","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is later than that specified value.  This allows to acquire only data that became available after this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than current time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"IcingQueryInsertedThrough":{"name":"insertedThrough","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is not later than that specified value.  This allows to acquire only data that became available through this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than current time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"IcingQueryModelDateTime":{"name":"modelDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:00:00`.  Limits to objects whose `modelDateTime` (for model run time) is specifically the given value, overriding the default setting to provide data from the latest completely ingest model run.  The `hh` must be one of `00`, `06`, `12`, or `18`, and date portion must be recent.  Value must be no earlier than 24 hours ago (because only most recent 2 to 3 model runs may be available) no later than 3 hours ago (because model run data are not available until at least 3 hours after the run time).  A model run time value being accepted through this parameter does not mean there will be applicable data to return in response.  For this data type, value must be no earlier than 24 hours in past and no later than 3 hours in past.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryEfhHiwcFlightLevel":{"name":"flightLevel","description":"Specific flight level for EFH icing data.  Must use only one of allowed values.","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","enum":["FL300","FL320","FL330","FL340","FL350","FL360","FL370","FL380","FL390","FL400","FL410"]}}},"QueryMinHiwc":{"name":"minHiwc","description":"Minimum high ice water content (HIWC) concentration.  Limits to objects whose `concentration` value is greater than or equal to this.  There are two allowed value 1 (default) and 3, which are in units of grams of supercooled water per cubic meter.  Values of 1 correspond to notable but relatively light icing levels, and 3 corresponds to severe icing conditions.","in":"query","required":false,"schema":{"type":"integer","enum":[1,3],"default":1}},"HiwcQueryIsValidAt":{"name":"isValidAt","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is not earlier than the specified value and whose `expirationDateTime` is later than that specified value.  A valid time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"HiwcQueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `expirationDateTime` is later than that specified value, i.e., only objects not ended by this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"HiwcQueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is earlier than the specified value, i.e., only objects that began before this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"HiwcQueryInsertedAfter":{"name":"insertedAfter","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is later than that specified value.  This allows to acquire only data that became available after this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than current time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"HiwcQueryInsertedThrough":{"name":"insertedThrough","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is not later than that specified value.  This allows to acquire only data that became available through this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than current time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"HiwcQueryModelDateTime":{"name":"modelDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:00:00`.  Limits to objects whose `modelDateTime` (for model run time) is specifically the given value, overriding the default setting to provide data from the latest completely ingest model run.  The `hh` must be one of `00`, `06`, `12`, or `18`, and date portion must be recent.  Value must be no earlier than 24 hours ago (because only most recent 2 to 3 model runs may be available) no later than 3 hours ago (because model run data are not available until at least 3 hours after the run time).  A model run time value being accepted through this parameter does not mean there will be applicable data to return in response.  For this data type, value must be no earlier than 24 hours in past and no later than 3 hours in past.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryMinVerticalVelocity":{"name":"minVerticalVelocity","description":"Minimum updraft vertical velocity (in meters per second) for thunderstorms forecast.  Limits to objects whose `verticalVelocity` value is greater than or equal to this.","in":"query","required":false,"schema":{"type":"integer","minimum":0,"maximum":50,"default":0}},"QueryMinTop":{"name":"minTop","description":"Minimum cloud top height (in feet) for thunderstorms forecast.  Limits to objects whose `top` value is greater than or equal to this.","in":"query","required":false,"schema":{"type":"integer","minimum":0,"maximum":60000,"default":0}},"ThunderstormQueryIsValidAt":{"name":"isValidAt","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is not earlier than the specified value and whose `expirationDateTime` is later than that specified value.  A valid time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"ThunderstormQueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `expirationDateTime` is later than that specified value, i.e., only objects not ended by this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"ThunderstormQueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is earlier than the specified value, i.e., only objects that began before this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"ThunderstormQueryInsertedAfter":{"name":"insertedAfter","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is later than that specified value.  This allows to acquire only data that became available after this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than current time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"ThunderstormQueryInsertedThrough":{"name":"insertedThrough","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is not later than that specified value.  This allows to acquire only data that became available through this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than current time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"ThunderstormQueryModelDateTime":{"name":"modelDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:00:00`.  Limits to objects whose `modelDateTime` (for model run time) is specifically the given value, overriding the default setting to provide data from the latest completely ingest model run.  The `hh` must be one of `00`, `06`, `12`, or `18`, and date portion must be recent.  Value must be no earlier than 24 hours ago (because only most recent 2 to 3 model runs may be available) no later than 3 hours ago (because model run data are not available until at least 3 hours after the run time).  A model run time value being accepted through this parameter does not mean there will be applicable data to return in response.  For this data type, value must be no earlier than 24 hours in past and no later than 3 hours in past.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryMinOzoneCode":{"name":"minOzoneCode","description":"Minimum ozone category code.  Limits to objects whose `categoryCode` value is greater than or equal to this.","in":"query","required":false,"schema":{"type":"integer","enum":[1,2],"default":1}},"QueryIntersection":{"name":"intersection","description":"Boolean indicator for constraining object geometries to spatial filter coverage.  If true, object shapes will be truncated at the bounds of the spatial filter.  NOTE: Over large areas and if intersecting the antimeridian the results will likely be inaccurate.","in":"query","required":false,"schema":{"type":"boolean","default":false}},"OzoneQueryIsValidAt":{"name":"isValidAt","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is not earlier than the specified value and whose `expirationDateTime` is later than that specified value.  A valid time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 18 hours in past and no later than 36 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"OzoneQueryModelDateTime":{"name":"modelDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:00:00`.  Limits to objects whose `modelDateTime` (for model run time) is specifically the given value, overriding the default setting to provide data from the latest completely ingest model run.  The `hh` must be one of `00`, `06`, `12`, or `18`, and date portion must be recent.  Value must be no earlier than 24 hours ago (because only most recent 2 to 3 model runs may be available) no later than 3 hours ago (because model run data are not available until at least 3 hours after the run time).  A model run time value being accepted through this parameter does not mean there will be applicable data to return in response.  For this data type, value must be no earlier than 18 hours in past and no later than 3 hours in past.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryMinSpeedKts":{"name":"minSpeedKts","description":"Minimum speed in knots.  Limits to objects whose `speed` value is greater than or equal to this.  Must set value in knots even if output `unitSystem` would not give response in knots.","in":"query","required":false,"schema":{"type":"integer"}},"QueryMaxSpeedKts":{"name":"maxSpeedKts","description":"Maximum speed in knots.  Limits to objects whose `speed` value is less than or equal to this.  Must set value in knots even if output `unitSystem` would not give response in knots.","in":"query","required":false,"schema":{"type":"integer"}},"QueryMinAltitudeFt":{"name":"minAltitudeFt","description":"Minimum altitude in feet.  Limits to objects whose `altitude` is greater than or equal to this.  Must set value in feet even if output `unitSystem` would not give response in feet.","in":"query","required":false,"schema":{"type":"integer","minimum":0,"maximum":60000}},"QueryMaxAltitudeFt":{"name":"maxAltitudeFt","description":"Maximum altitude in feet.  Limits to objects whose `altitude` value is less than or equal to this.  Must set value in knots even if output `unitSystem` would not give response in feet.","in":"query","required":false,"schema":{"type":"integer","minimum":0,"maximum":60000}},"JetStreamAxisQueryIsValidAt":{"name":"isValidAt","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is not earlier than the specified value and whose `expirationDateTime` is later than that specified value.  A valid time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 12 hours in past and no later than 20 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"JetStreamAxisQueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `expirationDateTime` is later than that specified value, i.e., only objects not ended by this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 12 hours in past and no later than 20 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"JetStreamAxisQueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is earlier than the specified value, i.e., only objects that began before this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 12 hours in past and no later than 20 hours in future.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QuerySwpcNoaaScalesEventCodes":{"name":"swpcNoaaScalesEventCodes","description":"Specific flight level for EFH icing data.  Must use only one of allowed values.","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["G","R","S"]}}},"QuerySwpcNoaaScalesPeriodLabels":{"name":"swpcNoaaScalesPeriodLabels","description":"","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["0","1","2","3","-1"]}}},"SwpcNoaaScalesQueryInsertedAfter":{"name":"insertedAfter","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is later than that specified value.  This allows to acquire only data that became available after this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 168 hours in past and no later than current time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"SwpcNoaaScalesQueryInsertedThrough":{"name":"insertedThrough","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is not later than that specified value.  This allows to acquire only data that became available through this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.  For this data type, value must be no earlier than 168 hours in past and no later than current time.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"AshcloudQvaQueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `expirationDateTime` is later than that specified value, i.e., only objects not ended by this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"AshcloudQvaQueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is earlier than the specified value, i.e., only objects that began before this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"AshcloudQvaQueryInsertedAfter":{"name":"insertedAfter","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is later than that specified value.  This allows to acquire only data that became available after this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"AshcloudQvaQueryInsertedThrough":{"name":"insertedThrough","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is not later than that specified value.  This allows to acquire only data that became available through this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"QueryAshcloudQvaEventType":{"name":"eventtype","description":"Event type filter. Allowed values: OPERATIONAL (default), EXERCISE, TEST, ALL, or comma-separated combination.","in":"query","required":false,"schema":{"type":"string","default":"OPERATIONAL"}},"QueryAshcloudQvaVolcanoid":{"name":"volcanoid","description":"Filter by volcano identifier (integer, e.g. 372020). Use the /v1/activeVolcanoQvas/ endpoint to discover available volcano IDs.","in":"query","required":false,"schema":{"type":"integer"}},"QueryAshcloudQvaVaacid":{"name":"vaacid","description":"Filter by VAAC identifier (e.g., EGRR, VAAC_LONDON).","in":"query","required":false,"schema":{"type":"string"}},"DeterministicQvaQueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `expirationDateTime` is later than that specified value, i.e., only objects not ended by this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"DeterministicQvaQueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is earlier than the specified value, i.e., only objects that began before this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"DeterministicQvaQueryInsertedAfter":{"name":"insertedAfter","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is later than that specified value.  This allows to acquire only data that became available after this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"DeterministicQvaQueryInsertedThrough":{"name":"insertedThrough","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is not later than that specified value.  This allows to acquire only data that became available through this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"DeterministicQvaQueryModelDateTime":{"name":"modelDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:00:00`.  Limits to objects whose `modelDateTime` (for model run time) is specifically the given value, overriding the default setting to provide data from the latest completely ingest model run.  The `hh` must be one of `00`, `06`, `12`, or `18`, and date portion must be recent.  Value must be no earlier than 24 hours ago (because only most recent 2 to 3 model runs may be available) no later than 3 hours ago (because model run data are not available until at least 3 hours after the run time).  A model run time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryDeterministicQvaEventType":{"name":"eventtype","description":"Event type filter. Allowed values: OPERATIONAL (default), EXERCISE, TEST, ALL, or comma-separated combination.","in":"query","required":false,"schema":{"type":"string","default":"OPERATIONAL"}},"QueryDeterministicQvaFlightLevel":{"name":"flightLevel","description":"Filter by flight level band. Each value is the top (inclusive upper bound) of a 5,000 ft range. Valid values: 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600. Range definitions: 50=FL000-FL050, 100=FL050-FL100, 150=FL100-FL150, 200=FL150-FL200, 250=FL200-FL250, 300=FL250-FL300, 350=FL300-FL350, 400=FL350-FL400, 450=FL400-FL450, 500=FL450-FL500, 550=FL500-FL550, 600=FL550-FL600.","in":"query","required":false,"schema":{"type":"integer","enum":[50,100,150,200,250,300,350,400,450,500,550,600]}},"QueryDeterministicQvaMinConcentration":{"name":"minConcentration","description":"Minimum ash concentration value to include in results.","in":"query","required":false,"schema":{"type":"number"}},"QueryDeterministicQvaVolcanoid":{"name":"volcanoid","description":"Filter by volcano identifier (integer). Must be a numeric ID matching the volcanoid in qva_netcdf_forecast_runs. Use the /v1/activeVolcanoQvas/ endpoint to discover available volcano IDs.","in":"query","required":false,"schema":{"type":"integer"}},"QueryDeterministicQvaVaacid":{"name":"vaacid","description":"Filter by VAAC identifier (e.g., EGRR, VAAC_LONDON).","in":"query","required":false,"schema":{"type":"string"}},"ProbabilisticQvaQueryFromDateTime":{"name":"fromDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `expirationDateTime` is later than that specified value, i.e., only objects not ended by this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"ProbabilisticQvaQueryUntilDateTime":{"name":"untilDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss`.  Limits to objects whose `validDateTime` is earlier than the specified value, i.e., only objects that began before this time.  A time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"ProbabilisticQvaQueryInsertedAfter":{"name":"insertedAfter","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is later than that specified value.  This allows to acquire only data that became available after this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"ProbabilisticQvaQueryInsertedThrough":{"name":"insertedThrough","description":"UTC timestamp in format `YYYY-MM-DD hh:mm:ss.fff`.  Limits to objects whose `insertedDateTime` is not later than that specified value.  This allows to acquire only data that became available through this time.  Requires use of fractional seconds for full precision.  A data insertion time value being accepted through this parameter does not mean there will be applicable data to return in response.  Allowed values relative to the current time vary depending on the data type.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}(\\.\\d+)?"}},"ProbabilisticQvaQueryModelDateTime":{"name":"modelDateTime","description":"UTC timestamp in format `YYYY-MM-DD hh:00:00`.  Limits to objects whose `modelDateTime` (for model run time) is specifically the given value, overriding the default setting to provide data from the latest completely ingest model run.  The `hh` must be one of `00`, `06`, `12`, or `18`, and date portion must be recent.  Value must be no earlier than 24 hours ago (because only most recent 2 to 3 model runs may be available) no later than 3 hours ago (because model run data are not available until at least 3 hours after the run time).  A model run time value being accepted through this parameter does not mean there will be applicable data to return in response.","in":"query","required":false,"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}"}},"QueryProbabilisticQvaEventType":{"name":"eventtype","description":"Event type filter. Allowed values: OPERATIONAL (default), EXERCISE, TEST, ALL, or comma-separated combination.","in":"query","required":false,"schema":{"type":"string","default":"OPERATIONAL"}},"QueryProbabilisticQvaFlightLevel":{"name":"flightLevel","description":"Filter by flight level band. Each value is the top (inclusive upper bound) of a 5,000 ft range. Valid values: 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600. Range definitions: 50=FL000-FL050, 100=FL050-FL100, 150=FL100-FL150, 200=FL150-FL200, 250=FL200-FL250, 300=FL250-FL300, 350=FL300-FL350, 400=FL350-FL400, 450=FL400-FL450, 500=FL450-FL500, 550=FL500-FL550, 600=FL550-FL600.","in":"query","required":false,"schema":{"type":"integer","enum":[50,100,150,200,250,300,350,400,450,500,550,600]}},"QueryProbabilisticQvaMinProbability":{"name":"minProbability","description":"Minimum probability value to include in results.","in":"query","required":false,"schema":{"type":"number"}},"QueryProbabilisticQvaVolcanoid":{"name":"volcanoid","description":"Filter by volcano identifier (integer). Must be a numeric ID matching the volcanoid in qva_netcdf_forecast_runs. Use the /v1/activeVolcanoQvas/ endpoint to discover available volcano IDs.","in":"query","required":false,"schema":{"type":"integer"}},"QueryProbabilisticQvaVaacid":{"name":"vaacid","description":"Filter by VAAC identifier (e.g., EGRR, VAAC_LONDON).","in":"query","required":false,"schema":{"type":"string"}},"QueryActiveVolcanoQvaEventType":{"name":"eventtype","in":"query","required":false,"description":"Event type filter. Allowed values: OPERATIONAL (default), EXERCISE, TEST, ALL.","schema":{"type":"string","default":"OPERATIONAL"}},"QueryActiveVolcanoQvaVaacid":{"name":"vaacid","in":"query","required":false,"description":"Filter by VAAC identifier (e.g., EGRR, VAAC_LONDON).","schema":{"type":"string"}}},"responses":{"ErrorUnauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"unauthorized","title":"Er
[...]
